.required-hint{
    color: red;
}

.button-include-link{
    color: #fff;
}

.admin-logo{
  position: absolute;
  left: 10px;
  top: 0;
  height: 56px;
  width: auto;
}

.admin-hesheng{
  position: absolute;
  left: 66px;
  top: -15px;
  color: red;
  font-weight: bold;
}

.admin-index{
  position: absolute;
  left: 66px;
  top: 10px;
  font-weight: bold;
  color: black;
}
