.required-hint{
    color: red;
}

.button-include-link{
    color: #fff;
}

.admin-logo{
  position: absolute;
  left: 10px;
  top: 0;
  height: 56px;
  width: auto;
}

.admin-hesheng{
  position: absolute;
  left: 66px;
  top: -15px;
  color: red;
  display: inline-block;
  line-height: 56px!important;
  font-size: 15px!important;
}

.admin-index{
  position: absolute;
  left: 66px;
  top: 10px;
  color: black;
  display: inline-block;
  line-height: 56px!important;
  font-size: 15px!important;
}
