<div class="middle">
  <!--当前位置-->
  <div class="nowPosition">
    <p><img src="../../assets/images/home.png" alt=""><span>当前位置：主页>六大中心>读片中心</span></p>
  </div>
  <!--当前位置-->
  <!--读片中心-->
  <ul class="readCenter flow flParent">
    <li>
      <img src="../../assets/images/centerImg_1.png" alt="">
      <div class="readMask">
        <div class="rectangle">
          <p>读片中心</p>
        </div>
      </div>
    </li>
    <li class="lightBlue">
      <ul>
        <li>· 200余平 超大空间</li>
        <li>· 独立整洁 安静明亮</li>
        <li>· 24小时监控 读片人员配卡入内</li>
      </ul>
    </li>
    <li>
      <img src="../../assets/images/centerImg_2.png" alt="">
    </li>
    <li class="lightGreen">
      <ul>
        <li>· iMac 21.5寸 4K retina</li>
        <li>· 高清 专业 准确 快速  </li>
      </ul>
    </li>
    <li>
      <img src="../../assets/images/centerImg_3.png" alt="">
    </li>
    <li class="lightGreen">
      <ul>
        <li>· 建立读片员-审核员-读片顾问三级</li>
        <li>审核制度，确保读片质量</li>
      </ul>
    </li>
    <li class="innerAllImg">
      <img src="../../assets/images/centerImg_4.png" alt="">
    </li>
    <li class="deepBlue">
    </li>
    <li></li>
  </ul>
  <!--读片中心-->
</div>
