<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../assets/stylesheets/commom.css">
    <link rel="stylesheet" href="../../assets/stylesheets/center.css">
</head>
<body>
<div class="main">
<div class="top">
        <!--顶部-->
    <div class="topShadow">
        <!--顶部-->
    <!--头部-->
        <div class="flow whiteBg titNav">
            <div class="fl flow">
                <img src="../../assets/images/logo.png" alt="">
            </div>
            <ul class="flParent fl flow nav topNav">
                <li><a href="javascript:;">就诊 <span><img src="../../assets/images/arrow-icon.png" alt=""></span></a></li>
                <li><a href="javascript:;">教学 <span><img src="../../assets/images/arrow-icon.png" alt=""></span></a></li>
                <li><a href="javascript:;">科研 <span><img src="../../assets/images/arrow-icon.png" alt=""></span></a></li>
                <li><a href="javascript:;">新闻 <span><img src="../../assets/images/arrow-icon.png" alt=""></span></a></li>
                <li><a href="javascript:;">简介 <span><img src="../../assets/images/arrow-icon.png" alt=""></span></a></li>
            </ul>
            <div class="rightHeader">
                <div class="header flow header2">
                    <ul class="fr headerMsg flParent">
                        <li class="language">
                            <span class="active"><a href="javascript:;">中文</a></span><span><a href="javascript:;">英文</a></span>
                        </li>
                        <li>
                            <span><a href="javascript:;">注册</a> | <a href="javascript:;">登录</a></span>
                        </li>
                        <li>
                            <span>咨询服务：<em class="tele">400 9900 766</em></span>
                        </li>
                    </ul>
                </div>
                <ul class="fr flParent func">
                    <li class="appointment commit commit2"><a href="javascript:;">预约医生</a></li>
                    <li class="consult commit commit2"><a href="javascript:;">在线咨询</a></li>
                    <li class="search"><input type="text" placeholder="请输入关键字"><span><img src="../../assets/images/search.png " alt=""> 搜</span></li>
                </ul>
            </div>

        </div>
    <!--头部-->
    </div>
</div>
<div class="topHeight"></div>
    
    <!--轮播-->
    <div class="slide">
        <ul class="slide-wrapper">
            <li>
                <a href="javascript:;"><img src="../../assets/images/banner.png" alt=""></a>
            </li>
            <li style="display:none">
                <a href="javascript:;"><img src="../../assets/images/banner.png" alt=""></a>
            </li>
        </ul>
        <div class="slidebox">
            <div class="slideWrap">
                <ul class="dot-wrap">
                    <li class="current"><em>1</em></li>
                    <li><em>2</em></li>
                </ul>
            </div>
        </div>
    </div>
    <!--轮播-->
    <!--中间导航-->
    <ul class="nav flow flParent centerNav">
        <li class="active"><a href="javascript:;">走进银海</a></li>
        <li><a href="javascript:;">就医服务</a></li>
        <li><a href="javascript:;">六大中心</a></li>
        <li><a href="javascript:;">名医专家</a></li>
        <li><a href="javascript:;">科学教研</a></li>
        <li><a href="javascript:;">新闻中心</a></li>
        <li><a href="javascript:;">眼健康科普</a></li>
    </ul>
    <!--中间导航-->

    <div class="middle">
        <!--读片中心-->
        <ul class="readCenter flow flParent">
            <li>
                <img src="../../assets/images/centerImg_1.png" alt="">
                <div class="readMask">
                    <div class="rectangle">
                        <p>读片中心</p>
                    </div>
                </div>
            </li>
            <li class="lightBlue">
                <ul>
                    <li>· 200余平 超大空间</li>
                    <li>· 独立整洁 安静明亮</li>
                    <li>· 24小时监控 读片人员配卡入内</li>
                </ul>
            </li>
            <li>
                <img src="../../assets/images/centerImg_2.png" alt="">
            </li>
            <li class="lightGreen">
                <ul>
                    <li>· iMac 21.5寸 4K retina</li>
                    <li>· 高清 专业 准确 快速  </li>
                </ul>
            </li>
            <li>
                <img src="../../assets/images/centerImg_3.png" alt="">
            </li>
            <li class="lightGreen">
                <ul>
                    <li>· 建立读片员-审核员-读片顾问三级审核制度，确保读片质量</li>
                </ul>
            </li>
            <li class="innerAllImg">
                <div class="blueBorder">
                    <img src="../../assets/images/centerImg_4.png" alt="">
                </div>
            </li>
            <li class="deepBlue">
                <ul>
                    <li>· 专业读片团队和专家团队，经美国威斯康辛州立大学眼底读片中心培训和认证，具有丰富的临床经验 </li>
                </ul>
            </li>
            <li>
                <img src="../../assets/images/centerImg_5.png" alt="">
            </li>
        </ul>
        <!--读片中心-->
    </div>

    <div class="footer flow">
        <ul class="flow flParent">
            <li class="mar-L-z">
                <p class="title">合作交流</p>
                <img src="../../assets/images/partners.png" alt="">
            </li>
            <li class="partner">
                <p class="title">相关连接</p>
                <p><img src="../../assets/images/logo-zyd.png" alt=""></p>
                <p><img src="../../assets/images/logo-zyd-eye.png" alt=""></p>
            </li>
            <li>
                <p class="title">联系方式</p>
                <p>咨询服务：4009900766</p>
                <p>医院地址：成都市金牛区星辉西路8号</p>
                <p>E-mail:ineyehospital@126.com</p>
            </li>
            <li class="code">
                <img src="../../assets/images/erweima.png"alt="">
                <p>微信公众号</p>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../../assets/javascripts/jquery-1.8.3.min.js"></script>
<script src="../../assets/javascripts/slide-2.js"></script>
<script src="../../assets/javascripts/bannerList.js"></script>
<script src="../../assets/javascripts/index.js"></script>
</html>