<div class="whiteBg minheight930">
  <div class="width1200">
    <div class="regheader">
      <ul class="findpwdheader flParent flow">
        <li><a href="javascript: void(0);"><span class="">1</span>填写账户信息</a></li>
        <li><a href="javascript: void(0);"><span class="">2</span>设置新密码</a></li>
        <li class="active"><a href="javascript: void(0);"><span class="">3</span>完成</a></li>
      </ul>
    </div>
    <div class="succeemain findpwdstep">
      <p class="successword"><%= image_tag 'smileface.png' %>  恭喜您！找回密码成功！</p>
      <div class="flow getpwd">
        <div class="fl subbtn"><a href="/">前往首页</a></div>
        <div class="fl subbtn"><a href="/logins?callback=/">立即登录</a></div>
      </div>
    </div>
  </div>
</div>


<% content_for :title do %>
    找回密码
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
<% end %>

<% content_for :script do %>
    <%= javascript_include_tag 'find_passwords/check_phone_number' %>
<% end %>
