<div class="whiteBg">
  <div class="width1200">
    <div class="regheader">
      <ul class="findpwdheader flParent flow">
        <li><a href=""><span class="">1</span>填写账户信息</a></li>
        <li class="active"><a href=""><span class="">2</span>设置新密码</a></li>
        <li><a href=""><span class="">3</span>完成</a></li>
      </ul>
    </div>
    <div class="regarea findpwdarea">
      <div>
        <input type="password" class="js-password1" placeholder="新 密 码：">
        <span>6-20位，至少包含字母、数字、符号中的两种</span>
      </div>
      <div>
        <input type="password" class="js-password2" placeholder="再 次 输 入：">
        <span>请确保两次密码一致</span>
      </div>
      <div class="">
        <input type="submit" class="js-submit" value="修改密码"><span style="color: red; margin-left: 20px;" class="js-error-vector"></span>
      </div>
    </div>
  </div>
</div>

<% content_for :title do %>
    找回密码
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
    <style type="text/css">
      body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
      ul,li{  list-style: none; }
      body{font:14px "Microsoft YaHei","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
      a{color:#2d374b;text-decoration:none}
      a:hover{color:#72af2d;}
      em{font-style:normal}
      li{list-style:none}
      img{border:0;vertical-align:middle}
      table{border-collapse:collapse;border-spacing:0}
      p{word-wrap:break-word}
      .center{margin: 0 auto;}
      .fl{float: left;}
      .fr{float: right;}
      .flow{overflow: hidden;}
      body{background: #f5f5f5}
      .main{
        background: #f5f5f5;
        width:1200px;
        margin:0 auto;
      }
      .headBg{
        background: #fff;
        width: 1200px;
        margin: 0 auto;
      }
      input:focus{outline:none}
      .clear{clear: both}

      .whiteBg{
        background: #fff;
      }

      .flParent li{
        float: left;
      }
      .flParent .fr{
        float: right;
      }
      .commit{
        width: 72px;
        height: 26px;
        line-height: 26px;
        margin-top: 5px;
        text-align: center;
      }
      .commit2{
        margin-top: 5px;
      }
      .appointment{
        border: 1px solid #00b7d6;
      }
      .appointment a{
        color: #00b7d6;
      }
      .consult{
        border: 1px solid #3ebb2b;
      }
      .consult a{
        color: #3ebb2b;
      }
      .search input{
        width: 114px;
        height: 32px;
        border: 1px solid #ccc;
        padding-left: 6px;
      }
      .search span{
        width: 55px;
        height: 32px;
        bottom: 0;
        line-height: 32px;
        text-align: center;
        display: inline-block;
        border: 1px solid #ccc;
        border-left: 0;
        vertical-align: middle;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      .func li{
        margin-left: 14px;
      }
      /*轮播css*/
      .slide {
        overflow:hidden;
        position:relative;
        width:100%;
        height:375px;
      }
      .slide ul.slide-wrapper {
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        height:495px;
      }
      .slide ul.slide-wrapper li {
        height: 100%;
        position:absolute
      }
      .slideLink img{
        width:100%;
      }
      .slidebox {
        position:absolute;
        left:50%;
        z-index:30;
        bottom:12px;
      }
      .slidebox ul li {
        float:left;
        height:12px;
        margin:4px 4px;
      }
      .slidebox ul li em {
        width:12px;
        height:12px;
        cursor:pointer;
        background:#fff;
        border-radius:100%;
        text-indent:-9999px;
        display:block;
      }
      .slidebox ul li.current em{
        background: #fdae04;
      }
      /*轮播css*/
      .middle{
        padding: 0 12px 0;
      }
      .topNav span{
        margin-left: 6px;
      }
      .middle .nav{
        margin-bottom: 20px;
      }
      .centerNav{
        margin: 12px;
      }
      .centerNavFix{
        position: fixed;
        width: 1200px;
        height: 57px;
        z-index: 10;
        margin: 0;
        background: #f5f5f3;
      }
      .centerNavFix centerNav{
        width: 1160px;
        height: 45px;
      }
      .centerNav-container{
        height: 68px;
      }
      .centerNav li{
        background: #0284cf;
        height: 45px;
        line-height: 45px;
        box-sizing: border-box;
        width: 14.28%;
        text-align: center;
        border-right: 1px solid #fff;
      }
      .centerNav li:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .centerNav li:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      .centerNav li a{
        color: #fff;
        width: 100%;
        height: 100%;
        display: block;
      }
      .centerNav li.active{
        background: #005faa;
        border: 0;
      }
      .footer{
        background: #fff;
        padding: 50px 25px 35px;
      }
      .footer li{
        margin-left:75px;
      }
      .footer p{
        line-height: 36px;
      }
      .partner p{
        line-height: 50px;
      }
      .footer .title{
        color: #000022;
        font-size: 16px;
        font-weight:600;
        line-height: 38px;
      }
      .footer .mar-L-z,.guide .mar-L-z{
        margin-left:0;
      }
      .weight{
        font-weight: 600;
      }
      .bottom-Mar30{
        margin-bottom: 30px;
      }
      .search{
        position: relative;
        width: 178px;
      }

      .search span{
        position: absolute;
      }
      .footer p.gameContent{
        line-height: 28px;
        margin-bottom: 20px;
      }
      .banner-box li{
        position: relative;
      }
      .banner-box div.inner{
        line-height: 40px;
      }
      .indent5{
        text-indent: 5em;
      }


      .photoMask{
        opacity:0;
        filter:alpha(opacity=0);
        position:absolute;
        bottom:0;
        display:table;
        width:100%;
        height:100%;
        background-color:#000000;
        background-color:rgba(0,0,0,0.5);
        color:#FFFFFF;
        text-align:center;
        display:table-cell;
        vertical-align:middle;
        overflow:hidden;
      }
      .photoMask span{
        display:inline-block;
        font-size:18px;
        margin:0 16%;
        height:100%;
      }

      .photoMask::before,.photoMask:after{
        position:absolute;
        top:30px;
        right:30px;
        bottom:30px;
        left:30px;
        content:'';
        opacity:0;
        pointer-events:none;
        -webkit-transition:opacity 0.85s,
        -webkit-transform 0.85s;
        transition:opacity 0.85s,
        transform 0.85s;
      }
      .photoMask::before{
        border-top:1px solid #fff;
        border-bottom:1px solid #fff;
        -webkit-transform:scale(0,1);
        transform:scale(0,1);
        border-color:rgba(255,255,255,0.4)
      ;}
      .photoMask::after{
        border-right:1px solid #fff;
        border-left:1px solid #fff;
        -webkit-transform:scale(1,0);
        transform:scale(1,0);
        border-color:rgba(255,255,255,0.4);}
      .commitAllImgs li:hover .photoMask ::before,.photoMask::after{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1);
      }
      .stopService.padB10{
        padding-bottom:10px;
      }

    </style>

    <style type="text/css">
      input{
        font-family: "Microsoft YaHei", "Arial", "黑体", "宋体", sans-serif;
      }
      .alignright{
        text-align: right;
      }
      .regtopbg{
        background: #f5f5f5;
        line-height:40px;
      }
      .width1200{
        width:1200px;
        margin:0 auto;
      }
      .regheader{
        height: 137px;
        border-bottom: 2px solid #e6e6e6;
        margin-bottom: 30px;
      }
      .regpageheader{
        line-height: 137px;
      }
      .operationtle{
        font-size: 18px;
        margin-left: 26px;
      }
      .regarea{
        padding: 0 190px;
        min-height: 765px;
      }
      .regarea input{
        width: 406px;
        height: 50px;
        line-height: 50px;
        border: 1px solid #dedede;
        position: relative;
        z-index: 2;
      }
      .regarea input[type=text]{
        padding-left: 22px;
      }
      .regarea>div{
        position: relative;
        margin: 28px 0;
      }
      .okimg{
        width: 20px;
        height: 50px;
        line-height: 50px;
        position: absolute;
        left: 400px;
        top: 0;
        text-align: right;
        padding-right: 8px;
        z-index: 3;
        display: none;
      }
      .warnimg,.remind{
        height: 50px;
        line-height: 50px;
        margin-left: 428px;
        position: absolute;
        left: 8px;
        top: 0;
      }
      .warnimg img,.remind img{
        vertical-align: text-top;
      }
      .warnimg{
        color: #ee2222;
      }
      .hide{
        display: none;
      }
      .show{
        display: block;
      }
      .getcode{
        width: 110px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border: 1px solid #dedede;
        background: #e7e7e7;
        color: #333;
        float: left;
        border-left: 0;
        cursor: pointer;
      }
      .codeinput input{
        width: 294px;
        float: left;
      }
      .regarea .regsubmit{
        margin-bottom: 0;
      }
      .regarea .regsubmit input{
        width: 428px;
        font-weight: bold;
        font-size: 16px;
      }
      .regmask{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.5);
      }
      .succeemain{
        width: 648px;
        height: 290px;
        background: #fff;
        text-align: center;
        margin: 320px auto;
      }
      .successword{
        line-height: 60px;
        font-size: 22px;
        padding-top: 45px;
        margin-bottom: 30px;
      }
      .goprev{
        width: 280px;
        line-height: 50px;
        margin:30px auto;
      }
      .loginmain{
        width: 695px;
        height: 515px;
        padding-top: 45px;
        background: #fff;
        position: relative;
        text-align: center;
        margin: 300px auto;
      }
      .loginarea{
        width: 360px;
        margin: 0 auto;
      }
      .loginword{
        font-size: 24px;
        line-height: 24px;
        margin: 60px 0 45px;
      }
      .loginarea>div{
        width: 350px;
        height: 42px;
        line-height: 42px;
        border-radius: 4px;
        padding-left: 10px;
        border: 1px solid #dedede;
        margin: 20px auto;
        text-align: left;
      }
      .loginarea>div input{
        height: 40px;
        line-height: 40px;
        width: 270px;
        border: 0;
      }
      .logsubmit{
        margin: 20px auto;
        width: 362px;
      }
      .logsubmit>input{
        width: 100%;
        height: 50px;
        border-radius: 4px;
        font-size: 14px;
      }
      .closebtn{
        position: absolute;
        right:10px;
        top: 10px;
        cursor: pointer;
      }
      .findpwdheader{
        padding-top: 85px;
        margin-left: 290px;
      }
      .findpwdheader a{
        display: block;
        padding: 0 30px;
        line-height: 52px;
      }
      .findpwdheader .active a{
        border-bottom: 2px solid #72af2d;
      }
      .findpwdheader li:hover span{
        background: #72af2d;
      }
      .findpwdheader li span{
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        display: inline-block;
        border-radius: 26px;
        background: #dddddd;
        color: #fff;
        vertical-align: middle;
        margin-right: 5px;
      }
      .findpwdheader li.active span{
        background: #72af2d;
      }
      .findpwdarea{
        margin-left: 102px;
      }
      .findpwdsub input{
        width: 168px;
      }
      .subbtn{
        background: #008cd3;
        padding: 0;
        color: #fff;
        cursor: pointer;
        border: 0;
      }
      .minheight930{
        min-height: 930px;
      }
      .findpwdstep{
        width: 840px;
        height: 270px;
        border: 1px solid #dedede;
        margin: 60px auto 0;
      }
      .getpwd{
        margin-top: 30px;
        display: inline-block;
      }
      .getpwd>div{
        height: 50px;
        line-height: 50px;
        width: 200px;
        margin: 0 8px;
      }
      .getpwd>div a{
        display: block;
        width: 100%;
        color: #fff;
      }
      .warnword{
        color: #ee2222;
      }
    </style>
<% end %>

<% content_for :script do %>
    <%= javascript_include_tag 'find_passwords/set_new_password' %>
<% end %>