<div class="whiteBg">
  <div class="width1200">
    <div class="regheader">
      <ul class="findpwdheader flParent flow">
        <li><a href="javascript: void(0);"><span class="">1</span>填写账户信息</a></li>
        <li class="active"><a href="javascript: void(0);"><span class="">2</span>设置新密码</a></li>
        <li><a href="javascript: void(0);"><span class="">3</span>完成</a></li>
      </ul>
    </div>
    <div class="regarea findpwdarea">
      <div>
        <input type="password" class="js-password1" placeholder="新 密 码：">
        <span>6-20位，至少包含字母、数字、符号中的两种</span>
      </div>
      <div>
        <input type="password" class="js-password2" placeholder="再 次 输 入：">
        <span>请确保两次密码一致</span>
      </div>
      <div class="">
        <input type="submit" class="js-submit" value="修改密码"><span style="color: red; margin-left: 20px;" class="js-error-vector"></span>
      </div>
    </div>
  </div>
</div>

<% content_for :title do %>
    找回密码
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
<% end %>

<% content_for :script do %>
    <%= javascript_include_tag 'find_passwords/set_new_password' %>
<% end %>