<div class="enterEyeCommon fl">
    <ul class="">
        <li>
            <h4>继续教育</h4>
            <p>Continuing education</p>
        </li>
        <li>
            <%= link_to :'专题讲座',con_education_path(:专题讲座) %>
        </li>
        <li>
            <%= link_to :'典型病例',con_education_path(:典型病例) %>
        </li>
        <li>
            <%= link_to :'疑难病例',con_education_path(:疑难病例) %>
        </li>
        <li>
            <a href="javascript:;">手术视频</a>
        </li>
    </ul>
    <div class="hosInformation">
        <i class="icon_enter icon_telephone icon_enterIcon"></i>
        <div>
            <p>咨询热线</p>
            <p>400 9900 766</p>
        </div>
    </div>
    <div class="hosInformation">
        <i class="icon_enter icon_time icon_enterIcon"></i>
        <div>
            <p>门诊时间</p>
            <p>08:30-17:30</p>
        </div>
    </div>
</div>
