<div class="enterEyeCommon fl">
    <ul class="">
        <li>
            <h4>继续教育</h4>
            <p>Continuing education</p>
        </li>
        <li>
            <a href="">专题讲座</a>
        </li>
        <li>
            <a href="">典型病例</a>
        </li>
        <li>
            <a href="">疑难病例</a>
        </li>
        <li>
            <a href="">手术视频</a>
        </li>
    </ul>
    <div class="hosInformation">
        <i class="icon_enter icon_telephone icon_enterIcon"></i>
        <div>
            <p>咨询热线</p>
            <p>400 9900 766</p>
        </div>
    </div>
    <div class="hosInformation">
        <i class="icon_enter icon_time icon_enterIcon"></i>
        <div>
            <p>门诊时间</p>
            <p>08:30-17:30</p>
        </div>
    </div>
</div>