<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <ul class="edumsglist downModule">
          <li><%= link_to :'裂孔性视网膜脱离外路显微手术',con_education_path(:裂孔性视网膜脱离外路显微手术) %></li>
        </ul>
    </div>
</div>
