<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <ul class="edumsglist downModule">
          <li>
              <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:裂孔性视网膜脱离1例)}  do %>
                  <p><span>1.</span>裂孔性视网膜脱离1例 <span class="fr">2018-2-25</span></p>
              <% end %>
          </li>
          <!-- <li>
            <a href="/con_education/viewer?file=/uploads/pdf/IOLmaster检查隐藏的错误.pdf">
              <p><span>2.</span>IOLmaster检查隐藏的错误<span class="fr">2018-3-19</span></p>
            </a>
          </li> -->
        </ul>
    </div>
</div>

<%= render partial: 'con_education/script' %>
