<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <ul class="educationList">
          <li><%= link_to :'窦广志病历摘要修改版',con_education_path(:窦广志病历摘要修改版) %></li>

        </ul>
    </div>
</div>
