<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <ul class="edumsglist downModule">
            <li><%= link_to :'疑难病例讨论一.起死回生',con_education_path(:疑难病例讨论起死回生) %></li>
        </ul>
    </div>
</div>
