<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <ul class="edumsglist downModule">
          <li>
            <a href="/con_education/viewer?file=/uploads/pdf/疑难病例讨论一起死回生.pdf">
              <p>疑难病例讨论一起死回生 <span class="fr">2018-2-25</span></p>
            </a>
          </li>
        </ul>
    </div>
</div>
