<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <div class="whiteBg downModule minh400">
          <iframe src="/uploads/pdf/疑难病例讨论一.起死回生.pdf" width="100%" height="880px"></iframe>
          <!-- <embed src="/uploads/pdf/疑难病例讨论一起死回生.pdf" width="100%" height="880px" > </embed> -->
        </div>
        <div>
          <%= render 'con_education/comment' %>
        </div>
    </div>


</div>

<% content_for :script do %>
<%= javascript_include_tag 'edu_example' %>
<% end %>





