<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <ul class="edumsglist downModule">
          <li>
            <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: '/con_education/viewer?file=/uploads/pdf/疑难病例讨论一起死回生.pdf'}  do %>
              <p>疑难病例讨论一<span class="fr">2018-2-25</span></p>
            <% end %>
          </li>
          <li>
            <a href="/con_education/viewer?file=/uploads/pdf/继教栏目投稿-角膜内皮炎上.pdf">　
              <p>疑难病例讨论二<span class="fr">2018-3-15</span></p>
            </a>
          </li>

        </ul>
    </div>
</div>

<%= render partial: 'con_education/script' %>
