 <div class="ht_key">
  <ul class="ht_key_box">
    <%=link_to  center_path("近视手术方式那么多该怎么选") do %>
    <li>
      <span>1</span>
    </li>
    <% end %>
    <%=link_to  center_path("不过就是近视怎么还会失明") do %>
    <li>
      <span>2</span>
    </li>
    <% end %>
    <%=link_to  center_path("做近视手术前这些问题要搞清楚") do %>
    <li>
      <span>3</span>
    </li>
    <% end %>
    <%=link_to  center_path("近视手术安不安全进来了解一下") do %>
    <li>
      <span>4</span>
    </li>
    <% end %>
  </ul>
</div>
