<!--中医公共部分-->
<ul class="medicineLeft fl">
    <li class="chineseFi"><%= link_to :"中心简介",center_path(:中医简介) %></li>
    <li><%= link_to :"团队介绍",center_path(:中医团队介绍) %></li>
    <li>揭秘中医疗法</li>
    <li>中医药养生保健小讲堂</li>
    <li>时令小贴士</li>
    <li>反馈信箱</li>
</ul>
<!--中医公共部分-->