<%= render 'centers/center_tkd' %>
<div class="hhsm_index">
    <div class="hhsm">
        <div class="hhsm_header">
            <h1>不过就是近视 怎么还会失明？</h1>
            <time class="hhsm_header_time" datetime="2018-09-13">2018-09-13</time>
        </div>
        <div class="hhsm_container">
            <p class="hhsm_p">很多人都不把近视当回事，毕竟，这么多人近视，大家不都好好的，不就是戴个眼镜，而且我想不戴就不戴，能有什么关系。但是，近视如果度数不断上升，发展为高度近视，就可能对我们的视力造成威胁。</p>
            <p class="hhsm_p">据眼病研究数据表明，高度近视的并发症已经是我国首位导致不可逆致盲性眼病的病因，也就是说，在所有导致不能逆转的失明原因中，高度近视排在了第一位。</p>
            <div class="hhsm_imgs_box" id="hhsm_img_1">
                    <%= image_tag("hhsm_1.jpg") %>
            </div>
            <div class="hhsm_container_one hhsm_container_box">
                <h3 class="hhsm_container_smallerHeader">多少度才算高度近视呢？</h3>
                <p class="hhsm_p">
                   一般来说近视度数超过600度或者近视度数加1/2散光度数超过800度，就认为是高度近视。
                </p>
                <h3 class="hhsm_container_smallerHeader">为什么高度近视会失明？</h3>
                <p class="hhsm_p">
                    这是因为，近视度数的上升，一般都伴随着眼轴的变长。平均来看，近视度数每增加300度，眼球前后径长度大概会增长1 mm。
                </p>
                <p class="hhsm_p">
                    那么当你的度数越高，相应地眼球前后径就会越长，从而会把眼球壁拉薄。而眼球壁当中的脉络膜、视网膜也都会跟着变薄，它的血供、组织结构都会受到影响，发生视网膜脱落、黄斑病变、青光眼等致盲性眼病的风险就会大大增加。
                </p>
                <h3 class="hhsm_container_smallerHeader">高度近视要注意些什么？</h3>
                <p class="hhsm_p">
                   对于高度近视的人而言，每年都应该去验光观察自己的度数变化，必要时可能还需要散瞳验光。
                </p>
                <p class="hhsm_p">
                   很多人存在一个认知误区，觉得成年了度数就不会变了，其实并不是这样。有些人，特别是高度近视，很可能在成年后度数还在不断上涨。
                </p>
                <p class="hhsm_p">
                   建议每年都确认下自己的度数情况，如果度数加深过快，可能就需要一些治疗干预，比如可以考虑做后巩膜加固术，如果不想戴镜可以考虑做近视激光手术、ICL植入术等。
                </p>
                <div class="hhsm_imgs_box" id="hhsm_img_2">
                    <%= image_tag("hhsm_2.jpg") %>
                </div>
                 <p class="hhsm_p">
                    除了验光，更要每年检查眼底的情况。现在做眼底检查很简单，眼科基本都有，采用特殊技术的眼底照相机对准眼睛拍张照片就可以，无创且非常便捷，然后观察你眼底的情况，包括视神经、黄斑、血管、视网膜等等。如果发现问题，就可以及早处理。
                </p>
                <p class="hhsm_p">
                    还有，高度近视要尽量避免做一些剧烈的运动。比如像跳水、蹦极、拳击这些会增加视网膜脱落风险的剧烈运动。由于眼球壁薄，高度近视的人巩膜抗击外力能力较弱，像篮球、足球等对抗性运动也是建议尽量不要参与，还应尽量避免重体力劳动。可以适当参与快步走、游泳这些不太剧烈的运动。
                </p>
                <h3 class="hhsm_container_smallerHeader">中低度近视要注意什么？</h3>
                <p class="hhsm_p">
                    虽然高度近视的人发生视网膜脱离的风险更高，但不代表中低度近视的人就不会发生。所以对这类人而言，有条件的话，还是建议每年检查一下眼底的情况，如果眼前出现闪光感、遮挡感等，应尽快就医检查是否发生视网膜脱离，避免耽误治疗。至少平均一年左右要去验光，看看配戴的眼镜是否需要更换。
                </p>
                <p class="hhsm_p">
                    很多研究也证实了，很多成年人的度数增长与长时间的近距离用眼有关。因此，大家还是要注意不要过度用眼，减少近距离用眼时间。比如平常用电脑、看手机，要尽量减少连续的用眼时间，增加眼睛休息的频率，可以看20分钟就往远处看20秒休息一下，也可以看45分钟休息5分钟，记住看远处时一定要保证看得清楚才能达到让眼睛放松休息的效果。
                </p>
            </div>
            <div class="container_footer_btn">
                <%= render partial: 'centers/ht_key' %>
            </div>
        </div>

  </div>
</div>

