<div class="middle flow">
    <%= render "centers/zyLeft" %>
    <div class="medicineRight">
        <!--反馈邮箱-->
        <div class="ChineseMed fr column">
            <div class="ChineseMedTit padB">
                <h5>致眼科病友书</h5>
            </div>
            <div class="diseaseOne ChineseCen-introduce">
                <p class="noIndent">亲爱的眼科病友:</p>
                <P>您好！成都中医大银海眼科医院中医眼科中心，诚挚邀请您参与中医眼科互动。目前中医眼科中心设置了中心简介、团队介绍、揭秘中医疗法、中医药养生保健、时令小贴士及反馈信箱模块。对于网站内容的更新及模块设置，将充分听取病友们的意见，结合时下眼科治疗的最新进展进行话题和内容的更新，还望病友们积极反馈。</P>
                <P>诚挚邀请各病友积极促进中医眼科中心医患沟通的平台搭建！你们关注，我们服务！你们反馈，我们进步！大医精诚，银海启明，让我们为您的双眼保驾护航！</P>
            </div>
            <div class="bottomWord">
                <p>成都中医大银海眼科医院中医眼科中心</p>
            </div>
        </div>
        <!--反馈邮箱-->
    </div>
</div>