<div class="middle flow">
    <%= render "centers/zyLeft" %>
    <div class="medicineRight">
        <!--负责人简介-->
        <div class="ChineseMed fr column">
            <p class="disease"></p>
            <div class="diseaseOne ChineseCen-introduce">
                <div class="teamMember flow">
                    <%= image_tag("teamMember_1.png",class: "fl proImgLeft") %>
                    <div class="teamMemberName">
                        <h5>周华祥</h5>
                        <p>主任医师教授</p>
                        <p>硕士生导师、中医眼科中心主任</p>
                    </div>
                    <p>周华祥教授，主任医师。成都中医药大学研究生导师，四川省学术技术带头人，四川省拔尖中医师。四川省中医药学会眼科专业委员会常务副主任委员，中华中医药学会眼科分会委员，四川省康复医学会眼科分会委员，成都市视力保护协会副理事长，国家中医药管理局中医师资格认证中心命审题专家。《中医眼耳鼻喉杂志》副主编、《中华医学百科全书》中医眼科学卷编委 。从事中医眼科学的临床、科研、教学工作30余年。</p>
                    <p>周华祥教授临床经验丰富，在眼科常见病、多发病方面有较好疗效，形成了自己独特的诊疗特色，尤长于运用传统理论于临床，探讨眼科难症、重症的新治疗途径并获得较好效果，如将金元时代医家刘完素提出的“玄府”理论运用于视神经疾病，提出“开玄府、利清窍、活血脉、补肝肾”四步递进治法治疗视神经萎缩；将《金匮要略》、《血证论》“死血”、“干血”理论结合与眼科临床，运用软坚散结、祛痰散结、活血散结方药治疗视网膜玻璃体出血；将“黄斑属脾”、“瘀血化水”、“肾虚血瘀”理论运用于糖尿病性视网膜病变及其黄斑水肿的临床治疗均取得良好效果。此外，以“脾肾双补”法治疗高度近视及其眼底并发症，以“凉肝滋肾、解毒排脓”法治疗葡萄膜炎，以“健脾生津，祛风通络”法治疗干眼症、视疲劳等都展示了鲜明的特色和疗效。其临床诊治较突出中医药简、便、效、廉的优势，体现“大医精诚”的医德医风，受到患者称许。</p>
                    <p>周华祥教授具有较敏锐的科研思维，熟悉本专业领域学术技术发展前沿动态，善将中医古典理论与现代最新研究成果结合于眼科科研课题中，迄今主持、主研课题16项，内容涵盖基础理论、新药开发、病症机理、预防保健等领域，课题层次包括国家自然科学基金、国家新药基金、“十五”国家科技攻关计划、国家重点科技项目（攻关）计划及省、厅局级研究项目。先后获得四川省科技进步特等奖1项、二等奖1项、三等奖2项，获国家中医药管理局科技进步三等奖2项。编写、参编并出版专著9部，发表论文31篇。</p>
                </div>
                <p class="disease divider"></p>
                <div class="teamMember">
                    <%= image_tag("teamMember_2.png",class: "fl proImgLeft") %>
                    <div class="teamMemberName">
                        <h5>黄霄</h5>
                        <p>主任医师</p>
                    </div>
                    <p>黄霄，教授，主任医师，医学博士，硕士研究生导师。中国医师协会中西医结合眼科专业委员会委员、四川中西医结合学会及四川省中医药学会会员。</p>
                    <p>从事眼科医教研工作30余年。曾在华西医大眼科、中山眼科中心、北京协和医院眼科、北京同仁医院眼科和天津眼科医院进修学习，曾参加国际ORBIS飞行眼科医生培训班。擅长疑难眼底病和眼免疫性疾病的中西医临床诊断和治疗。此外，在泪道疾病的诊疗方面有着丰富的临床经验。</p>
                    <p>黄霄教授长期指导研究生、住院医师，进修医师的临床教学工作。作为主研人员，先后承担国家自然科学基金、国家中医药管理局、四川省教育厅等各级研究课题10余项，公开发表学术论文30余篇。热心公益事业，心系基层群众，长期关注老少边贫地区患者的视觉健康问题，先后10余次参加四川省卫生厅医疗下乡活动并成为优秀团体成员，相关事迹曾经中央电视台和四川电视台报道。</p>
                </div>
                <p class="disease divider"></p>
                <div class="teamMember">
                    <%= image_tag("teamMember_3.jpg",class: "fl proImgLeft") %>
                    <div class="teamMemberName">
                        <h5>缪馨</h5>
                        <p>主治医师</p>
                        <p>硕士研究生</p>
                    </div>
                    <p>从事眼科临床、科研多年，具有丰富的实际工作经验，擅长运用中西医结合方法治疗眼底疾病及眼表疾病，特别是在外眼疾病、出血性眼病、葡萄膜疾病等方面进行了较深入的探索，所开展的中药煎剂雾化治疗干眼症、角膜溃疡取得显著疗效，在患者中有较大影响。先后在眼科专业期刊上公开发表多篇学术论文；作为主要研究人员参与了四川省科技厅、四川省中医药管理局科研课题研究工作。</p>
                </div>
            </div>
        </div>
        <!--负责人简介-->
    </div>
</div>