<%= render "centers/zyLeft" %>
<div class="medicineRight">
    <div class="ChineseMed fr column show">
        <div class="ChineseMedTit">
            <h5>中医眼科中心简介</h5>
        </div>
        <div class="diseaseOne indent">
            <p>成都中医大银海眼科医院中医眼科中心，源自我国著名中医眼科学家陈达夫教授。1956年，陈达夫先生奉国家调遣，从西昌来到成都，参加成都中医学院的组建，并创立中医眼科教研室及附属医院临床眼科。自此以来的六十余年时间里，经几代人的不懈努力，当年由达夫先生手创的成都中医学院眼科，已从单一临床教学科室发展成了享誉全国，知名世界的国家级重点学科，临床重点学科，并在此基础上，汇聚国内著名专家学者，建立了具备高层次医疗、教学、科研功能的大型专科机构：成都中医药大银海眼科医院。</p>
            <p>成都中医药大银海眼科医院中医眼科，承袭了陈氏中医眼科学派几代人百余年沉淀的学术思想和临床技术。陈达夫教授创立的中医眼科六经辨证、八廓辨证、内眼脏腑相属理论，均在银海眼科医院中医眼科得到了全面继承和发展，使其在以干眼症为代表的眼表疾病，以视网膜、玻璃体出血为代表的出血性眼病，以葡萄膜炎、视神经炎为代表的内眼疾病方面具有高层次的学术水平和显著的临床疗效。针刺灸疗、湿敷雾化、刮痧拔罐等简便效廉特色中医治疗方法的广泛运用，对全面提高眼科常见病、多发病临床疗效，改善保存疑难重症患者视功能发挥了重要作用，使成都中医药大学附属银海眼科医院中医眼科中心成为中医特色突出、治疗方法丰富，临床疗效显著的特色中医眼科。</p>
        </div>
    </div>
</div>