
    <div class="middle">
        <div class="careUnit show allWidth glaucoma">
            <h5>干眼病</h5>
            <div class="popScience">
                <div>
                    <h6>一、什么是干眼？干眼病有什么症状？</h6>
                    <p>干眼是泪液异常引起的一种眼科疾病。患者因泪液分泌量减少、泪液质量下降，或泪液动力学异常，出现眼部的不适症状，并发生眼睛表面的损伤。干眼常见的症状包括：眼部干涩、烧灼感、异物感、眼疲劳、畏光、眼痛、眼胀等。部分患者因为眼部干燥而对外界刺激敏感，主要症状可能反而表现为迎风流泪，或者无法耐受隐形眼镜等。</p>
                </div>
                <div>
                    <h6>二、干眼是由什么原因引起的？什么人群容易发生干眼？</h6>
                    <p>引起干眼的病因较多，主要包括：各种眼表上皮病变、免疫性炎症、眼表或泪腺细胞凋亡、性激素水平降低及外界环境的影响等。大致可分为泪液缺乏型和蒸发过强型，简单讲即，一方面是泪液产生不足，另一方面是泪液蒸发过多（主要指睑板腺功能障碍）。干眼是现代社会的常见慢性眼病，女性、老年人，以及长期使用视频终端（如手机、电脑等）的人群容易发生干眼，另外要特别注意的是，有些更年期女性或干燥综合征患者也有干眼的表现。</p>
                </div>
                <div>
                    <h6>三、干眼会对患者造成什么影响？是否可以根治？</h6>
                    <p>长时间的干眼可能会造成角膜表面的损伤，也可能引起轻度的视物模糊，但一般不会引起失明等严重后果。虽然单纯的干眼一般不会引起患者严重的视力下降，但这些眼部不适症状会极大的影响患者的工作与学习。患者无法长时间使用电脑，无法长时间阅读，严重的患者甚至会因此产生情绪的低落。目前干眼病仍无根治的手段，但可在医生的帮助下缓解眼部症状，维持长期的眼部舒适。</p>
                </div>
                <div>
                    <h6>四、干眼要如何治疗？</h6>
                    <p>干眼的治疗包括消除病因和缓解症状。明确并消除引起干眼的原因是好的治疗方法，然而，对大多数患者，缓解症状仍然是治疗的主要目标。对于泪液产生不足的患者，主要采用人工泪液滴眼、佩戴硅胶眼罩或治疗性角膜接触镜等以延长泪液在眼表停留的时间，成都中医大银海眼科医院高度重视干眼病，开展了干眼病的专病门诊，引进干眼病分析仪，对干眼病作出早期诊断和病情严重程度做出判断，开展干眼病得的特色综合治疗，效果满意。严重者还可考虑泪小点栓塞或封闭术。</p>
                </div>
                <div>
                    <h6>五、关于泪道栓塞治疗干眼-你需要了解的常识</h6>
                    <p>1.泪道栓塞治疗干眼的原理：</p>
                    <p>人体的眼部存在泪液的排出系统，泪点栓塞正是通过阻塞眼部泪液的排出管道，延长泪液以及人工泪液在眼部的停留时间从而达到治疗干眼的目的。</p>
                    <p>2.泪道栓塞治疗适合什么类型的干眼病患者？</p>
                    <p>1）单纯使用人工泪液治疗效果不佳的。</p>
                    <p>2）使用人工泪液能够改善症状，但每天需要使用人工泪液的次数大于4次。同时，因为泪道栓塞治疗维持效果时间长，也适合日常工作及生活繁忙、无暇或不便随身携带并使用人工泪液的患者。</p>
                    <p>3.泪道栓塞治疗是否安全？</p>
                    <p>泪道栓塞的置入操作简便，10-15分钟在门诊即可完成，置入后不影响当天的正常学习工作。目前临床主要使用的泪道栓塞栓子为可溶栓，180天后能够降解，可能出现的副作用少，安全性高。</p>
                    <p>4.泪道栓塞治疗后会有什么不适吗？</p>
                    <p>1）异物感：患者置入栓子后当天可能出现轻微的眼部异物感，1-2天后即可消失。</p>
                    <p>2）泪液过多：部分患者在初期可能出现泪液过多的现象，在1周后机体自行调节后可消失，不需要为此感到惊慌。同时，初期出现泪液过多情况的患者的治疗效果通常较好。</p>
                    <p>5.泪道栓塞是否可以根治干眼病？</p>
                    <p>泪道栓塞是治疗干眼病的有效方法，能够帮助多数适合该治疗的患者获得长时间的症状改善，但并非根治性的治疗手段。</p>
                    <p>6.泪道栓塞能够反复进行？</p>
                    <p>可溶性栓塞溶解后若眼部无明显不适，患者可不用再次栓塞；若溶解后眼部再次出现明显眼部干眼涩、异物感等症状，则可再次进行栓塞治疗。泪道栓塞可长期反复进行，不存在依赖性。</p>
                    <p>7.泪道栓塞治疗后的是否还需要滴注人工泪液？</p>
                    <p>栓塞后患者仍可以使用人工泪液辅助治疗。部分患者可能栓塞后1周－1月后缓慢起效，起效前患者仍可继续使用人工泪液辅助治疗。栓塞后症状消失的患者，则可不用再使用人工泪液。</p>
                </div>
            </div>
        </div>
    </div>

