<%= if false %>
<div class="middle">
    <div class="careUnit show allWidth glaucoma ">
        <h5>泪道病及眼眶病</h5>
        <p class="careUnitTitle fiList"><span>常见泪道疾病治疗方法</span></p>
        <%= image_tag("ldb.jpg",class: :'fl proImgLeft') %>
        <p class="noIndent">（一）泪腺病治疗</p>
        <p>急性泪腺炎，临床上少见，多发生小儿或青年人。多数为单侧病，炎症可限于睑部或眶部泪腺，也可全部均受累。</p>
        <p>泪腺病治疗方法是局部或全身使用抗菌素，作热敷，严重者辅于皮质类固醇激素，考虑病毒感染禁用激素。化脓后则早日切开排脓。</p>
        <p>慢性泪腺炎，慢性泪腺炎表现为泪腺慢性充血和单纯肥大，一般无疼痛，可有轻微胀感，伴有上睑下垂。眼球被推向鼻下方运动受限，有复视，但很少发生眼球突出。</p>
        <p>应针对病因治疗。原因不明，可试用X线放射治疗，并结合抗生素和激素全身使用。由于确诊较为困难，故多将泪腺切除作病理检查。</p>
        <p class="noIndent">（二）泪道病治疗</p>
        <p>1、泪道激光治疗：具有创伤小、无副作用、不留疤痕、手术时间短、经济等优点，为部分泪道疾病患者的优先选择。主要治疗由炎症引起的泪道狭窄和阻塞，如泪小管、泪总管狭窄及阻塞，鼻泪管阻塞、慢性泪囊炎等病例。</p>
        <p>2、泪道手术：包括泪小点成形术、泪道探通术、泪道瘘管修复术、泪小管阻塞修复术、外伤性泪小管断裂修复术、泪总管阻塞修复术、内外路泪囊鼻腔吻合术、全泪道成形术等，适用于泪小点狭窄、先天性泪囊炎、外伤性泪小管断裂、慢性泪囊炎等病例。</p>
        <p>事实上，目前治疗泪道阻塞常见的方法有探通、插管、穿线、高频电等非手术疗法和泪囊摘除手术、鼻腔泪囊吻合术以及激光等方法。其中，采用激光治疗泪道阻塞可以在一定程度上降低患者的组织损伤，同时不破坏正常泪道结构。</p>

        <p class="careUnitTitle"><span>泪道疾病危害</span></p>
        <p>1、使眼球随时接触在带菌的眼液中，可造成角膜炎、角膜溃疡，严重可引起眼内炎，角膜穿孔眼球萎缩等。</p>
        <p>2、导致不能作内眼手术，如白内障手术、青光眼手术，眼底手术等。</p>
        <p>3、泪液时长外流侵蚀眼睑，皮肤干燥，色素易沉着，过敏性睑皮炎，长期擦拭泪液导致下睑外翻等。</p>

        <p class="careUnitTitle"><span>如何预防泪道疾病</span></p>
        <p>1、注意个人手卫生，不要随便用脏手揉眼睛，脸盆、毛巾要个人专用，不要用不洁净的水洗脸。</p>
        <p>2、饮食低油低脂为主;适当补充水果，蔬菜，胡萝卜(维生素A)，多喝水。</p>
        <p>3、在风沙大的天气外出应注意护眼，如有眼泪溢出，不要用衣袖擦拭眼睛，要用干净的手帕或纱布轻拭眼睛。</p>
        <p>4、避免传染沙眼、结膜炎等眼表疾病。</p>
        <p>5.如有流泪，眼部分泌物症状尽快到专科医院就诊，早期治疗。</p>
    </div>
</div>
<% end %>




