<div class="middle flow">
    <%= render "centers/bnzLeft" %>
    <!--专家团队简介-->
    <div class="careUnit fr">
        <h5>白内障屈光治疗中心</h5>
        <p class="careUnitTitle"><span>专家团队简介</span></p>
        <div class="careUnitContent eye-proContainer">
            <div class="proPart">
                <%= image_tag("professor_1.png",class: "proImgLeft fl") %>
                <p class="proName">朱思泉 <span class="proWork">白内障屈光部主任，教授 博士生导师</span></p>
                <p>朱思泉，医学博士。成都中医大银海眼科医院副院长，入选“四川千人计划”，首都医科大学博士生导师，成都中医大银海眼科医院白内障屈光部主任，临床专家。北京安贞医院眼科中心主任，美国新墨西哥州东方眼科中心访问学者。北京市高层次卫生技术人才，中央保健局一级保健专家，中国医疗保健国际交流促进会常委，中国非公有制医疗机构协会白内障与屈光分会主任委员，中国医疗保健国际交流促进会眼科分会副主任委员兼秘书长，中华医学会眼科分会白内障学组委员，中国医师协会眼科分会委员，中国光明行手术专家，美国新墨西哥州东方眼科中心访问学者中华博爱基金会同仁博爱光明工程负责人，中国青少年教育基金会眼科部负责人，中央人民广播电台医学顾问。《解放军医学杂志》特邀编委，《中华临床医师杂志（电子版）》、《中华眼科杂志（电子版）》、《中华眼视光与视觉科学杂志》、《眼科》、《中国实用耳鼻喉科杂志》、《生物医学工程与临床》等学术期刊编委，《中华医学杂志英文版》、《BMC Ophthalmology》、《Human Genetics》、《Molecular Medicine》等杂志审稿人。</p>
                <p>从事白内障的临床、科研、教学和管理工作20余年，已完成各类型白内障手术30万余例。独创辅助钩、改良双板层角膜切口、拉网式皮质抽吸术、定向对冲挤压快速碎核法、高真空低能量囊上快速劈核法及婴幼儿微创白内障手术等一系列超声乳化技术。先后应邀在美国白内障会议、世界华人眼科大会、亚洲白内障会议、亚太眼科年会及全国眼科年会等大会上进行学术交流和手术表演。</p>
                <p>目前主要从事智能化微创白内障治疗系统的研制及先天性白内障遗传学研究，先后获得“十一五”国家科技支撑计划重大项目1项，国家自然科学基金5项，国家科学技术学术著作出版基金1项，高等学校博士学科点专项科研基金1项，北京市自然基金1项，广东省科委、卫生厅、市科委等各级基金3项，北京同仁医院基金1项。发表学术论文100余篇，其中SCI收录43篇。申请专利5项，主编《白内障与屈光手术学》、《超声乳化白内障手术集锦》2部；参与编写《活体超声显微镜眼科学》、《同仁眼科学术讲座》等专著。</p>
            </div>
            <div>
                <%= image_tag("professor_2.png",class: "proImgRight") %>
                <p class="proName">潘学会 <span class="proWork">医务部主任，眼科副主任医师、医学硕士</span></p>
                <p>曾任解放军第四五二医院眼耳鼻喉科副主任、眼科中心主任；空军医学会眼科专业委员会委员，军区空军学科技术带头人、成都军区医学会眼科专业委员会委员、成都军区科学技术委员会委员、四川省康复医学会眼康复专委会委员、四川省中医药学会青年中医委员会委员、成都市医学会眼科专业委员会委员、四川省防盲办及四川省残疾人联合会防盲指导专家组成员、成都市劳动局伤残鉴定中心伤残鉴定专家组成员、成都市卫生局医疗事故鉴定中心专家组成员。</p>
                <p>长期在三甲医院眼科及眼专科医院从事青光眼、白内障和眼底病等临床工作，在青光眼的早期诊断和治疗上有丰富的临床经验，擅长于各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病的中西医结合治疗。</p>
                <p>曾获医学科研奖4项。在《中华眼底病杂志》、《西南国防医药》、《中国实用眼科杂志》、《中国中医眼科杂志》、《国外医学》眼科学分册等刊物上发表学术论文40余篇。</p>
            </div>
            <div>
                <%= image_tag("professor_3.png",class: "proImgLeft fl") %>
                <p class="proName">陈小凤 <span class="proWork">主治医师 天津医科大学临床医学院博士研究生</span></p>
                <p>主治医师，天津医科大学临床医学院博士研究生，先后师从全国著名眼科专家樊映川教授和颜华教授，曾在四川省人民医院眼科、中山医科大学中山眼科中心、天津市眼科医院工作和学习，具有丰富的眼科临床及科研实践经验，理论基础扎实。</p>
                <p>在中山眼科中心接受过严格的白内障超声乳化发展培训，长期承担残疾人联合会白内障防盲项目任务，已主刀完成白内障防盲小切口手术及白内障超声乳化手术共计五千余例，具有丰富的白内障复明手术经验，对白内障手术及并发症处理具有独特的经验。已独立完成各类抗青光眼手术近百例，尤其擅长于青光眼白内障联合手术。</p>
                <p>参研省级课题三项，核心期刊公开发表专业学术论文7篇</p>
            </div>
        </div>
    </div>
    <!--专家团队简介-->
</div>