<div class="middle flow">
    <!--左边链接公共-->
    <ul class="cataractList fl">
        <li class="active"><a href="javascript:;">白内障屈光治疗部介绍</a></li>
        <li><a href="javascript:;">专家团队简介</a></li>
        <li><a href="javascript:;">手术方式</a></li>
        <li><a href="javascript:;">设备宣传</a></li>
        <li><a href="javascript:;">晶状体宣传</a></li>
        <li class="listLast"><a href="javascript:;">白内障科普解惑</a></li>
    </ul>
    <!--左边链接公共-->

    <!--屈光治疗部-->
    <div class="careUnit fr show">
        <h5>白内障屈光治疗部</h5>
        <p class="careUnitTitle"><span>白内障屈光治疗部介绍</span></p>
        <div class="careUnitContent">
            <p>成都中医药大学附属眼科医院/成都中医大银海眼科医院白内障屈光治疗部，隶属于成都中医药大学附属眼科医院，是国家级重点学科，拥有多名技术精湛、具有高级技术职称的专家。该部门主要承担两部分疾病的治疗：白内障手术治疗，屈光手术治疗。</p>
            <p>白内障治疗科除拥有目前全世界最先进的诊疗检查设备，手术治疗设备外，还拥有目前我国白内障手术量最多，经验最丰富的手术专家。最先进的仪器联合经验最丰富的专家，使我院的白内障手术科的医疗水平达到了国内最领先的高度。白内障治疗科主要诊断和治疗的疾病包括：老年性白内障、并发性白内障（合并青光眼的白内障、青光眼术后并发白内障、眼底手术并发白内障、色素膜炎并发白内障、合并全身疾病的白内障等）、外伤性白内障、先天性白内障、辐射性白内障、屈光性晶状体置换、无晶体眼患者的Ⅱ期人工晶状体植入，以及眼外伤后瞳孔成型术，虹膜根部离断修复术，晶状体半脱位固定置换手术等各种常见的、复杂的，疑难的与晶状体，虹膜相关的手术治疗。</p>
            <p>内眼屈光手术治疗是随着科学技术发展出现的一类专门用于矫治屈光不正眼的手术方式。主要是通过进行有晶状体眼的人工晶状体植入。该类手术方式具有手术操作简单，时间短，矫正度数精确等优点。该类手术治疗适应症广，不仅适用于常规屈光不正眼的矫正，此外，因为该类手术不需要切削角膜或破坏眼部的其他正常组织结构，因此，对于角膜厚度薄，角膜平坦，视网膜条件差，屈光度数>12.00D等各种不能接受角膜飞秒激光屈光治疗的患者，都可以选择该类手术进行屈光不正的矫治。</p>
            <p>白内障屈光部技术力量雄厚，由全国白内障手术量第一（已完成各类型白内障手术30万余例）、中国最著名的白内障手术专家、博士生导师朱思泉教授领衔以及一批临床经验丰富的白内障专家组成。独创白内障手术方式有：辅助钩、改良双板层角膜切口、拉网式皮质抽吸术、定向对冲挤压快速碎核法、高真空低能量囊上快速劈核法及婴幼儿微创白内障手术等一系列超声乳化技术。</p>
            <p>成都中医大银海眼科医院白内障屈光部手术室具备世界最先进的手术设备，美国的飞秒激光白内障Lens AR，ALCON公司生产的超乳玻切一体机Constellation和超乳机Centurion，蔡司公司生产的顶级手术显微镜Lumera700等，能为患者提供更加安全有效的白内障手术模式；具备多焦点、可调节、超微切口、非球面、高度近视专用等功能齐全、品牌完善的各种类型的人工晶状体，为每个手术病人提供了多种选择的机会。</p>
            <p>成都中医大银海眼科医院白内障屈光部门诊具备国际领先的眼部检查及治疗仪——裂隙灯：Keeler 3020-P-2007-D，非接触电脑眼压计: NIDEK NT-510，间接检眼镜：激光治疗仪器：蔡司VisuLAS YAGⅢ，视野分析仪：蔡司750i等。可进行后发障激光治疗及对比敏感度、像差等项目的检查，角膜内皮镜、激光视力、眼底照相、OCT、VEP、FFA、ERG等各项检查均在眼科中心临床检验科室完成</p>
            <p>白内障屈光治疗部拥有专业的医疗团队和最先进的技术、设备，可满足更多白内障患者对于术后高视觉质量的要求。中心医务人员不断开拓进取，勇于创新，在临床、科研、防盲等方面成绩突出，同时秉承“银海启明，大医精诚”的宗旨，为众多白内障患者带来光明。</p>
        </div>
    </div>
    <!--屈光治疗部-->
    <!--专家团队简介-->
    <div class="careUnit fr">
        <h5>白内障屈光治疗部</h5>
        <p class="careUnitTitle"><span>专家团队简介</span></p>
        <div class="careUnitContent proContainer">
            <div class="proPart">
                <img src="../../assets/images/professor_1.png" alt="" class="proImg">
                <p class="proName">朱思泉 <span class="proWork">白内障屈光部主任，教授 博士生导师</span></p>
                <p>朱思泉，医学博士。成都中医大银海眼科医院副院长，入选“四川千人计划”，首都医科大学附属成都中医大银海眼科医院白内障屈光部主任，首席临床专家。北京安贞医院眼科中心主任，美国新墨西哥州东方眼科中心访问学者。北京市高层次卫生技术人才，中央保健局一级保健专家，中国医疗保健国际交流促进会常委，中国非公有制医疗机构协会白内障与屈光分会主任委员，中国医疗保健国际交流促进会眼科分会副主任委员兼秘书长，中华医学会眼科分会白内障学组委员，中国医师协会眼科分会委员，中国光明行首席手术专家，美国新墨西哥州东方眼科中心访问学者中华博爱基金会同仁博爱光明工程负责人，中国青少年教育基金会眼科部负责人，中央人民广播电台医学顾问。《解放军医学杂志》特邀编委，《中华临床医师杂志（电子版）》、《中华眼科杂志（电子版）》、《中华眼视光与视觉科学杂志》、《眼科》、《中国实用耳鼻喉科杂志》、《生物医学工程与临床》等学术期刊编委，《中华医学杂志英文版》、《BMC Ophthalmology》、《Human Genetics》、《Molecular Medicine》等杂志审稿人。</p>
                <p>从事白内障的临床、科研、教学和管理工作20余年，已完成各类型白内障手术30万余例。独创辅助钩、改良双板层角膜切口、拉网式皮质抽吸术、定向对冲挤压快速碎核法、高真空低能量囊上快速劈核法及婴幼儿微创白内障手术等一系列超声乳化技术。先后应邀在美国白内障会议、世界华人眼科大会、亚洲白内障会议、亚太眼科年会及全国眼科年会等大会上进行学术交流和手术表演。</p>
                <p>目前主要从事智能化微创白内障治疗系统的研制及先天性白内障遗传学研究，先后获得“十一五”国家科技支撑计划重大项目1项，国家自然科学基金5项，国家科学技术学术著作出版基金1项，高等学校博士学科点专项科研基金1项，北京市自然基金1项，广东省科委、卫生厅、市科委等各级基金3项，北京同仁医院基金1项。发表学术论文100余篇，其中SCI收录43篇。申请专利5项，主编《白内障与屈光手术学》、《超声乳化白内障手术集锦》2部；参与编写《活体超声显微镜眼科学》、《同仁眼科学术讲座》等专著。</p>
            </div>
            <div>
                <img src="../../assets/images/professor_2.png" alt="" class="proImg">
                <p class="proName">潘学会 <span class="proWork">医务部主任，眼科副主任医师、医学硕士</span></p>
                <p>曾任解放军第四五二医院眼耳鼻喉科副主任、眼科中心主任；空军医学会眼科专业委员会委员，军区空军学科技术带头人、成都军区医学会眼科专业委员会委员、成都军区科学技术委员会委员、四川省康复医学会眼康复专委会委员、四川省中医药学会青年中医委员会委员、成都市医学会眼科专业委员会委员、四川省防盲办及四川省残疾人联合会防盲指导专家组成员、成都市劳动局伤残鉴定中心伤残鉴定专家组成员、成都市卫生局医疗事故鉴定中心专家组成员。</p>
                <p>长期在三甲医院眼科及眼专科医院从事青光眼、白内障和眼底病等临床工作，在青光眼的早期诊断和治疗上有丰富的临床经验，擅长于各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病的中西医结合治疗。</p>
                <p>曾获医学科研奖4项。在《中华眼底病杂志》、《西南国防医药》、《中国实用眼科杂志》、《中国中医眼科杂志》、《国外医学》眼科学分册等刊物上发表学术论文40余篇。</p>
            </div>
            <div>
                <img src="../../assets/images/professor_3.png" alt="" class="proImg">
                <p class="proName">陈小凤 <span class="proWork">主治医师 天津医科大学临床医学院博士研究生</span></p>
                <p>主治医师，天津医科大学临床医学院博士研究生，先后师从全国著名眼科专家樊映川教授和颜华教授，曾在四川省人民医院眼科、中山医科大学中山眼科中心、天津市眼科医院工作和学习，具有丰富的眼科临床及科研实践经验，理论基础扎实。</p>
                <p>在中山眼科中心接受过严格的白内障超声乳化发展培训，长期承担残疾人联合会白内障防盲项目任务，已主刀完成白内障防盲小切口手术及白内障超声乳化手术共计五千余例，具有丰富的白内障复明手术经验，对白内障手术及并发症处理具有独特的经验。已独立完成各类抗青光眼手术近百例，尤其擅长于青光眼白内障联合手术。</p>
                <p>参研省级课题三项，核心期刊公开发表专业学术论文7篇</p>
            </div>
        </div>
    </div>
    <!--专家团队简介-->
    <!--手术方式-->
    <div class="careUnit fr">
        <h5>白内障屈光治疗部</h5>
        <p class="careUnitTitle"><span>手术方式</span></p>
        <div class="careUnitContent">
            <p class="surgeryTitle">1.飞秒激光辅助白内障手术</p>
            <div class="surgeryDetail">
                <h5>白内障飞秒激光手术</h5>
                <h5>开启白内障手术无刀时代</h5>
            </div>
            <div class="surgeryContent">
                <p>为了让患者获得更加完美的视觉效果，银海眼科医院引进全球白内障治疗领域的顶尖技术——飞秒激光手术系统。</p>
                <h6 class="advantage"> 相比传统手术具备四大优势：</h6>
                <h6>安全微创</h6>
                <p>在制作切口上无需用刀，采用激光技术进行切口、撕囊、劈核，彻底摆脱了人和器械可能对眼睛的损伤，而且整个过程完全由电脑数字化控制飞秒激光来完成，准确无误，最大程度降低了医生操作的标准差。</p>
                <h6>“无”损伤</h6>
                <p>飞秒激光通过激光瞬间劈开混浊的晶状体(即白内障)，整个过程由前节OCT影像实时监控，在对眼睛几乎没有损伤的情况下，可按照术前设计准确无误完成劈开混浊晶状体的过程，降低了超声碎核能量创伤，术后恢复得更快。</p>
                <h6>手术适应范围广</h6>
                <p>飞秒激光的应用，把手术的安全性和成功率提到了一个新高度，使得手术适应症范围不断扩大。只要病人感觉到视物不清晰、影响生活质量，就可选择手术。这就避免了病人从视物模糊到失明这一漫长痛苦的过程，也避免了白内障过熟后引起青光眼、葡萄膜炎等并发症的可能性，同时让部分患者免去了终生不能治疗的痛苦。</p>
                <h6>视觉质量的完善</h6>
                <p>以往白内障患者对术后视觉的要求仅仅局限于视力的提高。而现在，随着人们生活水平的提高，对术后视觉的要求也逐步提升。近来，几种新型人工晶体的问世给白内障患者带来了福音，但这些高端多功能人工晶体要求整个手术的每一步操作都准确无误。人为操作带来的误差在一定程度上限制了这些高端多功能晶体效果的发挥，而飞秒激光白内障治疗系统是电脑数字化控制，可以达到零误差，为需要获得更加完美视觉质量的患者提供了保障。</p>
            </div>
            <p class="surgeryTitle">2.ICL</p>

            <div class="surgeryContent">
                <div class="surgeryDetail">
                    <h5>把近视眼镜装到眼睛里</h5>
                    <h5>——来自瑞士ICL晶体植入</h5>
                </div>
                <div class="listContainer">
                    <p>目前屈光手术有两种：一种是针对角膜屈光手术，另一种是晶体屈光手术。部分患者因角膜问题，干眼，散光、近视度数高等问题，无法通过角膜手术达到摘镜的目的， ICL成为这部分人群矫正近视的首选。ICL的英文全称是Implantable Contact Lens（可植入式隐形眼镜），它的出现给屈光手术医生和患者带来了矫正高度近视的另一个安全有效的可行性方案。手术的原理非常容易理解，就是相当于在眼睛里面放入了一个隐形眼镜。</p>
                    <p class="surgeryImg"><img src="../../assets/images/surgery.jpg" alt=""></p>
                    <h6 class="advantage"> ICL手术有以下优点：</h6>
                    <p>1、矫正屈光度范围更广：近视50度～1800度，散光50度～600度。</p>
                    <p>2、安全可逆：不切削角膜组织，必要时可取出或更换。</p>
                    <p>3、防护紫外线：更好保护眼睛。</p>
                </div>
                <div class="listContainer">
                    <h6>考虑ICL手术，需要哪些条件？</h6>
                    <P>1.年龄在18周岁以上，50周岁以下。STAAR公司推荐的最佳的矫正年龄是21-45岁，但实际临床工作中，也是根据患者情况来决定。</P>
                    <P>2.近视一般建议-2.0D至-20D、散光≤5D；远视+2D ~ +10D。无内眼手术史及眼内色素膜、视网膜及青光眼等病变，矫正视力良好。</P>
                    <P>3.常规检查角膜无已成、房角结构无异常、眼压正常。</P>
                    <P>4.前房深度≥2.8mm。</P>
                    <P>5.角膜内皮细胞计数>2500/m㎡。</P>
                    <P>6.各类激光手术参与的高度屈光不正的补矫。</P>
                    <P>7.无精神疾病者，具备合理的摘镜愿望和合适的术后期待心态。</P>
                </div>
                <div class="listContainer">
                    <h6>哪些情况不建议做ICL植入手术呢？</h6>
                    <p>1、患者近视度数不稳定。</p>
                    <p>2、年龄小于18岁或大于50岁</p>
                    <p>3、前房深度ACD<2.8mm者(角膜内皮到晶状体前表面距离)</p>
                    <p>4、角膜内皮细胞计数低，角膜变性或角膜内皮细胞计数<2500/m</p>
                    <p>5、患者有胰岛素依赖性糖尿病。</p>
                    <p>6、任一眼为青光眼或白内障或诊断为高眼压。</p>
                    <p>7、患者有全身胶原敏感症或自身免疫性疾病。</p>
                    <p>8、眼及眼附属器活动性炎症、肿瘤。</p>
                    <p>9、未经心理或者精神科医生允许手术的心理异常者。</p>
                    <p>10、女性孕期、哺乳期。</p>
                </div>

                <p class="headings">ICL手术前需要做哪些准备？</p>
                <p>首先是需要做全面的术前检查。建议先停戴隐形眼镜1周后再来医院检查。检查项目比较多，包括验光、角膜地形图、角膜内皮计数、眼底检查、前房深度测量等。检查时间一般至少要2小时左右。由于要做散瞳检查，就诊的当天，不能开车。</p>
                <p>经过全面检查，确定眼睛适合做ICL手术之后，还要至少来医院一次，进行术前准备。需要再次验光，确定眼睛的屈光度，预定晶体。另外，术前还有一项特殊的治疗，就是YAG激光虹膜打孔。就是在眼睛的虹膜上，通过激光切开一个小孔。这是为了预防眼压升高的。做虹膜打孔之后，眼睛看东西会模糊，尤其是刚刚打完激光的一个小时之内。当天也不能开车，不能戴隐形眼镜。</p>
                <p>订购晶体之后的等待时间一般需要1周到6周的时间。如果是不带散光的镜片，一般在1周内就可以到货（国内有备货）。如果是带散光的镜片，等待时间可能需要3-6周，需要从瑞士定做。</p>
                <p class="headings">手术后的注意事项</p>
                <p>CL植入手术本身的手术时间非常短，一般10分钟之内就做好手术了。术后几个小时，眼睛就可以看东西了。
                    但是，手术恢复快，并不代表术后就可以掉以轻心。术后的复查是非常重要的。一般术后第1天、1周、1个月、3个月、半年、1年都要复查。以后的话，也建议每年复查。高度近视本身有可能出现一些眼底病变等问题，复查不仅仅是针对ICL手术本身，也是考虑到眼部的综合情况。</p>
                <p class="surgeryTitle"></p>
            </div>
            <p class="surgeryTitle">3. 白内障超生乳化手术</p>
            <div class="surgeryDetail">
                <h5>世界公认的白内障超声乳化手术</h5>
            </div>
            <p>经临床医学证明，白内障超声乳化手术是治疗白内障唯一有效的途径。白内障超声乳化技术是显微手术的重大成果，自1967年美国的KELMAN医生发明了第一台超声乳化仪并用于临床，之后经过众多眼科专家30多年不断改进、完善，白内障超声乳化技术已成为世界公认的、先进而成熟的手术方式。超声乳化目前在发达国家已普及，我国自1992年开始引进并推广。进行手术时，在术眼角膜或巩膜的小切口处伸入超乳探头将浑浊的晶状体和皮质击碎为乳糜状后，借助抽吸灌注系统将乳糜状物吸出，同时保持前房充盈，然后植入人工晶体，使患者重见光明。超声乳化技术真正实现了切口小，无痛苦，手术时间短，不需住院，快速复明的手术理想。与传统手术相比，白内障超声乳化人工晶体植入术有以下优点：</p>
            <div class="surgeryContent lastSurgery">
                <p>为了让患者获得更加完美的视觉效果，银海眼科医院引进全球白内障治疗领域的顶尖技术——飞秒激光手术系统。</p>
                <h6 class="advantage"> 一、不用缝合的微创技术</h6>
                <p>随着计算机技术在医学上的应用，治疗白内障的手术设备的“精品”也相继问世，解决了设备本身对手术所产生的某些不良影响，使超声乳化探头通过1.5mm—3mm的微小切口即能完成对白内障的乳化吸出。这样微小的切口对我们的眼睛来说，具有不缝合、不增加散光、安全性好、恢复快等优点，可以说，术后第二天看不出切口的存在，病人术后可以随意活动。</p>
                <h6>二、定向无损伤技术</h6>
                <p>所谓“无”损伤是在手术中超声乳化针头仅对混浊的晶状体发生作用，而对眼内邻近的组织如角膜、虹膜、视网膜等几乎不产生不良的影响;手术者精巧的操作，辅以先进的器械设备，5—10分钟即可完成手术，使白内障手术的安全性大为提高，术后角膜清亮如初，瞳孔反应灵敏，1—2天后即可恢复原有视力。</p>
                <h6>三、放宽手术适应症</h6>
                <p>过去大多数人认为只有白内障到了失明的程度，俗称“长熟了”才能手术，而现在，如果视力在0.3左右即可手术。这就避免了病人从视物模糊到失明这一漫长痛苦的过程，也避免了白内障引起青光眼的可能性;再者，如果白内障等到失明后手术，由于晶状体的核硬度加大，使手术难度增加，甚至不能再做先进的超声乳化手术，对病人是一大遗憾。</p>
                <h6>四、“快节奏”的安全术式</h6>
                <p>由于超声乳化术的问世，使手术切口由10mm缩小到3mm以下，而且不用缝合，解决了手术切口所带来的散光的困扰，使术后视力更好;同时还具有不打麻药、不用住院、不限制活动、术后不用服药等优点。从某种角度说，现在的白内障复明术式已是“快餐式”的手术术式了。</p>
            </div>
        </div>
    </div>
    <!--手术方式-->
    <!--设备宣传-->
    <div class="careUnit fr">
        <h5>白内障屈光治疗部</h5>
        <p class="careUnitTitle"><span>设备宣传</span></p>
        <div class="careUnitContent equipment surgeryContent">
            <p class="surgeryTitle">1.飞秒激光白内障：美国Lens AR</p>
            <div class="surgeryDetail">
                <h5>LENSAR</h5>
                <h5>——非接触式3D飞秒白内障激光手术系统</h5>
            </div>
            <p>LensAR激光手术系统使用精准的飞秒激光达到微米級以上的组织切削；LensAR飞秒激光并且使用了3D影像技术精准定位眼內组织位置并引导激光精准切割，有助于提高手术的安全性和精准度。</p>
            <p>传统白内障手术医科医生用钻石刀切开角膜，并使用器械进入眼内，以手工方式对晶状体前囊进行连续环形撕囊，接着使用超声粉碎将白内障核块乳化并且吸出后，再植入人工晶体。然而人工一定会有误差，使得角膜切口和环形撕囊无法达到完美，进而影响术后效果。</p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_1.png" alt=""></p>
            <p>LensAR非接触式3D飞秒白内障激光手术系统，以增扩实景(Augmented Reality)技术即时扫描并重组眼球3D立体模型，提供手术医生对病人眼球内部前后、左右及晶状体倾斜等立体概念以及各项数据，进而能依据病人情况定制手术程序，包括：角膜立体切口、激光连续环形撕囊、白内障核块分割以及散光角膜切口等。</p>
            <h6>LensAR患者接口部分</h6>
            <p>LensAR使用非接触式患者接口；患者接口包括负压环以及激光参考锥镜。冲液式的负压环以极低的负压固定眼球，注入液体与锥镜对接，完全不接触角膜，不会压迫角膜造成角膜变形而使激光散射。LensAR非接触式患者接口，可提升患者在手术中的舒适度，并且能维持患者角膜的完整形态，使激光能精准发射，没有任何失误。</p>
            <h6>LensAR 角膜切口</h6>
            <p>使用激光精确制作角膜切口，可以使手术切口平整一致，并且能精准控制切口大学及形状；其3D立体切割模式，可使术后切口密合度极佳完全不漏水，大幅降低感染风险，术后恢复更快。</p>
            <p class="surgeryImg">
                <img src="../../assets/images/bnzqgy_2.png" alt="">
            </p>
            <h6>LensAR激光环形撕囊</h6>
            <p>传统白内障手术使用前端为钩针状的撕囊镊手动先撕出一个小开口，再慢慢撕成一个圆形开口；撕囊口的大小、居中性及形状相当重要，其影响人工晶体植入后的位置及稳定性。由于囊袋会随时间向圆形开口中心紧缩，会带着IOL一起移动，若圆形开口不够圆不够居中，可能使IOL随时间偏移；每偏移1mm,便可以产生125度散光。使用LENSAR飞秒白内障手术系统，使用3D影像系统精准定位晶状体前囊，并以电脑控制前囊开口大小及中心位置，再使用激光切割出完美前囊圆形居中开口，使手术效果更佳。</p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_3.png" alt=""></p>
            <h6>LensAR飞秒激光碎核</h6>
            <p>一般白內障超声乳化手术，白內障越成熟，所需使用的超声能量及负压越高，对角膜内皮细胞造成的伤害越大；手术时间也较长，容易对悬韧带造成压迫，或是造成后囊破裂。LENSAR飞秒激光手术系统使用激光先将白内障核块分割成小块，使超乳很容易就将白内障核块乳化吸出，能够大幅降低手术中所使用的超声能量，大大提升白内障超乳手术的效率及安全</p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_4.png" alt=""></p>
            <p class="surgeryTitle">2.ICL——V4C</p>
            <div class="surgeryDetail">
                <h5>V4C新型晶体</h5>
                <h5>——矫正超高度近视眼的高端选择</h5>
            </div>
            <p>成都中医大银海眼科医院使用的Visian ICL来自瑞士，已在全球70多个国家上市，植入超过500,000枚，在世界范围内被眼科屈光手术医生接受。新一代Visian ICL(V4c) 于2011年4月在欧洲上市，2014年10月进入中国。</p>
            <h6>权威认证，安全可靠</h6>
            <p>前中央孔型ICL-V4C 晶体是ICL晶体植入术中的最新晶体型号。该晶体具有全球专利，由瑞士独家生产，同时也是全球唯一通过美国食药监局、欧盟强制性产品安全认证委员会、中国食药监局三大权威机构共同认证的医疗产品。与角膜屈光手术不同，ICL不会改变眼球结构，而是隐蔽地置于眼睛的后房，和人本身的晶状体共同作用来矫正视力。</p>
            <h6>更安全、更舒适</h6>
            <p>如果将ICL晶体植入手术称为晶体植入手术的1.0时代，那么运用ICL-V4C技术的晶体植入术就是在原有技术上深度创新升级的2.0时代。ICL-V4c镜片中心加入的360微米中心孔设计，术中无需再进行晶体植入1.0时代必须实施的激光虹膜打孔，消除了因虹膜周切孔阻塞或太小引起的术后高眼压，并且保障了晶状体更多的自然房水流通，从而大大降低了术后白内障的发病率。真正做到了眼睛组织的零伤害。晶体植入2.0技术更安全、手术步骤减少，为术者营造了更舒爽、更安全的手术体验。</p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_5.png" alt=""></p>
            <h6>微创、可逆性强</h6>
            <p>高度近视让人的生活四处受阻，不少人想做手术却又因顾虑手术风险而摇摆不定。ICL晶体植入手术不伤害眼睛组织结构，保留天然晶体。同时ICL晶体可折叠特性使得手术切口仅需2.8-3.0mm的切口，而一般晶体植入手术的切口通常为6mm。ICL可以永久性地置入眼内。但如果手术发生过矫、欠矫或佩戴不合适，晶体也可取出或进行更换。相比于激光近视手术，ICL晶体植入术的可逆性是它的另一大特点。
                下面一张图显示的是ICL晶体的真实的形态，是一种很薄的镜片，很软，只需要通过6mm的切口就可以放入眼内。</p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_6.png" alt=""></p>
            <h6>量眼定制 完美匹配</h6>
            <p>ICL-V4c秉承个性化定制的原则，根据每个人的近视、散光度数和眼部数据全面精细的测量结果，量眼定制镜片。镜片不仅精密匹配个人屈光度数，更是与眼睛内部生理构造完美贴合。</p>
            <p>此外，ICL-V4c晶体采用高科技专用材料Collamer，它是一种胶原类材料，在人体内没有排斥反应，也不会与眼睛任何组织发生反应。Collamer含有紫外线阻断基因，可以有效阻断有害紫外线UVA、UVB，从而有效遏制了因紫外线引发的相关眼病：这一切只为让摘镜人士的佩戴更加舒适、自然，为他们重构清晰、惊艳的精彩视界。</p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_7.png" alt=""></p>
            <p class="surgeryTitle">3.超乳玻切一体机：ALCON的Constellation</p>
            <div class="surgeryDetail">
                <h5>Constellation</h5>
                <h5>——玻璃体手术设备技术新应用</h5>
            </div>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_8.png" alt=""></p>
            <p>Constellation是爱尔康公司才进入中国市场的最新的玻璃体手术设备。由于公司在玻璃体设备方面的领先地位和巨大的研发能力，Constellation是目前国际上技术水平最高的玻璃体手术设备，其应用的新的革新性的技术使玻璃体手术设备有了质的飞跃。Constellation是集玻璃体手术，超声乳化手术，光凝为一体的多功能手术平台，功能丰富且实用，</p>
            <h6>高速玻璃体切割和可控开合比：</h6>
            <p>玻璃体设备的技术进步一直伴随这玻璃体切割速率的提高，越高的切割速率意味着越小的玻璃体扰动和对视网膜越小的牵拉，也意味着更高的安全性和更少的术源损伤，因此追求更高的速率目前仍是各玻璃体手术设备厂商的重要目标。Constellation实现了7500cpm（一分钟7500次切割往返）的切割速率。高切速使医生敢于更贴近视网膜进行切割，并且对于浮动的视网膜由更好的保护作用，提高了手术安全性。
                但是传统的弹簧驱动技术再更高切速下会带来切割效率降低的弊端，并且机械振动会加大(见图-1)，因此传统的弹簧驱动技术在越来越高的切速下显出其弊端。Alcon公司为彻底解决这个问题，突破性的使用了双气路驱动的玻切头技术。(见图-2)</p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_9.png" alt=""></p>
            <p>因为玻切头工作的往返都由气动驱动，因此往返速度和时间就变得可控，在同样切速下，能够在一个往返周期内实现更大的开口时间和更快的运动速度，因此也就实现了更高的玻璃体切割效率。由于此技术的应用，Constellation的切割效率在7500cpm切速时仍然大大高于传统技术2500cpm切速的效率。同时，Constellation还允许客户自己设定开合比，以确定是效率优先还是安全优先，因为有时贴近视网膜操作和漂浮的视网膜需要医生更精确地控制，所以开合比控制技术给医生一个新的选择。</p>
            <h6>实时动态眼内压控制：</h6>
            <p>玻璃体手术的眼内灌注一直是玻璃体手术重要组成。以往都是通过重力灌注或是气体加压灌注。所谓重力灌注就是利用灌注瓶和患者眼睛的高度差实现灌注，加压灌注是利用机器对灌注瓶内的气体实现加压，其效果等同于重力灌注，但是可以通过机器实现控制，不用认为提高或降低灌注瓶。</p>
            <p>目前市场上除Constellation以外，均采用重力灌注或气体加压灌注。传统灌注技术在20g手术中的弊端并不明显，但是随着微创手术的普及，传统灌注技术的弊端逐渐显现出来。因为微创手术的灌注管路更细，阻力更大，因此为保证术中不出现眼压过低，就需要提高瓶高或灌注压力，这往往会造成术中眼压波动过大，导致患者眼底缺血而损伤视神经或是术中出现低眼压。</p>
            <p>Constellation通过一种流量监测和反馈技术，实现了机器稳定控制眼压的能力。Constellation可以实时检测到灌注液的流速并且计算出灌注管道阻力，然后对灌注液进行压力的自动补偿，这样实现了整个手术操作过程中眼内压始终在一个恒定的范围内，无需医生去关注眼压的变化，避免了前面提到的高眼压的损伤和低眼压的风险。</p>
            <p>这项技术的突破使得玻璃体手术首次可以在可控的眼压范围内进行，可以在更安全合理的眼压范围内实现全程手术，大大提高了手术的安全性和减少并发症。是玻璃体手术技术的一次突破。</p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_10.png" alt=""></p>
            <h6>新的技术特点：</h6>
            <p>Constellation还提供了许多新的技术，让医生由更多选择和手段完成手术。</p>
            <p>优化的氙灯照明：照明是玻璃体手术中的重要因素，尤其微创玻璃体手术普及以来，照明变得更为重要。Constellation的优化氙灯照明不但提供了足够的亮度，还优化了色温，使手术医生能够更清晰地辨别眼内组织，方便手术进行。</p>
            <p>内置激光：内置的532nm激光非常方便实用，可以使手术更顺利进行，不用更换机器操作。其配置的各种激光头也更适合微创手术和周边部激光的操作。</p>
            <p>连续反吐功能：Constellation提供了连续反吐的功能，医生可以利用这个功能代替更多笛针的工作，减少器械进出眼内的机会。惰性气体自动配比：Constellation增加了地形气体自动配比功能，省去了医护人员的工作，刷手助手就可以完成气体配比操作，减少了手术室人员。</p>
            <p>多功能脚踏：Constellation的脚踏板提供很多功能并可以根据医生要求自己设定，因此医生有了更多的控制能力，方便手术进行，也减少了助手的配备或工作量。</p>
            <p>双泵系统：目前超乳和玻切设备主要采用蠕动泵和文氏泵两种负压形式。这两种形式各有优缺点。文氏泵(负压)产生负压迅速，响应灵敏，控制精度高，但是对于初学者可能控制难度稍大。蠕动泵(流量控制)通过流量控制负压，有点是流量稳定，波动小，但是负压产生和消除都比较慢，反映不灵敏，效率低。不同手术类型和不同水平的医生往往会选择不同的泵的类型。为了适应这种情况，Constellation内置了两种泵，并且在工作中可以随时切换，这样就为不同手术类型和不同医生提供了方便和灵活选择的负压控制方式，这也大大提高了这种设备的适应性，使它可以适合更多手术医生的习惯和操作方式。</p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_11.png" alt=""></p>
            <p class="surgeryTitle">4.超乳机：ALCON的Centurion</p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_12.png" alt=""></p>
            <p class="surgeryTitle">5. 顶级手术显微镜：蔡司的Lumera 700 </p>
            <p class="surgeryImg"><img src="../../assets/images/bnzqgy_13.png" alt=""></p>
            <P class="surgeryTitle">6.IOL Master</P>
            <p class="surgeryImg lastSurImg"><img src="../../assets/images/bnzqgy_14.png" alt=""></p>
        </div>
    </div>
    <!--设备宣传-->
    <!--晶状体宣传-->
    <div class="careUnit fr">
        <h5>白内障屈光治疗部</h5>
        <p class="careUnitTitle"><span>晶状体宣传</span></p>
        <div class="careUnitContent equipment surgeryContent">
            <div class="surgeryDetail">
                <h5>三焦点人工晶状体：蔡司839MP</h5>
            </div>
            <p>蔡司三焦点人工晶体是一款可以同时矫正白内障和老花的晶体，手术矫正的过程是先吸除浑浊的晶状体，再植入蔡司三焦点人工晶体，蔡司三焦点人工晶体有哪些好处？</p>
            <p class="surgeryImg"><img src="../../assets/images/jzt.png" alt=""></p>
            <div class="listContainer">
                <h6>好处一：可折叠材质</h6>
                <p>蔡司三焦点人工晶体有哪些好处？最大的一个好处就是材质可以折叠，由于材质是可以折叠的，开口比较小，大概2mm左右，对眼睛的损伤比较小，而且植入后容易舒展开来。</p>
            </div>
            <div class="listContainer">
                <h6>好处二：三个焦点</h6>
                <p>蔡司三焦点人工晶体有哪些好处？蔡司三焦点人工晶体最明显的好处是有三个焦点，看远、看中、看近清晰顺畅，术后不需要戴眼镜。</p>
            </div>
            <div class="listContainer">
                <h6>好处三：非瞳孔依赖光学设计</h6>
                <p>蔡司三焦点人工晶体采用非瞳孔依赖设计，拥有全天候优视力，夜间视力良好，夜间活动毫无限制。</p>
            </div>
            <div class="listContainer">
                <h6>好处四：平滑微相位技术</h6>
                <p>蔡司三焦点人工晶体采用专利的平滑微相位技术，大大的减少了术后眩光。</p>
            </div>
            <div class="listContainer">
                <h6>好处五：成像更佳</h6>
                <p>蔡司三焦点人工晶体成像更佳，术后视觉质量更佳。</p>
            </div>
            <div class="listContainer">
                <h6>好处六：一体化解决白内障和老花</h6>
                <p>蔡司三焦点人工晶体可以一体化解决白内障和老花，重返年轻时的优视力。</p>
                <p>蔡司三焦点人工晶体有哪些好处？以上六点都是蔡司三焦点人工晶体能提供给患者的好处。有老花又有白内障的老年朋友们，蔡司三焦点人工晶体是理想之选。</p>
            </div>
        </div>
    </div>
    <!--晶状体宣传-->
    <!--科普解惑-->
    <div class="careUnit fr">
        <h5>白内障屈光治疗部</h5>
        <p class="careUnitTitle"><span>白内障科普解惑</span></p>
        <div class="careUnitContent equipment surgeryContent questions">
            <p class="question fiQuestion"><span>|</span>Q：为什么会得白内障？</p>
            <p>A: 年龄。年龄是最重要的因素。人的晶状体在一生中始终保持生长。但是晶状体是长在晶状体囊里面，被悬韧带悬挂在眼睛里面的，所以，表面新生长的晶状体细胞没有别的地方去，只有向内部积压，于是里面的密度越来越高，越来越不透光。可以说年纪大了，或多或少都有白内障，只是程度的差别而已。</p>
            <p class="question"><span>|</span>Q：白内障药物治疗有效么？</p>
            <p>A: 目前，治疗白内障的药物并不能去除白内障，最多只能延缓发展。本身白内障发展也很缓慢，是否用药对病人并没有太大的差别。一般不建议病人使用治疗白内障的眼药。眼药点多了不仅不舒服，关键是浪费金钱和错过治疗时机。白内障首选的治疗是手术。</p>
            <p class="question"><span>|</span>Q：白内障什么程度做手术？是否需要等待到成熟？</p>
            <p>A: 如今是显微手术时代，只要病人觉得白内障造成的视力下降已经影响了正常的生活就可以做手术，不需要等待到成熟就可以做了。所谓成熟，是晶状体完全混浊，此时基本上已经没什么视力了。在过去的20余年，白内障的手术需要连囊带晶体一起摘除，所以需要等待成熟，这样它们连成了一体。现在常规的方法是超声乳化联合人工晶体植入。从透明的晶体到近成熟的晶体都可以完成，所以晶状体的条件不再是决定手术的因素，而是病人自身的感觉。如果感觉视力已经下降到影响生活就可以手术。如果觉得视力还可以，或者通过配戴眼镜也可以达到比较好的视力，那就可以继续等待。</p>
            <p class="question"><span>|</span>Q：得了白内障，不做手术会有危险么？</p>
            <p>A: 一般白内障进展的速度很缓慢，短期不治疗不会有什么大的变化。成熟以后的白内障可能会引起眼睛内部的发炎，或者可能引起急性闭角型青光眼的发作，这是一种眼睛突然胀痛的眼病，需要立即治疗。一般医疗条件稍好的地区，对自己比较关心的病人，是不会让自己发展到这种程度的。</p>
            <p class="question"><span>|</span>Q：做手术哪个季节最好？</p>
            <p>A: 白内障手术并没什么季节的要求，但是很多病人愿意春秋手术，于是造成了两个人为的旺季——3-6月和9-11月，具体还是根据自身情况，该做手术时及时到专科医院接受治疗，切勿拖延。</p>
            <p class="question"><span>|</span>Q：做完白内障以后还会再得么？</p>
            <p>A: 白内障手术会完全去除晶状体，那么白内障就没有地方再得了。但是，有一部分病人，特别是年轻的病人（<60岁），有可能发生“后发障”，这是因为白内障手术把晶状体从晶状体囊里面取出来以后，把人工晶体放置在这个囊袋内，有些病人的囊袋会逐渐纤维化而混浊，如果手术以后几个月到1年出现视力再次下降，记得去医院再检查下，如果是后发障，处理起来非常简单，用激光把囊袋切开就可以了。不过现在的人工晶体设计中，本身就有防止后发障的设计，现在后发障并不很常见。</p>
            <p class="question"><span>|</span>Q：手术以后需要注意什么？</p>
            <p>A: 正常生活，但注意不要劳累。如果手术后短期有眼球的胀痛，偶尔伴有头痛、恶心的感觉，记得去医院看看，急诊。可能是眼压过高，需要及时处理。注意不要受外伤。如果出现视力突然的变化，记得及时就诊复查。还有，对于老年人，感冒是万恶之源，尽量避免。</p>
            <p class="surgeryTitle">1. 什么是白内障？</p>
            <p>白内障目前是我国第一致盲眼病，发病率居首位，是指随着年龄的增长，眼球内自然晶状体发生浑浊，由透明变成不透明，阻碍光线和图像到达视网膜，导致我们的视力下降。早期浑浊轻微或范围较小时不影响视力，而后逐渐加重至明显影响视力，甚至失明及其他严重并发症。</p>
            <p class="surgeryTitle">2. 导致白内障的原因</p>
            <p>主要有年纪增大，人体器官老化；长时间暴露在强光下，受紫外线照射，囊膜或皮质层变性以及某些疾病和遗传等。其中，人体器官老化是最主要原因，因此白内障患者多为老年人。</p>
            <p>老年白内障是白内障中最常见的一种，是老年人失明的主要原因，据不完全统计，50-60岁者老年性白内障的发病率为60%-70%；70岁以上者80%。白内障早期症状有视物模糊、色调改变、怕光、眼前黑点、复视、晶状体性近视等，晚期症状则为视力下降，最后只能在眼前辨别手指或仅剩下一点光感，甚至全盲。</p>
            <p class="surgeryTitle">3. 白内障的并发症</p>
            <p>如果白内障不及时治疗，会产生很多严重的并发症，如青光眼、色素膜炎等，这些眼病多发生在白内障的中期和晚期，如膨胀期和过熟期，不仅能引起失明，如果出现视物模糊等症状请及时到专业眼科医院治疗!</p>
            <p class="surgeryTitle">4.如何治疗白内障</p>
            <p>白内障唯一有效的治疗方法是手术，药物治疗尚无明显疗效。目前成熟的手术方式是：超声乳化+人工晶体植入。</p>
            <p>该手术已经非常成熟，是目前眼科里一个常规的小手术，所以你不必担心手术风险。现通过飞秒激光治疗白内障，已取得非常好的效果。</p>
            <p>专家提醒：白内障治疗不应该采用传统的观点到成熟再手术，而应该早发现，影响视力即可手术，这样更利于手术的操作，超声乳化时间短，能量使用小，从而减少损伤，风险更小，术后效果更好。</p>
        </div>
    </div>
    <!--科普解惑-->

</div>

</div>


<script>
    $(".cataractList li").click(function(){
        var i = $(this).index();
        $(".cataractList li").removeClass("active").eq(i).addClass("active");
        $(".careUnit").hide().eq(i).show();
    })
</script>




