<div class="middle flow">
    <%= render "centers/bnzLeft" %>
    <!--晶状体宣传-->
    <div class="careUnit fr">
        <h5>白内障屈光治疗部</h5>
        <p class="careUnitTitle"><span>晶状体宣传</span></p>
        <div class="careUnitContent equipment surgeryContent">
            <div class="surgeryDetail">
                <h5>三焦点人工晶状体：蔡司839MP</h5>
            </div>
            <p>蔡司三焦点人工晶体是一款可以同时矫正白内障和老花的晶体，手术矫正的过程是先吸除浑浊的晶状体，再植入蔡司三焦点人工晶体，蔡司三焦点人工晶体有哪些好处？</p>
            <p class="surgeryImg"><%= image_tag("jzt.png") %></p>
            <div class="listContainer">
                <h6>好处一：可折叠材质</h6>
                <p>蔡司三焦点人工晶体有哪些好处？大的一个好处就是材质可以折叠，由于材质是可以折叠的，开口比较小，大概2mm左右，对眼睛的损伤比较小，而且植入后容易舒展开来。</p>
            </div>
            <div class="listContainer">
                <h6>好处二：三个焦点</h6>
                <p>蔡司三焦点人工晶体有哪些好处？蔡司三焦点人工晶体明显的好处是有三个焦点，看远、看中、看近清晰顺畅，术后不需要戴眼镜。</p>
            </div>
            <div class="listContainer">
                <h6>好处三：非瞳孔依赖光学设计</h6>
                <p>蔡司三焦点人工晶体采用非瞳孔依赖设计，拥有全天候优视力，夜间视力良好，夜间活动毫无限制。</p>
            </div>
            <div class="listContainer">
                <h6>好处四：平滑微相位技术</h6>
                <p>蔡司三焦点人工晶体采用专利的平滑微相位技术，大大的减少了术后眩光。</p>
            </div>
            <div class="listContainer">
                <h6>好处五：成像更佳</h6>
                <p>蔡司三焦点人工晶体成像更佳，术后视觉质量更佳。</p>
            </div>
            <div class="listContainer">
                <h6>好处六：一体化解决白内障和老花</h6>
                <p>蔡司三焦点人工晶体可以一体化解决白内障和老花，重返年轻时的优视力。</p>
                <p>蔡司三焦点人工晶体有哪些好处？以上六点都是蔡司三焦点人工晶体能提供给患者的好处。有老花又有白内障的老年朋友们，蔡司三焦点人工晶体是理想之选。</p>
            </div>
        </div>
    </div>
    <!--晶状体宣传-->
</div>