<div class="middle flow bnzContainer marT10 marB10 whiteBg">

    <!--科普解惑-->

        <p class="careUnitTitle"><span>白内障科普解惑</span></p>
        <div class="careUnitContent equipment surgeryContent questions">
            <p class="question fiQuestion"><span>|</span>Q：为什么会得白内障？</p>
            <p>A: 年龄。年龄是最重要的因素。人的晶状体在一生中始终保持生长。但是晶状体是长在晶状体囊里面，被悬韧带悬挂在眼睛里面的，所以，表面新生长的晶状体细胞没有别的地方去，只有向内部积压，于是里面的密度越来越高，越来越不透光。可以说年纪大了，或多或少都有白内障，只是程度的差别而已。</p>
            <p class="question"><span>|</span>Q：白内障药物治疗有效么？</p>
            <p>A: 目前，治疗白内障的药物并不能去除白内障，最多只能延缓发展。本身白内障发展也很缓慢，是否用药对病人并没有太大的差别。一般不建议病人使用治疗白内障的眼药。眼药点多了不仅不舒服，关键是浪费金钱和错过治疗时机。白内障首选的治疗是手术。</p>
            <p class="question"><span>|</span>Q：白内障什么程度做手术？是否需要等待到成熟？</p>
            <p>A: 如今是显微手术时代，只要病人觉得白内障造成的视力下降已经影响了正常的生活就可以做手术，不需要等待到成熟就可以做了。所谓成熟，是晶状体完全混浊，此时基本上已经没什么视力了。在过去的20余年，白内障的手术需要连囊带晶体一起摘除，所以需要等待成熟，这样它们连成了一体。现在常规的方法是超声乳化联合人工晶体植入。从透明的晶体到近成熟的晶体都可以完成，所以晶状体的条件不再是决定手术的因素，而是病人自身的感觉。如果感觉视力已经下降到影响生活就可以手术。如果觉得视力还可以，或者通过配戴眼镜也可以达到比较好的视力，那就可以继续等待。</p>
            <p class="question"><span>|</span>Q：得了白内障，不做手术会有危险么？</p>
            <p>A: 一般白内障进展的速度很缓慢，短期不治疗不会有什么大的变化。成熟以后的白内障可能会引起眼睛内部的发炎，或者可能引起急性闭角型青光眼的发作，这是一种眼睛突然胀痛的眼病，需要立即治疗。一般医疗条件稍好的地区，对自己比较关心的病人，是不会让自己发展到这种程度的。</p>
            <p class="question"><span>|</span>Q：做手术哪个季节最好？</p>
            <p>A: 白内障手术并没什么季节的要求，但是很多病人愿意春秋手术，于是造成了两个人为的旺季——3-6月和9-11月，具体还是根据自身情况，该做手术时及时到专科医院接受治疗，切勿拖延。</p>
            <p class="question"><span>|</span>Q：做完白内障以后还会再得么？</p>
            <p>A: 白内障手术会完全去除晶状体，那么白内障就没有地方再得了。但是，有一部分病人，特别是年轻的病人（<60岁），有可能发生“后发障”，这是因为白内障手术把晶状体从晶状体囊里面取出来以后，把人工晶体放置在这个囊袋内，有些病人的囊袋会逐渐纤维化而混浊，如果手术以后几个月到1年出现视力再次下降，记得去医院再检查下，如果是后发障，处理起来非常简单，用激光把囊袋切开就可以了。不过现在的人工晶体设计中，本身就有防止后发障的设计，现在后发障并不很常见。</p>
            <p class="question"><span>|</span>Q：手术以后需要注意什么？</p>
            <p>A: 正常生活，但注意不要劳累。如果手术后短期有眼球的胀痛，偶尔伴有头痛、恶心的感觉，记得去医院看看，急诊。可能是眼压过高，需要及时处理。注意不要受外伤。如果出现视力突然的变化，记得及时就诊复查。还有，对于老年人，感冒是万恶之源，尽量避免。</p>
            <p class="surgeryTitle">1. 什么是白内障？</p>
            <p>白内障目前是我国第一致盲眼病，发病率居首位，是指随着年龄的增长，眼球内自然晶状体发生浑浊，由透明变成不透明，阻碍光线和图像到达视网膜，导致我们的视力下降。早期浑浊轻微或范围较小时不影响视力，而后逐渐加重至明显影响视力，甚至失明及其他严重并发症。</p>
            <p class="surgeryTitle">2. 导致白内障的原因</p>
            <p>主要有年纪增大，人体器官老化；长时间暴露在强光下，受紫外线照射，囊膜或皮质层变性以及某些疾病和遗传等。其中，人体器官老化是最主要原因，因此白内障患者多为老年人。</p>
            <p>老年白内障是白内障中最常见的一种，是老年人失明的主要原因，据不完全统计，50-60岁者老年性白内障的发病率为60%-70%；70岁以上者80%。白内障早期症状有视物模糊、色调改变、怕光、眼前黑点、复视、晶状体性近视等，晚期症状则为视力下降，最后只能在眼前辨别手指或仅剩下一点光感，甚至全盲。</p>
            <p class="surgeryTitle">3. 白内障的并发症</p>
            <p>如果白内障不及时治疗，会产生很多严重的并发症，如青光眼、色素膜炎等，这些眼病多发生在白内障的中期和晚期，如膨胀期和过熟期，不仅能引起失明，如果出现视物模糊等症状请及时到专业眼科医院治疗!</p>
            <p class="surgeryTitle">4.如何治疗白内障</p>
            <p>白内障唯一有效的治疗方法是手术，药物治疗尚无明显疗效。目前成熟的手术方式是：超声乳化+人工晶体植入。</p>
            <p>该手术已经非常成熟，是目前眼科里一个常规的小手术，所以你不必担心手术风险。现通过飞秒激光治疗白内障，已取得非常好的效果。</p>
            <p>专家提醒：白内障治疗不应该采用传统的观点到成熟再手术，而应该早发现，影响视力即可手术，这样更利于手术的操作，超声乳化时间短，能量使用小，从而减少损伤，风险更小，术后效果更好。</p>
        </div>
    <!--科普解惑-->
</div>