<div class="middle flow bnzContainer">
    <%= render "centers/bnzLeft" %>

    <div class="careUnit fr show">
        <h5>白内障屈光治疗部</h5>
        <p class="careUnitTitle"><span>白内障屈光治疗部介绍</span></p>
        <div class="careUnitContent">
            <p>成都中医大银海眼科医院白内障屈光治疗部，隶属于成都中医大银海眼科医院，拥有多名技术精湛、具有高级技术职称的专家。该部门主要承担两部分疾病的治疗：白内障手术治疗，屈光手术治疗。</p>
            <p>白内障治疗科除拥有目前全世界先进的诊疗检查设备，手术治疗设备外，还拥有目前我国白内障手术量多，经验丰富的手术专家。先进的仪器联合经验丰富的专家，使我院的白内障手术科的医疗水平达到了国内领先的高度。白内障治疗科主要诊断和治疗的疾病包括：老年性白内障、并发性白内障（合并青光眼的白内障、青光眼术后并发白内障、眼底手术并发白内障、色素膜炎并发白内障、合并全身疾病的白内障等）、外伤性白内障、先天性白内障、辐射性白内障、屈光性晶状体置换、无晶体眼患者的Ⅱ期人工晶状体植入，以及眼外伤后瞳孔成型术，虹膜根部离断修复术，晶状体半脱位固定置换手术等各种常见的、复杂的，疑难的与晶状体，虹膜相关的手术治疗。</p>
            <p>内眼屈光手术治疗是随着科学技术发展出现的一类专门用于矫治屈光不正眼的手术方式。主要是通过进行有晶状体眼的人工晶状体植入。该类手术方式具有手术操作简单，时间短，矫正度数精确等优点。该类手术治疗适应症广，不仅适用于常规屈光不正眼的矫正，此外，因为该类手术不需要切削角膜或破坏眼部的其他正常组织结构，因此，对于角膜厚度薄，角膜平坦，视网膜条件差，屈光度数>12.00D等各种不能接受角膜飞秒激光屈光治疗的患者，都可以选择该类手术进行屈光不正的矫治。</p>
            <p>白内障屈光部技术力量雄厚，由全国白内障手术量第一（已完成各类型白内障手术30万余例）、中国著名的白内障手术专家、博士生导师朱思泉教授领衔以及一批临床经验丰富的白内障专家组成。独创白内障手术方式有：辅助钩、改良双板层角膜切口、拉网式皮质抽吸术、定向对冲挤压快速碎核法、高真空低能量囊上快速劈核法及婴幼儿微创白内障手术等一系列超声乳化技术。</p>
            <p>成都中医大银海眼科医院白内障屈光部手术室具备世界先进的手术设备，美国的飞秒激光白内障Lens AR，ALCON公司生产的超乳玻切一体机Constellation和超乳机Centurion，蔡司公司生产的手术显微镜Lumera700等，能为患者提供更加安全有效的白内障手术模式；具备多焦点、可调节、超微切口、非球面、高度近视专用等功能齐全、品牌完善的各种类型的人工晶状体，为每个手术病人提供了多种选择的机会。</p>

            <p>成都中医大银海眼科医院白内障屈光部门诊具备国际领先的眼部检查及治疗仪——裂隙灯：Keeler 3020-P-2007-D，非接触电脑眼压计: NIDEK NT-510，间接检眼镜：激光治疗仪器：蔡司VisuLAS YAGⅢ，视野分析仪：蔡司750i等。可进行后发障激光治疗及对比敏感度、像差等项目的检查，角膜内皮镜、激光视力、眼底照相、OCT、VEP、FFA、ERG等各项检查均在眼科中心临床检验科室完成</p>
            <p>白内障屈光治疗部拥有专业的医疗团队和先进的技术、设备，可满足更多白内障患者对于术后高视觉质量的要求。中心医务人员不断开拓进取，勇于创新，在临床、科研、防盲等方面成绩突出，同时秉承“银海启明，大医精诚”的宗旨，为众多白内障患者带来光明。</p>
        </div>
    </div>
</div>