<div class="middle flow bnzContainer">
    <%= render "centers/bnzLeft" %>
    <!--手术方式-->
    <div class="careUnit fr">
        <h5>白内障屈光治疗部</h5>
        <p class="careUnitTitle"><span>手术方式</span></p>
        <div class="careUnitContent">
            <p class="surgeryTitle">1.飞秒激光辅助白内障手术</p>
            <div class="surgeryDetail">
                <h5>白内障飞秒激光手术</h5>
                <h5>开启白内障手术无刀时代</h5>
            </div>
            <div class="surgeryContent">
                <p>为了让患者获得更加完美的视觉效果，银海眼科医院引进全球白内障治疗领域的顶尖技术——飞秒激光手术系统。</p>
                <h6 class="advantage"> 相比传统手术具备四大优势：</h6>
                <h6>安全微创</h6>
                <p>在制作切口上无需用刀，采用激光技术进行切口、撕囊、劈核，彻底摆脱了人和器械可能对眼睛的损伤，而且整个过程完全由电脑数字化控制飞秒激光来完成，准确无误，最大程度降低了医生操作的标准差。</p>
                <h6>“无”损伤</h6>
                <p>飞秒激光通过激光瞬间劈开混浊的晶状体(即白内障)，整个过程由前节OCT影像实时监控，在对眼睛几乎没有损伤的情况下，可按照术前设计准确无误完成劈开混浊晶状体的过程，降低了超声碎核能量创伤，术后恢复得更快。</p>
                <h6>手术适应范围广</h6>
                <p>飞秒激光的应用，把手术的安全性和成功率提到了一个新高度，使得手术适应症范围不断扩大。只要病人感觉到视物不清晰、影响生活质量，就可选择手术。这就避免了病人从视物模糊到失明这一漫长痛苦的过程，也避免了白内障过熟后引起青光眼、葡萄膜炎等并发症的可能性，同时让部分患者免去了终生不能治疗的痛苦。</p>
                <h6>视觉质量的完善</h6>
                <p>以往白内障患者对术后视觉的要求仅仅局限于视力的提高。而现在，随着人们生活水平的提高，对术后视觉的要求也逐步提升。近来，几种新型人工晶体的问世给白内障患者带来了福音，但这些高端多功能人工晶体要求整个手术的每一步操作都准确无误。人为操作带来的误差在一定程度上限制了这些高端多功能晶体效果的发挥，而飞秒激光白内障治疗系统是电脑数字化控制，可以达到零误差，为需要获得更加完美视觉质量的患者提供了保障。</p>
            </div>
            <p class="surgeryTitle">2.ICL</p>

            <div class="surgeryContent">
                <div class="surgeryDetail">
                    <h5>把近视眼镜装到眼睛里</h5>
                    <h5>——来自瑞士ICL晶体植入</h5>
                </div>
                <div class="listContainer">
                    <p>目前屈光手术有两种：一种是针对角膜屈光手术，另一种是晶体屈光手术。部分患者因角膜问题，干眼，散光、近视度数高等问题，无法通过角膜手术达到摘镜的目的， ICL成为这部分人群矫正近视的优先选择。ICL的英文全称是Implantable Contact Lens（可植入式隐形眼镜），它的出现给屈光手术医生和患者带来了矫正高度近视的另一个安全有效的可行性方案。手术的原理非常容易理解，就是相当于在眼睛里面放入了一个隐形眼镜。</p>
                    <p class="surgeryImg"><%= image_tag("surgery.jpg") %></p>
                    <h6 class="advantage"> ICL手术有以下优点：</h6>
                    <p>1、矫正屈光度范围更广：近视50度～1800度，散光50度～600度。</p>
                    <p>2、安全可逆：不切削角膜组织，必要时可取出或更换。</p>
                    <p>3、防护紫外线：更好保护眼睛。</p>
                </div>
                <div class="listContainer">
                    <h6>考虑ICL手术，需要哪些条件？</h6>
                    <P>1.年龄在18周岁以上，50周岁以下。STAAR公司推荐的好的矫正年龄是21-45岁，但实际临床工作中，也是根据患者情况来决定。</P>
                    <P>2.近视一般建议-2.0D至-20D、散光≤5D；远视+2D ~ +10D。无内眼手术史及眼内色素膜、视网膜及青光眼等病变，矫正视力良好。</P>
                    <P>3.常规检查角膜无已成、房角结构无异常、眼压正常。</P>
                    <P>4.前房深度≥2.8mm。</P>
                    <P>5.角膜内皮细胞计数>2500/m㎡。</P>
                    <P>6.各类激光手术参与的高度屈光不正的补矫。</P>
                    <P>7.无精神疾病者，具备合理的摘镜愿望和合适的术后期待心态。</P>
                </div>
                <div class="listContainer">
                    <h6>哪些情况不建议做ICL植入手术呢？</h6>
                    <p>1、患者近视度数不稳定。</p>
                    <p>2、年龄小于18岁或大于50岁</p>
                    <p>3、前房深度ACD<2.8mm者(角膜内皮到晶状体前表面距离)</p>
                    <p>4、角膜内皮细胞计数低，角膜变性或角膜内皮细胞计数<2500/m</p>
                    <p>5、患者有胰岛素依赖性糖尿病。</p>
                    <p>6、任一眼为青光眼或白内障或诊断为高眼压。</p>
                    <p>7、患者有全身胶原敏感症或自身免疫性疾病。</p>
                    <p>8、眼及眼附属器活动性炎症、肿瘤。</p>
                    <p>9、未经心理或者精神科医生允许手术的心理异常者。</p>
                    <p>10、女性孕期、哺乳期。</p>
                </div>

                <p class="headings">ICL手术前需要做哪些准备？</p>
                <p>首先是需要做全面的术前检查。建议先停戴隐形眼镜1周后再来医院检查。检查项目比较多，包括验光、角膜地形图、角膜内皮计数、眼底检查、前房深度测量等。检查时间一般至少要2小时左右。由于要做散瞳检查，就诊的当天，不能开车。</p>
                <p>经过全面检查，确定眼睛适合做ICL手术之后，还要至少来医院一次，进行术前准备。需要再次验光，确定眼睛的屈光度，预定晶体。另外，术前还有一项特殊的治疗，就是YAG激光虹膜打孔。就是在眼睛的虹膜上，通过激光切开一个小孔。这是为了预防眼压升高的。做虹膜打孔之后，眼睛看东西会模糊，尤其是刚刚打完激光的一个小时之内。当天也不能开车，不能戴隐形眼镜。</p>
                <p>订购晶体之后的等待时间一般需要1周到6周的时间。如果是不带散光的镜片，一般在1周内就可以到货（国内有备货）。如果是带散光的镜片，等待时间可能需要3-6周，需要从瑞士定做。</p>
                <p class="headings">手术后的注意事项</p>
                <p>ICL植入手术本身的手术时间非常短，一般10分钟之内就做好手术了。术后几个小时，眼睛就可以看东西了。
                    但是，手术恢复快，并不代表术后就可以掉以轻心。术后的复查是非常重要的。一般术后第1天、1周、1个月、3个月、半年、1年都要复查。以后的话，也建议每年复查。高度近视本身有可能出现一些眼底病变等问题，复查不仅仅是针对ICL手术本身，也是考虑到眼部的综合情况。</p>
                <p class="surgeryTitle"></p>
            </div>
            <p class="surgeryTitle">3. 白内障超生乳化手术</p>
            <div class="surgeryDetail">
                <h5>世界公认的白内障超声乳化手术</h5>
            </div>
            <p>经临床医学证明，白内障超声乳化手术是治疗白内障唯一有效的途径。白内障超声乳化技术是显微手术的重大成果，自1967年美国的KELMAN医生发明了第一台超声乳化仪并用于临床，之后经过众多眼科专家30多年不断改进、完善，白内障超声乳化技术已成为世界公认的、先进而成熟的手术方式。超声乳化目前在发达国家已普及，我国自1992年开始引进并推广。进行手术时，在术眼角膜或巩膜的小切口处伸入超乳探头将浑浊的晶状体和皮质击碎为乳糜状后，借助抽吸灌注系统将乳糜状物吸出，同时保持前房充盈，然后植入人工晶体，使患者重见光明。超声乳化技术真正实现了切口小，无痛苦，手术时间短，不需住院，快速复明的手术理想。与传统手术相比，白内障超声乳化人工晶体植入术有以下优点：</p>
            <div class="surgeryContent lastSurgery">
                <p>为了让患者获得更加完美的视觉效果，银海眼科医院引进全球白内障治疗领域的顶尖技术——飞秒激光手术系统。</p>
                <h6 class="advantage"> 一、不用缝合的微创技术</h6>
                <p>随着计算机技术在医学上的应用，治疗白内障的手术设备的“精品”也相继问世，解决了设备本身对手术所产生的某些不良影响，使超声乳化探头通过1.5mm—3mm的微小切口即能完成对白内障的乳化吸出。这样微小的切口对我们的眼睛来说，具有不缝合、不增加散光、安全性好、恢复快等优点，可以说，术后第二天看不出切口的存在，病人术后可以随意活动。</p>
                <h6>二、定向无损伤技术</h6>
                <p>所谓“无”损伤是在手术中超声乳化针头仅对混浊的晶状体发生作用，而对眼内邻近的组织如角膜、虹膜、视网膜等几乎不产生不良的影响;手术者精巧的操作，辅以先进的器械设备，5—10分钟即可完成手术，使白内障手术的安全性大为提高，术后角膜清亮如初，瞳孔反应灵敏，1—2天后即可恢复原有视力。</p>
                <h6>三、放宽手术适应症</h6>
                <p>过去大多数人认为只有白内障到了失明的程度，俗称“长熟了”才能手术，而现在，如果视力在0.3左右即可手术。这就避免了病人从视物模糊到失明这一漫长痛苦的过程，也避免了白内障引起青光眼的可能性;再者，如果白内障等到失明后手术，由于晶状体的核硬度加大，使手术难度增加，甚至不能再做先进的超声乳化手术，对病人是一大遗憾。</p>
                <h6>四、“快节奏”的安全术式</h6>
                <p>由于超声乳化术的问世，使手术切口由10mm缩小到3mm以下，而且不用缝合，解决了手术切口所带来的散光的困扰，使术后视力更好;同时还具有不打麻药、不用住院、不限制活动、术后不用服药等优点。从某种角度说，现在的白内障复明术式已是“快餐式”的手术术式了。</p>
            </div>
        </div>
    </div>
    <!--手术方式-->
</div>