<div class="middle">
    <div class="careUnit show allWidth glaucoma">
        <h5>眼底病</h5>
        <div class="popScience">
            <div>
                <h6>简介</h6>
                <p>眼底病是发生在眼底的一系列眼疾的总称，包括视网膜血管性疾病、黄斑疾病、视神经疾病等，是一种病种繁多，病因复杂，病情多变的科目。眼底病对患者的危害主要是影响视觉能力，严重的可至盲，威胁着人类的健康和生活质量，是世界卫生组织防盲行动中的重点。</p>
                <p>我院眼底病科拥有国际上先进的手术显微镜、玻璃体切割机、眼科激光等大型设备，拥有国内著名的眼底病中西医专家，能通过中医药方式，提前对眼底病进行干预，预防并发症、阻止疾病进展，恢复视功能，同时针对糖尿病视网膜病变后期玻璃体积血、视网膜脱离等，可开展玻璃体切割术等复杂眼科手术。为眼底病变的诊断及治疗提供可靠的保障。。</p>
            </div>

            <div>
                <h6>主要诊疗范围</h6>
                <p>视网膜脉络膜疾病：视网膜血管性疾病（视网膜静脉阻塞、视网膜动脉阻塞、Eales病、Coats病、视网膜血管炎等）、视网膜隆起性疾病（视网膜脱离、视网膜劈裂症、视网膜母细胞瘤等）、视网膜色素变性、视网膜脉络膜炎症、周边视网膜病变、全身病性视网膜病变等</p>
                <p>黄斑疾病：老年黄斑变性、近视性黄斑病变、黄斑营养不良、视网膜表面膜、黄斑水肿、黄斑裂孔、中心性浆液性视网膜病变、视网膜色素上皮脱离、黄斑炎症、黄斑外伤等</p>
                <p>视神经疾病：视盘水肿、缺血性视神经病变、眼缺血综合征、视神经炎、视神经萎缩、外伤性视神经病变、中毒性视神经病变等</p>
            </div>

            <div class="yd-proIntroduce">
                <h6>科室专家简介</h6>
                <div>
                    <%= image_tag("deanSay.png",class:"fl marR-30 marb-15") %>
                    <p class="proName-glau"><b><span>段俊国 </span>教授，博士生，导师成都中医药大学眼科学院院长</b></p>
                    <p>段俊国，教授，博士导师，成都中医药大学眼科学院院长兼书记，为国家“百千万人才工程”国家(第一、二层次)人选，享受国务院政府津贴专家，“中国百名杰出青年中医”，“四川省学术和技术带头人”，“四川省名中医”，现任国务院学位委员会中医中药学科评议组成员，全国临床医学中医学、中药学专业学位研究生教育指导委员会委员，全国科学技术名词审定委员会中医药学名词审定委员会（国务院批准）委员，国家中药品种保护委员会委员，中华中医药学会眼科分会副主任委员，世界中医药联合会眼科专业委员会副会长，中国中西医结合学会眼科专业委员会副主任委员，国家中医临床研究基地糖尿病临床研究联盟副主席、中国中医药研究促进会糖尿病专业委员会副主任，中华中医药学会眼科专业委员会委员，中华预防医学会，四川省糖尿病协会会长。拥有包括四川省科技进步特等奖在内的科技奖励共8项，并荣获“国家杰出专业技术人才”（2014年，中组部、中宣部、人社部、科技部表彰，全国共99人），“全国优秀科技工作者”（2014年，中国科协表彰，全国共2000人），“国家卫生计生突出贡献中青年专家”（ 2015年，国家卫生计生委员会表彰，全国共108人）。</p>
                    <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护、青少年近视防治。已培养硕博士研究生62人。先后主持国家重大科技专项、国家重大仪器专项、国家国际科技合作专项、国家“863”计划、国家科技攻关计划、国家科技支撑计划、国家公益行业科技专项、国家自然科学基金等国家级课题27项，部省级11项，共计40余项。学科建设期间获得获国家新药证书1项、国家发明专利3项及软件著作权3项；主编 “十一五”规划教材《中医眼科临床研究》（人民卫生出版社,2009年），十二五规划教材《中医眼科学》（人民卫生出版社,2012年）和全国中医药行业高等教育十二五规划教材《中西医结合眼科学》（中国中医药出版社, 2013年）；建设期间公开发表学术论文44篇，其中SCI 5篇，核心期刊23篇；在糖尿病微血管病变、眼底病防治和中医药临床评价等领域处于领先地位，自主研制的芪灯明目胶囊已获临床研究批件，芪明颗粒已生产上市并获批中药保护品种。</p>
                </div>
                <div>
                    <%= image_tag("ydbz-1.png",class:"fl marR-30 marb-15") %>
                    <p class="proName-glau"><b><span>刘文 </span>主任医师，教授，硕士研究生导师</b></p>
                    <p>刘文，教授，硕士研究生导师，获得国家和省级科研成果奖三项，从事眼科临床医疗工作35年。主要从事玻璃体视网膜疾病发病机制和诊断治疗的研究。特别擅长各种眼底疾病、复杂性视网膜脱离和外伤性视网膜脱离、以及糖尿病性眼底疾病的手术和激光治疗。</p>
                    <p>在国内外最早用超声生物显微镜对前段增生性玻璃体视网膜病变进行系统分类，使这一复杂性玻璃体视网膜疾病的诊治有了客观的诊断标准。在国内外首创视网膜脱离外路显微手术技术和理论，将该手术方式提高到了显微手术时代，显著地提高了视网膜脱离外路手术的成功率。该手术技术和理论在国内外处于领先地位。</p>
                    <p>在多年研究前段增生性玻璃体视网膜病变的基础上，总结出了一整套全玻璃体切除的技术和理论，并应用到微创玻璃体手术中，对减少我国玻璃体手术并发症和提高手术成功率做出了卓有成效的贡献。</p>
                    <p>在科研方面申请到省重点攻关课题2项，省卫生厅科研课题2项，协助申请各级课题8项。在国内外发表眼科学研究论文50余篇。出版115万字的个人专著《视网膜脱离显微手术学》和主编364万字《临床眼底病-内外科卷》，还参与主编眼科专著《活体超声显微镜眼科学》和《临床眼科护理学》二部，参与编写眼科专著十三部。获得国家和省级科研成果奖三项。连续二年被评为2015年度和2016年度广东省“岭南名医”。</p>
                </div>

            </div>
        </div>
    </div>
</div>


