<div class="middle">
    <div class="gameScope">
        <a href="http://171.221.236.106:5000/sw-amb/main.do" target="_blank">
            <%= image_tag("gameHref.jpg") %>
        </a>
    </div>

    <div class="careUnit show allWidth glaucoma">
        <h5>眼视光中心</h5>
        <p class="careUnitTitle fiList"><span>眼视光中心简介</span></p>
        <p>成都中医大银海眼科医院眼视光中心是一个集临床诊疗、专业培训、科普宣教、产品研发、连锁运营为一体的医疗科室。中心以成都中医药大学附属医院眼视光专家团队为班底，充分整合国内中西医眼视光技术与资源，引进国际高端设备，开展近视激光手术、医学验光配镜、儿童斜弱视诊疗、中西医近视防控、RGP&角膜塑形镜验配、视觉训练、低视力康复等业务。中心秉承“银海圆梦、启明领航”的理念，运用最前沿的眼视光学技术及传统中医康复治疗手段，为全年龄段的屈光障碍患者提供有效、便捷、优质的诊疗服务体验。</p>
        <p class="careUnitTitle"><span>眼视光中心业务介绍</span></p>

        <div class="instrument">
            <p><b>青少年近视中医药综合防治</b></p>
            <p>中心在科学用眼、医学验光配镜的基础上充分发挥中医药优势，采用中药膏方、口服制剂、耳穴压丸、针刺等中医优势手段，制定中医药综合防治方案，有效控制近视发生，延缓近视度数增加，减少近视带来的严重并发症，疗效显著。</p>
            <p><b>医学验光配镜</b></p>
            <p>配镜中心以视光门诊为核心，配备国家中、高级职称的视光师20余人，拥有完善的屈光档案体系，可提供区域性网点查询及转诊服务。中心配备国际先进设备，为患者提供方便、快捷、精准的体验式医学验光配镜服务，包括青少年近视防控镜、儿童弱视压抑镜、中老年渐进多焦点镜、抗疲劳镜、防蓝光镜、变色染色镜、高度数镜片压贴膜及棱镜压贴膜等功能性眼镜验配。</p>
            <p><b>近视手术</b></p>
            <p>手术由北京同仁医院眼科屈光手术专家周跃华及其团队全程参与，专家团队已完成各类近视激光手术数十万例，有丰富的临床经验。中心引入行业最先进全飞秒激光手术设备，并配备蔡司顶级显微操作系统，开展全飞秒SMILE、全激光Trans-PRK 、Fs-LASIK、SBK等多种术式，医院对术前检查、手术流程、术后复查、专业设备均有严格的质量管理体系;对各种近视类型均能定制安全、精准、有效的手术方案，全方位保障手术安全性，让每一位患者都拥有长效、舒适、优质的视觉享受。</p>
            <p><b>斜弱视矫治</b></p>
            <p>斜视矫治业务是中心特色业务之一。由原成都中医附院斜弱视及小儿眼科专家团队亲自坐诊。专科以自主研发的弱视训练软件为核心，并引进国际先进检查及训练设备，建立医院训练与家庭训练相结合的弱视康复系统，为弱视患者提供安全有效的诊疗服务。</p>
            <p><b>硬性角膜接触镜验配</b></p>
            <p>中心配备意大利SIRIUS三维眼前节分析系统、日本NIDEK综合验光系统、意大利CSO角膜内皮细胞计等设备，并拥有二十余名资深的角膜接触镜验配师，为患者提供安全、精准、舒适的角膜塑形镜（Ortho-k镜）及高透氧性硬性角膜接触镜（RGP）验配，Ortho-k镜能有效控制青少年近视的发展，RGP能满足不同年龄段各类屈光不正的需求，安全性高，并能为不规则散光及圆锥角膜等疑难屈光患者提供良好的视觉质量。</p>
            <p><b>视觉训练</b></p>
            <p>针对各年龄段视觉障碍人群，进行全面视觉检查、功能评估、方案设计及训练实施。中心融入中医理疗理念，自主研发中西医结合的训练方式，并引进先进检查及训练设备，建立医院与家庭相结合的训练体系。训练项目包括手眼脑协调训练、视觉扫视训练、阅读障碍预防训练、近视防控训练、改善视疲劳训练、早老花的预防训练等，为视疲劳人群提供舒适、有效、便捷的视觉康复训练。</p>
            <div class="marT-30">
                <p><b>成都中医大银海眼科医院</b></p>
                <p><b>● 吸收百年中医眼科临床经验</b></p>
                <p><b>● 西南地区唯一一家中西医结合眼科专科医院</b></p>
                <p><b>● 源自成都中医药大学眼科学院</b></p>
            </div>
        </div>


    </div>
</div>

