<% if false %>
<div class="middle margin20">
    <div class="careUnit show allWidth glaucoma Eye-disease">
        <h5>角膜移植与眼表病</h5>
        <p class="careUnitTitle fiList"><span>眼表疾病介绍</span></p>
        <p>眼表的解剖学含义：泛指参与维持眼球表面健康的防护体系中的所有外眼附属器。具有临床意义的眼表：包括结膜、角膜、眼睑、泪器及泪道。银海眼科医院角膜与眼表科是一个集医疗、教学、科研为一体的医疗科室。科室云集了一批经验丰富的角膜病、泪道疾病等眼表专家，充分利用中西医临床技术与资源，避免单纯西医治疗的局限性。同时引进国际高端设备，开展各类角膜手术，泪道手术，结膜及眼睑手术和中医对眼睑痉挛，过敏性结膜炎，干眼症，睑板腺功能障碍，各类角膜炎，巩膜炎等中医辩证治疗。科室秉承“大医精诚”之精神，综合运用前沿的西医技术及传统中医治疗手段，为广大眼表患者提供专业、优质、健康的诊疗服务。</p>

        <p class="careUnitTitle"><span>专家团队</span></p>

        <div class="flow proIntroduce fiproIntroduce">
            <%= image_tag("yjm_1.jpg",class: "proFace proImgLeft") %>
            <p class="proName-glau"><b><span>黄霄 </span>教授，主任医师，医学博士，硕士研究生导师</b></p>
            <p>曾在华西医大眼科、中山眼科中心、北京协和医院眼科、北京同仁医院眼科和天津眼科医院进修学习。中国医师协会中西医结合眼科专业委员会委员、四川中西医结合学会及四川省中医药学会会员。</p>
            <p>曾获医学科研奖4项。在《中华眼底病杂志》、《西南国防医药》、《中国实用眼科杂志》、《中国中医眼科杂志》、《国外医学》眼科学分册等刊物上发表学术论文40余篇。</p>
            <p><b>擅长领域</b></p>
            <ul class="flow flParent goodAt">
                <li class="noFloat">
                    <ul>
                        <li>1.老年性黄斑变性</li>
                        <li>2.视网膜静脉阻塞</li>
                        <li>3.糖尿病性视网膜病变</li>
                    </ul>
                </li>
                <li class="noFloat">
                    <ul>
                        <li>4.葡萄膜炎等眼免疫性疾病</li>
                        <li>5.视神经疾病</li>
                        <li>6.泪道疾病</li>
                    </ul>
                </li>
            </ul>
            <p><b>黄霄</b>，中国医师协会中西医结合眼科专业委员会委员、四川中西医结合学会及四川省中医药学会会员。</p>
            <p>从事眼科医教研工作30余年。曾在华西医大眼科、中山眼科中心、北京协和医院眼科、北京同仁医院眼科和天津眼科医院进修学习，擅长于疑难眼底病和眼免疫性疾病的中西医临床诊断和治疗。此外，在泪道疾病的诊疗方面有着丰富的临床经验。</p>
            <p>黄霄教授在眼底病诊治方面有独到的见解，擅长老年性黄斑变性、糖尿病性视网膜病变、视网膜静脉阻塞、近视性黄斑病变等出血性眼底病变的治疗，采用中西医结合方案，分期序贯治疗，疗效优于单纯西医效果，临床上出血吸收快，复发率低，治愈率高。</p>
            <p>黄霄教授长期专注于眼免疫性疾病的临床及科研工作。在难治性葡萄膜炎治疗中，引入中医疮疡理论，对早期病变疗效明显，复发率低。对慢性难治性患者采用中西医结合方案，中药和免疫抑制剂的合理运用，在提高疗效的同时降低了长期使用免疫抑制剂的副作用，延长病变复发间期，在患者中有良好口碑，在行业内有较好声誉。</p>
            <p>黄霄教授在视神经疾病的诊治中有独到之处。依托高诊断率和果断的治疗措施，并配合中医针刺和穴位注射等，临床治疗效果好，使不少患者重见光明，其病员来自全国各地。此外，黄霄教授热心公益事业，心系基层群众，长期关注老少边贫地区患者的视觉健康问题，先后10余次参加四川省卫生厅医疗下乡活动并成为优秀团体成员，相关事迹曾经中央电视台和四川电视台报道。</p>
            <p>黄霄教授长期指导研究生、住院医师，进修医师的临床教学工作。作为主研人员，先后承担国家自然科学基金、国家中医药管理局、四川省教育厅等各级研究课题10余项，公开发表学术论文30余篇。</p>
        </div>
        <div class="flow proIntroduce">
            <%= image_tag("yjm_2.jpg",class: "proFace proImgLeft") %>
            <p class="proName-glau"><b><span>廖加坤 </span>主任医师</b></p>
            <p>主治医师，先后在中山大学眼科医院及四川大学华西眼科学习。从事眼科工作俞10年。累计完成各类眼科手术4千余台。每年参加国家级及省级学术会议和学习班3次以上。长期在二级眼专科医院担任主任职务，从事眼底病，泪道，眼表，青光眼、眼整形等临床工作，积累了丰富的临床经验，擅长于抗青光眼手术、泪囊鼻腔吻合术、复杂性睑球粘连分离术+羊膜移植术，复发性胬肉切除术+角膜缘干细胞移植术，眼球摘抄，义眼胎植入术，结膜松弛矫正术，各类眼睑及角膜肿物切除等，以及葡萄膜炎，眼底病的中西医结合治疗。尤其善于眼睑痉挛，干眼症，巩膜炎及葡萄膜炎，眼底出血性病变，视神经疾病的中医治疗。</p>
        </div>

        <p class="careUnitTitle"><span>科普文章</span></p>
        <div class="popScience">
            <div>
                <h6>1、翼状胬肉</h6>
                <%= image_tag("yjm_3.jpg",class: "fl proImgLeft") %>
                <p>常见疾病， 形相似昆t虫翅膀得名，。常见高海拔紫外线，阳光沙尘，干燥气候等刺激。内外眼角都可生长。那怎么治疗呢</p>
                <p>1.用抗生素眼药水以控制结膜炎症,减轻充血。在充血较重时可加用皮质类固醇眼药水。为减少外界刺激可戴适当的变色镜。当有炎症刺激时可点左氧氟沙星眼液与0.5%可的松眼药水、夜晚可涂红霉素眼膏。 </p>
                <p>2.小而静止的翼状胬肉无需治疗，观察。如胬肉为进行性或已接近瞳孔区影响视力或眼球转动受限时则可行手术切除。 </p>
                <p>3.手术治疗 </p>
                <p>(1)适应证：①翼状胬肉为进行性、肥厚且充血;②胬肉已侵入近瞳孔区影响视力。3.胬肉虽然小，但是经常发炎，要求手术者。</p>
                <p>(2)手术方法：翼状胬肉的手术治疗要求达到3个主要目的：安全地将胬肉切除干净;达到良好的光学效果;避免复发。因此，在选择手术方法时要特别慎重。手术方法主要包括：翼状胬肉头部转移法、单纯切除暴露巩膜法、角膜缘干细胞移植术，后来又发展出</p>
                <p>口腔黏膜移植术及羊膜移植术等。术后必须对手术后病人进行定期复查、随访以观察有无复发体征。</p>
                <p>(二)预后</p>
                <p>手术成功则恢复良好。术后复发原因与术眼条件(如术前炎症消退不彻底，胬肉肥厚，充血明显的进行性胬肉)、操作不当及手术方法，术后用药不及时等因素有关。继续受到危险因素的刺激也是重要因素。</p>

            </div>
            <div>
                <h6>2、角膜病的原因与治理</h6>
                <p>角膜病为眼科常见病，常见治病原因有细菌，病毒，真菌，结核，棘阿米巴原虫，免疫性疾病，遗传，外伤等，病因复查，治疗棘手。我院角膜病科拥有国际上先进的角膜检测系统，如接触性和非接触性的角膜内皮分析系统，能够早期检测出角膜内皮细胞的异常。同时引进先进的共焦显微镜，为真菌性角膜炎的早期诊断及其它角膜炎的诊断提供了准确、无创伤的可靠手段。在诊断棘阿米巴角膜溃疡方面更具优势。UBM，前节oct也为屈光角膜手术 PRK 和 LASIK 术后的临床愈合过程提供动态的观察效果。本科还有角膜地形图，角膜测厚等一批先进的角膜检查设备。</p>
                <p>主要的发病原因有以下两点：</p>
                <p>一、外部原因</p>
                <p>1、角膜完整性得到破坏，上皮损伤、脱落。 </p>
                <p>2、病原体趁虚而入。</p>
                <p>只有在这两个条件都具备的情况下，才容易发生感染性角膜溃疡。</p>
                <p>二、内因</p>
                <p>1、来自全身的内因性疾患。角膜没有血管，所以急性传染病不易侵及角膜。但角膜组织却参与全身的免疫反应，所以抵抗力下降容易感染。但是正因为它没有血管，新陈代谢较为迟缓，才使这种免疫反应变化持续经久，角膜在较长时间内处于一种敏感状态，导致药物难以达到有效浓度，治疗就比较棘手。</p>
                <p>2、由邻近组织蔓延所致。由于胚胎学上的同源关系以及解剖学上的连续性，蔓延到角膜上皮层的疾患多来自结膜，如严重的结膜炎多合并浅层角膜炎，病毒性角结膜炎等。但是不论哪一类角膜炎，都应及时治疗，争取最佳治疗时机，将后遗症减少到最低程度。如治疗不当或延误治疗都可以导致永久性视力损失，甚至失明。</p>
            </div>
            <div>
                <h6>3、巩膜炎中医治疗</h6>
                <p>巩膜炎在中医上叫做火疳症，多认为是肺肝热胜，湿热蕴蒸导致气滞血瘀发病，晚期多阴虚火旺，因此，中医认为要想治疗巩膜炎需要清肺泻肝，清热化湿，活血化瘀，晚期滋阴清热，驱风解毒等，看看中医是怎么治疗巩膜炎的。</p>
                <p>1.火毒淤结引起的巩膜炎</p>
                <p>火毒淤结引起的巩膜炎，介绍个方子，还阴救苦汤。该汤选用黄芩、黄连、黄柏，龙胆草，川芎，红花生地知母等，加水煎煮，每日一剂，去渣喝汤。对于早期的巩膜炎，可以用这个药方。</p>
                <p>如果是湿热引起巩膜炎，气滞血瘀，则可以服用加味三仁汤。杏仁15、半夏10、飞滑石15、生薏苡仁30、白通草6、白蔻仁10、竹叶10、厚朴10  桃仁12   红花10    蒲公英25 单位g。方法同上。</p>
                <p>2.肺虚引起的巩膜炎</p>
                <p>对于肺虚引起的巩膜炎，中医推荐养阴清肺汤，或加减滋阴地黄汤。特别是有口干、喉咙干燥，或者是有痰的患者，这个汤有清热解毒的作用。药材有生地、党参、贝母、丹皮、白芍、薄荷、生甘草、麦冬。煮水煎服。</p>
                <p>不论是那种原因引起巩膜炎，不妨按照以上中医方子试一试。另外，巩膜炎病程长，需要坚持治疗，不可半途而废。</p>
            </div>
        </div>
    </div>
</div>
<% end %>

