<div class="middle flow">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>2017年博士生研究生录取办法</h5>
            <P class="rightWord">2017-05-22</P>
        </div>
        <div>
            <p><b>一、眼科学院招生计划数：</b></p>
            <p>2017年眼科学院博士生招生规模4名，其中中医五官科学（专业代码：100511）2名，中医五官科学（专业代码：105706）2名。</p>
            <p><b>二、博士生录取分数线：</b></p>
            <p>2017年学校博士生初试合格分数线拟定为外语≥40分；专业基础课≥60分；专业课≥60分；总分≥180分。眼科学院严格按照学院要求录取。</p>
            <p><b>三、拟定博士生录取办法：</b></p>
            <p>1.  按考生总成绩（初试成绩×0.7＋复试成绩×0.3）高低排序进行录取。</p>
            <p>2.  严格执行招生计划。</p>
            <p>3.  博士生不得跨专业进行调剂录取。</p>
            <p>4.  根据学院发展实际需要，原则上要保证每名导师有1名学生的基础上确定并上报各方向拟录取名单，每名博士生导师招生不超过3人（含跨学科招生），兼职导师招生不超过1人。</p>
            <p>5.  对未完成一届博士研究生培养的导师每年限招1名。未在2017年博士招生专业目录公示的博士生导师不得招生。</p>
            <p><b>四、 录取工作相关安排：</b></p>
            <p>1.  学院在学校博士招录取方案的基础上，制定录取办法于5月22日在眼科学院网站上进行公示，在5月25日前将拟录取名单在学院网站上进行公示。</p>
            <p>2.  为保证博士研究生招生计划的完成，学院在拟定录取名单时同时需落实应届硕士毕业生的未就业情况并要求每名考生提交就读确认书和档案。未提交者一律不予录取。</p>
            <div class="bottomWord">
                <p>眼科学院</p>
                <p>2017年5月22日</p>
            </div>

        </div>
    </div>
</div>


