<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>2018年眼科学院硕士研究生（统招）拟录取名单</h5>
            <p class="rightWord">2018-4-11</p>
        </div>

        <style type="text/css">
            .studenttbl th,.studenttbl td{
                border:1px solid #ccc;
                text-align: center;
                font-size: 12px;
                line-height: 24px;
                padding: 10px 0;
            }
        </style>
        <div>
           <table style="width: 100%" class="studenttbl">
               <tr>
                   <th colspan="16" style="font-size: 16px;line-height: 30px;">2018年眼科学院硕士研究生（统招）拟录取名单</td>
               </tr>
               <tr>
                   <th width="30px">序号</th>
                   <th>录取专业代码（按专业代码大小排序）</th>
                   <th>录取专业名称</th>
                   <th>录取研究方向代码</th>
                   <th>录取研究方向名称</th>
                   <th>考生编号（按考生编号从小到大顺序）</th>
                   <th width="50px">考生姓名</th>
                   <th>政治成绩</th>
                   <th>外国语成绩</th>
                   <th>业务课一成绩</th>
                   <th>初试总分</th>
                   <th>复试笔试成绩</th>
                   <th>复试面试成绩</th>
                   <th>复试总成绩</th>
                   <th>总成绩（初试成绩*50%+复试成绩*50 ）</th>
                   <th width="50px">导师</th>
               </tr>
               <tr>
                   <td>1</td>
                   <td>1005Z2</td>
                   <td>中医眼科学</td>
                   <td>01</td>
                   <td>中医药防治眼病及视功能保护的研究</td>
                   <td>106338100500324</td>
                   <td>王印</td>
                   <td>57</td>
                   <td>45</td>
                   <td>221</td>
                   <td>323</td>
                   <td>66</td>
                   <td>79.7</td>
                   <td>145.70 </td>
                   <td>234.35</td>
                   <td>段俊国</td>
               </tr>
               <tr>
                   <td>2</td>
                   <td>1005Z2</td>
                   <td>中医眼科学</td>
                   <td>01</td>
                   <td>中医药防治眼病及视功能保护的研究</td>
                   <td>106338100500446</td>
                   <td>余嘉珍</td>
                   <td>57</td>
                   <td>56</td>
                   <td>219</td>
                   <td>332</td>
                   <td>74</td>
                   <td>92.50</td>
                   <td>166.50 </td>
                   <td>249.25</td>
                   <td>莫亚</td>
               </tr>
               <tr>
                   <td>3</td>
                   <td>1005Z2</td>
                   <td>中医眼科学</td>
                   <td>01</td>
                   <td>中医药防治眼病及视功能保护的研究</td>
                   <td>106338100500450</td>
                   <td>吴艳霞</td>
                   <td>64</td>
                   <td>62</td>
                   <td>214</td>
                   <td>340</td>
                   <td>91</td>
                   <td>93.33</td>
                   <td>184.33 </td>
                   <td>262.17</td>
                   <td>路雪婧</td>
               </tr>
               <tr>
                   <td>4</td>
                   <td>100602</td>
                   <td>中西医结合临床</td>
                   <td>01</td>
                   <td>中西医结合防治眼科疾病的实验研究</td>
                   <td>106338100600026</td>
                   <td>张文炳</td>
                   <td>50</td>
                   <td>39</td>
                   <td>230</td>
                   <td>319</td>
                   <td>86</td>
                   <td>94.83</td>
                   <td>180.83 </td>
                   <td>249.92</td>
                   <td>朱思泉</td>
               </tr>
               <tr>
                   <td>5</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700006</td>
                   <td>王恩模</td>
                   <td>66</td>
                   <td>44</td>
                   <td>236</td>
                   <td>346</td>
                   <td>74</td>
                   <td>80.70</td>
                   <td>154.70 </td>
                   <td>250.35</td>
                   <td>叶河江</td>
               </tr>
               <tr>
                   <td>6</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700168</td>
                   <td>陈思雨</td>
                   <td>58</td>
                   <td>54</td>
                   <td>237</td>
                   <td>349</td>
                   <td>74</td>
                   <td>82.00</td>
                   <td>156.00 </td>
                   <td>252.50</td>
                   <td>段俊国</td>
               </tr>
               <tr>
                   <td>7</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700424</td>
                   <td>吴佳俊</td>
                   <td>65</td>
                   <td>54</td>
                   <td>242</td>
                   <td>361</td>
                   <td>80</td>
                   <td>73.00</td>
                   <td>153.00 </td>
                   <td>257.00</td>
                   <td>张富文</td>
               </tr>
               <tr>
                   <td>8</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700433</td>
                   <td>叶建斌</td>
                   <td>59</td>
                   <td>42</td>
                   <td>234</td>
                   <td>335</td>
                   <td>81</td>
                   <td>88.30</td>
                   <td>169.30 </td>
                   <td>252.15</td>
                   <td>路雪婧</td>
               </tr>
               <tr>
                   <td>9</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700729</td>
                   <td>黄菀琳</td>
                   <td>60</td>
                   <td>50</td>
                   <td>235</td>
                   <td>345</td>
                   <td>88</td>
                   <td>84.00</td>
                   <td>172.00 </td>
                   <td>258.50</td>
                   <td>叶河江</td>
               </tr>
               <tr>
                   <td>10</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700738</td>
                   <td>曲文甲</td>
                   <td>63</td>
                   <td>65</td>
                   <td>211</td>
                   <td>339</td>
                   <td>84</td>
                   <td>86.00 </td>
                   <td>170.00 </td>
                   <td>254.50</td>
                   <td>张富文</td>
               </tr>
               <tr>
                   <td>11</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700754</td>
                   <td>邱若娇</td>
                   <td>63</td>
                   <td>48</td>
                   <td>230</td>
                   <td>341</td>
                   <td>87</td>
                   <td>82.50</td>
                   <td>169.50 </td>
                   <td>255.25</td>
                   <td>叶河江</td>
               </tr>
               <tr>
                   <td>12</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700816</td>
                   <td>殷龙梅</td>
                   <td>67</td>
                   <td>51</td>
                   <td>226</td>
                   <td>344</td>
                   <td>92</td>
                   <td>93.67</td>
                   <td>185.67 </td>
                   <td>264.83</td>
                   <td>谢学军</td>
               </tr>
               <tr>
                   <td>13</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700820</td>
                   <td>郭明璐</td>
                   <td>66</td>
                   <td>66</td>
                   <td>236</td>
                   <td>368</td>
                   <td>89</td>
                   <td>95.50</td>
                   <td>184.50 </td>
                   <td>276.25</td>
                   <td>路雪婧</td>
               </tr>
               <tr>
                   <td>14</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700826</td>
                   <td>余慧君</td>
                   <td>74</td>
                   <td>77</td>
                   <td>246</td>
                   <td>397</td>
                   <td>75</td>
                   <td>94.83</td>
                   <td>169.83 </td>
                   <td>283.42</td>
                   <td>王万杰</td>
               </tr>
               <tr>
                   <td>15</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700827</td>
                   <td>张莉苹</td>
                   <td>68</td>
                   <td>59</td>
                   <td>227</td>
                   <td>354</td>
                   <td>76</td>
                   <td>93.33</td>
                   <td>169.33 </td>
                   <td>261.67</td>
                   <td>谢学军</td>
               </tr>
               <tr>
                   <td>16</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700829</td>
                   <td>张璐</td>
                   <td>61</td>
                   <td>54</td>
                   <td>236</td>
                   <td>351</td>
                   <td>80</td>
                   <td>93.83</td>
                   <td>173.83 </td>
                   <td>262.42</td>
                   <td>谢学军</td>
               </tr>
               <tr>
                   <td>17</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700838</td>
                   <td>周文熙</td>
                   <td>68</td>
                   <td>68</td>
                   <td>244</td>
                   <td>380</td>
                   <td>91</td>
                   <td>93.50</td>
                   <td>184.50 </td>
                   <td>282.25</td>
                   <td>王万杰</td>
               </tr>
               <tr>
                   <td>18</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700839</td>
                   <td>段钰</td>
                   <td>69</td>
                   <td>61</td>
                   <td>245</td>
                   <td>375</td>
                   <td>85</td>
                   <td>94.60</td>
                   <td>179.60 </td>
                   <td>277.30</td>
                   <td>路雪婧</td>
               </tr>
               <tr>
                   <td>19</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700840</td>
                   <td>李燕婷</td>
                   <td>66</td>
                   <td>49</td>
                   <td>251</td>
                   <td>366</td>
                   <td>89</td>
                   <td>93.33</td>
                   <td>182.33 </td>
                   <td>274.17</td>
                   <td>王万杰</td>
               </tr>
               <tr>
                   <td>20</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700844</td>
                   <td>李婷</td>
                   <td>65</td>
                   <td>59</td>
                   <td>245</td>
                   <td>369</td>
                   <td>90</td>
                   <td>93.50</td>
                   <td>183.50 </td>
                   <td>276.25</td>
                   <td>段俊国</td>
               </tr>
               <tr>
                   <td>21</td>
                   <td>105706</td>
                   <td>中医五官科学</td>
                   <td>01</td>
                   <td>中医治疗眼底病的临床研究</td>
                   <td>106338105700903</td>
                   <td>隋嘉庆</td>
                   <td>57</td>
                   <td>61</td>
                   <td>220</td>
                   <td>338</td>
                   <td>60</td>
                   <td>91.00</td>
                   <td>151.00 </td>
                   <td>244.50</td>
                   <td>段俊国</td>
               </tr>
               <tr>
                   <td>22</td>
                   <td>105709</td>
                   <td>中西医结合临床</td>
                   <td>01</td>
                   <td>中西医结合防治眼科疾病的临床研究</td>
                   <td>106338105700002</td>
                   <td>杜薇</td>
                   <td>61</td>
                   <td>56</td>
                   <td>235</td>
                   <td>352</td>
                   <td>77</td>
                   <td>80.80</td>
                   <td>157.80 </td>
                   <td>254.90</td>
                   <td>李翔</td>
               </tr>
               <tr>
                   <td>23</td>
                   <td>105709</td>
                   <td>中西医结合临床</td>
                   <td>01</td>
                   <td>中西医结合防治眼科疾病的临床研究</td>
                   <td>106338105700223</td>
                   <td>艾贤琳</td>
                   <td>57</td>
                   <td>45</td>
                   <td>240</td>
                   <td>342</td>
                   <td>81</td>
                   <td>84.20</td>
                   <td>165.20 </td>
                   <td>253.60</td>
                   <td>莫亚</td>
               </tr>
               <tr>
                   <td>24</td>
                   <td>105709</td>
                   <td>中西医结合临床</td>
                   <td>01</td>
                   <td>中西医结合防治眼科疾病的临床研究</td>
                   <td>106338105700701</td>
                   <td>刘阳</td>
                   <td>58</td>
                   <td>42</td>
                   <td>238</td>
                   <td>338</td>
                   <td>64</td>
                   <td>87.80</td>
                   <td>151.80 </td>
                   <td>244.90</td>
                   <td>朱思泉</td>
               </tr>
               <tr>
                   <td>25</td>
                   <td>105709</td>
                   <td>中西医结合临床</td>
                   <td>01</td>
                   <td>中西医结合防治眼科疾病的临床研究</td>
                   <td>106338105701246</td>
                   <td>张明旭</td>
                   <td>59</td>
                   <td>68</td>
                   <td>231</td>
                   <td>358</td>
                   <td>77</td>
                   <td>96.67</td>
                   <td>173.67 </td>
                   <td>265.83</td>
                   <td>朱思泉</td>
               </tr>
               <tr>
                   <td>26</td>
                   <td>105709</td>
                   <td>中西医结合临床</td>
                   <td>01</td>
                   <td>中西医结合防治眼科疾病的临床研究</td>
                   <td>106338105701249</td>
                   <td>李小义</td>
                   <td>65</td>
                   <td>44</td>
                   <td>232</td>
                   <td>341</td>
                   <td>75</td>
                   <td>93.17</td>
                   <td>168.17 </td>
                   <td>254.58</td>
                   <td>莫亚</td>
               </tr>
               <tr>
                   <td>27</td>
                   <td>105709</td>
                   <td>中西医结合临床</td>
                   <td>01</td>
                   <td>中西医结合防治眼科疾病的临床研究</td>
                   <td>106338105701255</td>
                   <td>赵秀兰</td>
                   <td>63</td>
                   <td>49</td>
                   <td>232</td>
                   <td>344</td>
                   <td>88</td>
                   <td>92.67</td>
                   <td>180.67</td>
                   <td>262.33</td>
                   <td>朱思泉</td>
               </tr>
           </table>
        </div>
    </div>
</div>





