<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<meta name="viewport"-->
        <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
  <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
  <!--<title>Document</title>-->
  <!--<link rel="stylesheet" href="../../assets/stylesheets/commom.css">-->
  <!--<link rel="stylesheet" href="../../assets/stylesheets/index.css">-->
<!--</head>-->
<!--<body>-->

<!--<div class="main">-->







<!--新闻中心-->
<div class="middle">
  <div class="column flow mdlPad">
    <!--轮播-->
    <div class="slide slide-left fl">
      <ul class="slide-wrapper">
        <li>
          <%= link_to image_tag("shyhx_1.jpg"),news_path(:近视防控显成效沙河源小学来中医大银海眼科医院致谢) %>
          <div class="inner">
            <p>近视防控显成效，沙河源小学来中医大银海眼科医院致谢</p>
          </div>
        </li>
        <li style="display:none">
          <%= link_to image_tag("shy_3.jpg"),news_path(:守护心灵之窗沙河源小学眼健康科普公益活动) %>
          <div class="inner">
            <p>守护心灵之窗—沙河源小学眼健康科普公益活动</p>
          </div>
        </li>
        <li style="display:none">
          <%= link_to image_tag("pts_5.jpg"),news_path(:眼健康科普走进泡桐树小学) %>
          <div class="inner">
            <p>【多彩漫画·童心绘】眼健康科普走进泡桐树小学（西区）</p>
          </div>
        </li>
      </ul>
      <div class="slidebox">
        <div class="slideWrap">
          <ul class="dot-wrap">
            <li class="current"><em>1</em></li>
            <li><em>2</em></li>
            <li><em>3</em></li>
          </ul>
        </div>
      </div>
      <!--<a href="javascript:" class="ctrl-slide prev"><%= image_tag("btn_left.png") %></a>-->
      <!--<a href="javascript:" class="ctrl-slide next"><%= image_tag("btn_right.png") %></a>-->
    </div>
    <!--轮播-->
    <!--视频-->
    <div class="fr videoScope">
      <div class="flVideo">
        <a href="http://v.youku.com/v_show/id_XMjY5MTQwNjE4OA==.html">
          <%= image_tag("video_1.jpg") %>
          <div class="mask">
            <p>四川省糖尿病防治协会举行学术年会暨糖尿病早期筛···</p>
          </div>
          <%= image_tag("play_btn.png",class: "playBtn") %>
        </a>
      </div>
      <div>
        <a href="http://v.youku.com/v_show/id_XMTgxODgwNjE4OA==.html">
          <%= image_tag("video_2.jpg") %>
          <div class="mask">
            <p>银海眼科医院揭牌仪式</p>
          </div>
          <%= image_tag("play_btn.png",class: "playBtn") %>
        </a>
      </div>

    </div>

    <!--视频-->

  </div>
</div>
  <!--新闻中心-->


<!--</div>-->
<!--</body>-->
<!--</html>-->


<!--<script src="../../assets/javascripts/jquery-1.8.3.min.js"></script>-->
<!--<script src="../../assets/javascripts/slide-2.js"></script>-->
<script>
    $(".slide.slide-left").ckSlide({
        autoPlay:true,
        add:true,
         seamless:true,
        dir:"x",
    });

</script>
