<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5><%= @new.title %></h5>
            <p class="rightWord"><%= @new.occurred_at.strftime('%Y-%m-%d') %></p>
        </div>

        <div class="newsContent">
            <!--正文开始-->
            <%= @new.content.try(:html_safe) %>
            <!--正文结束-->
        </div>
    </div>
</div>
<% content_for :style do %>
    <%= stylesheet_link_tag 'news/newsContent' %>
<% end %>




