<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>三月眼健康科普月校园公益行最后一站在沙河源小学圆满结束</h5>
            <p class="rightWord">2017-03-31</p>
        </div>

        <div class="newsContent">
            <!--正文开始-->


            <!--正文结束-->
        </div>
    </div>
</div>
<% content_for :style do %>
    <%= stylesheet_link_tag 'news/newsContent' %>
<% end %>




