<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>八旬太婆亲送锦旗：你是我见过最好的医生！</h5>
            <p class="rightWord">2017-08-22</p>
        </div>

        <div>
            <p>近日，患者白成秀及其家属将一面锦旗送到成都中医大银海眼科医院刘文教授的门诊室，以表达对刘文教授及医护人员的感激和赞扬之情。</p>
            <p>今年81岁的白婆婆，思维清晰，比起同龄的老人精神要矍铄很多，但谈起病情，白婆婆一脸的无奈。</p>
            <p>她说：“半个月前，自己右眼突然看不见了，眼前只有一片红色。起初自己还不在意，在女儿的极力劝说下，才来医院检查”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_bestDoctor_1.jpg") %>
            </div>
            <p>因为白婆婆已年过八旬，同时还罹患了高血压，抑郁症等疾病，多家医院求医未果，即使有医院同意进行手术治疗，也得等待2-3个月。看到家人为了自己四处奔走，白婆婆焦虑不堪,甚至有了放弃治疗的念头。</p>
            <p>白婆婆的女儿补充到：“老人岁数大了，经不起折腾。为人儿女，希望母亲少受一点罪，所以要找最好的医生。正好我妹妹也是一家医院的医务工作者，她听说老人的情况后，推荐我们来成都中医大银海眼科医院找刘文教授”。</p>
            <p>经过详细地检查后，刘文教授发现患者右眼晶体混浊明显，颞侧视网膜泡状脱离，视网膜存在小的圆形裂孔及变性区。诊断为右眼裂孔性视网膜脱离，右眼白内障。</p>
            <div class="newsImgMar">
                <%= image_tag("news_bestDoctor_2.jpg") %>
            </div>
            <p>完善相关检查及术前准备后，患者入院两日后，刘文教授为其进行了视网膜脱离外路显微手术。</p>
            <p>手术不到一个小时就完成了，术后患者无眼胀眼痛及其他不适，住院观察两天后，患者成功出院。同时，患者原主诉消失，右眼视力0.1，眼部几乎无水肿，视网膜平复，裂孔封闭良好。</p>
            <p>谈起刘文教授，白婆婆竖起大拇指称赞：“刘教授对我们很热情，技术又好。他给我做手术，我很放心。现在，我都能看见了，刘文教授是我见过的最好的医生”。为感谢刘教授和医护人员的悉心照顾，白婆婆及其家人亲自送来一面锦旗。</p>
            <div class="newsImgMar">
                <%= image_tag("news_bestDoctor_3.jpg") %>
            </div>
            <p>锦旗上写着“医术精湛、医德高尚”这样一句简洁的话语，但它却表达了患者及其家属对我院医护人员，特别是对刘文教授精心诊治、良好医德、医术高明的充分肯定和赞扬。</p>
            <p>一面锦旗，传递的不仅是患者的感激之情，更是对医院服务品质的认可，是对病患倾情服务的最好证明和对医护人员工作的充分肯定。朴实的言语，鲜艳的锦旗，彰显的是医患之间彼此的真诚与和谐，是对医护人员无私奉献的最好回报。</p>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj5.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>刘文（眼底外科）</p>
                    <p>坐诊时间: 周一、周三、周五上午、周四下午</p>
                    <p>擅长领域:</p>
                    <p>主要从事玻璃体视网膜疾病研究，擅长各种眼底疾病和复杂性视网膜脱离的手术治疗。</p>
                </div>
            </fieldset>

        </div>
    </div>
</div>




