<div class="middle">

    <div class="newsMain">
        <div class="newsTitle title twoNewsTitle">
            <h5>成都中医药大学附属银海眼科医院</h5>
            <h5>关于调整门诊流程及增设VIP服务的通知</h5>
            <p class="rightWord"></p>
        </div>

        <div>

            <div class="flow">
                <p>为落实“全国卫生与健康大会”精神，推动全民健康，实现全民眼健康，满足不同层次眼健康服务需求，在征求广大患者意见的基础上，经研究决定，我院从2017年10月9日起，对<b>普通门诊、专家门诊进行调整并增设VIP特需门诊</b>，具体通知如下：</p>
                <p><b>1、普通门诊：</b>满足常见病、多发病患者需求。普通门诊挂号费根据职称不同，为10--20元。</p>
                <p><b>2、专家门诊：</b>由以疑难杂症为主。由副主任医师以上职称专家应诊，每位专家每天限号20个，门诊挂号费60--90元。</p>
                <p><b>3、VIP门诊：</b>由国医大师、国内著名眼科专家、正高级专家应诊。患者享受专家30分钟以上亲诊，专人导医陪护，完善的高端医疗检查，独立诊疗空间，个性化诊疗以及温馨舒适高端就诊环境。提供预约、挂号、就诊、收费、检查、取药、陪护一体化全程无忧服务，门诊挂号费200-800元。</p>
                <p>附：普通门诊、专家门诊、VIP门诊应诊表</p>
                <div class="schedulingTabCon padT20" style="text-align: center">
                    <%= image_tag("table.jpg") %>

                    <!--<table class="schedulingTab">-->
                        <!--<tr>-->
                            <!--<th colspan="20">成都中医大银海眼科医院门诊医师坐诊一览表</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td><b>诊室</b></td>-->
                            <!--<td><b>时段</b></td>-->
                            <!--<td><b>星期一</b></td>-->
                            <!--<td><b>星期二</b></td>-->
                            <!--<td><b>星期三</b></td>-->
                            <!--<td><b>星期四</b></td>-->
                            <!--<td><b>星期五</b></td>-->
                            <!--<td><b>星期六</b></td>-->
                            <!--<td><b>星期日</b></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2">-->
                                <!--<p><b>国医大师工作室</b></p>-->
                                <!--<p><b>（VIP一诊室）</b></p>-->
                            <!--</td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>张富文</b></p>-->
                                <!--<p>VIP门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>廖品正</b></p>-->
                                <!--<p>VIP门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>段俊国</b></p>-->
                                <!--<p>VIP门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>黄  霄</b></p>-->
                                <!--<p>VIP门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>周华祥</b></p>-->
                                <!--<p>VIP门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td>-->
                                <!--<p><b>路雪婧</b></p>-->
                                <!--<p>VIP门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>廖品正</b></p>-->
                                <!--<p>VIP传承门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>袁晓辉</b></p>-->
                                <!--<p>VIP门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2">-->
                                <!--<p><b>著名专家工作室</b></p>-->
                                <!--<p><b>（VIP二诊室）</b></p>-->
                            <!--</td>-->
                            <!--<td>上午</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>朱思泉</b></p>-->
                                <!--<p>VIP门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>刘  文</b></p>-->
                                <!--<p>VIP门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>眼科一诊室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>路雪婧</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>王国平</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>邓亚平</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>蹇文渊</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>霍  剑</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>路雪婧</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>蹇文渊</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>霍  剑</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>眼科二诊室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>李红惠</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>张富文</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>蒙轩</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>李红惠</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>代炳灵</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>尹 朔</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>眼科三诊室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>刘  文</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>陈星如</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>刘  文</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>张富文</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>刘  文</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>朱思泉</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>王利萍</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>眼科四诊室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>陈小凤</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>陈小凤</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>段俊国</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td>-->
                                <!--<p><b>王国平</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>张大铮</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>陈小凤</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>王国平</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>眼科五诊室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>潘学会</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>潘学会</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>潘学会</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>潘学会</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>潘学会</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>陈小凤</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>眼科六诊室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>缪  馨</b></p>-->
                                <!--<p>干眼门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>缪  馨</b></p>-->
                                <!--<p>干眼门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>周华祥</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>缪  馨</b></p>-->
                                <!--<p>干眼门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>肖建强</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>缪  馨</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td>-->
                                <!--<p><b>缪  馨</b></p>-->
                                <!--<p>中医门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>周华祥</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>周华祥</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>缪  馨</b></p>-->
                                <!--<p>中医门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>周华祥</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>缪  馨</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>眼科七诊室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>刘  玲</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>黄霄</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>黄霄</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>蒋嫒明</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>黄霄</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>黄霄</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td>-->
                                <!--<p><b>吴青兰</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>石梅琴</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>黄霄</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>黄霄</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>视光一诊断室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>袁晓辉</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>袁晓辉</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>袁晓辉</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>袁晓辉</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>袁晓辉</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>袁晓辉</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>文  娟</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>视光二诊断室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>李  强</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>谢艾芮</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>谢艾芮</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td>-->
                                <!--<p><b>谢艾芮</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>谢艾芮</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>李强</b></p>-->
                                <!--<p>视光门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>屈光一诊断室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>杜玉芹</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>杜玉芹</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>周春阳</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>文  娟</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>周春阳</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>李 强</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>杜玉芹</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td>-->
                                <!--<p><b>杜玉芹</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>谢艾芮</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>周春阳</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>文 娟</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>周春阳</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>周春阳</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>杜玉芹</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>屈光二诊断室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>-->
                                <!--<p><b>潘学会</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>陈小凤</b></p>-->
                                <!--<p>屈光门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td rowspan="2"><b>内科诊室</b></td>-->
                            <!--<td>上午</td>-->
                            <!--<td>-->
                                <!--<p><b>王智慧</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>王智慧</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>王智慧</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>王智慧</b></p>-->
                                <!--<p>专家门诊</p>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<p><b>王智慧</b></p>-->
                                <!--<p>普通门诊</p>-->
                            <!--</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>下午</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td></td>-->
                            <!--<td colspan="8" class="redWord textLeft padL10">-->
                                <!--<p>备注：</p>-->
                                <!--<p>1.请患者通过银海眼科医院官方预约电话：400-9900-766进行预约挂号；</p>-->
                                <!--<p>2.请患者通过医院官网，医院官方微信以及院内信息栏关注医生停诊信息。</p>-->
                                <!--<p>3.VIP 门诊，限号 6 人/次；专家门诊：对外限号 20 人/次，如遇需加号病人，医师可视情况而定进行加号；</p>-->
                                <!--<p>4.VIP 和专家门诊同时上的医师，需优先 VIP 门诊。</p>-->
                            <!--</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                </div>
            </div>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>
