<div class="middle">

    <div class="newsMain">
        <div class="newsTitle title twoNewsTitle">
            <h5>关于成都中医药大学眼科学院</h5>
            <h5>2018年硕士研究生复试办法更正通知</h5>
            <p class="rightWord"></p>
        </div>

        <div>
            <p>各位同学好：</p>
            <p>眼科学院2018年硕士研究生复试办法中关于“2018年眼科学院接收校内调剂”的要求更改如下：</p>
            <p><b>一、校内调剂要求</b></p>
            <p>校内调剂学生需遵循眼科学院硕士研究生专业报考限制要求，具体如下：</p>
            <p>眼科学院中医眼科学硕士科学学位（专业代码1005Z2）、中西医结合临床（眼科方向）硕士科学学位（专业代码100602）限招临床医学本科、中医学本科、中西医结合医学本科、医学技术（眼视光学），且本科毕业授予医学学位或理学学位（眼视光学）。</p>
            <p>眼科学院中医五官科学硕士专业学位（专业代码105706）、中西医结合临床（眼科方向）硕士专业学位（专业代码105709）限招符合中医医师资格考试报考条件规定的专业要求的应届或往届本科毕业生。</p>
            <p><b>二、校内调剂方式</b></p>
            <p>所有调剂考生需在眼科学院（十二桥校区一教302）进行登记，可接收调剂名额为12人，原则上按1:3的比例分组进行面试。根据导师和考生意愿，学科发展等综合考虑实施考生调剂。调剂登记截止时间为4月9日中午12:00。</p>


            <div class="flow">
                <div class="fr">
                    <div class="flow">
                        <div class="fl bottomLineHeight">
                            <p>眼科学院</p>
                            <p>2018年3月29日</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>
