<div class="middle flow">
    <div class="newsMain">
        <div class="newsTitle">
            <h5>【世界糖尿病日】糖友们，别让糖网“网”住你 </h5>
            <p class="rightWord">2017-11-13</p>
        </div>
        <div>
            <p>糖尿病性视网膜病变是由糖尿病引起的眼部微血管并发症，是一种具有特异性改变的眼底病变，以视力逐渐下降，视物变形，后期甚至导致失明为主要表现的疾病，目前已是全世界成年人致盲的主要原因，严重影响患者生存质量。糖网科普问答，你不能忽视的一系列问题，看看我院院长是怎么回答的。糖友们，知己知彼，百战不殆，别让糖网“网”住你！</p>
            <p class="centerImgCon"><b>糖网知识问答</b></p>
            <p><b>Q：时代在前进为什么糖尿病发病率如此高？而且为什么人们对糖尿病的认知度不高呢？</b></p>
            <p>A：眼科医生在为眼疾患者看病时，发现眼睛有问题，于是问病人是不是有糖尿病，一查才发现病人的血糖很高。之所以出现这种情况是因为现在糖尿病主要类型是二型糖尿病，二型糖尿病的起病比较隐匿，没有太明显的“三高一多”的典型糖尿病症状，一般在不知不觉中患病，当患者发现时，可能已经是中晚期。尽管时代在前进，医疗水平得到很大的提高，糖尿病发现也比以前要早，但总体来说糖尿病和视网膜病变的发现率还是很低的，大概有三分之二的人不会自主去查血糖或者做眼底检查，所以很多糖尿病患者直到有症状才发现，然而当糖尿病有症状的时候不一定眼底有症状，但是当视力开始下降的时候，这个时候眼底病就已经很严重了。</p>
            <p><b>Q：患糖尿病10年以上的人，出现糖尿病视网膜病变的可能性更大这种说法是否正确？</b></p>
            <p>A：是的，糖尿病视网膜病变与糖尿病患者的病程有关系，而你刚才提到的患糖尿病10年的患者，他可能患糖网病的几率达到30%，如果是患病15年以上可能会达到50%。也就是说糖尿病病程越长他发生糖网病的可能性越大。病程长的糖尿病患者要及早到医院做眼底检查，并且要定期到眼科进行眼底检查。</p>
            <p><b>Q：中医治疗糖网病有效果吗？是否可以用中医食疗预防糖尿病？</b></p>
            <p>A：临床证据表明，中医对糖网病变的预防与控制都有很好的效果。中医新药的开发进一步证明了可以稳定血糖，也能减少视网膜病变的发生。而视网膜病变发生以后可以通过中医药治疗减少视网膜浅层出血、渗出和微血管瘤这些病变。研究表明中医药虚瘀并治可以减少失明、增殖型视网膜病变等终点事件的发生，在稳定患者的视力方面优于目前的其他治疗方法。根据患者身体状况与病情，尽量食用低糖食品，避免吃面食，少吃米饭多吃蔬菜，减少糖分的摄入，主要注意饮食平衡。</p>
            <p><b>Q：35岁已育女性患多囊卵巢综合症，生育之前医生说这个疾病和糖尿病有直接联系，如今患者除了需要控制血糖还要做眼底检查吗？这个病与糖尿病是否有直接联系？</b></p>
            <p>A：这个病不一定和糖尿病有直接的联系，但是在妊娠的时候得糖尿病是很常见的。她现在已经生过小孩了，血糖也不高，我认为现在不要去背这个病（糖尿病）的包袱。我建议不管是不是糖尿病，到了35岁以后还是要定期做眼底检查。糖尿病的患者必须要做眼底检查，没有患该病的朋友也要定期做眼底检查。因为眼底是健康的窗口，是我们能无创进行观察的终末微血管，很多疾病在早期检查眼底能发现，比如说高血压、肾病、老年痴呆。所以希望广大朋友重视眼底检查。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnbr_1.jpg") %>
            </div>
            <div class="centerImgCon">
                <p><b>世界糖尿病日福利</b></p>
                <p><b>到院免费测血糖</b></p>
                <p><b>免费建立全民眼健康档案</b></p>
                <p><b>活动仅限11.14当天</b></p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_tnbr_2.jpg") %>
            </div>
            <p><b>糖尿病视网膜病变防治中心</b></p>
            <p>本科室主要针对糖尿病视网膜病变（DR）早期发现、综合治疗与预防，长期慢性病管理于一体的专病科室。由院长段俊国教授和国医大师廖品正教授带领的专家团队经过近30年的联合攻关，研究成功治疗DR中药新芪明颗粒，创新中药芪灯明目胶囊也进入后期的临床研究阶段；研究制定的虚瘀并治的中医药综合治疗DR方案，在控制糖尿病视网膜的进展、减少终点事件、维持视功能的稳定等方面具有显著的优势；制订了第一个中医药防治糖尿病视网膜的临床指南及路径，其研究成果获四川省科学技术进步奖特等奖。以段俊国教授为核心的团队组建了糖尿病视网膜病变防治中心，引进美国爱尔康Constellation Vison 玻璃体切割机、美国科医人多波长固体激光治疗机，法国光太SLT多波长激光机、德国海德体堡HRA眼底造影机、德国蔡司光学相干断层扫描仪（血流OCT5000）等专业眼科设备，开展针对DR从早期预防、黄斑水肿、视网膜新生血管、后期复杂的视网膜增殖性病变、玻璃积血等开展综合治疗。</p>

        </div>
    </div>
</div>



