<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>四川省视力保护科普基地流动科普馆启动仪式隆重举行</h5>
            <p class="rightWord">2016-12-31</p>
        </div>

        <div>
            <p>引言</p>
            <p>2016年12月30日下午，四川省视力保护科普基地流动科普馆启动仪式在成都中医药大学十二桥校区隆重举行。启动仪式由四川省视力保护基地与成都中医药大学、成都中医大银海眼科医院共同举办。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kpg_1.jpg") %>
            </div>
            <p>四川省卫生和计划生育委员会人事科教处处长方晓明，四川省中医药管理局科技处贺飞，四川省科技馆规划发展部部长梁晓林，成都市视力保护协会副理事长叶庆临，成都市视力保护协会副秘书长熊茂德，成都中医药大学副校长彭成，成都中医药大学眼科学院、成都中医大银海眼科医院院长段俊国，成都中医药大学科技处副处长唐勇，四川省视力保护科普基地主任周华祥，成都中医大银海眼科医院副院长、首都医科大学同仁医院教授朱思泉，成都中医大银海眼科医院副院长赵芝蓉等领导和嘉宾出席仪式。</p>
            <p>四川省卫计委人事科教处处长方晓明在致辞中表示，四川省卫计划委高度重视眼病防治工作和眼病科普教育活动。深入学习、落实中共中央、国务院发布的《“健康中国2030”规划纲要》，国家卫计委印发的《“十三五”全国眼健康规划（2016—2020年）》，国家卫计委、教育部、国家体育总局联合发布的《关于加强儿童青少年近视防控工作的指导意见》。一直坚持科学发展眼健康事业，坚持“预防为主、防治结合”的方针，将人人享有基本眼科医疗服务、逐步消除可避免盲和视觉损伤、提高人民群众眼健康水平作为开展眼病防治和科普教育工作的出发点和落脚点。希望四川省视力保护科普基地依托成都中医药大学和四川省广大眼科工作者，创新科普教育形式，充分利用新启动的流动科普馆，将爱眼护眼知识传递给社会大众，造福社会。</p>
            <p><b>四川省卫生计生委人事科教处处长 方晓明致辞</b></p>
            <p>成都中医药大学副校长彭成在致辞中表示，作为四川省视力保护科普基地的依托单位，成都中医药大学一直对基地的发展和工作的推进给予重视和支持。基地自2009年由四川省科学技术厅、中共四川省委宣传部、四川省科学技术协会授牌成立以来，开展了大量切实有效的工作，取得了可喜成绩。基地在近视防控方面先后承担了国家行业专项和四川省科技厅重点课题，积极开展了中医药近视防治临床及科研工作；承担四川省科技厅青少年近视科普平台建设项目和四川省科技厅眼保健操规范及培训科普项目；基地先后与成都市、乐山市、绵阳市教体局合作，在三地先后发起了“中小学生近视防治成都行动”、“中小学生近视防治乐山行动”、“中小学生近视防治绵阳行动” ；基地定期深入学校和社区开展形式多样、生动活泼的视力保护科普宣传，进行视力筛查和眼健康数据库的建立；基地与四川省科技馆合作建设四川省科技馆视力保护分馆已开始布展工作，即将开展。</p>
            <p><b>成都中医药大学副校长 彭成教授致辞</b></p>
            <p>成都中医药大学眼科学院、成都中医大银海眼科医院院长段俊国教授在讲话中表示，成都中医大银海眼科医院，与成都中医药大学眼科学院、成都中医药大学研究院（筹）三位一体建设。医院以一流技术、一流设备、一流疗效、一流环境服务于广大患者，为广大眼病患者提供高水平的医疗保健服务。银海眼科医院积极响应“健康中国”战略号召，贯彻落实《“十三五”全国眼健康规划》“深入基层提供全面、专业的眼健康科普教育及医疗服务”的工作要求，秉持“大医精诚、银海启明”的院训，向四川省视力保护科普基地捐赠“流动科普馆”，并配套支持专家团队及相应物资，为人民群众送去眼健康知识和眼病防治服务。成都中医大银海眼科医院愿与四川省视力保护科普基地一道，以“流动科普馆”为纽带，竭尽所能，积极为四川省眼健康事业做出贡献。</p>
            <p><b>成都中医药大学眼科学院院长/书记、成都中医大银海眼科院长 段俊国教授致辞</b></p>
            <p>四川省视力保护科普基地流动科普馆捐赠仪式同时举行。成都中医大银海眼科医院常务副院长朱思泉教授代表成都中医大银海眼科医院，将流动科普馆（车）的钥匙赠予四川省视力保护科普基地主任周华祥。周华祥主任在致谢辞中表示，启动仪式的举行，标志着四川省视力保护科普基地拥有了自己价值两百余万元的流动科普车，并藉此建立起流动科普馆，使视力保护科普基地的科普工作得以进一步延伸到基层、社区、农村以及学校。四川省视力保护科普基地将以此为契机，更好地做好全省的眼健康科普工作，为四川省眼健康水平提升做出更大的贡献。流动科普馆启动仪式后立即启程，奔赴四川珙县、平昌县、德荣县等贫困地区提供科普服务。</p>
            <p><b>成都中医大银海眼科医院代表常务副院长朱思泉教授向四川省视力保护科普基地主任周华祥教授捐赠“流动科普馆”</b></p>
            <p>中山大学中山眼科中心刘文教授、成都中医大银海眼科医院院长助理邱航、成都中医药大学眼科学院老师和同学代表、成都中医大银海眼科医院医护人员一同参加了启动仪式。</p>
            <p><b>众领导、嘉宾与流动科普馆合影留念</b></p>
            <p>流动科普馆与传统科普工作实现了有机结合，在传统科普工作的基础上改革创新，即提升了科普教育的能动性，同时丰富了传统科普工作的手段和形式，成为普及科学知识、弘扬科学精神、传播科学思想和方法的重要科普设施。让科普工作更加智能化、科学化，并形成集成效应，对眼健康水平提升具有重要意义！</p>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





