<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>四川省糖尿病防治提升计划在蓉启动</h5>
            <p class="rightWord">2017-11-05</p>
        </div>

        <div>
            <p>在“联合国糖尿病日”即将到来之际，由四川省糖尿病防治协会、四川精诚名医医疗股份有限公司、成都中医大银海眼科医院股份有限公司、贵州百灵企业集团制药股份有限公司共同合作发起的“四川省糖尿病防治提升计划战略合作框架协议签约仪式”于2017年11月4日在成都温江皇冠假日酒店举行。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnbzrqd_1.jpg") %>
            </div>
            <p>仪式上，四川省糖尿病防治协会秘书长岳仁宋教授、成都商报四川精诚名医平台闻达董事长、成都中医大银海眼科医院院长/党委书记段俊国教授、贵州百灵企业集团制药股份有限公司况勋华总监，共同签署了《四川省糖尿病防治提升计划战略合作框架协议》，此举标志着四川省糖尿病防治提升计划正式启动。</p>
            <p>来自全省医疗机构、疾控部门、企事业单位的糖尿病相关专业医生、护士、营养师、管理人员、企业代表和媒体人士共同见证了这一惠及民生福祉的重大时刻。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnbzrqd_2.jpg") %>
            </div>
            <p>据世界卫生组织发布的《全球糖尿病报告》显示，我国的糖尿病患者人数已居世界首位，成人糖尿病患病率高达11.6%，其中新诊断的糖尿病患者占8.1%，中国糖尿病发病率呈“爆炸式”增长，而四川省糖尿病患者估计在800万人左右。同时，在四川省约800万左右的患者中，已知的患病人数仅为200万左右，还有600万患病人群自己并不知晓，这也为糖尿病的防控带来困难。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnbzrqd_3.jpg") %>
            </div>
            <p>此次战略合作，旨在充分利用省糖尿病防治协会、精诚名医、银海眼科、贵州百灵四方资源，面向糖尿病患者，为其提供科学、实用的饮食、运动、治疗、预防等全方位的糖尿病教育、个体化治疗和康复管理方案、可靠的防治方法等，促进医患的良好沟通，增加糖尿病患者战胜疾病的信心，提高患者的生存质量，提高知晓率达到早预防、早诊断、早治疗，减少省内糖尿病及其并发症的发生率、致残率和病死率，减轻国家、集体和个人的经济负担。</p>
            <p>四川省糖尿病防治协会可以协调相关政府部门支持本计划，组织协会糖尿病防治相关医疗机构、疾控机构的医务工作者和患者群体交流并探索糖尿病防控新技术、新方法、新方案和新成果，将本项目推向更高的台阶，使得项目公益性更强；四川名医拥有强大的媒体资源、医疗资源以及执行团队，可以集中媒体宣传报道以及凝聚患者群体，扩大项目影响力，确保项目顺利实施；成都中医大银海眼科医院为华佗工程眼科分级诊疗四川中心，拥有专业的医护团队及执行团队，利用自身医联体优势，配合项目的落地及活动的顺利开展；贵州百灵药业深耕糖尿病领域，在药品、医院、信息中心等，已有成熟的模式，在该项目投入经费和资源，推动项目的顺利开展。合作四方作为该项目主要发起单位，强强联手，互利互惠，共同努力将本项目打造成国家认可的全国标杆。</p>
            <p>同时，省糖尿病防治协会、精诚名医、银海眼科、贵州百灵还将联合成立“四川省糖尿病信息中心”，利用云平台和大数据，对四川省糖尿病患者进行筛查和健康管理，达到终身监测、未病先防、有病早治目的，并能够快速响应患者需求，出现并发症及时处理及转诊的糖尿病管理机制。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnbzrqd_4.jpg") %>
            </div>
            <p>通过四川省糖尿病防治提升计划，形成预防为主、防治并重、中西结合的糖尿病患者全覆盖、终身健康管的糖尿病防治四川模式，将四川省糖尿病防治和四川省眼健康工程带上新的高度，做成全国范本和标杆。以实现健康四川、健康中国为远大目标。</p>

        </div>
    </div>
</div>

