<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>号外！号外！6月6日廖品正国医大师正式坐诊中医大银海眼科医院</h5>
            <P class="rightWord">2017-06-05</P>
        </div>

        <div>
            <p>在2017年6月6日第22个全国“爱眼日”之际，著名中医眼科专家廖品正国医大师正式坐诊成都中医大银海眼科医院，坐诊时间为每周二下午。廖品正国医大师长于疑难眼底病的中医药防治，从即日起开始接受疑难眼病患者的预约，按预约顺序接诊，名额有限，6月16日前免收诊费，预约从速！</p>
            <div class="newsImgMar">
                <%= image_tag("news_lpz_1.jpg") %>
                <p>廖品正国医大师</p>
            </div>
            <p>廖品正国医大师从事中医眼科临床、教学、科研工作52年，她师从建国后第一代中医眼科泰斗陈达夫教授，曾担任国务院学位委员会第五届学科评议组成员，享受国务院政府特殊津贴专家，全国教育系统劳动模范并获“人民教师”奖章，四川省首批学术和技术带头人、四川省首届名中医、四川省首届十大名中医、全国名老中医师承老师。</p>
            <div class="newsImgMar">
                <%= image_tag("news_lpz_2.jpg") %>
                <p>廖品正国医大师在为患者诊病</p>
            </div>
            <p>廖品正国医大师以仁德为怀，帮助国内外眼疾患者解除病痛困扰，重获光明，名气蜚声海内外，在群众中享有很高的声誉，成为中医眼科界一代名医。廖品正国医大师正式坐诊银海眼科医院，给成都市民们带来切实的福利，同时还将到医院进行医疗教学科研，提高银海眼科医院整体的眼科水平。</p>
            <div class="newsImgMar">
                <%= image_tag("news_lpz_3.jpg") %>
                <p>廖品正国医大师与成都中医药大学校长余曙光、成都中医大银海眼科医院院长、书记段俊国签订“廖品正国医大师工作室建设协议</p>
            </div>
            <p>据悉，2017年5月13日，廖品正国医大师与成都中医药大学、成都中医大银海眼科医院签订国医大师工作室建设协议，根据三方协议，廖品正国医大师工作室将由成都中医大银海眼科医院建设并管理，眼科医院将提供约500平米的工作室场地，配备一流的设备、专职人员以及学术继承人，对廖品正国医大师的学术思想和眼科临床经验进行传承研究，造福更多的眼病患者。</p>
        </div>
    </div>
</div>




