<div class="middle flow">
    <div class="newsMain">
        <div class="newsTitle">
            <h5>守护心灵之窗—沙河源小学眼健康科普公益活动</h5>
            <p class="rightWord">2017-05-05</p>
        </div>
        <div>
            <p>2017年5月5日，四川省视力保护科普基地联合我院深入沙河源小学，为150余名师生、家长开展了眼健康校园公益行活动。我院专家为现场师生及家长开展科普讲座，并提供专业眼健康检查等服务。</p>
            <div class="newsImgMar">
                <%= image_tag("shy_1.jpg") %>
            </div>
            <p class="noIndent"><b>科普讲座</b></p>
            <p>我院专家结合小学生的生活和学习特点，通过图文并茂的课件为现场学生普及了近视的发病原因、危害及如何预防等爱眼护眼知识。讲座内容寓教于乐，采用问答、图片等形式开展科普教育，在轻松愉快的氛围中向大家科普青少年近视防控相关知识，深受学生与家长喜爱。</p>
            <div class="newsImgMar">
                <%= image_tag("shy_2.jpg") %>
            </div>
            <p class="noIndent"><b>眼健康检查</b></p>
            <p>随后，我院医护人员使用“七合一”智能机器人——眼前节综合分析仪等国际顶尖先进设备为广大师生及家长提供眼部专业检查，同时为学生们建立了专业的眼健康档案。针对每位学生的检查结果，我院视光专家团队亲自进行了解读，并给出合理的检查和治疗方案，对此家长与老师们表示衷心感谢，受到校方领导一致好评。</p>
            <div class="newsImgMar">
                <%= image_tag("shy_3.jpg") %>
            </div>
            <p>此次校园公益行引起学校和家长对眼健康的高度重视，在学习压力繁重及电子信息时代，在不断提高学习成绩的同时，更应增强青少年儿童眼健康科普教育及早期检查等工作，真正做到德、智、体全面发展。</p>
            <p>青少年儿童近视防治工作任重而道远，需要学校、学生、家长、眼科专业机构等各方携手共进，培养学生健康的生活方式，从而全面提升青少年儿童眼健康水平。</p>
        </div>
    </div>
</div>



