<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医】将病根彻底拔除——张富文</h5>
            <p class="rightWord">2017-07-27</p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("news_myzfw_1.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>张富文</p>
                    <p>主任医师 教授，硕士研究生导师</p>
                    <p>中华中医药学会眼科分会青年委员</p>
                    <p>中国中西医结合学会四川分会眼科分会委员</p>
                    <p>中国中医药信息学会理事</p>
                    <p>四川省中医药信息学会常务理事</p>
                    <p>坐诊时间:周二上午、周五全天</p>
                    <p>长期从事眼科学临床、教学和科研工作，并从事中医信息化管理。在临床方面从事糖尿病及并发症的研究和青光眼治疗、视神经保护研究，在临床中开展青光眼的临床开展各种先进的抗青光眼手术，研究青光眼的视神经保护治疗，在中药保护视神经的研究中有重要的发现，开发出保护视神经中药和滴眼液各一种。</p>
                    <p>先后主持、承担国家“十一五重大新药创制”、国家十二五重大仪器设备专项等国家级、部省级、厅局级课题20余项，获四川省科技进步特等奖、成都市科技进步特等奖。参与编写《中华医学百科全书》“中医眼科学卷”、《中药药效研究方法学》“眼科疾病篇”等。</p>
                    <p>擅长领域：眼底出血性疾病，如视网膜静脉阻塞、糖尿病导致眼病，青光眼、视神经萎缩等视神经损害疾病。调节治疗各种眼干涩、视疲劳，中药综合保护学龄儿童和青少年视力，延缓近视的发展。</p>
                </div>
            </fieldset>
            <p>在旁人看来，张富文医生并不善言辞，虽然他的医术精湛，受到病人和同行的称赞极多，他本人却从不主动提起自己的成就，只在埋头做事情。记者在见到张医生本人之前，心里不住打鼓，会不会冷场？会不会提问不出什么信息？</p>
            <p><b>话不多的他谈起医学却滔滔不绝</b></p>
            <p>记者来到银海眼科医院，出电梯的时候发现张医生已早早等候在电梯门外，让记者十分感动，瞬间对张医生可能会高冷的担心一扫而空。随张医生坐定，问起张医生擅长的眼底出血性疾病。说起医学，张医生如数家珍地解释起了发病成因。“ 把血管比喻成咱们的自来水管，就像水管长了‘沙眼’一样，血管有孔会导致出血。有的情况下出现增生，会把血管堵得更厚。”张医生形象的解释让记者这个门外汉对眼科疾病都有了一个大概的认识，甚至产生了一丝兴趣。他讲话很有条理性，不紧不慢，讲到病人的感受甚至如身临其境地带点夸张的表情，让人忍俊不禁。</p>
            <div class="newsImgMar">
                <%= image_tag("news_myzfw_2.jpg") %>
            </div>
            <p>不出所料，张医生在成都中医药大学教授课程，主讲《中医眼科》和《科研思路与方法》两门课，同时担任四个硕士研究生的导师。张医生讲授医学原理这么形象、耐心，可以想象得到，做张医生的学生该是多么享受的一件事，接受张医生治疗的病患见到他，痛苦也会马上减轻几分了吧。</p>
            <p><b>找出问题的根本所在</b></p>
            <p>谈及治疗方案的时候，张医生说，不光要看到疾病的临床表现，更重要的是要找出病根所在，一次性彻底解决根本问题，这样才能让病人少花冤枉钱，也才能真正让病人摆脱疾病的困扰。</p>
            <p>2016年，有个来自阿坝州的人肿着眼睛找到了张富文。病人的眼睛发炎、水肿症状特别明显，眼睛肿胀了整整一个星期，到处求诊用了无数种消炎药都不见效。张医生对病人做了常规检查后，多年的经验告诉他发炎只是表象，肯定还有其他深层原因。张富文认真检查了病人的下眼睑，在水肿的结膜穹隆深处发现了根本原因所在——一颗超过3毫米的半透明砂粒。取出这颗砂粒后，病人的眼睛很快就康复了。看似简单的外眼疾病，不仔细探查找到病因，治疗事倍功半的。</p>
            <p>还有一次来了一位女性患者，在多家医院诊断为视网膜萎缩而治疗效果不佳，张医生仔细检查病人，并根据视野检查的结果推断出病人致病原因是颅内的占位病变压迫了视神经所导致，并为病人开具了头部的影像检查，发现了颅内的血管瘤，经过治疗病人的病情迅速控制。张医生总能快速找到病根，给出最佳治疗方案，所以病人对他信赖有加。</p>
            <p>在十数年的时间里，张富文所在的新药研发团队致力于糖尿病视网膜病变的药物开发，要从新药角度为更多糖尿病患者谋福。</p>
            <p>从2002年立项至今，研发已到了第16个年头，开发的新药“芪灯明目胶囊”已进入二期临床试验阶段，但严谨的医学实验周期决定了，距离新药上市还有很长的路要走。张医生说，开发新药得找到药物的活性成分，并通过现代工艺提取出来，说到底，还是要解决主要问题。这个过程一定要认真、细心，容不得半点马虎。</p>
            <div class="newsImgMar">
                <%= image_tag("news_myzfw_3.jpg") %>
            </div>
            <p><b>建议城市人多出去走走</b></p>
            <p>作为一名眼科医生，张富文对现代城市人的用眼表示担忧。很多人的工作都要看近处的东西持续很长时间，这样不利于眼部肌肉的放松，长此以往会对眼睛造成损伤。张医生建议大家工作间隙休息一下眼睛，很多人喜欢叫外卖，中午的时候可以走路出去吃饭，一来走到户外放松一下眼睛，二来对整个身体的锻炼也是有好处的。</p>
            <p>近视眼的发病率有逐年攀升的趋势，张医生说，高度近视可能会引起视网膜变薄、黄斑出血等并发症，视力恶化的时候应该及时引起重视，不要等到后期产生严重的眼部疾病为时已晚。另外也要注意用眼卫生，特别保护我们心灵的窗户。</p>
            <p>采访结束后，张富文匆匆小碎步跑向门口，记者才知道张医生马上要赶到学校去讲课。刚刚采访期间张医生丝毫没有提及晚上有课，整个采访过程都在很认真、细致地给记者解释医学原理，张医生没吃晚饭就要去讲课。记者顿时对张医生的善解人意感动不已。面对这样耐心、善良的医生，病人一定会把悬着的心放下来了。</p>

        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





