<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>近视防控从小开始？具体该怎么办？她都能为您解答 ——【健康方程式】小儿眼科主任袁晓辉访谈</h5>
            <p class="rightWord">2017-08-11</p>
        </div>

        <div>
            <p>近日，我院院长助理、小儿眼科主任、眼视光学术带头人袁晓辉教授被邀参加《健康方程式》栏目，就网友关心的眼健康问题进行了耐心解答。</p>
            <h4>壹</h4>
            <p><b>Q1</b>“沐浴阳光，预防近视”是今年爱眼日的主题，为什么眼睛和阳光有直接的联系呢？</p>
            <p><b>A1</b>因为现在的孩子喜欢玩手机、电脑与看电视，很少有时间去大自然中去沐浴阳光。而户外活动对孩子眼健康是非常重要的，我们应当规定孩子每天必须要有2小时的户外活动时间。</p>
            <h4>贰</h4>
            <p><b>Q2</b>国内外医学证明，坚持适度的户外活动，尤其是乒乓球和羽毛球等有益于眼肌锻炼的体育活动是非常有必要的，为什么会特别提到这两种球类呢？</p>
            <p><b>A2</b>户外活动包括体育锻炼与课间的休息。首先，学习40分钟要放松眼睛，不管是看近还是看远，眼睛在使用过程中都会有调节，课间休息是必要的。其次是体育锻炼，打乒乓球和羽毛球能让孩子眼睛一张一弛，有利于增加孩子眼睛的调节灵敏度，从而有助于预防近视。</p>
            <h4>叁</h4>
            <p><b>Q3</b>有的人是幼儿园开始近视，有的人是小学，而80后更多是初中或高中才开始近视，为什么现在的近视成低龄化的趋势？</p>
            <p><b>A3</b>幼儿园就发现近视的一般和先天遗传有关。而小学就发生的近视与长期近距离用眼，如电子产品、近距离阅读有关。低龄近视危害很大，因为孩子在生长发育阶段，近视增长很快，容易发展成高度近视，而高度近视可以产生严重的并发症，导致视力下降甚至致盲。孩子近视的发生发展与孩子不良的用眼的习惯、挑食、过量摄入甜食等都有很大的关系。</p>
            <h4>肆</h4>
            <p><b>Q4</b>孩子近视配眼镜会使度数增加是误区吗？</p>
            <p><b>A4</b>是误区，孩子去医院验光后，是近视就必须要配镜。不然，近视度数会增长得更快，也会带来很多坏习惯，比如：眯眼、歪头等。孩子在生长发育阶段近视都会增长，不戴眼镜长得更快，配镜后能清楚视物反而增长得慢一些。</p>
            <h4>伍</h4>
            <p><b>Q5</b>近视防控的过程中会有一些误区，具体有哪些？</p>
            <p><b>A5</b>有些家长会带孩子去非医疗机构治疗而不配镜，这是非常不科学的做法，应该去正规的医院进行医学验光。孩子的眼睛情况很复杂，它包括远视、近视、散光等。不正确的配镜，如度数不准确、散光轴向不精确会直接影响孩子的眼睛，比如度数增加，或者眼胀、眼干。其实，我们中医大银海眼科医院非常重视近视防控，通过中西医结合进行近视防控，其中“防”是最重要的。半年要检查一次眼睛，近视是可以预防和控制的。</p>
            <h4>家长短信互动</h4>
            <p><b>01</b></p>
            <p class="redWord">孩子近视，曾经做过耳穴的治疗，这样的近视治疗方式有效吗？还需要配镜吗？</p>
            <p>耳穴治疗不是治疗近视，而是属于中医中药防控近视的辅助治疗手段。近视后必须到医院散瞳验光并配眼镜。低度数的孩子近视100-200度，建议配眼镜后只需在上课看黑板，或者偶尔看电视的时候戴，平时玩的时候可以不戴。让孩子能清晰的视物，控制近视发展。</p>
            <p><b>02</b></p>
            <p class="redWord">防蓝光的手机膜和眼镜是否能保护眼睛，是否真的有科学依据？</p>
            <p>是的。防蓝光无疑是如今的热点，也代表着大多数人开始重视眼健康。蓝光对眼睛的伤害较大，主要对视网膜及黄斑有影响，所以注意防控很有必要。对将来年龄相关性黄斑变性的发生有一定的预防作用。</p>
            <p><b>03</b></p>
            <p class="redWord">OK镜曾经有些感染的案例，那么现在的OK镜有没有改进呢？</p>
            <p>OK镜导致的感染的案例都是在非医疗机构验配的。在正规医疗机构验配、在医生指导下配戴、定期复查是绝对安全的。在我院验配的OK镜，无一例感染。</p>
            <p><b>04</b></p>
            <p class="redWord">娃娃四岁，在医院体检有50度的散光，现在该怎么办呢？</p>
            <p>A：低度散光（低于100度的散光）是不需要矫正的，只需观察，但是三个月后要带到医院进行专业的散瞳验光，排除有无问题。</p>
            <p><b>05</b></p>
            <p class="redWord">孩子常揉眼是怎么回事？</p>
            <p>可能是细菌性结膜炎、过敏性结膜炎或沙眼，有这样的问题应到医院检查，在医生的指导下滴眼药水或采用中药熏蒸，勤洗手，不揉眼睛就可以了。</p>

            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj8.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>袁晓辉</p>
                    <p>主任医师/教授</p>
                    <p>成都中医大银海眼科医院院长助理、小儿眼科主任、眼视光学术带头人，全国知名小儿眼科专家，全国名老中医药专家学术经验继承人，中国民族医药学会眼科分会常务理事，四川省中西医结合学会眼科专业委员会委员，四川省医学会眼视光专业委员会委员。</p>
                    <p>1985年毕业于成都中医药大学，在成都中医药大学附属医院眼科、眼视光中心从事中西医眼科、眼视光工作30余年，曾在温州医科大学眼视光医院和北京医科大学第一附属医院小儿眼科学习进修，从事小儿斜弱视临床、科研、教学工作至今。</p>
                    <p>她专攻小儿眼科20余年，擅长各类弱视及斜视的治疗，在各类屈光性弱视、眼球震颤性弱视等多种疑难性弱视的诊断和治疗有独到之处。对青少年近视的中医药防控有独到见解，是孩子和家长信赖和喜爱的“护眼妈妈”。</p>
                    <p>坐诊时间: 周一、周日上午，周二、周四全天，周三下午</p>
                    <p>擅长领域:</p>
                    <p>擅长儿童弱视矫治，在各类屈光性弱视、眼球震颤性弱视等多种疑难性弱视的诊断和治疗都有独到之处。对青少年近视的中医药防控有独到见解。各类斜视的诊治，医学验光及渐变多焦镜、OK镜、RGP镜的验配。对白内障、青光眼、葡萄膜炎、眼底病等各类眼科常见病也有丰富的临床经验。</p>
                </div>
            </fieldset>


        </div>
    </div>
</div>




