<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>《中国中医药名家经典实用文库·廖品正实用中医眼科学》编写会召开</h5>
            <p class="rightWord">2017-10-16</p>
        </div>

        <div>
            <p>2017年10月13日，由中国中医药出版社负责出版的《中国中医药名家经典实用文库》系列丛书之一《廖品正实用中医眼科学》编写会议在成都召开。会议由本书主编、成都中医药大学眼科学院院长段俊国教授主持，中国中医药出版社华中健编审、国医大师廖品正教授，以及部分编委会成员共计15人参加了会议。</p>
            <p> 成都中医药大学眼科是现代中医眼科学家陈达夫教授一手创办并传承下来，创立具有独特的中医眼科“六经辨证”体系，在临床中独具疗效，在人才培养方面为国内培养了大批的中医眼科师资力量，为后来成都中医药大学眼科的学科建设奠定了坚实的基础。会上，国医大师廖品正教授讲述了跟随陈达夫教授临证学习的体会和心得，在医理和遣方用药记忆尤新，并强调中医理论指导下临床实践的重要性，本次编写实用中医眼科学要继承和发扬陈老中医眼科理论体系和临床经验。副主编王明杰教授讲述了继承和发扬玄府学说，并将之指导于临床取得了治疗临床疑难疾病较好疗效，是中医眼科理论和内科学医理相通的证据。据此，与会专家达成一致，本次编写《廖品正实用中医眼科学》将注重中医眼科特色的继承，全面梳理特色的中医眼科理论并系统化，并在名医临床经验的总结方面进行系统总结，做到真正实用于临床。</p>
            <p>本次会议编委会成员还对编写体例、书稿目录等编写资料为核心展开讨论，围绕本书的定位、系统性阐释、理论学说的正本澄源、名医临床经验的总结等方面进行了讨论，确定了编写的体例和大致目录，并为本书的编写节点提出了计划安排。</p>     
            <div class="newsImgMar">
                <%= image_tag("news_aboutBook.png") %>
            </div>
            
         </div>
    </div>
</div>

