<div class="middle">

    <div class="newsMain">
        <div class="newsTitle title twoNewsTitle">
            <h5>成都中医药大学眼科学院2017年接收推荐免试</h5>
            <h5>攻读硕士学位研究生办法</h5>
            <p class="rightWord"></p>
        </div>

        <div>
            <p>为保证眼科学院推荐免试研究生接收工作的顺利进行，眼科学院拟定推荐攻读硕士学位研究生章程，具体如下：</p>
            <p><b>一、推荐免试研究生申请条件</b></p>
            <p>1.具有高尚的爱国主义情操和集体主义精神，社会主义信仰坚定，社会责任感强，遵纪守法，诚实守信，不得有学术不端或不诚信考试记录，在校期间未受任何处分，积极向上，身心健康。</p>
            <p>2.学习成绩优秀，学术研究兴趣浓厚，有较强的创新意识、创新能力和专业倾向。在校期间不得有重修或重考记录。推荐免试研究生的成绩按平均学分绩点计算（含必修课、限选课）。</p>
            <p>3.外语水平达到国家四级等级考试425分（含）以上（小语种通过国家四级考试，获得证书，其中日语考生通过国际日本语能力测试2级者视为与国家四级有同等效力）。</p>
            <p>4.通过本专业毕业生所要求通过的国家计算机等级考试相应级别。</p>
            <p>5.同等条件下，<b>以下情况之一者可以优先推荐：</b></p>
            <p>（1）评为校级及以上优秀学生称号次数多者优先。</p>
            <p>（2）有文艺、体育、社会工作等特长的学生或参与上述相关比赛做出突出贡献者予以适当考虑，但具备这些特长者，必须参加综合排名，不得单列。</p>
            <p>（3）外语水平通过级别更高者优先。</p>
            <p>（4）国家计算机等级考试通过级别更高者优先。</p>
            <p>（5）在核心学术期刊发表第一署名文章一篇以上，或获得省级课外科技活动三等奖以上，或参与编写并出版专著5万字以上。</p>
            <p>（6）211、985院校的推荐免试生优先录取。</p>
            <p>6. 中医眼科学硕士科学学位（专业代码1005Z2）、中西医结合临床（眼科方向）硕士科学学位（专业代码100602）限招临床医学本科、中医学本科、中西医结合医学本科、医学技术（眼视光学），授予医学学位或理学学位（眼视光学）。</p>
            <p>中医五官科学硕士专业学位（专业代码105706）、中西医结合临床（眼科方向）硕士专业学位（专业代码105709）限招符合中医医师资格考试报考条件规定的专业要求的应届本科毕业生。</p>
            <p><b>二、推荐免试研究生接收专业及名额</b></p>
            <p>我院接收推荐免试研究生专业为临床医学本科、中医学本科、中西医结合医学本科、医学技术（眼视光学）及中医医师资格考试报考条件规定的专业要求的学生。名额等详情请查阅《成都中医药大学2018年接收推荐免试攻读硕士学位研究生专业目录》。</p>
            <p><b>三、推荐免试研究生工作程序及时间安排</b></p>
            <p>时间：10月10日下午2点30分安排复试</p>
            <p>地点：十二桥校区一教3楼，眼科学院会议室</p>
            <p><b>1.复试提交材料：</b></p>
            <p>（1）学生证及复印件、第二代身份证及复印件； </p>
            <p>（2）其他各种能力证明材料（如大学英语四、六级考试成绩单、获奖证书、本人代表性学术论文、出版物或原创性工作成果等）复印件； </p>
            <p>（3）学校教务管理部门提供的学习成绩单复印件并加盖公章；</p>
            <p>（4）由政府设立的二级甲等以上医院出具的体检报告。 </p>
            <p><b>2. 复试基本内容：</b></p>
            <p>（1）面试：专业及综合素质和能力应侧重对考生的思想素质和道德品质；专业以外的学习、科研、社会实践或实际工作表现等方面的情况，学术型硕士研究生面试提问占50分，专业型硕士研究生面试提问占30分；</p>
            <p>（2）英语听说能力：学术型硕士研究生外语听力和口语占20分，临床实践技能占30分,；专业型硕士研究生外语听力和口语占20分，临床实践技能占50分；</p>
            <p><b>四、推荐免试研究生工作纪律</b></p>
            <p>推荐优秀应届本科毕业生免试为研究生工作的政策性强，参加推荐的工作人员一定要秉公办事，本着公开、公平、公正的原则，严格掌握条件，规范的开展工作。工作人员若有子女申请推荐免试者，必须回避。若有弄虚作假、徇私舞弊者，按违反招生纪律处理。推荐免试工作公开监督电话：87715027。</p>
            <p><b>五、本工作办法由眼科学院推荐免试工作接收小组办公室负责解释。</b></p>
            <p><b>领导小组名单：</b>段俊国、周华祥、路雪婧、周春阳、陶铮</p>
            <div class="flow">
                <div class="fr">
                    <p>眼科学院</p>
                    <p>2017年9月20日</p>
                </div>
            </div>
        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>
