<div class="middle">

    <div class="newsMain">
        <div class="newsTitle title">
            <h5>成都中医药大学眼科学院2018年博士研究生复试办法</h5>
            <p class="rightWord"></p>
        </div>

        <div>
            <p>根据成都中医药大学博士研究生招生复试工作办法要求，经院党政联席会研究决定，制定复试工作方案如下：</p>
            <p><b>一、 复试内容和要求：</b></p>
            <p><b>1. 思想政治品德方面：</b></p>
            <p>着重考察考生的思想政治素质、道德素质和心理素质。综合素质和能力侧重考核考生的思想素质和道德品质、专业以外的学习、科研、社会实践、工作（学习）态度、心理状况等方面的情况。考核必须遵循实事求是的原则，包括查看考生提供的相关材料也包括面谈，考核结果分为合格和不合格，不合格者不予录取。</p>
            <p><b>2. 专业技术方面：</b></p>
            <p>专业水平内容应侧重考考生的逻辑思维能力、应变表达能力、科研素质和分析问题与解决问题的能力。全面考核考生对本学科（专业）理论知识和应用技能的掌握程度，前沿知识的掌握及学有所用的能力。专业型考生应更侧重于了解考生的临床技能，以便选择专业学位的博士生。</p>
            <p><b>3. 复试要求：</b></p>
            <p>学院成立复试工作小组，根据专业要求确定复试面试内容和形式，制定同一学科专业面试提问的统一提纲，实践技能测试事先备好题目。面试内容包含专业知识提问、英语口语测试、实践技能测试。内容以学科基础性知识为主，鼓励考生创新性回答问题。每名考生面试时间一般不少于30分钟。</p>
            <p><b>二、复试方式：</b></p>
            <p>根据专业方向采取面试提问（含外语口语测试），专业实践技能测试。专业实践技能测试采取安排考生到病房处理病人，并在规定时间内写出完整病历一份提交复试小组。</p>
            <p><b>三、成绩评定： </b></p>
            <p>复试成绩评定以百分制计分，满分为100分，未达到60分视为复试未通过，不能录取。复试小组成员评分后应签署姓名。评语应含考生对专业知识理论和实践的掌握情况、科研能力及综合素质的评价和考生存在的主要问题。</p>
            <p><b>四、复试时间与地点：</b></p>
            <p>2018年博士研究生复试定于2018年3月11日（星期日）下午14:00-15:30在成都中医大银海眼科医院住院部3楼医生办公室进行专业实践技能考试，同日下午16:00-18:30在银海眼科医院6楼二会议室进行专业综合面试。</p>
            <p><b>五、咨询  </b></p>
            <p>咨询地点：成都市十二桥路37号成都中医药大学一教302眼科学院科教学学生部办公室，联系人：李老师  028-68398866-6302  </p>
            <p><b>六、注意事项：</b></p>
            <p>1.   严守纪律，严格复试，不能流于形式，体现公平竞争；</p>
            <p>2.   复试成绩结果于研究生院网站公布。</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>

            <div class="flow">
            <div class="fr bottomLineHeight">
                <p>成都中医药大学眼科学院</p>
                <p>2018年3月9日</p>
            </div>
        </div>
        </div>
    </div>
</div>
