<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>成都中医药大学党委书记刘毅来我院参观并指导工作</h5>
            <p class="rightWord">2017-05-19</p>
        </div>

        <div>
            <p>5月15日上午九点，在成都中医大银海眼科医院即将开业之际，成都中医药大学党委书记刘毅专程来院参观、指导工作。</p>
            <div class="newsImgMar">
                <%= image_tag("news_visit_1.jpg") %>
                <p>书记参观并指导我院工作</p>
            </div>
            <p>在成都中医药大学眼科学院/附属银海眼科医院院长、书记段俊国教授的陪同下，刘毅书记参观考察了眼科医院眼视光中心、中医眼科特色诊疗科、眼科门诊、住院部、特需门诊、手术室、药房、检验科、医学影像科、信息中心和读片中心，以及筹建中的廖品正国医大师工作室。</p>
            <p>随后，在医院六楼会议室，段俊国院长向刘毅书记汇报了近两年来眼科学院、眼科医院、眼科研究院的建设概况以及“三院一体”模式创新体制机制的探索情况。在不到两年的时间，眼科学院、眼科医院、眼科研究院的构建初步完成，并按照“三院一体”的创新模式运行，得到业界的普遍关注和赞誉。</p>
            <div class="newsImgMar">
                <%= image_tag("news_visit_2.jpg") %>
                <p>刘毅书记与段院长及部分医护人员合影留念</p>
            </div>
            <p>刘毅书记在参观和听取汇报后，对眼科学院、眼科医院和眼科研究院在短时间内的快速发展用“创新”和“震憾”进行了概括，高度肯定了“三院一体”的创新模式。他指出，眼科三院依托国家级中医眼科学重点学科建设发展，是几代中医眼科人长期不懈、辛勤付出的结果。附属银海眼科医院是我校在新形势下的引领和标杆，学校会继续对眼科三院进行支持。刘毅还指出，医院开业在即，希望全体医护人员上下一心，众志成城，努力建设好医院，为眼健康提升事业发挥重要作用。同时，刘毅还希望眼科学院在人才培养方面，继续做好教职工的育人育才理念和意识培养，希望学科在发展过程中继续做好思想政治教育建设。在创建“双一流”工作中，切实做好学科创新发展，进一步加强中西医优势结合、医教研结合，要把弘扬中医药文化融入中华优秀传统文化传承发展工程，推进中医药现代化和国际化。</p>
        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




