<div class="middle">

    <div class="newsMain">
        <div class="newsTitle twoNewsTitle">
            <h5>成都中医药大学眼科学院</h5>
            <h5>成都中医大银海眼科医院</h5>
            <h5>招聘信息</h5>
            <p class="rightWord"></p>
        </div>

        <div>
            <p><b>一、学院及医院简介</b></p>
            <p>成都中医药大学中医眼科学科1956年由著名中医眼科学家陈达夫教授创建，是我国唯一国家级中医眼科学重点学科，同时也是国家中医药管理局重点学科、四川省重点学科。依托学科建设的成都中医药大学眼科学院、成都中医大银海眼科医院、四川省眼与视觉健康产业研究院，实行三院一体建设，拥有国医大师、国家杰出专业技术人才、国务院政府津贴专家、国家卫生计生突出贡献中青年专家等全国中西医眼科顶级专家及教授团队。</p>
            <p>眼科学院开设大学本科、硕士、博士全序列中医眼科学、中西医眼科学与眼视光高等教育，设有中医眼科及中西医结合眼科博士后流动工作站。眼科医院按国家三级甲等专科医院标准建设，建筑面积56000平米，编制床位400张，一期已开放床位127张，配置世界顶级眼科专业设备，专病专科齐全，同时满足研究型和教学型专科医院需求。学院与医院实行院院合一的统筹管理。医院设立眼底病中心、糖尿病视网膜病变中心、中医眼科中心、眼视光中心、屈光手术中心、眼影像与诊断中心、眼表及角膜病科、泪道及眼外伤科、眼眶病及眼肿瘤科等专病专科。医院未来将在全国省会城市、直辖市建立银海眼科分院10-20个，托管地市县眼科100个，在县（区）建立眼视光门诊1000个左右，形成中医、中西医结合特色的眼病防治与视觉保健银海眼科全国网络。</p>
            <p>2017年成都中医药大学成为“双一流”学科建设高校，中医眼科学科进入三院一体建设的高速发展期，“人才强校”、“人才强院”是大学及学院、医院建设发展的重要战略，为加强眼科学院/医院师资队伍建设，促进学科交叉、优化学科结构，成都中医药大学眼科学院及成都中医大银海眼科医院现面向海内外诚聘眼科学界精英，同时，真诚欢迎各大医学院校眼科学等专业优秀毕业生来院工作。我院将本着“一流人才，一流待遇”的原则，给予优厚的人才政策、发展政策以及科研启动经费支持，应聘学院的博士将直接进入博士后工作站，优秀者三年后可进入事业编制。</p>
            <p>成都中医药大学，成都中医大银海眼科医院坐落在天府之国,古韵成都。秦朝建城，汉代兴盛，清代形成“两江环抱、三城相重”的城市格局,遥望千百年历史，成都都交出色的答卷。立足脚下，放眼未来，这座天府之国迈向宜居现代化之城的道路也逐渐清晰-----成都正为建设“全面体现新发展理念的国家中心城市”而努力，全力打造人才“新磁场”，“择天下英才而用之”。成都市政府出台人才政策“组合拳”助跑人才来蓉创新创业，《成都实施人才优先发展战略行动计划》和《关于创新要素供给培育产业生态提升国家中心城市产业能级的人才安居工程实施细则》明确提出12条实实在在的人才红利。推行“先落户后就业”的落户政策；为人才安居问题设立人才公寓、产业新城配套租赁住房和用人单位自建倒班房等多种方式和途径的解决方案；设置22个7天以内免费入住的青年人才驿站；针对急缺人才建立“蓉城人才绿卡”；高端人才不受限购政策等人才新政。成都优厚的人才政策、较低的房价，优雅时尚的生活，丰富的物产、宜人的气候，从“海归”到“蓉漂”，成都这个城市已经成为大家工作、创业的热门选择。</p>
            <p>成都中医药大学眼科学院，成都中医大银海眼科医院——诚邀您的加盟，为光明导航，把梦想点亮！</p>
            <p>简历接收邮箱:ineyehospital_hr@126.com   </p>
            <p>医院网址：http://www.ineyehospital.com</p>
            <p>医院地址：成都市金牛区星辉西路8号</p>
            <p>联系人：  杨老师     赵老师</p>
            <p>联系电话：028-68398866-6659    18080177616（微信号）</p>
            <table class="schedulingTab">
                <tr class="tableTwoTle">
                    <th colspan="7">
                        <p>成都中医药大学眼科学院  成都中医大银海眼科医院</p>
                        <p>2018年人才需求计划一览表</p>
                    </th>
                </tr>
                <tr>
                    <td><b>所在部门</b></td>
                    <td><b>所属系室</b></td>
                    <td><b>专业</b></td>
                    <td><b>学历(位）要求</b></td>
                    <td><b>工作任务</b></td>
                    <td><b>需求数量</b></td>
                    <td><b>相关条件</b></td>
                </tr>
                <tr>
                    <td rowspan="4">
                        <p><b>国医大师工作室</b></p>
                    </td>
                    <td>眼视光教研室</td>
                    <td>眼科学、眼视光学等相关专业</td>
                    <td>博士研究生</td>
                    <td>教学科研</td>
                    <td>1</td>
                    <td>本科或硕士阶段须为眼视光学专业</td>
                </tr>
                <tr>
                    <td>眼视光教研室</td>
                    <td>光学工程等相关专业</td>
                    <td>博士研究生</td>
                    <td>教学科研</td>
                    <td>1</td>
                    <td></td>
                </tr>
                <tr>
                    <td>眼视光教研室</td>
                    <td>眼科学等相关专业</td>
                    <td>博士研究生</td>
                    <td>教学科研</td>
                    <td>1</td>
                    <td></td>
                </tr>
                <tr>
                    <td>重点实验室</td>
                    <td>
                        <p>生物医学、药学、中药学、</p>
                        <p>中药药理学等相关专业</p>
                    </td>
                    <td>博士研究生</td>
                    <td>专职科研</td>
                    <td>1</td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="14">
                        <p><b>国医大师工作室</b></p>
                    </td>
                    <td>眼底病中心</td>
                    <td>
                        <p>眼科学、中医眼科学、</p>
                        <p>中西结合眼科学等相关专业</p>
                    </td>
                    <td>
                        <p>博士研究生/</p>
                        <p>硕士研究生</p>
                    </td>
                    <td>教学科研临床</td>
                    <td>5</td>
                    <td>具有住院医师规培合格证</td>
                </tr>
                <tr>
                    <td>屈光手术中心</td>
                    <td>眼科学等相关专业</td>
                    <td>
                        <p>博士研究生/</p>
                        <p>硕士研究生</p>
                    </td>
                    <td>教学科研临床</td>
                    <td>5</td>
                    <td>具有住院医师规培合格证</td>
                </tr>
                <tr>
                    <td>眼视光中心</td>
                    <td>眼科学/眼视光学等相关专业</td>
                    <td>本科以上学历</td>
                    <td>教学科研临床</td>
                    <td>10</td>
                    <td></td>
                </tr>
                <tr>
                    <td>糖尿病视网膜病变防治中心</td>
                    <td>
                        <p>眼科学、中医眼科学、</p>
                        <p>中西结合眼科学等相关专业</p>
                    </td>
                    <td>
                        <p>博士研究生/</p>
                        <p>硕士研究生</p>
                    </td>
                    <td>教学科研临床</td>
                    <td>5</td>
                    <td>具有住院医师规培合格证</td>
                </tr>
                <tr>
                    <td>中医眼科中心</td>
                    <td>
                        <p>中医眼科学、中医五官科学、针灸推拿、</p>
                        <p>中西医结合等相关专业</p>
                    </td>
                    <td>
                        <p>博士研究生/</p>
                        <p>硕士研究生</p>
                    </td>
                    <td>教学科研临床</td>
                    <td>5</td>
                    <td>具有住院医师规培合格证</td>
                </tr>
                <tr>
                    <td>眼整形科</td>
                    <td>眼科学、整形外科等相关专业</td>
                    <td>
                        <p>博士研究生/</p>
                        <p>硕士研究生</p>
                    </td>
                    <td>教学科研临床</td>
                    <td>3</td>
                    <td>具有住院医师规培合格证</td>
                </tr>
                <tr>
                    <td>眼表及角膜病科</td>
                    <td>眼科学等相关专业</td>
                    <td>
                        <p>博士研究生/</p>
                        <p>硕士研究生</p>
                    </td>
                    <td>教学科研临床</td>
                    <td>3</td>
                    <td>具有住院医师规培合格证</td>
                </tr>
                <tr>
                    <td>泪道及眼外伤科</td>
                    <td>眼科学等相关专业</td>
                    <td>
                        <p>博士研究生/</p>
                        <p>硕士研究生</p>
                    </td>
                    <td>教学科研临床</td>
                    <td>3</td>
                    <td>具有住院医师规培合格证</td>
                </tr>
                <tr>
                    <td>眼眶病及眼肿瘤科</td>
                    <td>眼科学等相关专业</td>
                    <td>
                        <p>博士研究生/</p>
                        <p>硕士研究生</p>
                    </td>
                    <td>教学科研临床</td>
                    <td>3</td>
                    <td>具有住院医师规培合格证</td>
                </tr>
                <tr>
                    <td>内科</td>
                    <td>临床医学</td>
                    <td>本科以上学历</td>
                    <td>教学科研临床</td>
                    <td>3</td>
                    <td>具有住院医师规培合格证</td>
                </tr>
                <tr>
                    <td>眼特检中心</td>
                    <td>眼视光学及眼科学等相关专业</td>
                    <td>本科以上学历</td>
                    <td>教学科研临床</td>
                    <td>8</td>
                    <td></td>
                </tr>
                <tr>
                    <td>眼特检中心</td>
                    <td>眼视光学及眼科学等相关专业</td>
                    <td>本科以上学历</td>
                    <td>临床</td>
                    <td>3</td>
                    <td></td>
                </tr>
                <tr>
                    <td>眼影像与诊断中心</td>
                    <td>医学影像学、眼科学等相关专业</td>
                    <td>
                        <p>博士研究生/</p>
                        <p>硕士研究生</p>
                    </td>
                    <td>教学科研临床</td>
                    <td>5</td>
                    <td></td>
                </tr>
            </table>
            <div class="rightWord">
                <p class="downContainer">
                    <a href="/assets/博士后招聘.rar" download>点此下载招聘相关附件</a>
                </p>
                <p>成都中医药大学眼科学院/成都中医大银海眼科医院人力资源部</p>
                <p>2017年11月30日</p>
            </div>


        </div>
    </div>
</div>






