<style type="text/css">
    .doctable{
        width: 400px;
        margin:30px auto;
    }
    .doctable td{
        border: 1px solid #ccc;
        text-align: center;
    }
</style>
<div class="middle">

    <div class="newsMain">
        <div class="newsTitle title">
            <h5>成都中医药大学附属银海眼科医院关于增设便民门诊及门诊挂号费调整的通知</h5>
            <p class="rightWord"></p>
        </div>

        <div>
            <p>为满足不同层次患者的就医需求,在征求广大患者意见的基础上，从3月5日起，我院将增设便民门诊并统一调整门诊挂号费。具体调整方案如下：</p>
            <p>一、增设便民门诊，挂号费2元/次，提供复诊开药、开检查/检验项目；</p>
            <p>二、取消普通门诊和专家门诊,门诊按照医师职称进行收费:</p>
            <table class="doctable">
                <tr>
                    <td>医师职称</td>
                    <td>挂号费标准</td>
                </tr>
                <tr>
                    <td>主任医师</td>
                    <td>30元</td>
                </tr>
                <tr>
                    <td>副主任医师</td>
                    <td>20元</td>
                </tr>
                <tr>
                    <td>主治医师</td>
                    <td>15元</td>
                </tr>
                <tr>
                    <td>医师</td>
                    <td>10元</td>
                </tr>
            </table>
            <p>三、VIP门诊和特需门诊挂号收费标准保持不变</p>
            <p>由国医大师、国内著名眼科专家、正高级专家应诊。</p>
            <p>患者享受专家 30 分钟以上亲诊，专人导医陪护，完善的高端医疗检查，独立诊疗空间，个性化诊疗以及温馨舒适高端就诊环境。</p>
            <p>提供预约、挂号、就诊、收费、检查、取药、陪护一体化全程无忧服务，门诊挂号费 200-800 元。</p>

        </div>
    </div>
</div>
