<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>成都中医药大学眼科学院管理类聘用人员招聘公告</h5>
            <p class="rightWord">2017-11-13</p>
        </div>

        <div>
            <p>成都中医药大学眼科学院现因工作需要，招聘编制外日常行政管理工作人员1名。招聘工作相关事宜规定如下：</p>
            <p><b>一、岗位职责</b></p>
            <p>负责学院办公室日常行政管理事务</p>
            <p><b>二、任职要求：</b></p>
            <p>1. 2017年7月31日前取得普通高等教育全日制硕士研究生学历学位或985、211高校全日制普通本科毕业的人员，专业不限； 1989年1月1日以后出生；</p>
            <p>2. 具备较好的写作能力；具有协助进行科研实验及各类报告撰写的能力；有教学管理及学生管理相关经验优先；具有良好的协作能力及英文读写能力；熟练掌握各类办公软件；</p>
            <p>3. 具备良较好的协调能力；</p>
            <p>4. 英语四级及以上水平，能够流利使用英语；</p>
            <p>5. 形象好，擅长沟通，为人诚恳正直、乐于奉献；</p>
            <p>6. 熟练掌握计算机及日常办公软件；</p>
            <p>7. 有行政管理工作经验优先。</p>
            <p><b>三、薪酬待遇：</b></p>
            <p>受聘者一次性签订三年的聘期合同；</p>
            <p>按《成都中医药大学学院管理专项经费管理办法(试行)》（成中医校〔2017〕52号）规定执行协议年薪制。</p>
            <p><b>四、考核</b></p>
            <p>报名截止后，由学院组织面试（时间、地点另行通知），面试重点考核考生的意愿素质(动机愿望、职业责任感、敬业精神、竞争意识、兴趣爱好等)、智能素质（应变能力、语言表达能力、综合分析能力、逻辑思维能力、业务能力、创新能力、组织管理能力、人际协调能力等）、人格素质（举止仪表、性格气质等）和知识素质（综合知识、专业知识等）等方面，总分100分。面试成绩当场公布并由报考者本人签字确认。</p>
            <p><b>五、报名规定：</b></p>
            <p><b>1.报名时间：</b>即日起至2017年11月27日。</p>
            <p>2.采用电子邮件方式报名，符合应聘条件者，请将个人简历(含照片)、学历/学位证书、身份证及其他能证明个人能力水平的相关材料发送到联系人信箱：32320520@qq.com，邮件主题为“姓名-毕业学校-应聘行政”，如“张三-四川大学-行政人员”。</p>
            <p>3.初审通过者，通知面试。应聘人员需如实填报个人资料。</p>
            <p><b>五、联系方式：</b></p>
            <p>联系人：赵老师</p>
            <p>联系电话：028-87715092  13980751843</p>
            <p>联系地址：成都市十二桥路37号成都中医药大学一教三楼眼科学院办公室</p>
            <div class="rightWord">
                <p>成都中医药大学眼科学院</p>
                <p>2017年11月13日</p>
            </div>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





