<div class="middle">

    <div class="newsMain">
        <div class="newsTitle twoNewsTitle">
            <h5>成都中医药大学眼科学院/成都中医大银海眼科医院</h5>
            <h5>2018年博士后招聘启事</h5>
            <p class="rightWord"></p>
        </div>

        <div>
            <p><b>一、学院及医院简介</b></p>
            <p>成都中医药大学中医眼科学科1956年由著名中医眼科学家陈达夫教授创建，是我国唯一国家级中医眼科学重点学科，同时也是国家中医药管理局重点学科、四川省重点学科。依托学科建设的成都中医药大学眼科学院、成都中医大银海眼科医院、四川省眼与视觉健康产业研究院，实行三院一体建设，拥有国医大师、国家杰出专业技术人才、国务院政府津贴专家、国家卫生计生突出贡献中青年专家等全国中西医眼科顶级专家及教授团队。</p>
            <p>眼科学院开设大学本科、硕士、博士全序列中医眼科学、中西医眼科学与眼视光高等教育，设有中医眼科及中西医结合眼科博士后流动工作站。眼科医院按国家三级甲等专科医院标准建设，建筑面积56000平米，编制床位400张，一期开放床位127张，配置世界顶级眼科专业设备，专病专科齐全，同时满足研究型和教学型专科医院需求。学院与医院实行院院合一的统筹管理。</p>
            <p>2017年成都中医药大学成为“双一流”学科建设高校，中医眼科学科进入三院一体建设的高速发展期，“人才强校”、“人才强院”是大学及学院、医院建设发展的重要战略，为加强眼科学院/医院师资队伍建设，促进学科交叉、优化学科结构，成都中医药大学眼科学院/医院博士后流动站现面向海内外公开招收博士后研究人员，诚挚欢迎眼科学、中医眼科学、中西医结合科学（眼科学）、眼视光学、中医学、中西医结合、临床医学、生物学、生物医学工程、医学大数据及人工智能等学科领域的博士研究生。</p>
            <p>现将有关事宜公告如下:</p>
            <p>一、申请条件和程序</p>
            <p><b>（一）申请条件</b></p>
            <p>申请人须为拟于2018年进入我校博士后流动站从事专职博士后研究工作的博士毕业生，同时应具备以下条件：</p>
            <p>1. 原则上年龄不超过35周岁；</p>
            <p>2. 获得博士学位一般不超过3年；</p>
            <p>3. 遵守科研学术道德，品学兼优，身心健康；</p>
            <p>4. 已取得优秀科研学术成果或具有优秀的科研学术潜质；</p>
            <p>5. 提出可行的研究计划；</p>
            <p>6. 须脱产全职从事博士后研究工作。</p>
            <p><b>（二）申报材料</b></p>
            <p>1.  成都中医药大学专职博士后申请书（附件1）；</p>
            <p>2.  专家推荐信2封（A4纸正反面双面打印）：2位本行业内专家，其中1位为本人博士生导师（附件2），推荐人需在信封密封处签字，或推荐人将签字推荐信邮件同时发送至下列两个邮箱：</p>
            <p>邮箱1：czyszk420@163.com      邮箱2：ineyehospital_hr@126.com</p>
            <p>3.  以上材料需纸质版和电子版各1份，申请人将申请书(附件1)和两封推荐信（或由推荐人邮件发送）纸质版快递至学校人事处和眼科学院人力资源部，电子版以“姓名-学科-专职博士后”（例：张三-基础医学-专职博士后）命名同时发送至下列两个邮箱：</p>
            <p>邮箱1：czyszk420@163.com      邮箱2：ineyehospital_hr@126.com</p>
            <p>4.  本批次申请截止日期：2017年12月31日。</p>
            <p><b>二、评审程序</b></p>
            <p>（一）眼科学院初评，确定推荐人选和排名次序，报学校人事处。</p>
            <p>（二）学校组织博士后评审委员会评审，确定进站人员。</p>
            <p>三、薪酬福利待遇</p>
            <p>（一）实行年薪制（系税前金额）：年薪为10万元/人，包括岗位工资、薪级工资、其他工资性津贴、承担规定的教学科研工作量的岗位津贴、社会保险和公积金的个人缴纳部分、博士后住房补贴等；</p>
            <p>（二）眼科学院/医院津贴（系税前金额）：10万元/年；</p>
            <p>（三）眼科学院/医院设立博士后基金；</p>
            <p>（四）中期考核合格一次性奖励3万元；两年期满出站考核达到合格标准者再一次性奖励3万元；</p>
            <p>（五）已享受专职博士后考核奖励的科研成果不再按《成都中医药大学科技奖励管理办法》重复奖励，超出部分可按《成都中医药大学科技奖励管理办法》执行。</p>
            <p>（六）按政策享受博士后研究人员户档迁转；</p>
            <p>（七）资助期限两年。</p>
            <p><b>四、联系方式</b></p>
            <p>学校联系人：王勤</p>
            <p>联系电话：028-61800045</p>
            <p>快递地址：四川省成都市温江区柳台大道1166号成都中医药大学人事处 </p>
            <p>学院联系人：杨敏</p>
            <p>联系电话：028—68398866—6659 18080177616（微信号）</p>
            <p>快递地址：四川省成都市金牛区星辉西路8号成都中医大银海眼科医院人力资源部</p>
            <p>附件：（点击下载）</p>
            <p class="downContainer"><a href="/assets/附件1 成都中医药大学专职博士后申请书.doc" download>附件3 成都中医药大学博士后工作管理办法（试行）.doc</a></p>
            <p class="downContainer"><a href="/assets/附件2 专家推荐信 Letter of Recommendation.doc" download>附件2 专家推荐信 Letter of Recommendation</a></p>
            <p class="downContainer"><a href="/assets/附件3 成都中医药大学博士后工作管理办法（试行）.doc" download>附件3 成都中医药大学博士后工作管理办法（试行）</a></p>

            <div class="rightWord">
                <p>成都中医药大学眼科医院</p>
                <p>成都中医大银海眼科医院</p>
                <p>2017年11月20日</p>
            </div>


        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>






