<div class="middle">

    <div class="newsMain">
        <div class="newsTitle twoNewsTitle">
            <h5>【福利】当心糖尿病会致盲 糖友们要定期眼底检查</h5>
            <h5>【糖尿病性眼科疾病公益科普活动预告】 </h5>
            <p class="rightWord">2017-09-15</p>
        </div>

        <div>
            <p>在您的眼睛中，有着像照相机底片一样重要的视网膜。视网膜上分布了许多血管，当小血管遭到破坏时，就会导致视网膜缺氧、缺血，从而造成视网膜微血管瘤形成出血、渗出、玻璃体出血，新生血管形成及玻璃体视网膜增殖性改变。</p>
            <p><b>什么是糖尿病视网膜病变？</b></p>
            <p>糖尿病性视网膜病变（DR）是由糖尿病引起的眼部微血管并发症，是一种具有特异性改变的眼底病变，主要症状为视力逐渐下降，视物变形，后期甚至可能导致失明。目前，糖尿病视网膜病变已成为全世界成年人致盲的主要原因，严重影响患者的生活质量。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnbzm_1.jpg") %>
            </div>
            <p><b>注意！糖尿病视网膜病变的严重性</b></p>
            <p>糖尿病视网膜病变早期无明显自觉症状。视力逐渐降低，眼前黑影飞舞或视物变形等；或视力突然严重下降甚至失明。糖尿病病程5年者，患糖尿病视网膜病变达25%，10年者为60%，增殖性糖尿病视网膜病变为25%（一旦发展为增殖性视网膜病变，极易致盲）。</p>
            <p>双目失明发生率要比非糖尿病患者高出25倍，一旦致盲不可逆转。四川省卫计委公布的数据显示：我省约有600万人患糖尿病，却有400万人自己不知道； 30%~50%的糖尿病患者从来不做眼部检查，30%无症状患者却已经有视网膜病变，每年定期眼部检查者不足10%。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnbzm_2.jpg") %>
            </div>
            <p><b>糖友们要定期进行眼底检查！</b></p>
            <p>经确诊的糖尿病患者，应每年进行1次眼底检查；已被诊断患有糖网的患者或患有中度以上糖尿病的患者应3个月至半年检查1次。糖尿病患者即使视力没问题，也一定要定期随诊。</p>
            <p><b>糖尿病视网膜病变具体应如何防控？</b></p>
            <p>不管是糖尿病还是糖尿病视网膜病变都是不可逆的，那么糖尿病患者到底该如何做才能防控糖尿病视网膜病变呢？</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnbzm_3.jpg") %>
            </div>
            <p>活动：糖尿病性眼科疾病公益科普活动</p>
            <p>活动时间：9月19日（周二），13:00可入场</p>
            <p>活动地点：成都中医大银海眼科医院（银海厅)</p>
            <p>电话报名：4009900766</p>
            <p>报名截止：9月18日17:00前</p>
            <p>科普讲座：糖尿病性眼科疾病科普讲座</p>
            <p>专家答疑：成都中医大银海眼科医院糖尿病视网膜病变防治中心路雪婧教授 与张富文教授</p>
            <p>特别优惠：凭入场券免挂号费及基础检查费（测视力、裂隙灯、血糖监测、 眼底照相），免费建立眼健康档案,所有活动参与者将获得精美礼品</p>

        </div>
    </div>
</div>




