<div class="newsMain">
    <div class="newsTitle title">
        <h5>招标公告</h5>
        <P class="rightWord"></P>
    </div>

    <div>
        <p><b>1、招标条件：</b></p>
        <p>本招标项目：成都中医大银海眼科医院广告导视物料（含设计、制作、安装）及医院院务接待室（含软装、陈设、视觉美工物料及家具）装修工程项目，建设资金来自企业自筹资金，招标人为成都中医大银海眼科医院股份有限公司。项目已具备招标条件，现邀请符合本次招标要求的单位参加成都中医大银海眼科医院广告导视物料（含设计、制作、安装）及医院院务接待室（含软装、陈设、视觉美工物料及家具）装修工程项目投标。</p>
        <p><b>2、投标单位及资格要求：</b></p>
        <p>资格要求：</p>
        <p>须具备建筑装修装饰工程及相关经营范围。近3年完成1个及以上的类似项目（类似项目指酒店、医院、学校及公共建筑等项目的办公室装饰装修施工）业绩，并在人员、设备、资金等方面具有相应的施工能力。</p>
        <p><b>3、招标文件资料获取：</b>1、单位介绍信原件 2、营业执照[未三合一的还需要提供组织机构代码证、税务登记证 （复印件加盖单位鲜章）] 3.企业资质证书（复印件加盖单位鲜章）</p>
        <p><b>4、招标文件发放时间和地点：</b></p>
        <p>凡有意参加本项目的申请人，请于2017年2月27日至2017年3月1日，上午9:00- 11:30、下午14:30-17:00在成都中医药大学十二桥校区一教学楼311室购买。招标文件售价：  200  人民币元/份（招标文件售后不退, 投标资格不能转让）。</p>
        <p><b>5、投标文件递交时间：</b>截止2017年3月3日9时30分以前(北京时间)。超过时间的投标将被拒绝。</p>
        <p><b>6、投标文件递交地点：</b>成都市金牛区星辉西路8号附1号2#楼六楼会议室</p>
        <p><b>7、开标时间：</b>截止2017年3月3日9时30分。</p>
        <p><b>8、开标地点：</b>成都市金牛区星辉西路8号附1号2#楼六楼会议室</p>
        <p><b>9、联系方式：</b>招标人:成都中医大银海眼科医院股份有限公司</p>
        <div class="flow">
            <div class="fr rightWord">
                <p>地址:成都市金牛区星辉西路8号</p>
                <p>联系人:田先生     魏先生</p>
                <p>联系电话：18684061586  18683513336</p>
            </div>
        </div>


    </div>
</div>
