<div class="middle">

  <div class="newsMain">
    <div class="newsTitle">
      <div class="newsTitle">
        <h5>祝贺！我校廖品正国医大师荣获全国中医眼科终生成就奖，王明芳、邓亚平荣获突出贡献奖</h5>
        <p class="rightWord">2017-08-13</p>
      </div>

      <div>
        <p>8月11日至12日，中华中医药学会眼科分会第十六次学术年会在北京召开。在大会上，中华中医药学会表彰颁发了我国中医眼科学科建设与学术发展成就奖。我校国医大师廖品正教授荣获“中医眼科学科建设与学术发展终生成就奖”，王明芳教授、邓亚平教授获“中医眼科学科建设与学术发展突出贡献奖”。全国共表彰专家18位，两名终生成就奖，16名突出贡献奖。我校共3名老专家此殊荣，其中1名终生成就奖，2名突出贡献奖，占全国获奖人数六分之一，这充分体现了我校眼科学科的学术地位和学术影响。</p>
        <div class="newsImgMar">
          <%= image_tag("news_zscjj_1.jpg") %>
          <p>眼科学院/附属银海眼科医院院长段俊国教授代表廖品正国医大师接受颁奖</p>
        </div>
        <div class="newsImgMar">
          <%= image_tag("news_zscjj_2.jpg") %>
          <p>四川省名中医王明芳教授接受颁奖</p>
        </div>
        <p>在大会开幕式上，眼科学院/附属银海眼科医院院长段俊国教授与中国中医科学院谢立科教授分别代表廖品正国医大师和唐由之国医大师对大会召开表示热烈的祝贺和对中医眼科事业的发展表达了良好的祝愿。</p>
        <p>全国眼科界约五百人参加了此次盛会。我校眼科学院、附属银海眼科医院和附属医院眼科共22名专家和医护人员参加了会议。</p>

      </div>
    </div>
  </div>
  <%= render partial: 'news/relate_read' %>
</div>




