<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海天使】“我的孩子以我为荣”——田秋媛</h5>
            <p class="rightWord">2017-08-17</p>
        </div>

        <div>
            <fieldset>
                <p>【6:00】起床，快速洗漱、化妆，出门</p>
                <p>【6:30】楼下买两个包子，没吃完就赶往医院了</p>
                <p>【7:00】到达医院，患者尚未到医院。进行屈光手术术前准备</p>
                <p>【8:00】负责器械耗材的准备和消毒工作，以及配合医生完成手术</p>
                <p>【10:30】所有手术顺利完成，擦把汗到一楼大厅为讲座服务</p>
                <p>【12:30】托同事去食堂带了饭，匆匆扒几口，接着做咨询工作</p>
                <p>【14:00】为病人做术前咨询工作</p>
                <p>【17:30】下班</p>
            </fieldset>
            <p>这是银海眼科医院视光部护士长田秋媛平常的一天工作记录，每逢有手术的时候，她就要像战斗一样打起十二分精神，从早上睁开眼睛的一刻起直到下班，中间不能有丝毫停歇。</p>
            <p>视光部的工作很繁琐，有视光门诊、屈光中心、弱视训练室、屈光手术间等几个板块，田秋媛需要统筹配合这些方面的工作。</p>
            <p>不管是给病人验光、测眼压、建资料还是术前宣教，田秋媛对自己和其他护士要求都非常严格，经常亲自给其他护士做示范。</p>
            <div class="newsImgMar">
                <%= image_tag("news_hstqy_1.jpg") %>
            </div>
            <p>暑假期间，不少家长带着孩子慕名来银海眼科医院做近视眼咨询和治疗，门诊量和手术量都很大，也忙坏了田秋媛和她的同事。遇到事情多的时候，她脚不沾地在医院的二楼、三楼之间来回跑，像个女超人一样“飞来飞去”。</p>
            <p>“忙起来的时候，打开手机，满满的钉钉、微信、电话的消息，哈哈哈！”乐观的田秋媛说起自己的忙碌也能开心地哈哈大笑。</p>
            <p>视光部的病人里有不少是小朋友，田秋媛对小孩子特别有耐心，总能哄得淘气的小朋友乖乖地接受检查。</p>
            <div class="newsImgMar">
                <%= image_tag("news_hstqy_2.jpg") %>
            </div>
            <p>这不光是因为她天生的亲和力，更因为她是一个12岁小姑娘和3岁小男孩的母亲。田秋媛的女儿下学期就升初中一年级了，她特别崇拜自己的妈妈，常常挺着小胸脯自豪地跟别的小朋友说，“我的妈妈是护士长！”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_hstqy_3.jpg") %>
            </div>
            <p>孩子的爸爸在外地工作，每周只能回家一次，田秋媛照顾儿女生活、学习的担子很重，虽然每天的生活连轴转特别累，她却满脸幸福：“我的孩子以我为荣！”田秋媛在医院看到其他小孩子就诊，就像看到自己的孩子一样，像妈妈一样对他们照顾得无微不至。</p>
            <div class="newsImgMar">
                <%= image_tag("news_hstqy_4.jpg") %>
            </div>

        </div>
    </div>
</div>




