<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我院段俊国教授当选为四川省预防医学会眼视觉保健分会副主任委员</h5>
            <p class="rightWord">2017-10-20</p>
        </div>

        <div>
            <p>2017年10月19日，四川省预防医学会眼视觉保健分会在成都举行换届选举会议。会议由四川省预防医学会副会长兼秘书长莫小堃出席并主持会议。四川省预防医学会眼视觉保健分会第一届委员会全体委员和第二届委员候选人出席会议。</p>
            <p>全体与会代表高度评价并通过了四川省预防医学会眼视觉保健分会第一届委员会主任委员，四川大学华西医院刘陇黔教授所作的工作报告，并对第一届委员会的工作成绩给予高度肯定。</p>
            <p>在四川省预防医学会副会长兼秘书长莫小堃的主持下，通过公开、公平、公正的选举形式，选举产生了眼视觉保健分会第二届委员会，刘陇黔教授连任第二届委员会主任委员。成都中医药大学眼科学院、成都中医药大学附属银海眼科医院共有四位专家当选为第二届委员会委员，其中院长兼党委书记段俊国教授连任第二届委员会副主任委员，院长助理袁晓辉主任医师新当选为常务委员，周春阳副教授连任常务委员，李红惠博士新当选为委员。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dyhj.jpg") %>
                <p>段俊国教授主持眼视觉保健分会学术会议开幕式</p>
            </div>
            <p>四川省预防医学会眼视觉保健分会是在四川省预防医学会主导下，四川大学华西医院和成都中医药大学眼科学院等单位发起，于四年前成立。该学会的成立，团结了带领了四川地区广大眼科医生、儿童保健医生和社区卫生工作者等与眼视觉保健相关的大量力量，极大地促进了四川省内眼视觉保健工作的开展，取得了瞩目成绩，在全国范围内是第一个省级的眼视觉保健学协会组织。眼视觉保健分会换届选举后，第二届委员会新加入了不少新生力量，具有更广泛的代表性，必将团结和带领四川地区的眼科医生、儿童保健医生、社区卫生工作者、疾病预防工作者和学校卫生工作者等相关人员，为四川省域的眼视觉保健工作做出更大贡献。</p>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
