<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>著名白内障专家朱思泉、著名眼底病专家刘文正式加盟银海眼科医院</h5>
            <P class="rightWord">2017-05-19</P>
        </div>

        <div>
            <p>2017年5月13日，在成都中医药大学召开的眼科学院/附属银海眼科医院/眼科研究院“三院一体”发展座谈会上，成都中医药大学校长余曙光教授代表省委组织部向首都医科大学附属北京同仁医院朱思泉教授颁发了四川省“千人计划”特聘专家证书，朱思泉教授正式出任附属银海眼科医院常务副院长、白内障屈光中心主任，兼任眼科学院眼科学教研室主任。</p>
            <div class="newsImgMar">
                <%= image_tag("news_newMember_1.jpg") %>
                <p>成都中医药大学校长余曙光代表省委组织部为著名白内障专家朱思泉教授颁发了四川省“千人计划”特聘专家证书</p>
            </div>
            <p>在座谈会上，与会全国专家和成都中医银海眼科医院部分员工见证了中山大学中山眼科中心刘文教授加盟成都中医大银海眼科医院签约仪式。由院长段俊国教授与刘文教授正式签约，担任成都中大银海眼科医院医疗质量总监、眼底外科主任。</p>
            <div class="newsImgMar">
                <%= image_tag("news_newMember_2.jpg") %>
                <p>成都中医大银海眼科医院院长段俊国教授与著名眼底病专家刘文教授签</p>
            </div>
            <p>在座谈会上，两位教授分别发言。朱思泉教授说，成都中医药大学大力推动眼科学院、眼科医院和眼科研究院三位一体创新体制机制，符合大健康产业和国家医疗体制改革的方向，为国内眼科专家提供了非常好的发展平台。自已会不遗余力地将个人临床、学术和科研工作与银海眼科医院志同道合的专家分享，共同促进眼科高层次人才的培养，促进我国眼科事业的发展，为西部地区眼疾患者提供国际先进的眼科诊疗服务。</p>
            <div class="newsImgMar">
                <%= image_tag("news_newMember_3.jpg") %>
                <p>朱思泉教授在座谈会上发表感言</p>
            </div>
            <p>刘文教授满怀信心地说道：“新的起点、新的愿景，已确定长期短期目标，不遗余力地发挥技术和特长去实现，为人才、技术、科研、教学等全方位的提升竭尽所能，提升眼科医院医疗水平向国际看齐，成为国内规模最大、技术一流的眼科中心之一。” 眼底病一直以来作为四川省乃至全国的难题，刘文教授的加盟对西部眼科事业的发展具有重要意义，同时让广大人民群众能够及时得到全国著名眼底病专家的救治，不再到处奔波，利于社会和人民，对健康中国目标起到很好的助推作用。</p>
            <div class="newsImgMar">
                <%= image_tag("news_newMember_4.jpg") %>
                <p>刘文教授在座谈会上发表感言</p>
            </div>
            
        </div>
    </div>
</div>




