<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>来自名医的护眼秘籍</h5>
            <p class="rightWord">2017-08-24</p>
        </div>

        <div>
            <p>人类所获得的信息，大部分是通过眼的视觉功能完成。同时眼睛也可以传递许多信息，塔克曼曾云：眼睛说话的雄辩和真实，胜过于言语；眼眸可以表达情愫，比如微笑：瞬美目以流眄，含言笑而不分。眼神可透知人的性情：曹雪芹形容林黛玉有“一双似喜非喜含情目”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_myhy_1.jpg") %>
            </div>
            <p>可见，眼睛对大家的重要性不言而喻。但自古以来，由于人们饮食不节，不正确用眼等不良习惯导致眼部发生诸多疾患。早在唐代，孙思邈所著《备急千金要方》卷六·目病第一 中首次明确地提出了容易引起眼病的19种因素：</p>
            <p>如生食五辛，接热饮食，热餐面食，饮酒不已，房室无节，极目远视，数看日月，夜视星火，夜读细书，月下看书，抄写多年，雕镂细作，博弈不休，久处烟火，泣泪过多，刺头出血过多，驰骋田猎，冒涉风霜，迎风追兽，日夜不息者。</p>
            <p>孙思邈认为视疲劳是由于“读书博弈等过度”引起的。</p>
            <div class="newsImgMar">
                <%= image_tag("news_myhy_2.jpg") %>
            </div>
            <p>如何保护视力？孙思邈提出预防眼病的若干注意事项：</p>
            <p>“恣一时之浮意。为百年之痼疾，……人年四十已去，常须瞑目，勿顾他视，非有要事，不宜辄开，此一术，护慎之极也。”</p>
            <p>孙思邈告诫人们：不要图一时的放纵，而导致经久难治的眼疾，平常须多闭目养神，不要没事总用眼到处看或总是睁开眼睛。</p>
            <p>高寿人群中不乏目明耳聪者，他们的护眼秘籍是：看书距离始终保持在一市尺开外；无事不看电子屏幕；长期接触大自然，爱绿树青山；老人给当代家长建议:父母不要娇惯孩子，小孩放学回家可以做点家务才看书。不要为了望子成龙而剥夺孩子户外活动时间。</p>
            <fieldset>
                <legend>综上总结出良好的用眼习惯，与大家共勉：</legend>
                <p>阅读、书写保持端正的姿势，眼与书本或电子屏幕保持30cm以上的距离，连续用眼不超过1小时，工作学习间隙须闭目养护，久视近物后远眺以缓解调节；</p>
                <p>照明条件应明亮、柔和、无闪烁、反光及眩光，不在阳光直照及暗光下用眼，光线过强则刺目，过暗则劳目；</p>
                <p>乘车及卧床时不看书或电子屏幕；</p>
                <p>增加户外活动，绿叶亦是眼药，远眺绿树青山是眼睛的福音，加强锻炼，增强体质；</p>
                <p>每日配合按摩眼周穴位，正确使用眼保健操；</p>
                <p>注意营养均衡，不偏食，少食甜食；</p>
                <p>保持情绪乐观稳定；</p>
                <p>根据不同工种建立健全安全措施；</p>
                <p>定期到医院检查眼睛，积极治疗。</p>
            </fieldset>
            <p class="centerWords">你做得到吗？</p>
        </div>
    </div>
</div>




