<div class="middle">

    <div class="newsMain">
        <div class="newsTitle title twoNewsTitle">
            <h5>极致视觉 完美人生</h5>
            <h5>——白内障屈光中心三焦点晶体白飞秒</h5>
            <P class="rightWord">2017-9-14</P>
        </div>

        <div>
            <p>“四十七八，两眼花花”，很多人刚上40岁，就发现视力明显减退。阅读书报时，书本离得很远才能看得清楚；孩子拿着成绩单，坐等长辈雷霆一击时，长辈却发现根本看不清楚分数；乘坐电梯时，总觉得楼层数字越来越小，好似在逃遁一般。诸如此类，种种问题引起工作生活极大不便。其实这些都是“老花眼”在作怪。</p>
            <div class="newsImgMar">
                <%= image_tag("bnz_lhy1.png") %>
            </div>
            <p class="redWord"> 9月23日，“极致视觉 完美人生——白内障屈光中心三焦点晶体白飞秒”活动将在成都中医大银海眼科医院举行，活动席位开始预定！</p>
            <p>为了给患者提供解决老花、近视、白内障问题方案。我院白内障屈光中心三焦点晶体白飞秒活动将在银海厅举行，并特邀首都医科大学附属北京同仁眼科医院白内障中心主任、成都中医大银海眼科医院副院长/白内障屈光中心主任<b>朱思泉教授</b>，与您面对面交流，现场一对一答疑。</p>
            <div class="centerImgCon">
                <p>如果老花、白内障、近视给你带来困扰重重，</p>
                <p>如果你对一站式解决白内障及老花问题怦然心动，</p>
                <p>不仅想“看得见”，还想“看得好”，</p>
                <p>那就赶快报名吧！</p>
                <p>现场更有福利优惠，等着你！</p>
            </div>
            <div class="flow">
                <div class="marB30 bmContainer">
                    <div class="fl marR-30 centerImgCon">
                        <%= image_tag("bnz_lhy2.png") %>
                        <p>扫码报名</p>
                    </div>
                    <p>报名电话：400 9900 766 </p>
                    <p>活动时间：9月23日（周六）9:00签到 </p>
                    <p>活动地点：成都中医大银海眼科医院银海厅</p>
                </div>
            </div>
            <fieldset class="width920">
                <legend>活动优惠：</legend>
                <div class="centerImgCon">
                    <p>免门诊检查费+眼健康档案建立费</p>
                    <p>现场报名可享<span class="redWord">门诊检查费+眼健康档案建立费420元；</span></p>
                    <p>现场办理住院将有机会获得</p>
                    <p><span class="redWord">价值2000元的“孝顺父母体检套餐”</span>卡一张；</p>
                    <p>术后凭发票免费领取</p>
                    <p><span class="redWord">198元</span>太阳镜一副（指定款）；</p>
                    <p>免专家特约费</p>
                    <p>凭入场券免指定术式<span class="redWord">专家特约费2000元；</span></p>
                    <p></p>
                </div>
            </fieldset>
        </div>
    </div>
</div>
