<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>段俊国院长入选2016成都人才计划“国家级创业领军人才”</h5>
            <p class="rightWord">2017-07-19</p>
        </div>

        <div>
            <p>日前，成都市人才工作领导小组专项办公布2016年“成都人才计划”创新创业人才（团队）入选名单，我院段俊国院长成功入选，获得长期项目创业类最高级别个人资助项目，并被授予“2016年成都市人才计划”特聘专家称号。7月18日，成都市金牛区委组织部、金牛区卫计局领导专程到我院看望段俊国院长并表示祝贺。</p>
            <p>“成都人才计划”是成都市为贯彻落实中央、省关于高层次人才引进的战略部署和成都市中长期人才发展规划纲要，在高新技术和战略性新兴产业领域引进一批高层次创新创业人才以支撑和引领成都市经济社会跨越发展的重大工程。据悉，本次人才计划申请人数竞争激烈程度创历年新高。经过几轮筛选、一轮答辩，最终仅有114名个人、19个顶尖团队成功入选。2016年，段俊国院长依托成都中医药大学眼科学院通过科技成果转化与太极药业、西藏药业、康弘集团、贵洲百灵等上市公司合作在成都创立成都中医大银海眼科医院，按照眼科学院、眼科医院、眼科研究院三位一体模式建立我国西部最大规模的研究型眼科医院。眼科医院于7月16日举行了隆重的开业典礼。</p>
            <fieldset>
                <legend>段俊国院长个人简介</legend>
                <div>段俊国，教授，博士生导师，成都中医药大学眼科学院院长兼书记，
                    <div class="fr marL-30 marB30 dIntroduction">
                        <%= image_tag("news_djgrc_1.jpg") %>
                        <p>主任医师</p>
                        <p>教授/博士生导师</p>
                    </div>成都中医大银海眼科医院/成都中医药大学附属眼科医院院长，四川省眼与视觉健康产业研究院院长。为国家重点学科（中医五官科学科）学科带头人、国家中医药管理局重点学科（中医眼科学）带头人、国家中医药管理局中医药视功能保护重点研究室主任、四川省视网膜图像技术与慢性血管性疾病防治协同创性中心主任、四川省眼病中医药防治及视功能保护重点实验室主任。担任国务院学位委员会第六、七届中医学科评议组成员，全国临床医学中医学中药学专业学位研究生教育指导委员会委员、国家“百千万人才工程”国家级人选，获得“全国杰出专业技术人才”、“全国优秀科技工作者”、“国家卫生计生突出贡献中青年专家”、“中国百名杰出青年中医”和享受国务院政府津贴专家等荣誉称号，为四川省学术技术带头人和四川省卫生计生委首席专家。现任全国科学技术名词审定委员会中医药学名词审定委员会委员，国家病证标准专家委员会委员、国家中药保护品种委员会委员，世界中医药联合会眼科专业委员会副主席、疗效评价专业委员会副主席、伦理审查委员会副主席，中华中医药学会眼科分会副主任委员、中国中西医结合学会副主任委员、中国医师协会眼科分会副主任委员、中国医疗保健国际交流促进会眼科分会副主任委员，四川省中医药学会眼科专业委员会主任委员、四川省糖尿病防治协会会长、四川省预防医学会眼视保健分会副主任委员。</div>
            </fieldset>
            <p>段俊国教授的主要从事中医药防治眼底病及糖尿病视网膜病变等微血管并发症研究。近年来，着眼于视网膜图像技术的应用研究。是目前糖尿病视网膜病变中医药防治研究领域领军人物。主持国家重大科技专项、 重大科学仪器专项、国际科技合作专项、“863”计划、支撑计划、攻关计划、公益行业专项及国家自然科学基金等国家级课题21项，部省级19项；获四川省科技进步特等奖等部省级科技奖13项；获得国家新药证书2项、国家发明专利3项及软件著作权3项；已培养博士硕士研究生86人；发表学术论文80余篇，主编《中西医结合眼科学》高等院校本科国家规划教材（“十一五”、“十二五”、“十三五”），主编《中医眼科学》高等院校本科国家规划教材，主编《中医眼科临床研究》高等院校研究生国家规划教材。主持创制了我国第一个上市治疗糖尿病视网膜病变中药新药“芪明颗粒”，主持创制我国第一个治疗视网膜静脉阻塞中药新药“丹红化瘀口服液”。2017年，“芪明颗粒”和“丹红化瘀口服液”双双被纳入国家最新医保用药目录。</p>
        </div>
<%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
