<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>段俊国院长会见美国哈佛大学Joslin糖尿病中心RichardJackson博士</h5>
            <p class="rightWord">2016-11-17 </p>
        </div>

        <div>
            <p>2016年11月11日下午，成都中医药大学眼科学院/银海眼科医院院长、四川省糖尿病防治协会会长段俊国教授在成都新华宾馆会见了美国哈佛大学Joslin糖尿病中心Richard Jackson博士。段俊国院长首先对Richard Jackson博士不远万里应邀来成都参加“四川省糖尿病防治协会2016学术年会暨省级继续教育项目培训”并将作学术报告表示衷心感谢。段院长简要介绍了四川省糖尿病防治协会的基本情况、四川省糖尿病的发病与防控现状，以及中医药在防治糖尿病视网膜病变等糖尿病并发症取得的成果，期待与他共同分享美国的糖尿病防控的成功经验。中国不仅是糖尿病第一大国，也是糖尿病视网膜病变第一大国，糖尿病视网膜病变的早期筛查和干预刻不容缓。希望携手美国Joslin糖尿病防治中心深化学习交流，相互借鉴，互通有无，共同推动糖尿病及其并发症的防控，造福世界的糖尿病患者。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dmet_1.jpg") %>
            </div>
            <p>Richard Jackson博士对段俊国院长的盛情邀请和热情接待表示感谢，并对段俊国院长及其团队在糖尿病视网膜病变领域做出的成就表示钦佩与赞赏。他指出，美国在糖尿病视网膜病变的防控方面经历了艰辛而又漫长的探索与努力，美国现在已有两千七百万的糖尿病患者，在过去的20-30年，美国在糖尿病的防控取得了显著的成就，虽然糖尿病患者的生活品质得到了提高，但是众多并发症仍不容忽视，尤其是段院长提到的眼底检查在糖尿病防控中的重要作用仍然重视不够，即使在美国，相当数量的患者并没有形成定期眼底检查的观念；糖尿病视网膜病变的早期发现仍然是难题，预防形势十分严峻。Richard Jackson博士表示，愿意与成都中医药大学四川省视网膜图像技术与慢性血管性疾病防治协同创新中心共享糖尿病视网膜病变防控的管理经验，一起探索更有效的糖尿病教育和早期筛查办法，建立适合中国的对糖尿病及其并发症的防控模式。     </p>
            <div class="newsImgMar">
                <%= image_tag("news_dmet_2.jpg") %>
            </div>
            <p> 四川省糖尿病防治协会副会长、四川大学华西医院童南伟教授与副会长、绵阳市中心医院内分泌科主任方向明主任医师一起参加了会见。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dmet_3.jpg") %>
            </div>
            <p>Richard Jackson博士是美国哈佛大学Joslin糖尿病中心研究员、医务部主任、附属项目医务主任，美国国家卫生研究院（NIH）首个多中心Ⅰ型糖尿病预防试验联席首席研究员，哈佛HOOD儿童糖尿病预防中心主任，草根糖尿病公司创始人和执行董事，致力于非盈利地为不发达地区人群提供糖尿病教育和咨询，曾获哈佛医学院卡普斯学者奖、美国糖尿病协会塞缪尔·博森研究奖、青少年糖尿病基金会“Cookie”皮尔斯研究奖、2001ADA/CDC差异奖等重要奖项。</p>
        </div>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
