<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【优惠钜献】清晰世界·由你做主</h5>
            <p class="rightWord">2017-06-13</p>
        </div>

        <div>
            <p>一年一度的高考已经结束，接下来就是热门的考生填报志愿和参军体检。面临选择，考生们的一大难题就是视力门槛，根据2017年征兵计划视力标准，<b>右眼裸眼视力不低于4.6，左眼裸眼视力不低于4.5</b>，眼底检查正常，合格。也有好多考生因为因视力问题而受限不能报考自己喜欢的专业。</p>
            <p>为莘莘学子、辛勤园丁，以及拥有梦想、渴望成功的人们，成都中医大银海眼科医院将世界最先进的<b>SMART全激光</b>和<b>SMILE全飞秒</b>近视手术在国内一流专家的簇拥下奉献给广大近视患者，并推出优惠福利，最高可达<b>6200</b>元。</p>
            <p>“珠联璧合 完美视界”——近视手术及医学配镜优惠活动，等你来！</p>
            <fieldset class="fessActions">
                <legend>活动内容 </legend>
                <p class="actionsTle">（一）近视屈光手术</p>
                <p>活动期间，凡到院预约屈光手术并缴费者可享：</p>
                <p>1.按手术执行价20%送优惠券。</p>
                <p>2.按手术执行价10%直接减免。</p>
                <p>3.学生、教师、征兵、招警者凭相关证明可享12%减免政策。</p>
                <p>4.在以上优惠任选一个的基础上，2人及以上提前（至少提前1天预约）预约成团检查并完成手术，2人以上5人以下每人优惠200元/双眼，5人以上每人优惠500元/双眼。</p>
                <p>5.术后患者可成为终身会员，享受免费眼健康档案建设及免费术后复查。</p>
                <div class="actionsNotes">
                    <p>注：</p>
                    <p>（1）以上1.2.3项优惠不能重复享受</p>
                    <p>（2）FS-LASIK、LASIK和LASEK近视手术参照第1、2、3项优惠比例执行，但不适用于第4项。</p>
                    <p>（3）6月30日以前可特约全国著名专家主理手术，免价值2000元特约费。</p>
                </div>
                <p class="actionsTle">（二）医学配镜</p>
                <p class="actionsPoint">1.框架眼镜</p>
                <p>活动期间，凡验配框架眼镜者，可选择获得20%优惠券，或享受直接减免10%优惠一次，两种优惠不可同时享有。</p>
                <p class="actionsPoint">2.硬镜（RGP&OK镜）</p>
                <p>活动期间，凡验配硬镜者，缴纳验配费用并成功配镜后，可凭验配检查费收据获得检查费等值护理产品。同时购买每套硬镜护理产品可减免复查费一次（需凭护理产品缴费收据）</p>
            </fieldset>
            <fieldset class="fessActions">
                <legend>活动信息 </legend>
                <p>咨询电话：</p>
                <p>400-9900-766</p>
                <p>活动时间:</p>
                <p>2017年6月12日至7月15日</p>
                <p>活动地点：</p>
                <p>成都市金牛区星辉西路8号</p>
            </fieldset>
            <div class="actionsCost">
                <table class="schTable">
                    <tr>
                        <th colspan="3">成都中医大银海眼科医院近视手术价格表</th>
                    </tr>
                    <tr class="tableType">
                        <th>手术名称</th>
                        <th>眼别</th>
                        <th>执行价（元）</th>
                    </tr>
                    <tr>
                        <td><b>SMART全激光</b>（TransPRK阿玛仕1050）</td>
                        <td>双眼</td>
                        <td>20600</td>
                    </tr>
                    <tr>
                        <td><b>SMILE全飞秒3.0</b>（激光小切口微透镜取出术)</td>
                        <td>双眼</td>
                        <td>20800</td>
                    </tr>
                    <tr>
                        <td>FLEx（全飞秒激光微透镜取出术）</td>
                        <td>双眼</td>
                        <td>17800</td>
                    </tr>
                    <tr>
                        <td>F-LASIK（蔡司全飞秒激光制瓣+阿玛仕1050准分子激光切削术）</td>
                        <td>双眼</td>
                        <td>14800</td>
                    </tr>
                    <tr>
                        <td>LASIK（前弹力层下激光角膜磨镶术阿玛仕1050）</td>
                        <td>双眼</td>
                        <td>7800</td>
                    </tr>
                    <tr>
                        <td>LASEK（准分子激光上皮下角膜磨镶术阿玛仕1050）</td>
                        <td>双眼</td>
                        <td>6800</td>
                    </tr>
                    <tr>
                        <td>FW-G（波前像差引导手术加收）</td>
                        <td>双眼</td>
                        <td>2800</td>
                    </tr>
                    <tr>
                        <td>CXL（角膜交联加固术）</td>
                        <td>双眼</td>
                        <td>7200</td>
                    </tr>
                    <tr>
                        <td>CXL（圆锥角膜交联术）</td>
                        <td>双眼</td>
                        <td>24000</td>
                    </tr>
                    <tr>
                        <td>角膜地形图引导手术（加收）</td>
                        <td>双眼</td>
                        <td>2800</td>
                    </tr>
                    <tr>
                        <td>Q值调整手术（加收）</td>
                        <td>双眼</td>
                        <td>2800</td>
                    </tr>

                </table>
            </div>
            <div class="flow erCodes">
                <ul class="flParent fr">
                    <li>
                        <%= image_tag("inHai_serverCode.jpg") %>
                        <p>银海服务号二维码</p>
                    </li>
                    <li>
                        <%= image_tag("inHai-dyhCode.jpg") %>
                        <p>银海眼科订阅号二维码</p>
                    </li>
                </ul>
            </div>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
