<div class="main">
    <div class="middle flow">
        <div class="newsMain">
            <div class="newsTitle">
                <h5>我院首例近视手术术后新体验：看庭前花开花落,天上云卷云舒</h5>
                <P class="rightWord">2017-07-28</P>
            </div>
            <div>
                <p><b>30米外雌雄同体，50米外人畜不分</b></p>
                <p>“很多时候不是我高冷，是因为真的看不清，30米外看人五官都是模糊的”，这是我近视不戴眼镜的切身体验，等我看清一个人想打招呼的时候，那个人已经与我擦肩而过……</p>
                <p>在学校每周需要给学生讲课，在医院要为大量前来看诊的病人进行眼底检查，但架在鼻梁上的眼镜，让我做起事来十分不便，一低头眼镜容易下滑，因此对于戴眼镜，我内心是十分抗拒的。对本身就喜欢运动，喜爱大自然的我而言，近视在生活中带来的不便越来越明显。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_sj_1.jpg",:class => "pictureShadow") %>
                </div>
                <p><b>对“自己人”的信任让我毫无顾虑、毫不犹豫</b></p>
                <p>作为一名银海眼科医院的眼科医生，我信任我们的手术医生，坚信近视手术是安全的，我相信自己的选择，并且对我们银海眼科医院的手术设备和实力充满信心。因此，在医院开展屈光手术时，我第一个报了名，完善相关术前检查，毫不犹豫脱下白大褂，选择以病人的角色走入了手术室，成为银海眼科医院第一个手术病人！</p>
                <p>我的近视度数不高（双眼约250度的近视），选择手术方式是smart表层手术，由王勤美教授主刀完成。</p>
                <p>手术过程是出乎意料的体验，完全没有疼痛感，可以闻到烧焦头发的味道（激光切削角膜时产生），从躺上手术台到下手术台约5分钟，戴上眼罩，妥妥的，就可以回家休息了。术后当日晚到术后第二天，术眼有一定程度疼痛、异物感和畏光流泪症状，但到术后第三天，以上症状均明显好转，感觉眼前呈现出一个十分清晰的世界。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_sj_2.jpg",:class => "pictureShadow") %>
                </div>
                <p>现在自己做了手术，以后能够栩栩如生的给病人描述近视手术到底是一种什么样的体验了，我自己就是最好的例子。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_sj_3.jpg") %>
                </div>
                <p><b>迥彻来双目，昏烦去四支；霞文晚焕烂，星影夕参差</b></p>
                <p>手术后到现在，我的视力恢复很好，双眼视力都达到标准的1.2。现在的不管是工作还是生活，都非常的便利，对自己更多了份自信，可以更好的服务于病人，明显提升了生活质量，能清晰的看庭前花开花落,天上云卷云舒........</p>
                <div class="newsImgMar">
                    <%= image_tag("news_sj_4.jpg",:class => "pictureShadow") %>
                </div>

            </div>
        </div>
    </div>
</div>
