<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>著名眼底病专家文峰、眼视光专家周跃华荣聘为中医大银海眼科医院名誉主任</h5>
            <p class="rightWord">2017-05-20</p>
        </div>

        <div>
            <p>日前，成都中医药大学附属银海眼科医院聘任中山大学中山眼科中心文峰教授为眼影像分析与诊断中心名誉主任，聘任首都医科大学附属北京同仁医院周跃华教授为眼视光中心名誉主任。</p>
            <div class="newsImgMar">
                <%= image_tag("news_member_1.jpg") %>
                <p>中医大银海眼科医院院长向文峰教授颁发名誉主任证书</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_member_2.jpg") %>
                <p>中医大银海眼科医院小儿眼科主任袁晓辉陪同周跃华教授参观医院</p>
            </div>
        </div>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
