<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>视网膜脱离的海外工程师：瞄不到妹子很难过！</h5>
            <P class="rightWord">2017-08-21</P>
        </div>

        <div>
            <p>初次见到张侃（化名），他正躺在病床上无聊的玩着手指。表明来意后，张侃仿佛一下打开了话匣子，滔滔不绝。我俩谈话的内容从大学专业到人生哲理，从海外风土人情到隔壁妹子，相谈甚欢之下大有“桃园结义”的架势。我很难想象如此乐观的他，面对眼疾时也会无助，惆怅。</p>
            <p>他强调得最多一件事就是：<b>视力受阻后，瞄不到妹子很难过！</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_kbdmz_1.jpg") %>
            </div>
            <fieldset>
                <legend>银海速度</legend>
                <p>作为电子科技大学光电信息科学与工程专业毕业的硕士高材生，张侃调侃自己是个标准的理工男，眼疾会影响到自己的终身大事。张侃毕业后，先后在成都、香港的科技公司任职，目前就职于新西兰一家科技公司。虽然他已经享有当地免费的公立医疗服务，但还是毅然选择回国到成都中医大银海眼科医院进行治疗。他说，这并不是冲动的决定，而是经过深思熟虑和严格评估后做出的正确决定。要知道，我们理工男都是很严谨的。</p>
                <p>张侃介绍到，虽然他在新西兰是享有免费的公立医疗服务，但是公立资源过于紧张。辗转就医40天，从社区医生到眼科专科医生，才确诊为“右眼视网膜脱离”，如果手术仍需等待数个月。而选择私立医院，花费高达8万元人民币。同时，他对于那边的医生不太熟悉，很担心手术效果。患者8月10日来我院挂号，详细检查后，14日下午3点手术就结束了，手术时间不到一个小时，并且花销仅国外的二十分之一。用他的话来说，这就是“银海速度”！</p>
            </fieldset>
            <div class="newsImgMar">
                <%= image_tag("news_kbdmz_2.jpg") %>
            </div>
            <fieldset>
                <legend>“理工男”的功课</legend>
                <p>张侃笑称选择成都中医大银海眼科医院医疗质量总监、眼底外科主任刘文教授为自己手术，在此之前是做足了“功课”的。他通过网络查到刘文教授还曾任中山大学中山眼科中心特种医疗中心副主任，北京同仁眼科中心眼外科副主任，郑州市眼科医院院长，临床经验相当丰富。用他的话说，“专业的人从事专业的事”。同时，他还翻看了刘文教授编撰出版的个人专著《视网膜脱离显微手术学》和其主编的《临床眼底病-内外科卷》。他说：“书中字里行间都透露刘文教授严谨的治学态度，让人信服”。</p>
                <p>“当然，我也考察过医院的环境和设备的，贵院有舒适宜人的就医环境和世界一流的医疗设备”张侃说。由于他在新西兰也是从事激光软件系统研发的，得知我院引进了全国第一台千频准分子全激光手术设备——阿玛仕1050RS和蔡司全飞秒Visu Max激光系统后他大赞不已,他称这都是国际首屈一指的激光设备，贵院的综合实力堪称国内眼科领域的领跑者。</p>
            </fieldset>
            <p><b>病情介绍</b></p>
            <p>对于病情，刘文教授介绍到：“视网膜脱离是严重危害视力的疾病，一经确诊，需按急诊处理，否则病情将进一步加重。患者来我院后，安排其急诊入院，及时完善相关检查后安排手术。现在，患者原症状消失，视网膜已平伏”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kbdmz_3.jpg") %>
            </div>
            <p>住院治疗右眼的同时，刘文教授还发现了患者左眼周边视网膜存在变性区，及时予以激光治疗，成功地预防其发展成为视网膜脱离，为患者的眼健康保驾护航。目前，患者已逐渐康复。症状消失，矫正视力0.8，视网膜平伏，视网膜下液体完全吸收。目前，患者已经出院。</p>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj5.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>刘文（眼底外科）</p>
                    <p>坐诊时间: 周一、周三、周五上午、周四下午</p>
                    <p>擅长领域:</p>
                    <p>主要从事玻璃体视网膜疾病研究，擅长各种眼底疾病和复杂性视网膜脱离的手术治疗。</p>
                </div>
            </fieldset>
        </div>
    </div>
</div>




