<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>端午佳节送健康 社区眼健康义诊暖人心</h5>
            <p class="rightWord">2017-05-29</p>
        </div>

        <div>
            <p>端午临中夏，时清人复长。在传统佳节端午节即将来临之际，由高新区石羊街道办事处主办的石羊街道第二届2017“健康嘉年华”大型义诊活动于2017年5月26日在高新区新南社区廉政文化广场隆重举行。应高新区人民政府石羊街道办邀请，四川省视力保护科普基地联合成都中医大银海眼科医院特派专家团队参加，为辖区人民群众进行了眼健康义诊。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dw_1.jpg") %>
            </div>
            <p>天气虽然炎热，但却丝毫抵挡不了社区居民们的热情，早早地就来到活动现场等候。成都中医大银海眼科医院青光眼中心主任潘学会、眼视光中心专家袁晓辉、眼底病中心医学博士黄霄、眼科主治医师廖加坤4位专家及10余位医务人员为现场为社区居民提供了眼健康科普知识宣传、眼健康检查、专家现场咨询和眼健康档案建立等一系列公益活动。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dw_2.jpg") %>
            </div>
            <p>活动现场，一位70岁的老人视物模糊已有二十多年了，因为患有白内障，而且对手术十分恐惧，加上患有糖尿病，这么多年来一直点眼药水治疗，但眼睛依然视物不清，已经严重影响正常生活。针对现今老年人常见眼病的防治问题，以及老年朋友意识里常见的“视力减退是老花眼在作祟”、“滴眼药水就能治好白内障”等眼病治疗误区，潘学会医生建议老人尽快到医院进行专业治疗，并在接受现场记者采访时提醒各位老年朋友：对于眼科疾病一定要尽早检查治疗，通过滴眼药水不可能达到根治泪道病及白内障的目的，并建议50岁以上人群要定期进行眼健康体检。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dw_3.jpg") %>
            </div>
            <p>此次活动义诊活动使近200名社区居民得到了免费检查的眼健康福利，增强了社区居民爱眼护眼的意识。我院专家认真、负责的医者态度，赢得了高新区人民政府石羊街道办及辖区人民群众对专家团队的到来表示衷心感谢。</p>

        </div>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
