<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>近视烦恼多，手术问题听我说</h5>
            <P class="rightWord">2017-09-27</P>
        </div>

        <div>
            <p>国庆各大景点将迎来年度高峰期，同也各大医院的近视手术科室也将“人满为患”。上班族做近视手术的极佳假期，近视朋友们的烦恼太多太多，完全消除烦恼的办法只有近视手术，有的人嘴上说不想摘镜，但“身体却很诚实”。有的人很想摘镜却疑虑重重，关于近视手术的一些具体疑问，来看看成都中医大银海眼科医院眼视光中心副主任周春阳教授是怎么说的吧！ </p>
            <div class="newsImgMar">
                <%= image_tag("active_jsss1.jpg") %>
            </div>
            <p><b>所有人都可以做近视手术吗？</b></p>
            <p>并不是。年龄小于18周岁（除特殊情况）或大于50周岁；近2年屈光度不稳定，每年发展大于1.00D；角膜厚度小于450um；眼部患有急性角结膜炎、角膜溃疡等活动性炎性病变者；有患圆锥角膜、青光眼、兔眼、严重干眼症及严重眼底病变等眼科疾病者；瘢痕体质、糖尿病、胶原病等全身疾病患者；矫正视力极差的重度弱视者；对视力要求极高，且对手术思想顾虑极大者；有精神疾病且正在服药者。有上述任意情况的近视朋友们都不能做近视手术。</p>
            <p><b>做近视手术安全吗？</b></p>
            <p>近视手术是一项很严谨的手术。手术前有视力、电脑验光、散瞳验光、显然验光、综合验光，眼压，裂隙灯、间接检眼镜查眼底，Pentacam、波前像差等二十几项检查。须每项检查达到手术指标才能手术，这样才能从源头上保障每一例手术是安全的。</p>
            <div class="newsImgMar">
                <%= image_tag("active_jsss2.jpg") %>
            </div>
            <p><b>近视手术过程要多久？</b></p>
            <p>Smart千频激光手术整个手术只需要5-6分钟，手术过程无刀无瓣、温和无接触。相比于其他表层手术，角膜切削面更平滑，术后愈合和视力恢复明显加快。</p>
            <p><b>近视手术适应的年龄？</b></p>
            <p>大于等于18岁。如果60岁以上，需要排除白内障。17岁以下如果着急体检需要手术，必须有家长和本人签字才能手术。</p>
            <p><b>为什么好多近视的医生，不做手术？</b></p>
            <p>戴框架眼镜、戴隐形都是解决近视的方法，和手术一样都各有利弊，大家可以根据自己的需要选择。这就跟大家都知道电子产品不利于眼睛，但还是会有人沉溺于电子产品一样。其实有很多医生和医生的子女接受了近视手术，只是大家没有看到而已。</p>
            <div class="newsImgMar">
                <%= image_tag("active_jsss3.jpg") %>
            </div>
            <p><b>近视手术后会留有后遗症？</b></p>
            <p>不会，近视手术是矫正视力的手术，而白内障、老花眼、青光眼和眼底病是随着年龄增长才会出现的。</p>
            <p><b>手术有风险吗？飞秒手术和ICL手术哪一种会更安全呢？</b></p>
            <p>近视手术经过将近30年的发展已经很成熟，风险很低。具体哪种手术更安全，需要根据眼睛检查结果来确定。ICL手术一般适合角膜偏薄，角膜形态异常或者近视度数高于1200的患者，要求前房深度必须大于2.8。比如：角膜太薄的做飞秒就不太安全，前房太浅的就不能做ICL手术。</p>
            <p><b>文末福利：</b></p>
            <p>9月25日-10月10日，月满中秋，喜迎国庆，成都中医大银海眼科医院优惠专享：报名预约全飞秒SMILE或SMART千频全激光手术双眼优惠3000元，F-LASIK手术双眼优惠1500元；单眼优惠减半；免术前检查费；活动期间全款支付送天伦弄月月饼一盒or元祖花醉月月饼券一张。</p>
            <p>PS：活动期间预约手术必须在一个月内完成手术，否则不享受以上优惠内容。</p>

        </div>
    </div>
</div>





