<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医—路雪婧】这个医生不太冷，视患者如亲人</h5>
            <p class="rightWord">2017-07-25</p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("news_lxjmy_1.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>路雪婧</p>
                    <p>研究员、医学博士、博士生导师</p>
                    <p>坐诊时间: 周一上午、周四全天</p>
                    <p>成都中医大银海眼科医院特检部主任，全国首批中医药传承博士后，四川省首届十大名中医学术继承人，中国民族医药学会眼科分会副会长、中华中医药学会眼科专业委员会委员、青年副主任委员，中华中医药促进会糖尿病分会常务委员，四川省青年中医药学会副主任委员，四川省中医药学会眼科专委会副主任委员，中华中医药学会糖尿病分会青年委员。第五批四川省中医药管理局学术和技术带头人、第十批四川省学术技术带头人后备人选。</p>
                    <p>先后主持国家“十一五重大新药创制”、“十一五支撑计划重点项目”、十二五国家中医药行业科研专项子课题、国家重大仪器专项课题等国家级课题4项，部省级、厅局级课题10余项，主研国家级、部省级等各级课题10余项。获四川省科技进步特等奖1项、成都市科技进步特等奖及教育部科技进步二等奖各1项。为国家卫生部十二五规划教材《中医眼科学》、《中华医学百科全书》“中医眼科学卷”、《中华大典•医药卫生典•医学分典•眼科总部》、“实用中医工具书系列”《中医眼科学辞典》、《中药药效学》、《中医眼科名医录》等教材专著编委，公开发表论文30余篇。《中医眼耳鼻喉杂志》编委兼编辑部主任。</p>
                    <p>擅长领域:</p>
                    <p>擅长中医药防治糖尿病视网膜病变、干眼症、葡萄膜炎、视网膜血管疾病，青光眼及视网膜色素变性等的中医药视功能保护治疗。</p>
                </div>
            </fieldset>
            <p>“路老师对病人一直很有耐心，病人来看病的时候往往很焦虑，路老师会认真地聆听他们说话，像朋友一样疏导。”眼科研究生潘同学这样评价她的导师——成都中医药大学研究员路雪婧。</p>
            <p><b>换位思考下的交流</b></p>
            <p>初识路医生，正好遇见一位复诊的老太太，像跟自己的女儿唠家常一样对路医生讲述着自己的病情、吃过哪些药……老太太是在北京同仁医院抗青光眼术后发现眼底视网膜出血，“医生说只有试试中成药，我就想不如回四川看中医眼科，那天来就正好遇见路医生上门诊”老人家说。</p>
            <p>事实上老人自己是一位内科医生，自从开始接受路医生治疗后，很信任路医生，马上停掉之前吃了好久的药，完全采用路医生的治疗方案，连续用药2周后，出血完全吸收了，老人非常高兴。很多病人第一次找路医生看病，就像见到多年不见的老朋友一样，感觉格外亲切。</p>
            <p>路医生说，患者的信任是顺利完成治疗的基石。每次面对带着恐惧和焦虑的患者时，仅有专业知识还不够，换位思考非常重要，尽可能站在对方的角度，让患者感受到医生与他在一起，用适合的方式去安慰帮助他们，有事半功倍之效。 “我给自己的定位是一位帮助者、安慰者。”</p>
            <p><b>“无论中医、西医，目的是一致的——最大限度帮助患者，所以二者互补为用是患者的福音。”</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_lxjmy_2.jpg") %>
            </div>
            <p><b>帮病人脱离痛楚</b></p>
            <p>路医生是中医眼科医生，但她认为“无论中医、西医，目的是一致的——最大限度帮助患者，所以二者互补为用是患者的福音”。一位来自西藏的律师垂体瘤术后两个月一只眼睛失明，而另一只眼睛呈现逐渐加重的典型的视交叉损害（颞侧偏盲）。</p>
            <p>这位律师去很多家医院寻求治疗，得到的答复是没有办法。在几乎绝望之时，他经人介绍找到了路雪婧医生。路医生在认真分析患者病情后，结合自己多年所学和临床经验，制定了治疗方案。</p>
            <p>第一个月治疗结束，患者视野不但未能改善，反倒有进一步的发展。路医生分析这是病情的自然过程，在与患者充分沟通之后，患者同意继续第二个月的治疗。</p>
            <p>半个月后，患者的视野有了明显改善，并在此后3个月视野复查持续改善，患者激动不已，对路医生感激不尽。</p>
            <p>去年11月，一位母亲因干眼症向路医生求助，在路医生的精心诊治下明显好转。几个月后，她竟带着左眼睑神经性皮炎的女儿找到了路医生。她说女儿左眼的睑皮炎持续了一年之久，几乎跑遍了全成都市的皮肤科，但病情反复，女儿非常焦虑，而且还因激素的使用身体发胖。</p>
            <p>抱着试一试的心态，母亲找到路医生。路医生运用中医辨证施治的原理，综合使用内服和外敷试着给女儿治疗。意料之外地，眼科医生路雪婧竟然真的解除了女儿长达一年之久的皮肤困扰。</p>
            <p>路医生说，看到患者紧锁的眉头舒展开了，就是自己最开心的时候。</p>
            <div class="newsImgMar">
                <%= image_tag("news_lxjmy_3.jpg") %>
            </div>
            <p><b>“最对不住自己的女儿”</b></p>
            <p>“作为高龄妈妈，给不了女儿最需要的陪伴。”路医生的女儿今年10岁，正是最需要陪伴的年龄，但路医生除了临床工作，还有教学、科研和管理工作，加班已经习以为常。即便在家，也常常不停地接电话、写材料……</p>
            <p>“给不了女儿最需要的陪伴。” 提到女儿和家人，路医生十分愧疚。</p>
            <p>路雪婧医生待患者亲切、耐心如亲人，不少患者康复了以后会专程去医院对路医生表示感谢。每次路雪婧都说，这些是医生应该做的，医生和患者本来就是一条战线上的战友。</p>
            <div class="newsImgMar">
                <%= image_tag("news_lxjmy_4.jpg") %>
            </div>
            <p>路雪婧医生在对待患者时，亲切、耐心如亲人，对自己的医治能力要求却近乎苛刻。有不少患者康复了以后会专程去医院对路医生表示感谢。每次路医生都说，这些是医生应该做的。</p>
            <p> 路医生希望自己能够更多地帮病人解除痛苦，让更多的家庭摆脱疾病的烦扰，这也是她毕生孜孜以求的东西。</p>
        </div>
    </div>
</div>





