<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>云南七旬奶奶慕名来蓉求医 重获光明送锦旗表感谢</h5>
            <p class="rightWord">2017-06-20</p>
        </div>

        <div>
            <p>“谢谢，我的眼睛终于能够再看见了……”6月20日，一声声“谢谢”回荡在银海眼科医院门诊大厅——银海厅内。原来是因眼底出血，于6月16日在我院接受玻璃体切除手术的浦奶奶已恢复视力，今天出院。为了感谢帮助自己解除病痛，短短几天就重获光明的银海眼科医护人员，浦奶奶在办理完出院手续后，特地将准备好锦旗送给中山医科大学中山眼科中心教授、成都中医大银海眼科医院医疗质量总监/眼底外科主任刘文教授，以此表达心中无以言表的感激之情。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ynqy_1.jpg") %>
                <p>浦奶奶出院前将锦旗送给刘文教授表达感激之情</p>
            </div>
            <p>家住云南迪庆藏族自治州、70岁的浦奶奶，在1个月前，因左眼眼底出血，导致瞬间视物模糊不清，这给浦奶奶的生活造成了严重的影响,家人立即连夜将浦奶奶送到昆明就医，然而浦奶奶连续吃了一个月药却毫无效果，病情越加严重，左眼仅存微弱光感。为了能够恢复视力，恢复正常的生活，不增加子女负担，浦奶奶经朋友介绍，慕名来到成都中医大银海眼科医院，找到刘文教授就诊。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ynqy_2.jpg") %>
                <p>浦奶奶出院前做视力检查，已经恢复到0.6</p>
            </div>
            <p>经过详细检查后，明确为高血压引发左眼眼底出血，刘文教授建议浦奶奶立即手术。对于手术，浦奶奶及家人略有些许顾虑，因为听说曾经有过眼底出血的患者，远赴上海、北京手术治疗都没有效果，所以浦奶奶和家人有保守治疗的想法。通过刘教授专业的解答，以及对医院先进设备的了解，让浦奶奶一家决定接受刘教授玻璃体切除手术，以重获光明。手术非常成功，术后浦奶奶检查视力已经恢复到了0.6，浦奶奶感激的说道：“能够重获光明，回归正常生活，全靠刘教授精湛的医术，也非常感谢无微不至的医护团队，让我有家般的温暖。”</p>
            <div class="newsImgMar">
                <%= image_tag("news_ynqy_3.jpg") %>
                <p>刘文教授耐心地为浦奶奶叮嘱术后注意事项</p>
            </div>
            <p>刘教授提醒大家，少量的眼底出血没有明显感觉，很容易被忽视，但一旦大量出血就会瞬间夺走你的视力。能引起眼底出血的疾病很多，比较常见的如高血压引起的视网膜静脉阻塞、糖尿病引起的视网膜病变、老年性黄斑变性、高度近视黄斑出血等，部分视网膜脱离患者也常伴有玻璃体出血，有这些情况的眼疾患者，应该及时到专科医院就诊，严重的眼底出血存在致盲风险。</p>
        </div>
    </div>
</div>






