<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>好消息！银海眼科医保开通了，从地铁一号线到院有专车接送！</h5>
            <p class="rightWord">2017-10-22</p>
        </div>

        <div>
            <div class="centerImgCon">
                <p>好消息！</p>
                <p>好消息！</p>
                <p class="redWord">银海眼科医院开通医保了！</p>
                <p class="redWord">银海眼科医院开通医保了！</p>
                <p class="redWord">银海眼科医院开通医保了！</p>
                <p>重要事情说三遍</p>
                <p>你以为只有这个一个好消息么？</p>
                <p><span class="redWord">免费摆渡车</span>也开始运行了！</p>
                <div class="newsImgMar">
                    <%= image_tag("news_dtyb_1.jpg") %>
                </div>
                <p>经有关部门批准，成都中医大银海眼科医院被成都市人力资源和社会保障局正式确定为成都市基本医疗保险定点医疗机构。这标志成都市民在银海眼科医院可以刷医保卡看病了！</p>
            </div>
            <p><b>摆渡车信息</b></p>
            <p>为了方便患者，银海眼科医院在医院与地铁一号线人民北路站之间设立摆渡车，患者可<span class="redWord">免费</span>乘车。</p>
            <p><b>乘车信息</b></p>
            <p>地铁发车点：地铁一号线人民北路站B口外辅道</p>
            <p>医院发车点：成都中医大银海眼科医院（正大门）</p>
            <p>运行时间：周一到周五（08:00-18:00）</p>
            <p><b>发车时间表</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_dtyb_2.jpg") %>
            </div>
            <p><b>医院简介</b></p>
            <p>成都中医大银海眼科医院为成都中医药大学附属眼科医院，与成都中医药大学眼科学院实行院院合一统一管理，是集医、教、研三位于一体的研究型大型专科医院。医院坐落于蓉城府河之滨的星辉西路，按国家三级甲等专科医院标准建设，占地面积近40亩，建筑面积56000平米，编制床位400张，一期开放床位127张。医院配备世界最先进的眼科专业设备。齐聚众多国内外中西医顶级专家、学者担任医院各专业领域学术技术带头人，以一流技术、一流设备、一流疗效、一流环境、一流服务面向广大眼病患者。</p>
            <p>银海眼科医院中西医并重，体现中西医结合、眼科与视光结合、眼与全身病结合、眼科与互联网结合、医疗与教学科研结合，建设成国际接轨、特色突出、防治一体的现代化眼科医疗机构。医院设立中医眼科中心、眼底病中心、糖尿病视网膜病变防治中心、白内障屈光中心、眼视光中心、眼影像分析与诊断中心等六大中心，设置白内障、青光眼、糖尿病视网膜病变、眼底内科、眼底外科、葡萄膜炎、角膜病、屈光手术、斜弱视、近视防控、眼眶病、干眼、泪道病等17个专病专科。</p>
            <p>临床上结合传统中医药和现代医学两方面的优势，在充分发挥中药内服、外敷、熏洗、雾化、针刺、灸疗、推拿、按摩等中医简、便、效、廉特色的同时，广泛开展全飞秒激光与激光近视矫治术、3D飞秒激光白内障术、白内障超声乳化术、ICL与三焦点屈光手术、玻璃体切除术、青光眼小梁切除术、角膜移植术、斜视矫正术、无损伤泪道再造术、眼整形美容术、医学验光配镜、弱视矫治、低视力康复、视功能训练等现代医学诊疗项目，为我国西部眼病患者提供优良的医疗及保健服务。</p>

        </div>
    </div>
</div>
