<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【感恩岁末】错过双11，其实我们只想把最好的都留给你 </h5>
            <p class="rightWord">2017-11-12</p>
        </div>

        <div>
            <div class="centerImgCon">
                <p>感谢有你</p>
                <p>今天 我想对你说谢谢</p>
                <p>谢谢你 小伙伴 陪我一起疯</p>
                <p>谢谢你配送小哥 总能让我收到惊喜的电话</p>
                <p>谢谢你队友 为了联盟！为了部落！</p>
                <p>谢谢你 眼睛 让我能见到世间所有的美好</p>
                <p>谢谢你 客服妹妹 总能接受我的十万个为什么</p>
                <p>谢谢你 眼科医生 为我提供最好的治疗方法</p>
                <p>谢谢你 宠物 像家人一般陪伴我</p>
                <p>谢谢你 为生活努力从未放弃的自己</p>
                <p>谢谢你 为银海眼科付出的一切</p>
                <div class="newsImgMar">
                    <%= image_tag("news_cgs11_1.jpg") %>
                </div>
                <p>5月28日我们在成都市金牛区扎根</p>
                <p>我们很年轻</p>
                <p>我们感恩社会各界的支持</p>
                <p>病人与领导的鼓励</p>
                <p>感恩收到的每一个建议</p>
                <div class="newsImgMar">
                    <%= image_tag("news_cgs11_2.jpg") %>
                </div>
                <p>银海眼科感恩回馈 </p>
                <p>#这次我想感谢你#</p>
                <p>不是每一次你的眼睛生病</p>
                <p>我都能在你身边</p>
                <p>这次我想用最贴心的服务与最好的技术</p>
                <p>感谢你的支持与信任</p>
            </div>
            <fieldset>
                <legend>优惠信息</legend>
               <p><b>活动内容</b></p>
               <p><b>中医眼科中心</b></p>
               <p>全家可用</p>
               <p>（1）除螨熏蒸：每7次赠1次，再赠3次复查；</p>
               <p>（2）针    灸：每5次赠1次；</p>
               <p>（3）雾    化：每5次赠2次；</p>
               <p>赠送的次数可选以下项目（复查项目不可更换）：埋针、揿针、放血、拔罐、浴足、除螨熏蒸、雾化（干眼、过敏、清热解毒）、艾灸、传统核桃灸</p>
               <p><b>ICL活动优惠</b></p>
               <p>凡感恩回馈期间在银海眼科接受ICL屈光手术，可获1000元/双眼手术费用减免，单眼优惠减半</p>
               <p><b>白内障优惠活动</b></p>
               <p>凡感恩回馈期间在银海眼科行白内障手术者：三焦点晶体优惠1000元/双眼，新无极变焦、ART多功能晶体优惠500元/双眼，单眼减半</p>
               <p>注：可现场报名、网络报名、电话报名、均有效</p>
               <p><b>活动日期：</b>以上活动截止到2017年12月31日</p>
               <p><b>近视优惠活动</b></p>
               <p>①  教师、学生可享近视手术7.8折优惠</p>
               <p>②  教师、学生可享眼健康建档眼病检查6.5折优惠</p>
               <p>③  其他人群可享近视手术9折优惠</p>
               <p>④  免近视手术术前检查费</p>
               <p>备注：①②项教师、学生需凭本人相关证明即可享受优惠，③项除教师学生外。</p>
               <p><b>活动日期：</b>本活动日期截止到2018年5月31日</p>

            </fieldset>
            <div class="centerImgCon">
                <p>银海眼科感谢有您</p>
                <div class="newsImgMar">
                <%= image_tag("news_cgs11_3.jpg") %>
            </div>
            </div>

        </div>
    </div>
</div>

