<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>近视激光手术进入千频时代，首台阿玛仕1050RS落户中医大银海眼科医院</h5>
            <p class="rightWord">2017-05-19</p>
        </div>


        <div>
            <p>2017年5月18日，代表世界最高技术水平的阿玛仕1050RS准分子激光系统中国上市会在上海召开。成都中医药大学附属银海眼科医院院长段俊国教授应邀参加，并获颁“阿玛仕时代先锋奖”。</p>
            <div class="newsImgMar">
                <%= image_tag("jg_1.jpg") %>
                <p>阿玛仕1050RS上市会现场</p>
            </div>
            <p>据悉，成都中医药大学附属银海眼科医院是阿玛仕1050RS上市后首家引进该设备的医院。阿玛仕1050RS准分子激光系统，作为最新引进中国的屈光手术设备，开启了准分子激光千频精准时代。该系统拥有全球最高激光发射频率1050HZ；拥有0.54mm全球最小激光光斑；独有最先进的七维无延迟眼球跟踪系统，精确制导突破时空局限；该设备全激光TransPRK上皮自主定制，更加个性化；革命性的SPT智能脉冲技术，极致平滑，极速恢复；通过选择性的高阶像差矫正，实现真正的个性化；智能化热效应控制技术，高效控热，为手术的极致安全保驾护航。</p>
            <div class="newsImgMar">
                <%= image_tag("jg_2.jpg") %>
                <p>段俊国教授获颁“阿玛仕时代先锋奖”</p>
            </div>
            <p>段俊国院长在获奖致辞中表示，作为一家医、教、研三位一体的研究型专科医院，成都中医药大学附属银海眼科医院高度重视国际最先进的眼科设备的引进。作为中国第一家同时拥有世界最先进准分子激光设备阿玛仕1050RS，和世界最先进全飞秒设备蔡司SMILE3.0的医院，将充分发挥最先进、最精准设备的优势，为患者追求更完美视觉矫正体验，必将为广大患者带来最完美的屈光手术视觉质量，也将和所有眼科同仁一起努力，迎接中国屈光手术新时代的到来，让每一位中国人享有看得见的权利，而且要看得更好！</p>
            <div class="newsImgMar">
                <%= image_tag("jg_3.jpg") %>
                <p>阿玛仕1050RS准分子激光系统</p>
            </div>


        </div>
    </div>
</div>


