<div class="middle">

    <div class="newsMain">
        <div class="newsTitle title twoNewsTitle">
            <h5>成都中医药大学眼科学院</h5>
            <h5>2018年硕士研究生复试办法</h5>
            <p class="rightWord"></p>
        </div>

        <div>
            <p><b>一、招生计划</b></p>
            <div>
                <p>中医眼科学（专业代码：1005Z2），招生计划：3人</p>
                <p>中西医结合临床（专业代码：100602），招生计划：1人</p>
                <p>中医五官科学（专业代码：105706）招生计划：16人</p>
                <p>中西医结合临床（专业代码：105709）招生计划：7人</p>
            </div>

            <p><b>二、复试内容和要求：</b></p>
            <p>1.   专业笔试由学校统一组织。面试由眼科学院负责组织实施，根据专业要求确定复试面试内容和形式，制定统一提纲。</p>
            <p>2.   复试面试包含临床实践技能测试、外语阅读与口语测试、专业综合面试。专业综合面试内容包括专业知识点考查和综合提问。专业知识点考查主要考核考生的专业水平、分析问题与解决问题的能力。综合提问侧重考核考生的思想素质和道德品质、应变表达能力、专业以外的学习、科研、社会实践、心理状况等方面的情况。</p>
            <p><b>三、复试录取原则</b></p>
            <p>学院根据学校2018年实际下拨的招生总规模，结合学科建设需求，实行择优录取。</p>
            <p>1.复试总成绩：满分200分，其中专业课笔试为100分，面试为100分（学术型面试提问占50分，外语阅读和口语占30分，临床实践技能占20分；专业型面试提问占30分，外语阅读和口语占20分，临床实践技能占50分）。专业课笔试成绩低于60分或面试成绩低于60分，均视为复试不合格，不予录取。</p>
            <p>2.最后总成绩：为初试（即国家统考）总成绩50%+复试总成绩50%。</p>
            <p>3.择优录取原则：按最后总成绩高低排序进行择优录取。当最后总成绩相同时，则按照复试总成绩高低排序择优录取。若复试总成绩仍然相同，则按照复试笔试成绩＞面试提问成绩＞临床实践技能成绩＞外语阅读和口语成绩的顺序择优录取。</p>
            <p>4.拟录取名单定于2018年4月12日前公布，公布地点为成都中医药大学眼科学院/附属银海眼科医院官方网站（http://www.ineyehospital.com/）和学院会议室外张贴公布。</p>
            <p><b>四、调剂原则：</b></p>
            <p><b>（一）调剂总原则：</b></p>
            <p>在考生通过我校组织的研究生复试合格后，根据学院、学科招生计划，按照考生同一学科（指复试笔试科目相同的学科）的最后总成绩排序，结合学科发展、导师和考生意愿、市场需求，分步实施考生调剂。</p>
            <p><b>（二）2018年眼科学院接收校内调剂：</b></p>
            <p>接收初试科目为中医综合、中西医综合、西医综合，临床医学综合能力(中医)，临床医学综合能力(西医)的调剂生。学生调剂须填写《2018年眼科学院研究生复试调剂申请表》，按程序进行调剂。调剂考生务必参加学院组织的调剂面试。录取后无论任何原因不报到者，学校将此纳入诚信记录。</p>
            <p><b>五、导师的确定：</b></p>
            <p>1、请考生于2018年3月28日17:30前，前往眼科学院302办公室领取并填写《2018年眼科学院研究生拟选导师申请表》。</p>
            <p>2、确定导师一般采取“双向选择”的原则进行。按专业方向为基础，学生以最后总成绩高低排序，适当考虑导师意见。</p>
            <p><b>六、复试面试安排：</b></p>
            <table>
                <tr>
                    <th>考试内容</th>
                    <th>时  间</th>
                    <th>地  点</th>
                </tr>
                <tr>
                    <td>临床实践技能考核</td>
                    <td>2018年3月31日下午13:30</td>
                    <td>成都中医药大学附属银海眼科医院住院部3楼医生办公室</td>
                </tr>
                <tr>
                    <td>外语能力及专业综合能力</td>
                    <td>2018年3月31日下午15:30</td>
                    <td>成都中医药大学附属银海眼科医院六楼1会议室</td>
                </tr>
            </table>
            <p><b>七、咨询及举报部门</b></p>
            <p><b>咨询电话：</b>一教学楼眼科学院302办公室   联系人：李娜  028-68398866-6302</p>
            <p><b>举报电话：</b>成都中医药大学附属银海眼科医院办公室   联系人：陶铮  028-68398866-6116</p>
            <p><b>八、未尽事宜，由眼科学院负责解释。</b></p>
            <div class="flow">
                <div class="fr">
                    <div class="flow">
                        <div class="fl bottomLineHeight">
                            <p>眼科学院</p>
                            <p>2018年3月26日</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
