<div class="schedulingTabCon padT20">
            <h4>专家排班表</h4>
            <%= image_tag("table.jpg") %>
            <table class="schedulingTab">
                <tr>
                    <th colspan="20">成都中医大银海眼科医院门诊医师坐诊一览表</th>
                </tr>
                <tr>
                    <td><b>诊室</b></td>
                    <td><b>时段</b></td>
                    <td><b>星期一</b></td>
                    <td><b>星期二</b></td>
                    <td><b>星期三</b></td>
                    <td><b>星期四</b></td>
                    <td><b>星期五</b></td>
                    <td><b>星期六</b></td>
                    <td><b>星期日</b></td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <p><b>国医大师工作室</b></p>
                    </td>
                    <td>上午</td>
                    <td>
                        <p><b>张富文</b></p>
                        <p>VIP门诊</p>
                    </td>
                    <td>
                        <p><b>廖品正</b></p>
                        <p>VIP门诊</p>
                    </td>
                    <td>
                        <p><b>段俊国</b></p>
                        <p>VIP门诊</p>
                    </td>
                    <td>
                        <p><b>黄  霄</b></p>
                        <p>VIP门诊</p>
                    </td>
                    <td>
                        <p><b>周华祥</b></p>
                        <p>VIP门诊</p>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>下午</td>
                    <td>
                        <p><b>张富文</b></p>
                        <p>VIP门诊</p>
                    </td>
                    <td>
                        <p><b>廖品正</b></p>
                        <p>VIP门诊</p>
                    </td>
                    <td>
                        <p><b>段俊国</b></p>
                        <p>VIP门诊</p>
                    </td>
                    <td>
                        <p><b>黄  霄</b></p>
                        <p>VIP门诊</p>
                    </td>
                    <td>
                        <p><b>周华祥</b></p>
                        <p>VIP门诊</p>
                    </td>
                    <td></td>
                    <td></td>
                </tr>


            </table>
        </div>
