<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "medicals/medical_left" %>
    <div class="fr doctorScheduling">

        <div class="schedulingTabCon padT20">
            <h4>专家排班表</h4>
            <%= image_tag("table.jpg") %>

        </div>
        <div class="stopService padB10">
            <h4>本周停诊信息</h4>
            <ul class="flParent flow">
                <li>廖品正： <span>周二</span></li>
            </ul>
        </div>

    </div>
</div>
