<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "medicals/medical_left" %>
    <div class="fr doctorScheduling">
        <div class="stopService">
            <h4>本周停诊信息</h4>
            <ul class="flow flParent">
                <li>段俊国：<span>星期三</span></li>
                <li>潘学会：<span>星期二、星期三、星期四、星期天</span></li>
                <li>陈小凤：<span>星期三、星期五</span></li>
                <li>李 强：<span>星期五、星期天</span></li>
                <li>王智慧：<span>星期五、星期天</span></li>
            </ul>
            <p>更新于2017年8月25日</p>
        </div>
        <div class="schedulingTabCon">
            <h4>门诊排班表</h4>
            <table class="schedulingTab">
                <tr>
                    <th class="width150">科室</th>
                    <th>姓名</th>
                    <th>职称</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期日</th>
                </tr>
                <tr>
                    <td rowspan="2">眼底内科</td>
                    <td><a href="">段俊国</a></td>
                    <td>主任医师</td>
                    <td></td>
                    <td></td>
                    <td>上午</td>
                    <td></td>
                    <td>上午</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>邓亚平 </td>
                    <td>主任医师</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>上午</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="3">中医眼科</td>
                    <td>廖品正 </td>
                    <td>国医大师</td>
                    <td></td>
                    <td>下午</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>周华祥</td>
                    <td>主任医师</td>
                    <td></td>
                    <td>下午</td>
                    <td></td>
                    <td>全天</td>
                    <td></td>
                    <td>全天</td>
                    <td></td>
                </tr>
                <tr>
                    <td>路雪婧</td>
                    <td>主任医师</td>
                    <td>上午</td>
                    <td></td>
                    <td></td>
                    <td>全天</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>白内障科</td>
                    <td>朱思泉</td>
                    <td>主任医师</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>下午</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">眼底外科</td>
                    <td>刘 文</td>
                    <td>主任医师</td>
                    <td>上午</td>
                    <td></td>
                    <td>上午</td>
                    <td>下午</td>
                    <td>上午</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>王国平</td>
                    <td>副主任医师</td>
                    <td>下午</td>
                    <td></td>
                    <td></td>
                    <td>上午</td>
                    <td>下午</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="3">小儿及视光科</td>
                    <td>袁晓辉</td>
                    <td>主任医师</td>
                    <td>上午</td>
                    <td>全天</td>
                    <td>下午</td>
                    <td>全天</td>
                    <td></td>
                    <td></td>
                    <td>上午</td>
                </tr>
                <tr>
                    <td>谢艾芮</td>
                    <td>主治医师</td>
                    <td>全天</td>
                    <td>下午</td>
                    <td></td>
                    <td></td>
                    <td>全天</td>
                    <td>上午</td>
                    <td></td>
                </tr>
                <tr>
                    <td>缪 馨</td>
                    <td>主治医师</td>
                    <td>全天</td>
                    <td>上午</td>
                    <td>上午</td>
                    <td>全天</td>
                    <td></td>
                    <td></td>
                    <td>下午</td>
                </tr>
                <tr>
                    <td rowspan="2">屈光手术科</td>
                    <td>周跃华</td>
                    <td>主任医师</td>
                    <td>下午</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>周春阳</td>
                    <td>副主任医师</td>
                    <td></td>
                    <td></td>
                    <td>全天</td>
                    <td></td>
                    <td>全天</td>
                    <td>下午</td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">综合眼科</td>
                    <td>黄 霄</td>
                    <td>主任医师</td>
                    <td></td>
                    <td>上午</td>
                    <td>上午</td>
                    <td>上午</td>
                    <td>全天</td>
                    <td>全天</td>
                    <td></td>
                </tr>
                <tr>
                    <td>蹇文渊</td>
                    <td>主治医师</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>上午</td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">青光眼、白内障科</td>
                    <td>张富文</td>
                    <td>主任医师</td>
                    <td></td>
                    <td>上午</td>
                    <td></td>
                    <td></td>
                    <td>上午</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>潘学会</td>
                    <td>副主任医师</td>
                    <td>上午</td>
                    <td>下午</td>
                    <td>上午</td>
                    <td>上午</td>
                    <td></td>
                    <td></td>
                    <td>上午</td>
                </tr>
                <tr>
                    <td>陈小凤</td>
                    <td>主治医师</td>
                    <td>上午</td>
                    <td></td>
                    <td>下午</td>
                    <td></td>
                    <td>全天</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>李 强</td>
                    <td>主治医师</td>
                    <td>上午</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>下午</td>
                    <td></td>
                    <td>全天</td>
                </tr>
                <tr>
                    <td>内科</td>
                    <td>王智慧</td>
                    <td>主任医师</td>
                    <td>上午</td>
                    <td></td>
                    <td>上午</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>


