<style>
    .my-map { margin: 0; width: 705px; height: 320px; }
    .my-map .icon { background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat; }
    .my-map .icon-cir { height: 31px; width: 28px; }
    .my-map .icon-cir-red { background-position: -11px -5px; }
    .amap-container{height: 100%;}
    .map h5{
        font-size: 14px;
        line-height: 25px;
    }
</style>

<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "medicals/medical_left" %>
    <div class="enterEyeContent fr toIneye">
        <p><span>医院地址：</span>成都市金牛区星辉西路8号</p>
        <p><span>乘车路线：</span>乘42路、75路公交至“星辉西路站”，向南步行约200米。</p>
        <p>※本路线仅供参考，具体以当时实际公交路线为准</p>
        <p><span>地铁路线：</span>1号线“人民北路站D2出口”向南行至星辉西路左转200米；1号线“文殊院站K出口”向北行至星辉西路右转200米，为方便市民就医，在文殊院地铁K出口，上午8:00至18:00有摆渡车接送； </p>
        <p class="indent5">3号线“红星桥站C出口下”，转乘42路、75路公交（3站）星辉西路站下 。</p>
        <p><span>自驾路线：</span>成都市区请直接开至金牛区星辉西路8号，如中途线路不清楚，可电话咨询400-9900-766。</p>
        <div class="map">
            <div id="wrap" class="my-map">
                <div id="mapContainer"></div>
            </div>
        </div>
    </div>
</div>
<script src="//webapi.amap.com/maps?v=1.3&key=8325164e247e15eea68b59e89200988b"></script>
<script>
    window.onload = function () {
        !function(){
            var infoWindow, map, level = 16,
                center = {lng: 104.075537, lat: 30.678579},
                features = [{type: "Marker", name: "成都中医大银海眼科医院", desc: "电话：400 9900 766", color: "red", icon: "cir", offset: {x: -9, y: -31}, lnglat: {lng: 104.075537, lat: 30.678579}}];

            function loadFeatures(){
                for(var feature, data, i = 0, len = features.length, j, jl, path; i < len; i++){
                    data = features[i];
                    switch(data.type){
                        case "Marker":
                            feature = new AMap.Marker({ map: map, position: new AMap.LngLat(data.lnglat.lng, data.lnglat.lat),
                                zIndex: 3, extData: data, offset: new AMap.Pixel(data.offset.x, data.offset.y), title: data.name,
                                content: '<div class="icon icon-' + data.icon + ' icon-'+ data.icon +'-' + data.color +'"></div>' });
                            break;
                        case "Polyline":
                            for(j = 0, jl = data.lnglat.length, path = []; j < jl; j++){
                                path.push(new AMap.LngLat(data.lnglat[j].lng, data.lnglat[j].lat));
                            }
                            feature = new AMap.Polyline({ map: map, path: path, extData: data, zIndex: 2,
                                strokeWeight: data.strokeWeight, strokeColor: data.strokeColor, strokeOpacity: data.strokeOpacity });
                            break;
                        case "Polygon":
                            for(j = 0, jl = data.lnglat.length, path = []; j < jl; j++){
                                path.push(new AMap.LngLat(data.lnglat[j].lng, data.lnglat[j].lat));
                            }
                            feature = new AMap.Polygon({ map: map, path: path, extData: data, zIndex: 1,
                                strokeWeight: data.strokeWeight, strokeColor: data.strokeColor, strokeOpacity: data.strokeOpacity,
                                fillColor: data.fillColor, fillOpacity: data.fillOpacity });
                            break;
                        default: feature = null;
                    }
                    if(feature){ AMap.event.addListener(feature, "click", mapFeatureClick); }
                }
            }

            function mapFeatureClick(e){
                if(!infoWindow){ infoWindow = new AMap.InfoWindow({autoMove: true}); }
                var extData = e.target.getExtData();
                infoWindow.setContent("<h5>" + extData.name + "</h5><div>" + extData.desc + "</div>");
                infoWindow.open(map, e.lnglat);
            }

            map = new AMap.Map("mapContainer", {center: new AMap.LngLat(center.lng, center.lat), level: level});

            loadFeatures();

            map.on('complete', function(){
                map.plugin(["AMap.ToolBar", "AMap.OverView", "AMap.Scale"], function(){
                    map.addControl(new AMap.ToolBar({ruler: false, direction: false, locate: false}));
                    map.addControl(new AMap.OverView);
                    map.addControl(new AMap.Scale);
                });
            })

        }();
    }
</script>


