<div class="middle">
    <div class="regContainer healthCare">
        <h5>医保政策</h5>
        <p>医保政策：</p>
        <ul>
            <li>● 四川省医保定点医疗机构</li>
            <li>● 成都市城镇职工医保定点医疗机构</li>
            <li>● 成都市新型农村合作医疗定点医疗机构</li>
        </ul>
        <p class="middleWord">成都中医大银海眼科医院作为专科眼科医院，医院执行全市统一的医保药品目录、诊疗项目及病种目录，统一的起付额与报销比例，参保患者在我院就诊可以充分享受到医保参保的权益。在青光眼、眼眶病/眼肿瘤、角膜移植、复杂性白内障、近视矫治、眼底病等方面具备较强的专业诊疗技术，每个病种按照国家规定享受的医保政策也不同，需要患者详细了解，有些眼病在医保范围内可以按照比例报销，有些按照国家规定不在医保范围内则不能报销。</p>
        <ul>
            <li>- 参加本地医疗保险的患者持身份证原件及社会保障卡（医保卡）就医，根据病情缴纳预交 金，出院时在医院办理费用结算；</li>
            <li>- 异地病人到入院处按普通病员办理入院，出院后自行到当地医保中心审核办理报销手续；</li>
            <li>- 对于医保规定不予报销的病种，都不按医保手续办理，由病人自费。</li>
        </ul>
    </div>
</div>
