<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "medicals/medical_left" %>
    <div class="enterEyeContent fr securityPolicy">
        <div>
            <p><b>患者住院时怎样办理入院手续</b></p>
            <p>（1）在社保定点医院、参保人员住院可持入院证、身份证和社保卡直接办理入院手续；实行计账式住院。</p>
            <p>（2）在社保定点医院、参保人员住院可持入院证、身份证和社保卡直接办理入院手续；实行计账式住院。（所谓计账式住院；是指属于医保报销的费用记帐，属于自已负担的费用由入院时，向医院缴纳一定数额的自费预付金支付）</p>
            <p>（3）特殊情况、外伤住院可以全额垫付现金，出院后到参保地医保局基本医疗处报销。</p>
        </div>
        <div>
            <p><b>参加基本医疗住院医疗费报销待遇支付起始时间：（生效期）</b></p>
            <p>1.初次参加成都市城镇职工基本医疗保险的人员、中断基本医疗保险关系或欠费4个月以上的，自参保或重新参保之日起连续缴费满12个月以后，在医保定点医疗机构入院发生的住院医疗费用，统筹基金按本办法规定予以支付，个人账户金从缴费当月起划拨</p>
            <p>2.个人初次参保或参保生效后中断4个月以上者，须缴费满12个月以后，在医保定点医疗机构入院发生的住院医疗费，基本医疗统筹基金才能报销。</p>
        </div>
        <div>
            <p><b>基本医疗住院费用报销公式：</b></p>
            <p> ① 一次性住院医疗费总额 －  ②  报销时应由个人首先承担的费用） × ③  报销比例</p>
        </div>
        <div>
            <p class="noIndent">（一）起付标准的政策规定：</p>
            <p>1.起付标准按不同级别的定点医院确定：</p>
            <p>① 社区卫生服务中心、乡镇卫生院为160元（符合条件并与医保机构签订住院医疗服务协议）；</p>
            <p>② 一级医院为200元；</p>
            <p>③ 二级医院为400元；</p>
            <p>④ 三级医院为800元；</p>
            <p>⑤ 市外转诊起付标准为2000元：</p>
        </div>
        <div>
            <p class="noIndent">（二）“特殊诊疗项目”费用×20%：</p>
            <p>《基本医疗保险诊疗项目目录》是指：参保人员在定点医疗机构住院治疗疾病的医疗技术项目和采用医疗仪器设备，医用材料进行的诊断、治疗项目目录。它分为不予支付费用的诊疗项目和部分支付费用的诊疗项目。是基本医疗保险诊断、治疗项目费用报销的依据。</p>
            <p>① 不予支付费用的诊疗项目：即没有纳入《基本医疗保险诊疗项目目录》支付范围的项目。</p>
            <p>② 特殊诊疗项目：即部分支付费用的诊疗项目： 由参保人员按规定的项目比例自付20%后，再按基本医疗保险的规定的个人比例报销。</p>
        </div>
        <div>
            <p class="noIndent">（三）“乙类目录”药品费用×10 %：</p>
            <p>① 《四川省基本医疗保险药品目录》是基本医疗保险用药报销范围的依据。它由甲类药品和乙类药品两部分组成。</p>
            <p>② “甲类目录”的药物是指：全国基本统一的，能保证临床治疗需要的（基本）药物。这类药物的费用纳入基本医疗保险报销范围，并按住院报销比例支付费用。</p>
            <p>③ “乙类目录”的药物是指：基本医疗保险基金有能力部分支付费用的药物。这类药物先由参保人员自付×10%的费用后，余下的费用按住院报销比例支付费用。</p>

        </div>
        <div>
            <p class="noIndent">（四）基本医疗保险范围外的费用×100%</p>
            <p>① 基本医疗保险住院医疗费报销依据《三个目录》： 《基本医疗保险诊疗项目目录》、《基本医疗保险药品目录》、《医疗服务设施目录》</p>
            <p>② 基本医疗保险基金支付范围外的费用即自费。自费费用则完全由个人承担，基本医疗基金不予报销。</p>
            <p>③ 基本医疗保险住院费报销比例的规定：</p>
            <p class="noIndent">（1）统筹基金根据医院级别按比例支付：</p>
            <p>定点社区服务中心： 95% 、一级医院： 92% 、二级医院： 90%  、三级医院： 85%  </p>
            <p class="noIndent">（2）在不同级别的医院按不同的百分比的基础上、再按不同的年龄段增加百分比报销；</p>
            <p>年满50周岁的增加2%；年满60周岁的增加4%：年满70周岁的增加6%：年满80周岁的增加8%：年满90周岁的增加10%：根据年龄增加后的医疗费报销比例，不得超过100%：年满100周岁及以上的参保人员在定点医疗机构发生的符合基本医疗保险报销范围的住院费用报销比例为100%。城乡居民基本医疗保险按不同缴费标准和住不同级别医院的报销比例：</p>
            <p>① 按60元筹资标准参保的报销比例；乡镇卫生院、社区卫生服务中心92％：  一级医院85%：  二级医院75%：  三级医院50%。</p>
            <p>② 按120元筹资标准参保的报销比例；乡镇卫生院、社区卫生服务中心92％：  一级医院87%：  二级医院82%：  三级医院65%。</p>
            <p>③ 中小学生、儿童报销比例；乡镇卫生院、社区卫生服务中心92％：  一级医院85%：  二级医院75%：  三级医院50%。</p>
            <p>④ 大学生报销比例；校医院、乡镇卫生院和社区卫生服务中心92％：  一级医院85%，  二级医院75%，  三级医院50%。</p>
        </div>
        <div>
            <p class="noIndent">（五）城乡居民基本医疗保险支付范围：</p>
            <p>城乡居民基本医疗保险基金，为参保人员支付下列符合基本医疗保险报销范围内的费用：</p>
            <p>1.住院医疗费；</p>
            <p>2.门诊特殊疾病医疗费；</p>
            <p>3.住院期间因所在医疗机构条件限制发生在其他定点医疗机构的检查和手术费；</p>
        </div>
        <div>
            <p class="noIndent">（六）一个自然年度内城乡居民基本医疗保险最高支付限额 ：一个保险有效期限内，基本医疗保险基金累计支付最高限额上年度成都市城镇居民可支配收入的6倍。</p>
        </div>

    </div>
</div>