<%= render 'medicals/medical_tkd' %>
<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "medicals/medical_left" %>
    <div class="enterEyeContent fr processImg">
        <%= image_tag("processImg.jpg",alt: '就医流程') %>
    </div>
</div>

