<%= render 'medicals/medical_tkd' %>
<%= if false %>
<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "medicals/medical_left" %>
    <div class="enterEyeContent fr">
        <table class="priceTable">
            <tr>
                <th>手术名称</th>
                <th>眼别</th>
                <th>执行价（元）</th>
            </tr>
            <tr>
                <td>SMART全激光（TransPRK阿玛仕1050）</td>
                <td>双眼</td>
                <td>20600</td>
            </tr>
            <tr>
                <td>SMILE全飞秒（激光小切口微透镜取出术)</td>
                <td>双眼</td>
                <td>20800</td>
            </tr>
            <tr>
                <td>FLEx（全飞秒激光微透镜取出术）</td>
                <td>双眼</td>
                <td>17800</td>
            </tr>
            <tr>
                <td>F-LASIK（蔡司全飞秒激光制瓣+阿玛仕1050准分子激光切削术）</td>
                <td>双眼</td>
                <td>14800</td>
            </tr>
            <tr>
                <td>LASIK（前弹力层下激光角膜磨镶术阿玛仕1050）</td>
                <td>双眼</td>
                <td>7800</td>
            </tr>
            <tr>
                <td>LASEK（准分子激光上皮下角膜磨镶术阿玛仕1050）</td>
                <td>双眼</td>
                <td>6800</td>
            </tr>
            <tr>
                <td>FW-G（波前像差引导手术加收）</td>
                <td>双眼</td>
                <td>2800</td>
            </tr>
            <tr>
                <td>CXL（角膜交联加固术）</td>
                <td>双眼</td>
                <td>7200</td>
            </tr>
            <tr>
                <td>CXL（圆锥角膜交联术）</td>
                <td>双眼</td>
                <td>24000</td>
            </tr>
            <tr>
                <td>角膜地形图引导手术（加收）</td>
                <td>双眼</td>
                <td>2800</td>
            </tr>
            <tr>
                <td>Q值调整手术（加收）</td>
                <td>双眼</td>
                <td>2800</td>
            </tr>
        </table>
    </div>
</div>
<% end %>

