<div class="middle">
    <div class="regContainer toHospital">
        <h5>来院指引</h5>
        <p>医院地址：成都市金牛区星辉西路8号</p>
        <p>乘车路线：公交车乘 42路 、75路到成都中医大银海眼科医院(星辉西路8号)</p>
        <p>※本路线仅供参考，具体以当时实际公交路线为准</p>
        <p>地铁路线：1号线文殊院K口下车步行898米</p>
        <p>自驾路线：成都市区请直接开至金牛区星辉西路8号，如中途线路不清楚，可电话咨询400-9900-766。</p>
        <div>
            <%= image_tag("address.png") %>
        </div>
    </div>
</div>
