<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../../assets/stylesheets/commom.css">
<link rel="stylesheet" href="../../assets/stylesheets/index.css">
<body>
<div class="main">
    <div class="middle">
        <div class="regContainer">
            <ul class="flParent flow">
                <li>
                    <div class="regOneImg">
                        <img src="../../assets/images/subscribe_1.png" alt="">
                        <p>电话预约</p>
                        <p class="tel">预约电话：400-9900-766</p>
                    </div>
                    <p class="regContent">电话预约请详细说明您要预约的日期、具体时间、科室、医生。我们将首先安排预约客户就诊，非预约客户则需要等候就诊，并根据医生时间情况合理为您安排就诊。如您有关于医院的任何问题，欢迎您随时拨打，我们会尽全力给您满意的答复。</p>
                </li>
                <li>
                    <div class="regOneImg">
                        <img src="../../assets/images/subscribe_2.png" alt="">
                        <p>微信预约</p>
                    </div>
                    <div class="regContent">
                        <div>
                            <img src="../../assets/images/subscribe_4.png" alt="">
                        </div>
                        <p>扫描二维码，关注“银海启明ineyesight”,点击在线预约，即可微信预约</p>
                    </div>

                </li>
                <li class="lastReg">
                    <div class="regOneImg">
                        <img src="../../assets/images/subscribe_3.png" alt="">
                        <p>网络预约</p>
                    </div>
                    <p class="regContent lastReg">您可以随时点击官网“在线咨询”按钮，然后在对话框里留下您的问题，我们将及时与您沟通，帮助您解答或处理相关疑难问题</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>