<% render 'kepus/kepus_tdk' %>
<div class="whiteModule pad20 line30">
  <div class="flow">
    <div class="kepus_img_box fl">
      <%=image_tag 'kepus_slbh.jpg',alt:'四川省视力保护科普基地介绍'%>
    </div>
    <div class="kepus_content_box fl">
      <div class="hosTitle fl">
        <h4 class="chineseWord">四川省视力保护科普基地介绍</h4>
        <p>Introduction of Sichuan visual protection science popularization base</p>
      </div>
      <div class="kepus_item_container fl">
        <p>
          四川省视力保护科普基地所依托单位——成都中医药大学中医眼科学科1956年由全国著名中医眼科学家陈达夫教授创建。作为四川省视力保护科普基地，在近视防控方面先后承担了国家行业专项和四川省科技厅重点课题，积极开展中医药近视防治临床及科研工作；承担四川省科技厅青少年近视科普平台建设项目和四川省科技厅眼保健操规范及培训科普项目；基地定期深入学校和社区开展形式多样、生动活泼的视力保护科普宣传...
        </p>
        <%= link_to '查看详情>>', kepu_path(:四川省视力保护科普基地介绍)%>
      </div>
    </div>
  </div>
</div>
<div class="whiteModule pad20 line30">
  <div class="flow">
    <div class="kepus_img_box fl">
      <%=image_tag 'kepus_ybjc.jpg',alt:'眼保健操'%>
    </div>
    <div class="kepus_content_box fl">
      <div class="hosTitle fl">
        <h4 class="chineseWord">眼保健操规范化培训科普园地</h4>
        <p>Standardized training of eye health exercises</p>
      </div>
      <div class="kepus_item_container fl">
        <p>
          眼保健操规范化培训科普园地依托四川省教育厅科普培训项目“建立规范化眼保健操中小学科普宣传人员培训体系”开设，以传统中医推拿为基础的眼保健操规范化培训项目作为支撑，科普园地为广大中小学学校及社区卫生机构教辅人员等提供专业的眼保健操教学及规范化培训通道及交流平台...
        </p>
        <%= link_to '查看详情>>', kepu_path(:眼保健操规范化培训科普园地)%>
      </div>
    </div>
  </div>
</div>
<script>
    $(".kepuBtn li").click(function () {
        $(".kepuBtn li").eq($(this).index()).addClass("active").siblings().removeClass("active");
        $(".kepuModuleCon .kepuModule").eq($(this).index()).show().siblings().hide()
    })
</script>
