<div class="main">
    <div class="middle">
    <div class="popularTitle">
        <h5>近视手术的“福音”—中医治疗</h5>
        <p>2017-08-03</p>
    </div>

    <div class="careUnitContent eyePu">
        <div>
            <p><b>壹</b></p>
            <p><b>Q:</b>想做近视手术，但没有足够的时间休假，中医有没有好办法缩短术后恢复时间？</p>
            <p><b>A:</b>首先，近视手术前，病人可能会有消化系统紊乱或者饮食不规律等问题。此时我们可以先用中药进行调理。中药可有效调整食欲不振、消化不良、便秘，腹气不通等症状。以上这些症状会加重眼病症状，而加入中药调理后能有效缓解临床症状，将病人的消化系统和睡眠情况调整到最佳状态。</p>
            <p>其次，手术是一个有计划、步骤、目的的外伤，对组织反应来讲是一种创伤反应，而中医治疗能改善术后的一些副作用。在《原机启微》里有一剂“除风益损汤”的药方，专用于眼外伤，而中药石决明散，可用于角膜外伤，减轻病人手术期的症状。这两药结合运用并以此为理念，在近视手术后能有效改善水肿，眼部不适（异物感、疼痛、畏光）等症状。</p>
            <p>最后，因为个人体质差异，有的病人手术后眼睛可能有不适的症状。对此不用担心，用针刺或者揿针，就能够快速有效的缓解症状。</p>
            <div class="newsImgMar">
                <%= image_tag("kepu_zyfz_1.jpg") %>
            </div>
            <p><b>贰</b></p>
            <p><b>Q:</b>做完近视手术后，视力还会下降吗？</p>
            <p><b>A:</b>这属于屈光回退。当病人情况稳定后可以服用中药，中药能够从补肾健脾、舒经通络的角度，有助于稳定病人的视力。而从视网膜视功能的角度有助于降低病人视力回退的风险。</p>
            <div class="newsImgMar">
                <%= image_tag("kepu_zyfz_2.jpg") %>
            </div>
            <div class="flow pad-10">
                <div class="kepu_content">
                    <p><b>生活小贴士</b></p>
                    <p>1.饮食清淡，忌辛辣刺激食物；</p>
                    <p>2.饮食平衡，忌过量；</p>
                    <p>3.作息要规律，调整不良作息，保证睡眠充足；（晚上11点前睡觉，中午要午休）</p>
                    <p>4.近视手术后要避风霜寒暑，尤其要注意保护眼睛。</p>
                </div>
            </div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("kepu_zyfz_3.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>周华祥</p>
                    <p>教授，主任医师</p>
                    <p>个人简介：四川省中医药学会眼科专业委员会常务副主任委员，中华中医药学会眼科分会委员，四川省康复医学会眼科分会委员，成都市视力保护协会副理事长，国家中医药管理局中医师资格认证中心命审题专家。《中医眼耳鼻喉杂志》副主编、《中华医学百科全书》中医眼科学卷编委 。从事中医眼科学的临床、科研、教学工作30余年。</p>
                </div>
            </fieldset>
            <div class="newsImgMar">
                <%= image_tag("kepu_zyfz_4.jpg") %>
                <p>还等什么，赶快拨打报名热线400-9900-766</p>
            </div>

        </div>
    </div>
</div>
</div>
