<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海科普】为啥古装剧急救都爱掐人中？厉害了，看看掐人中都有哪些讲究？</h5>
            <p class="rightWord">2017-08-09</p>
        </div>

        <div>
            <div class="newsImgMar">
                <%= image_tag("news_qrzbf_1.jpg") %>
            </div>
            <p>古装剧中常常出现晕厥时使用掐人中的方法来急救，在生活当中，掐人中也是最为大众所知的一种急救方法。</p>
            <p>那么事实上，掐人中果然如同电视剧中一样百掐百灵吗？</p>
            <p>掐人中作为一种传统急救方法，在中医理论看来认为掐人中主要起到什么作用呢？</p>
            <p>“掐人中是一种强烈的疼痛刺激，会引起呼吸循环中枢的兴奋，对于癔病性的这种意识障碍可以起到促醒的作用。”也就是说，掐人中掐醒的，都是自己能醒过来的。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qrzbf_2.jpg") %>
            </div>
            <p>需要掐人中的情况，大多是“不省人事”、“背过气去”或者“晕倒”的时候，晕厥是因为脑部缺血引起的一过性意识障碍。</p>
            <p>人中穴是一个重要的急救穴位。当人中风、中暑、中毒、过敏以及手术麻醉过程中出现昏迷、呼吸停止、血压下降、休克时，医者用食、中两指端置于拇指面，以增强拇指的指力，用拇指端按于唇沟的中上处顶推，行强刺激。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qrzbf_3.jpg") %>
            </div>
            <p><b>现代医学研究对人中穴的急救作用作了科学解释：</b></p>
            <p>1．刺激人中穴可以升高血压。在危急情况下，升高血压可以保证机体各个重要脏器的血液供应，维持生命活力，而节律性、连续弱性或强性刺激人中穴，都能使动脉血压升高。</p>
            <p>2．刺激人中穴位，可影响人的呼吸活动，有利于节律性呼吸活动的运行。</p>
            <p><b>掐人中会有危险存在吗？</b></p>
            <p>其实有这种可能存在：人仰额的时候，气道是开放的，掐人中的时候，使得患者的头部下垂，抠住下巴的手往下使劲用力按压，使得患者的气道反而可能产生闭合。气道呈现90度的夹角，这样一个弯脖子的表现足以使患者的舌头把气道堵塞住，引起窒息。</p>
            <p>很多患者昏迷时，会伴有呕吐物。当人在开放气道的时候，如果头仰起来，可能会在呕吐物的周围形成一定的空间，能够让气流进出。反之，如果按压不正确使得气道闭合，可能使得分泌物周围的小空当也被堵住了，使得患者窒息缺氧死亡。</p>
            <p>同时，还有一些人在施救时会力度过大，而如果此时的患者恰巧是个牙齿松动或者带假牙的老年人，可能还会造成牙齿脱落，掉入气道中导致患者窒息而死！</p>
            <p><b>对于心梗、脑梗等心脑血管疾病，掐人中没有作用，反而会加重病情！</b></p>
            <p><b>正确掐人中方法：</b></p>
            <p>先确认人中的位置，人中穴是在鼻唇沟的中上三分之一，按压的时候用拇指的指尖，用力的节律性的按压，每分钟20到40次。按压的时候最好让下颌抬起来，这样保证呼吸道的通畅。</p>
            <p class="redWord">对于昏迷的患者，应该第一时间拨打救护电话，通知专业的医护人员！小伙伴们如果不具备专业急救知识，切勿轻举妄动！</p>
            <div class="newsImgMar">
                <%= image_tag("news_qrzbf_4.jpg") %>
            </div>
        </div>
    </div>
</div>




