<!--你的眼睛处于超负荷状态吗?-->
<div class="careUnit fr show">
    <div class="popularTitle">
        <h5>你的眼睛处于超负荷状态吗？</h5>
        <p>作者：匿名<span>审核：李骏</span></p>
    </div>

    <div class="careUnitContent eyePu">
        <p>随着科技的发展，越来越多的电子产品走进了我们的生活。我们眼睛的负荷会越来越大。办公的时候可能需要面对电脑，下班之后有需要对着手机屏幕。你的眼睛是否超负荷吗？在日常的用眼过程中，你是否有以下这些症状？</p>

        <div class="surgeryImg">
            <%= image_tag("kp2_1.jpg") %>
        </div>
        <p>除了上述这些情况外，你是否还会出现一下症状？</p>
        <p>◆ 经常注意力不集中</p>
        <p>◆ 回避近距离工作</p>
        <p>◆ 从看远转到看近或从看近转到看远短暂的视物模糊</p>
        <p>出现上述这些症状就说明你的眼睛已经处于超负荷状态了。而这些问题大部分是由于视功能障碍所引起的，即眼睛累了，不能坚持工作了，医学上称为视疲劳（就像我们身体素质差易生病一样）。出现这些症状之后，需要做一些什么处理呢？</p>
        <div class="surgeryImg">
            <%= image_tag("kp2_2.png") %>
        </div>

    </div>
</div>
<!--你的眼睛处于超负荷状态吗?-->