<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海科普】成都中医大银海眼科医院教你滴眼药水的正确打开姿势！</h5>
            <P class="rightWord">2017-07-26</P>
        </div>

        <div>
            <p>相信很多人在滴眼药水常常不是滴的太多、或者就是滴到眼睛外面去了。</p>
            <p>那么，怎样才算是的正确的滴眼药水姿势呢？和小银一起来看看吧~</p>
            <form>
                <fieldset>
                    <legend>滴眼药水正确方式</legend>
                    <p>（1）点眼药水前，应清洗双手，擦干净眼部分泌物；</p>
                    <p>（2）检查眼药水瓶上的标签，切勿点错药；</p>
                    <p>（3）点眼药水时，病人取坐位或仰卧位，头部后仰，眼睛向上看；</p>
                    <p>（4）用示指向下轻轻牵拉下眼皮，瓶口置于眼睛上方适当高度（特别注意不要接触到睫毛或眼皮），将眼药水滴入下眼皮内，然后轻提上眼皮，闭眼1～2分钟；</p>
                    <p>（5）同时用手指压迫鼻根部的泪囊区1～2分钟，以尽可能减少眼药水流入鼻腔。</p>
                    <p>（6）如使用2种以上眼药水时，应间隔5分钟以上，再点后一种眼药水。</p>
                    <div class="newsImgMar">
                        <%= image_tag("news_yyslp_1.jpg") %>
                    </div>
                </fieldset>
            </form>
            <p><b>糖皮质激素类眼药水使用注意事项</b></p>
            <p>糖皮质激素具有较强的抑制免疫、抗炎症的作用。在眼科，治疗过敏性结膜炎、葡萄膜炎等疾病时，糖皮质激素类眼药水常常会被用到，它能发挥很好的消炎、止痒及减轻结膜充血的作用。但此药副作用很大，不建议患者自行在药店购买使用，因使用不当或滥用激素类滴眼液，造成激素性青光眼的病历并不少见。</p>
            <p>顺便提醒，长期口服糖皮质激素的患者也应定期进行眼科检查，警惕激素性青光眼的发生。</p>
            <p><b>警惕防腐剂眼药水</b></p>
            <p>许多长期面对电脑或是佩戴隐形眼镜的人，都会随身携带一瓶眼药水，若感到眼睛干涩就拿出来滴。</p>
            <p>殊不知，照着广告买的所谓“缓解疲劳”眼药水，其实大多都含有防腐剂，长期点用不仅不会改善眼睛不适，甚至还会造成眼表损伤。</p>
            <p>所以，大家使用滴眼液最好是听从医生建议，对症下药，使用不含防腐剂的眼药水；眼药水开瓶后标记日期，尽量在一个月内用完，开瓶后一个月不能再使用，没用完的也请丢弃。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yyslp_2.jpg") %>
            </div>


        </div>
    </div>
</div>





