<!--近视手术知多少？（一）-->
<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我是一只蠕形螨番外篇：认输行不行？</h5>
            <p class="fr">2017-09-04</p>
        </div>
        <div>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm_1.jpg") %>
            </div>
            <p>本以为寄生在睫毛毛囊、睫毛皮脂腺、睑板腺处万无一失。我们使尽浑身解数，让病人久治不愈，反复发作的眼干眼涩、眼痒、眼异物感、眼烧灼感、轻微眼刺痛感、畏光、眼分泌物等也让他们痛苦不堪，同时伴随有面部毛孔粗大、鼻头发红等丑态。日子优哉游哉，简直快活似神仙。没想到成都中医大银海眼科医院9月开展了“除螨行动”，问题是还免检查费,你说气人不气人。这对我们来说无疑是灭顶之灾，这段时间好多兄弟都栽了。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm_2.jpg") %>
            </div>
            <p>靠着自己长久以来练就的移形换位、隐逸身形的绝招可以化险为夷，也许是膨胀，也许是长胖，被你们逮个正着。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm_3.jpg") %>
            </div>
            <p>想看我不可一世的前半生？</p>
            <p>请点击<%= link_to :'阅读原文《我是一只蠕形螨，你奈我何？》',news_path(:我是一只蠕形螨你奈我何) %></p>
            <p><b>中医眼科中心介绍</b></p>
            <p>传承陈氏中医眼科百余年积淀之学术精华，师国内众家学术流派之长，集六十年临床经验于一体，我院中医眼科中心具有得天独厚的基础条件。中医眼科中心继承和发展了陈达夫教授创立的中医眼科六经辨证、八廓辨证、内眼脏腑相属理论，使其在以干眼症为代表的眼表疾病，以视网膜出血为代表的出血性眼病，以葡萄膜炎、视神经炎为代表的内眼疾病方面具有高层次的学术水平和显著的临床疗效。针刺灸疗、湿敷雾化、刮痧拔罐等简便效廉特色中医治疗方法的广泛运用，对全面提高眼科常见病、多发病临床疗效，改善保存疑难重症患者视功能发挥了重要作用，使成都中医药大学附属银海眼科医院中医眼科中心成为中医特色突出、治疗方法丰富，临床疗效显著的特色科室。</p>


        </div>

    </div>
</div>
<!--近视手术知多少？（一）-->