<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海科普】朋友，你是不是对近视有什么误会？</h5>
            <p class="rightWord">2017-08-07</p>
        </div>

        <div>
            <p>近视呈现出的低龄化趋势让越来越多的宝妈宝爸们把对于自己孩子眼睛健康的关注度提升到了一个新的高度，然而对于近视知识的不熟悉，很多孩子在发现近视时已经为时过晚，错过了较佳治疗时间段。那么，关于近视，我们到底有哪些必备常识呢？</p>
            <p><b>1</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jswh_1.jpg") %>
            </div>
            <p>除以上所讲之外，家长们还容易相信散瞳对眼睛有害。一提起散瞳验光，不少人就立刻犹豫起来，不愿接受。特别是孩子家长，经常是“听邻居说散瞳对眼睛不好”而拒绝给孩子散瞳验光。实际上散瞳验光的直接目的是通过药物使睫状肌充分放松，以便客观准确地验出屈光度数。儿童的眼睛调节能力很高，所以在检查的过程中，如果不散瞳麻痹睫状肌，就有可能检查出过高的近视度数，或者本身无近视而检查结果表现为近视（假性近视）。</p>
            <p><b>2</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jswh_2.jpg") %>
            </div>
            <p>配眼镜还是和实际度数一样比较好，如果配的度数偏低的话，更容易加深眼睛近视的程度。电视、电脑和手机使用时都会有一定量的辐射，对人体的眼睛伤害是很大的，尤其是长时间看电视、玩电脑或玩手机，建议一定要注意使用的时间，以免对眼睛和身体造成巨大的伤害!</p>
            <p><b>3</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jswh_3.jpg") %>
            </div>
            <p>高度近视是不能治好的，只能通过配戴眼镜之类的治疗了，不过也可以通过激光手术治疗~成都中医大银海眼科医院Smart千频全激光&Smile3.0全飞秒近视手术暑期档正在火热进行中哟~</p>
            <p><b>4</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jswh_4.jpg") %>
            </div>
            <p>视网膜裂孔如同自行车内胎“漏气”，高度近视者应该避免剧烈运动，同时养成良好的用眼习惯。定期到医院散瞳检查眼底，如发现视网膜裂孔可以预防性地施行激光光凝治疗，以降低视网膜脱离发生的几率。</p>
            <p><b>手术</b></p>
            <p>由于相关知识的不足，人们对近视眼手术的认识普遍存在以下五大误区。</p>
            <p>误区一：做激光手术没有年龄限制</p>
            <p>误区二：任何度数都能做激光手术</p>
            <p>误区三：激光手术不一定安全</p>
            <p>误区四：只能治疗近视不能治疗散光</p>
            <p>误区五：手术后近视还会“反弹”</p>
            <p class="marT10">事实上，关于近视手术，只要达到以下要求，都是可以进行手术的。</p>
            <p>① 患者本人有摘镜的要求。</p>
            <p>② 年龄在18周岁（最好是20周岁）以上。</p>
            <p>③ 近两年屈光度稳定。</p>
            <p>④ 矫正屈光度范围：近视最好不超过1500度，散光不超过600度,远视不超过600度。</p>
            <p>⑤ 屈光参差。</p>
            <p>⑥ 现戴角膜接触镜者：软镜应停戴2周以上，硬镜应停戴3周以上，OK镜应停戴1—3月以上。</p>
            <p>⑦ 角膜厚度大于450 um（取决于屈光状态）。</p>
            <p>⑧ 眼部无活动性疾病等。</p>

        </div>
    </div>
</div>




