<!--近视手术知多少？（一）-->
<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>《眼健康科普漫画》上线啦！速来围观~ </h5>
            <p class="fr">2017-08-29</p>
        </div>
        <div>
            <div class="centerImgCon">
                <p>号外！号外！</p>
                <p>成都中医大银海眼科医院倾力打造的原创栏目《眼健康科普漫画》上线啦，速来围观。第一篇：眼保健操的作用。</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yjkkp_1.jpg") %>
            </div>

        </div>

    </div>
</div>
<!--近视手术知多少？（一）-->