<!--眼镜布不是用来擦眼镜的?-->
<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
        <h5>眼镜布不是用来擦眼镜的？</h5>
        <p class="fr">作者：曾思霖<span>审核：李骏</span></p>
    </div>

    <div class="careUnitContent eyePu">
        <p>一般情况下，框架眼镜买来时商家都会配一块眼镜布给你，在我们看来眼镜布就是用来擦拭眼镜的，但是这种想法是大错特错！眼镜布不是用来擦拭眼镜的！ 眼镜布竟然不是用来擦眼镜的。</p>
        <p>“镜片上有很多微小的灰尘颗粒，如果干擦就会让布把这些灰尘颗粒在你的镜片上来回摩擦，就像砂纸一样，用砂纸在镜片上来回擦，久而久之你的镜片就会模糊了。所以眼镜布并不是拿来擦眼镜的。”</p>
        <p>许多带眼镜的朋友都有个习惯，当镜片脏了后，往往会往镜片上哈一口气，然后用眼镜布将镜片擦干净。其实，眼镜布并不是用来擦眼镜的。</p>
        <p>用眼镜布擦眼镜会更会损伤镜片。</p>
        <p>其实，眼镜布大多是作为赠品赠送给消费者的，因此造价很低廉。它的纤维间隙较大，随着时间会积累很多灰尘，因此用这样的眼镜布擦眼镜只会适得其反，越擦越模糊。如果每次都用镜布或者衣服直接干擦镜片，新的镜片戴不了半年就会被擦的模糊了，这样既影响清晰度也有损美观！</p>
        <p>那么到底应该怎样正确的保养镜片呢？</p>
        <div class="surgeryImg">
            <%= image_tag("kp3_1.jpg") %>
        </div>

    </div>
</div>
</div>
<!--眼镜布不是用来擦眼镜的?-->