<!--<div class="middle flow">-->


    <!--<div class="eyeKp">-->

        <!--青少年近视怎么办-->

        <!--青少年近视怎么办-->


    <!--</div>-->


<!--</div>-->



<script>
    $(".cataractList li").click(function(){
        var i = $(this).index();
        $(".cataractList li").removeClass("active").eq(i).addClass("active");
        $(".careUnit").hide().eq(i).show();
    })
</script>






