<div class="main">
    <div class="middle">
    <div class="popularTitle">
        <h5>【银海科普】糖尿病患者需保护眼睛“大后方”！中老年人必看！</h5>
        <p>2017-07-31</p>
    </div>

    <div class="careUnitContent eyePu">
        <p>糖尿病视网膜病变是我国常见致盲眼病之一，糖尿病病程较长的患者几乎都会出现不同程度的视网膜血管疾病。</p>
        <p><b>什么是糖尿病视网膜病变？</b></p>
        <p>2013年《JAMA》杂志报道，我国已有糖尿病患者1.14亿，糖尿病前期患者4.93亿。每10个成年人中有1个糖尿病患者，每2个就有1个糖尿病前期患者，中国已成为全球糖尿病第一大国。</p>
        <p>糖尿病性视网膜病变是由糖尿病引起的眼部微血管并发症，以视力逐渐下降，视物变形，后期甚至导致失明为主要表现的疾病，目前已是全世界成年人致盲的主要原因，严重影响患者生存质量。</p>
        <div class="newsImgMar">
            <%= image_tag("kepu_tnb_1.jpg") %>
        </div>
        <p><b>糖尿病视网膜病变的危害</b></p>
        <p>早期无明显自觉症状。</p>
        <p>视力逐渐降低，眼前黑影飞舞或视物变形等；或视力突然严重下降甚至失明。</p>
        <p>糖尿病病程5年者，患糖尿病视网膜病变达25%，10年者为60%，增殖性糖尿病视网膜病变为25%（一旦发展为增殖性视网膜病变，极易致盲）。</p>
        <p><b>双目失明发生率要比非糖尿病患者高出25倍，一旦致盲不可逆转！</b></p>
        <p>四川省卫计委公布的数据显示：我省约有600万人患糖尿病，却有400万人自己不知道； 30%~50%的糖尿病患者从来不做眼部检查，30%无症状患者却已经有视网膜病变，每年定期眼部检查者不足10%。</p>
        <div class="newsImgMar">
            <%= image_tag("kepu_tnb_2.jpg") %>
        </div>
        <p><b>糖尿病视网膜病变的防控</b></p>
        <p><b>（1）利用眼底照相早期发现和监测糖尿病性视网膜病变</b></p>
        <p>美国医学协会、美国眼科协会、中华医学会等制定的糖尿病管理指南中推荐眼底检查为糖尿病患者的常规检查，首次眼底检查及随诊时间如下表：</p>
        <table class="schTable">
            <tr>
                <th class="width-100">类型</th>
                <th>首次检查眼底时间</th>
                <th>随诊时间</th>
            </tr>
            <tr>
                <td>1 型糖尿病</td>
                <td>青春期前或青春期发表，可在12岁开始眼底照相筛查，青春期后发病患者一旦诊断即进行筛查</td>
                <td>每年一次或根据情况</td>
            </tr>
            <tr>
                <td>2 型糖尿病</td>
                <td>确诊时进行眼底照相</td>
                <td>每年一次或根据情况</td>
            </tr>
            <tr>
                <td>妊娠糖尿病</td>
                <td>妊娠前或妊娠初3个月</td>
                <td>糖尿病视网膜病变中度：每3-12个月检查一次，糖尿病视网膜病变重度：每1-3个月检查一次</td>
            </tr>
        </table>
        <p><b>（2）控制血糖，积极治疗原发病糖尿病</b></p>
        <p>在糖尿病治疗过程中，糖尿病患者也应在日常生活中要注意以下几点：①控制控制血糖、血脂、血压；②根据自己的实际情况选择适当的体育锻炼：一般以散步、打太极拳、轻度的肢体活动等较为适宜；③合理饮食：高蛋白低脂低盐富含食物纤维的饮食，适当补充维生素、矿物质和微量元素。钠盐不宜过多。对于肥胖患者来说，要减轻体重，减少热能的摄入。</p>
        <p><b>（3）糖尿病视网膜病变的治疗</b></p>
        <p>糖尿病患者可通过眼底照相及时发现糖尿病视网膜病变，糖尿病视网膜病变在早期可通过中医辨证论治，可防止疾病发展到晚期，同时对眼底出血，水肿有良好的效果；晚期适时采用眼底激光或手术，延缓疾病进展，防止失明。</p>
        <p>长时期的高血糖是发生视网膜病变的决定因素。视网膜最早表现为出现微血管瘤和出血，可进一步发展为视网膜毛细血管无灌注、视网膜出血量增加、棉絮斑、视网膜内微血管异常等改变，病情进一步发展可产生视网膜新生血管，严重者可导致视网膜脱离，最终导致失明。许多糖尿病患者早期并无明显症状，往往忽略病情不能及时就诊。</p>
        <p>因此糖尿病患者当定期到医院检查眼底并监测视力变化。做到早发现早治疗，保卫好眼睛的“大后方”。</p>
    </div>
</div>
</div>
