<!--近视手术知多少？（一）-->
<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海科普】近视手术知多少（二）</h5>
            <p class="fr">2017-08-16</p>
        </div>
        <div>
            <div class="centerImgCon">
                <p>近视手术多久可以恢复？</p>
                <p>眼睛变形可以通过手术改善吗？</p>
                <p>SMART千频全激光手术与其它近视手术又有什么不同呢？</p>
                <p>你关心的问题都在这里~</p>
                <p>快和小银一起来看看吧~</p>
            </div>
            <p><b>01</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jssszds3_1.jpg") %>
            </div>
            <p><b>02</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jssszds3_2.jpg") %>
            </div>
            <p><b>03</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jssszds3_3.jpg") %>
            </div>
            <p><b>04</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jssszds3_4.jpg") %>
            </div>

        </div>

    </div>
</div>
<!--近视手术知多少？（一）-->