<div class="middle flow">
    <div class="newsMain">
        <div class="newsTitle">
            <h5> 青少年近视防控的“十句真言” </h5>
            <p class="rightWord">2017-11-14</p>
        </div>
        <div>
            <div class="newsImgMar">
                <%= image_tag("kepus_tenhy_1.jpg") %>
            </div>
            <p class="centerImgCon">青少年近视防控的“十句真言”</p>
            <p>1、保证每天足够的户外活动，目“浴”阳光每天超过两小时。</p>
            <p>2、连续看书、做作业或看电视，30-40分钟休息眼睛10分钟。</p>
            <p>3、不玩或少玩手机、电脑和游戏，偶尔玩时每次不超过30分钟。</p>
            <p>4、保持正确读写姿势，牢记“一尺、一拳、一寸”（眼睛与书本距离一尺、胸前与桌子间隔一拳、握笔手指与笔尖一寸）。</p>
            <p>5、在良好的视觉环境下用眼，不在晃动的车厢或强光、弱光下看书或用手机。</p>
            <p>6、保证充足的睡眠 ，幼儿园儿童每天应有12小时，小学生每天应有10小时。</p>
            <p>7、不挑食、不偏食，多吃蔬菜瓜果，均衡摄入营养。</p>
            <p>8、至少半年检查一次眼睛，建立档案，视力一旦下降及时到医院就诊。</p>
            <p>9、坚持做规范的眼保健操。</p>
            <p>10、及时合理的医学验光配镜也是一种积极的预防，预防进展的速度，降低成人时的度数。</p>
            <div class="newsImgMar">
                <%= image_tag("kepus_tenhy_2.jpg") %>
            </div>
            <p class="centerImgCon"><b>“目”浴阳光，预防近视</b></p>
            <p>“‘目’浴阳光，预防近视”这是今年6月6日第二十二届“全国爱眼日”活动的主题。为普及科学用眼知识，提高青少年眼健康水平，预防眼疾，由国家卫生部、国家教育部、团中央、中国残联等12个部委于1996年联合确立每年的6月6日为全国爱眼日。   </p>
            <div class="newsImgMar">
                <%= image_tag("kepus_tenhy_3.jpg") %>
            </div>
            <p>我院作为成都中医药大学眼科学院和附属眼科医院，自建立之日起，就把眼健康公益事业作为己任，今年三月以来开展了三月眼健康科普月、六月爱眼月、流动科普车进基层等一系列活动。此次，我院眼视光中心重磅推出近视防控的“十句真言”，旨在呼吁全社会共同关注近视防控问题。</p>
            <p><b>眼视光中心</b></p>
            <p>眼视光中心是集临床诊疗、专业培训、科普宣教、产品研发、连锁运营为一体的医疗科室，以成都中医药大学附属医院眼视光专家团队为班底，充分整合国内中西医眼视光技术与资源，国内第一家同时引进阿玛仕1050RS准分子和ZEISSSMILE3.0全飞秒两套最先进的高精准设备，开展近视全飞秒激光、transPRK手术、医学验光配镜、儿童斜弱视诊疗、中西医近视防控、RGP&角膜塑形镜验配、视觉训练、低视力康复等项目。运用最前沿的眼视光学技术及传统中医康复治疗手段，为全年龄段的屈光不正患者提供有效、便捷、优质的诊疗服务。</p>
            <div class="newsImgMar">
                <%= image_tag("kepus_tenhy_4.jpg") %>
            </div>
        </div>
    </div>
</div>



