<div class="middle flow">
    <div class="bmContainer">
        <div class="bm_outer">
            <div class="bm_titleImg">
                <%= image_tag("bm_2.jpg") %>
            </div>
            <ul class="flParent flow activityMain">
                <li>
                    <div class="activityTitle">活动时间</div>
                    <div class="activityWord">
                        <p>2017年5月28日下午14:00</p>
                    </div>
                    <div class="activityTitle">活动地点</div>
                    <div class="activityWord">
                        <p>成都市金牛区星辉西路8号</p>
                    </div>
                    <div class="activityTitle">预约报名</div>
                    <div class="activityWord">
                        <p>报名电话：400 9900 766</p>
                    </div>
                </li>
                <li class="activityRight">
                    <div class="activityTitle">活动内容</div>
                    <div class="activityWord">
                        <p>1、签到领取精美礼品 </p>
                        <p>2、参观体验</p>
                        <p>3、趣味科普讲座</p>
                        <p>4、童心绘画比赛（赢取限量眼保仪）</p>
                        <p>5、建立眼健康档案</p>
                        <p>6、小博士证书颁发+毕业照</p>
                    </div>
                </li>
            </ul>
            <div class="activityCode">
                <%= image_tag("bm_4.png") %>
            </div>
        </div>
    </div>
</div>

