<!--修改轮播-->
<div class='banner-box  marB10 main'>
    <ul class='img'>
        <% if @banners.present? %>
            <% @banners.each do |banner| %>
                <% next if banner.image_url.blank? %>
                <li>
                    <%= link_to (banner.link_url.present? ? banner.link_url : 'javascript: void(0);' ) do %>
                        <%= image_tag(banner.image_url, alt: banner.description.to_s) %>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </ul>
    <ul class='li'></ul>
    <div class='but but-left'>&lt;</div>
    <div class='but but-right'>&gt;</div>
    <div class='bar'></div>
</div>
<!--修改轮播-->
<% content_for :script do %>
  <%= javascript_include_tag 'index_slide' %>
  <%= javascript_include_tag 'slide-2' %>
<% end %>
