<div class="middle">
  <!--走进银海-->
  <ul class="aboutHos flParent flow column">
    <li>
      <div>
        <%= link_to image_tag("hospital-environment"),home_path(:医院介绍) %>
        <div class="introduced"><a href="">医院介绍</a></div>
      </div>
    </li>
    <li class="fr">
      <div>
        <%= link_to image_tag("Dean.png"),home_path(:院长寄语) %>
        <div class="introduced"><a href="">院长寄语</a></div>
      </div>
    </li>
    <li>
      <div>
        <%= link_to image_tag("hospital-institutions.png"),home_path(:医院机构) %>
        <div class="introduced"><a href="">医院机构</a></div>
      </div>
    </li>
    <li class="fr">
      <div>
        <%= link_to image_tag("Technology.jpg"),home_path(:技术设备) %>
        <div class="introduced"><a href="">技术设备</a></div>
      </div>
    </li>
  </ul>
  <!--走进银海-->
  <!-- 眼健康科普 -->
</div>

<script>
  $('.slide').ckSlide({
    autoPlay:true,
  });
  $(".slide.slide-left").ckSlide({
    autoPlay:true,
    add:true,
      // seamless:true,
      dir:"x",
    });
  $(".proContainer .proImg").hover(function () {
    var i = $(this).index();
    $(this).parents(".proContainer").find(".proContent").hide().eq(i).show();
  })

  $(".aboutHos li div a img").animate({
    width: "540px",
    height: "340px"
  })

  $(".centerNav li").click(function () {
    var i = $(this).index();
    console.log(i);
    $(".middle .column").hide().eq(i).show();
    console.log(this);
    $(this).addClass("active").siblings().removeClass("active");
    if($(".middle .column").eq(i).hasClass("aboutHos")){
      $(".aboutHos li div a img").animate({
        width: "540px",
        height: "340px"
      })
    }else {
      $(".aboutHos li div a img").animate({
        width:0,
        height:0
      })
    }
  })

  bannerListFn(
    $(".banner"),
    $(".img-btn-list"),
    $(".left-btn"),
    $(".right-btn"),
    2000,
    true
    );
  </script>
