<div class="middle">
    <div class="hosIntroduce">
        <h5 class="hosServer">医院机构</h5>
        <div class="hosInstitution">
            <%= link_to image_tag("yyjg.png") %>
        </div>
    </div>
</div>
