<%= render 'homes/enter_ineye' %>
<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "homes/enter_left" %>
    <div class="enterEyeContent fr">
        <div class="fl courseImg">
            <%= image_tag("course.png",alt: '发展历程') %>
        </div>
        <ul class="fr flow course">
            <li><span>2017年</span>成都中医药大学附属银海眼科医院隆重开业</li>
            <li><span>2016年</span>成都中医药大学附属银海眼科医院成立</li>
            <li><span>2015年</span>成都中医药大学眼科学院成立</li>
            <li><span>2013年</span>荣获四川省政府科技进步特等奖</li>
            <li class="mart3"><span>2011年</span>获评国家临床重点专科</li>
            <li><span>2010年</span>获评国家级精品课程-《中医眼科学》</li>
            <li><span>2009年</span>《中医眼耳鼻喉杂志》出刊，面向国内外公开发行</li>
            <li><span>2009年</span>获评四川省视力保护科普基地（国内首家省级视力保护科普馆）</li>
            <li class="mart3"><span>2008年</span>获评四川省重点实验室、国家中医药管理局重点研究室</li>
            <li><span>2005年</span>获评中央与地方共建高校基础实验室</li>
            <li><span>2002年</span>获评全国中医眼科学国家级重点学科</li>
            <li><span>2001年</span>获评国家中医药管理局重点学科</li>
            <li><span>1996年</span>获评四川省重点学科</li>
            <li><span>1993年</span>获评国家中医药管理局三级科研实验室</li>
            <li class="mart3"><span>1990年</span>招收全国首届中医眼科博士研究生</li>
            <li class="mart26"><span>1988年</span>开办全国第一批中医五官专业本科教育</li>
            <li class="mart3"><span>1986年</span>主编全国高等医药院校《中医眼科学》教材，主编历版统编（规划）教材</li>
            <li class="flow courseOneTime">
                <span class="fl">1978年</span>
                <div class="fl">
                    <p>招收首届中医眼科硕士研究生</p>
                    <p>陈达夫教授所著《中医眼科六经法要》获全国科技大会奖</p>
                </div>
            </li>
            <li class="mart5"><span>1975年</span>举办首届卫生部“全国中医院校眼科师资班”</li>
            <li><span>1956年</span>陈达夫教授创建成都中医学院中医眼科</li>
        </ul>
    </div>
</div>
