<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "homes/enter_left" %>
    <div class="enterEyeContent fr">
        <ul class="bigThing">
            <li>
                <div class="thingTime fl"><span>2017年8月11日-12日</span></div>
                <p>我校廖品正国医大师荣获全国中医眼科终生成就奖，王明芳、邓亚平荣获突出贡献奖</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2017年7月19日</span></div>
                <p>段俊国院长入选2016成都人才计划“国家级创业领军人才”</p>
            </li>
            <li>
                <div class="thingTime fl">2017年7月16日</div>
                <p>第三届国医大师首个工作室廖品正大师工作室在蓉成立</p>
            </li>
            <li>
                <div class="thingTime fl">2017年7月14-17日</div>
                <p>中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开</p>
            </li>
            <li>
                <div class="thingTime fl">2017年7月16日</div>
                <p>成都中医大银海眼科医院隆重举行开业庆典仪式</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月29日</div>
                <p>我院廖品正教授当选第三届国医大师在京受表彰</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月10日</div>
                <p>启动“地铁爱眼月眼健康公益咨询活动”</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月8日</div>
                <p>举行国内眼科医院首台引进的阿玛仕1050RS准分子激光设备开机仪式</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月6日</div>
                <p> 与金牛区教育局签订“青少年近视防控能力提升计划”协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月6日</div>
                <p>与地铁运营有限公司签订“地铁司机眼健康服务” 协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月6日</div>
                <p>与太极集团签订“太极员工眼健康服务”协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月6日</div>
                <p>与成都中医药大学签订“大学生眼健康档案建立”协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月28日</div>
                <p>成都中医大银海眼科医院正式对外开诊</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>中山大学中山眼科中心刘文教授正式签约加盟银海</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p> 签订廖品正国医大师工作室协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>聘任瞿佳教授为眼科学院名誉院长</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>聘任王宁利教授为成都中医大银海眼科医院名誉院长</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>聘任文峰教授为成都中医大银海眼科医院眼影像分析与诊断中心名誉主任</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>聘任王宁利、瞿佳、刘奕志、毕宏生、杨培增、史伟云、陈伟蓉、徐国兴等8位专家为学院、医院客座教授</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>召开“三院一体”发展座谈会，加强“双一流”建设</p>
            </li>
            <li>
                <div class="thingTime fl">2017年4月5日</div>
                <p>与甘孜州得荣县人民医院签订眼科援助托管项目协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年3月18日</div>
                <p>与甘孜州得荣县人民政府签订“对口扶贫•精准复明”协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年3月</div>
                <p>三月科普月眼健康公益活动共计开展了20场</p>
            </li>
            <li>
                <div class="thingTime fl">2017年1月</div>
                <p>“大爱无疆•善行天下”眼健康公益行走进校园、社区、基层</p>
            </li>
            <li>
                <div class="thingTime fl">2017年1月</div>
                <p>隆重举行四川省视力保护科普基地“流动科普馆”首次公益行发车仪式</p>
            </li>
            <li>
                <div class="thingTime fl">2017年1月</div>
                <p>隆重举行四川省视力保护科普基地“流动科普馆”启动仪式</p>
            </li>
            <li>
                <div class="thingTime fl">2016年10月</div>
                <p>成都中医大银海眼科医院揭牌</p>
            </li>
            <li>
                <div class="thingTime fl">2016年5月</div>
                <p>取得“设置医疗机构批准书”</p>
            </li>
            <li>
                <div class="thingTime fl">2016年2月</div>
                <p>发起成立</p>
            </li>
        </ul>
    </div>
</div>