<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "homes/enter_left" %>
    <div class="enterEyeContent fr enterEyeWord">
        <div class="flow">
            <div class="hosTitle">
                <h4 class="chineseWord">成都中医药大学眼科学院</h4>
                <p>Eye college of Chengdu University of TCM</p>
            </div>
        </div>
        <p>1956年，成都中医药大学中医眼科学科由著名中医眼科学家陈达夫教授创建，2015年学校整合成都中医药大学眼科医疗、教学、科研等相关资源，正式设立眼科学院。本学科是我国唯一国家级中医眼科学重点学科，同时也是国家中医药管理局重点学科、四川省重点学科。</p>
        <p>学院开设大学本科、硕士、博士、博士后等全序列眼科与眼视光高等教育，目前在校本科、硕士、博士及博士后学生近300人。1985年起主编并先后出版《中医眼科学》、《中西医结合眼科学》、《中医眼科临床研究》等高等学校本科、研究生统编教材或规划教材，是《中华医学百科全书<中医眼科卷>》主编单位，主办《中医眼耳鼻喉杂志》；近年来承担国家重大科技专项、重大科学仪器专项、国际科技合作、科技支撑计划、公益行业专项及国家自然科学基金科研项目计30余项，研究经费近两亿元，荣获20余项重大科技进步奖，其中包括四川省科技进步特等奖；研发上市眼科创新中药新药2个，2017年双双被纳入国家医保目录；眼科学院拥有财政部中央与地方共建实验室、国家中医药管理局重点研究室、国家中医药管理局三级科研实验室、四川省2011协同创新中心、四川省重点实验室、四川省视力保护科普基地等科研与教学平台。</p>
        <div class="imgCenter">
            <%= image_tag("enterEye-shcool.jpg") %>
        </div>
    </div>
</div>