<%= render 'homes/enter_ineye' %>
<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "homes/enter_left" %>
    <div class="enterEyeContent fr enterEyeWord">
        <div class="flow">
            <div class="hosTitle">
                <h4 class="chineseWord">四川省眼与视觉健康产业技术研究院</h4>
                <p>Eye and Visual Health Industry Technology Institute of Sichuan Province</p>
            </div>
        </div>
        <p>2017年5月，四川省科技厅批复中医大银海眼科医院成立“四川省眼与视觉健康产业技术研究院”，是聚集高校、科研院所及企业等众多创新主体，集科研、产业、资本、教育及科技中介服务于一体的新型研发机构，将科研、产业、资本、教育及科技成果整合并转化!</p>
        <p>至此，以国家重点学科为支撑，以国家及行业政策为导向，以创新模式打造眼科学院、眼科医院、眼科研究院三位一体的国际一流眼科中心的巨轮启航！四川省眼与视觉健康产业技术研究院将构建“以企业为主体、市场为导向、产学研紧密结合”的创新技术体系，建立一个三方合力互为促进的高效发展平台，眼科学院、眼科医院、眼科研究院三方都能互取所长互补所短，健康平衡高速发展。</p>
        <div class="centerImgCon">
            <%= image_tag("research-instituteImg.jpg",alt: '四川省眼与视觉健康产业技术研究院') %>
        </div>
    </div>
</div>
