<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "homes/enter_left" %>
    <div class="enterEyeContent fr enterHonorContainer flow">
        <ul class="enterEyeHonor enterEyeHonor1 fl flParent">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="enterEyeHonor enterEyeHonor2 fl flParent">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="enterEyeHonor enterEyeHonor3 fl flParent">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="enterEyeHonor enterEyeHonor4 fl flParent">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="enterEyeHonor enterEyeHonor5 fl flParent">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>