
<div class="middle">
    <div class="hosIntroduce">
        <p>
            <%= image_tag("inHai.jpg") %>
        </p>
        <div class="mainWord wordPad sayContainer">
            <p class="noIndent">尊敬的社会各界朋友们：大家好！</p>
            <p>欢迎各位访问成都中医大学银海眼科医院官网！</p>
            <p>1956年著名中医眼科学家陈达夫教授创建了成都中医药大学中医眼科，2015年学校正式设立眼科医院。我们克难奋进，团结一致，用智慧和双手开拓创新，使医院快速发展。我院坚持“突出中医特色、提高临床疗效”为核心，充分发挥传统中医药优势，不断探索中医药治疗眼科疑难重症的新途径、新方法，努力打造“技术、服务、文化”的特色医院品牌。</p>
            <p>“杏林沐春风，花开别样红”，努力自有回报，银海眼科医院已成为一家集医、教、研一体的研究型专科医院，并创建川内唯一读片中心，运用高新科技，快速、高效找准病灶，解决眼部疑难。齐聚众多国内外中西医专家、学者担任医院各专业领域学术技术带头人，以技术、设备、疗效、环境服务于广大患者。</p>
            <p>身为院长，我期待有一天患者们能这样描述银海—“是希望与光明的灯塔”，即使这条道路充满艰辛和挑战，但我们承诺始终围绕“以患者为中心”，倡行有温度、细致的的医疗，成为患者值得信赖的眼科医院。</p>
            <p>向广大病患提供值得信赖的医疗技术和医疗服务，是我院一切工作的出发点和落脚点。患者安全是我们每位员工的责任，患者为我们而来是我们的荣耀。</p>
            <p>无论在何种环境下，我们银海人始终坚持“德术兼修、大医精诚”的精神，秉承创新理念，一路前行。</p>
        </div>
    </div>
</div>

