<div class="regheader">
    <p class="regpageheader">
      <%= image_tag("reglogo.png") %> <span class="operationtle">用户登录</span>
    </p>
</div>
<div class="loginarea mart150">
    <div>
        登录账户：<input type="text" placeholder="请输入注册手机号">
    </div>
    <div>
        登录密码：<input type="text" placeholder="请输入密码">
    </div>
    <p class="flow">
        <span class="wrong fl warnword">
            用户名或密码不正确
        </span>
        <span class="fr">
        <a href="">注册账号</a><span> | </span><a href="">忘记密码</a>
        </span>
    </p>
</div>
<div class="logsubmit">
<input type="submit" value="立即登录" class="subbtn">
</div>
