/*当前位置*/
.nowPosition{
    padding: 0 25px;
    height: 60px;
    line-height: 60px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
}
.nowPosition img{
    vertical-align: middle;
}
.nowPosition span{
    margin-left: 10px;
}
/*当前位置*/
/*读片中心*/
.readCenter{
    padding: 17px;
    background: #fff;
    border: 1px solid #d9d9d9;
    margin: 20px 0 30px;
}
.readCenter>li{
    padding: 3px;
    position: relative;
    width: 373px;
    height: 280px;
}
.readMask{
    background: rgba(0,74,144,.26);
    position: absolute;
    left: 0;
    top: 0;
    width: 373px;
    height: 280px;
    margin: 3px;
    text-align: center;
}
.rectangle{
    width: 190px;
    height: 96px;
    line-height: 96px;
    font-size: 16px;
    border: 1px solid #fdfdfb;
    display: inline-block;
    margin: 90px 0;
    color: #fdfdfb;
}
.lightBlue ul{
    background: url("../../assets/images/line.png") no-repeat 43px 24px #92d0dd;
}
.lightGreen ul{
    background: url("../../assets/images/line.png") no-repeat 43px 24px #99d0c5;
}
.deepBlue ul{
    background: url("../../assets/images/line.png") no-repeat 43px 24px #9dbcd3;
}
.readCenter ul{
    width: 100%;
    height: 100%;
    padding: 96px 46px 0;
    box-sizing: border-box;
}
.readCenter ul li{
    line-height: 29px;
    font-size: 18px;
    color: #fdfdfb;
    float: none;
}
.readCenter>.innerAllImg>img{
    display: block;
    margin: 30px auto 0;
}
.blueBorder{
    border: 4px solid #b0e0f1;
    height: 100%;
    line-height: 286px;
    text-align: center;
    font-size: 0;
    box-sizing: border-box;
    position: relative;
}
.blueBorder:after{
    width: 0;
    height: 0;
    content: " ";
    border: 12px solid transparent;
    border-right-color: #f8f7f5;
    position: absolute;
    z-index: 2;
    right: -4px;
    bottom: 22px;
}
.blueBorder img{
    vertical-align: middle;
}
/*读片中心*/
/*白内障屈光中心*/
.cataractList{
    width: 240px;
    border: 1px solid #d9d9d9;
    background: #fff;
}
.cataractList li{
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #d9d9d9;
}
.cataractList li.listLast{
    border-bottom: 0;
}
.cataractList li.active a{
    color: #0284cf;
}
.cataractList li a{
    width: 100%;
    height: 100%;
    display: block;
}
.careUnit{
    width: 910px;
    border: 1px solid #d9d9d9;
    background: #fff;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.careUnit h5{
    line-height: 100px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.careUnitTitle{
    line-height: 24px;
    border-left: 4px solid #4f9cee;
    position: relative;
}
.careUnitTitle span{
    padding: 0 10px;
    position: relative;
    z-index: 2;
    font-size: 18px;
    background: #fff;
}
.careUnitTitle:after{
    content: "";
    border-bottom: 1px solid #d4d4d4;
    position: absolute;
    bottom: 50%;
    height: 0;
    width: 100%;
    left: 0;
}
.careUnitContent{
    padding: 35px 0 30px;
}
.careUnitContent p{
    text-indent: 2rem;
    line-height: 30px;
}
/*专家团队介绍*/
.careUnitContent .proName{
    font-size: 18px;
    padding-top: 10px;
    line-height: 50px;
}
.proWork{
    margin-left: 10px;
    font-size: 14px;
}
.careUnit .proImg{
    float: left;
    margin: 0 40px 10px 0;
}
.eye-proContainer>div{
    padding: 20px 0 30px;
    border-top: 1px solid #d4d4d4;
}
.eye-proContainer>div.proPart{
    padding-top: 0;
    border-top: 0;
}
.eye-proContainer{
    padding-top: 20px;
}
/*专家团队介绍*/
/*手术方式*/
.careUnitContent .surgeryTitle{
    text-indent: 0;
    font-size: 16px;
}
.surgeryDetail{
    margin: 35px 0 42px;
}
.surgeryDetail h5{
    line-height: 48px;
    text-align: center;
    font-size: 24px;
}
.surgeryContent h6{
    line-height: 46px;
    font-weight: normal;
    font-size: 14px;
}
.advantage{
    margin-bottom: 10px;
}
.listContainer{
    padding-left: 2rem;
    margin-bottom: 30px;
}
.listContainer p{
    text-indent: 0;
}
.surgeryImg{
    text-align: center;
}
.surgeryContent{
    margin-bottom: 60px;
}
.surgeryContent .headings{
    text-indent: 0;
    margin-bottom: 10px;
}
.lastSurgery{
    margin-bottom: 10px;
}
/*手术方式*/
/*设备宣传*/
.equipment .surgeryImg{
    margin: 40px 0;
}
.equipment .lastSurImg{
    margin-bottom: 0;
}
/*设备宣传*/
/*问题解惑*/
.surgeryContent .question{
    line-height: 46px;
    color: #fd0421;
    margin-top: 30px;
    text-indent: 0;
}
.surgeryContent .fiQuestion{
    margin-top: 0;
}
.surgeryContent .question span{
    font-size: 12px;
    margin-right: 1.8rem;
}
.questions .surgeryTitle{
    margin-top: 30px;
}
.questions{
    margin-bottom: 0;
}
/*问题解惑*/
/*白内障屈光中心*/
/*青光眼*/
.allWidth{
    width: 100%;
}
.glaucoma p{
    line-height: 30px;
    text-indent: 2rem;
}
.glaucoma .careUnitTitle{
    line-height: 24px;
    margin: 20px 0;
    text-indent: 0;
}
.fiproIntroduce{
    margin-top: 40px;
}
.proIntroduce.fiproIntroduce{
    border-top: 0;
}
.proFace{
    width: 320px;
    height: 350px;
    float: left;
}
.proIntroduce{
    border-top: 1px solid #d4d4d4;
    /*padding: 25px 0;*/ //专家间距
    padding: 10px 0;
}
.proImgLeft{
    margin-right: 30px;
}
.proImgRight{
    margin-left: 30px;
    float: right;
}
.proName-glau{
    font-size: 14px;
}
.proName-glau span{
    font-size: 18px;
}
.instrument>img{
    display: block;
    margin: 20px auto;
}
/*青光眼*/
/*中医眼科中心*/
/*帮你看懂中医...*/
.ChineseMed{
    position: relative;
    width: 933px;
    min-height: 500px;
    border: 1px solid #a7680b;
    background: #fefbee;
    display: none;
    margin-bottom: 30px;
}
.medicineLeft{
    outline: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.medicineLeft *{
    box-sizing: border-box;
}
.medicineLeft li.chineseFi{
    //border-top: 0;
}
.medicineLeft li{
    line-height: 60px;
    background: #ffffff;
    width: 220px;
    padding-left: 15px;
    box-sizing: border-box;
    border-top: 1px solid #d9d9d9;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.medicineLeft li.active{
    background: #fefbee;
    color: #752e1a;
    border: 1px solid #cc9966;
}
.ChineseMed{
    padding: 25px 30px;
    box-sizing: border-box;
}
.ChineseMed:before,.ChineseMed:after{
    position: absolute;
    width: 17px;
    height: 19px;
    left: 0;
}
.ChineseMed:before{
    content: url("../../assets/images/pos_1.png");
    top: 0;
}
.ChineseMed:after{
    content: url("../../assets/images/pos_2.png");
    bottom: 0;
}
.ChineseMedTit h5{
    line-height: 54px;
    color: #752e1a;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}
.disease{
    line-height: 18px;
    background: url("../../assets/images/chinese-med_2.png") 0 26px repeat-x;
}
.disease span{
    background: url("../../assets/images/chinese-med_1.png") 0 6px no-repeat #fefbee;
    padding:0 8px 0 16px;
}
.diseaseOne{
    margin-bottom: 30px;
}
.diseaseOne p,.bottomWord p{
    line-height: 30px;
}
.bottomWord{
    text-align: right;
    padding: 20px 0 40px 0;
}
.diseaseOne p.disease{
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
}
.ChineseCen-introduce p{
    text-indent: 2rem;
}
/*帮你看懂中医...*/
.noFloat li{
    float: none;
}
.medicines>li{
    width: 25%;
    line-height: 30px;
}
.medicines>li>ul>li{
    width: 100%;
}
.couplets>li{
    width: 33%;
}
.couplets>li span{
    display: block;
}
.couplets>li{
    line-height: 30px;
}
.couplets li li{
    margin-bottom: 20px;
}
.couplets .couplets-right{
    text-indent: 2.3rem;
}
.couplets .couplets-right2{
    text-indent: 2.8rem;
}
.diseaseOne .headline{
    font-size: 16px;
    line-height: 46px;
    margin-bottom: 10px;
}
.nar-l{
    margin-right: 25px;
}
.padB h5{
    margin-bottom: 30px;
}
/*中医眼科中心*/
/*眼角疾病*/
.goodAt li{
    text-indent: 2rem;
    line-height: 30px;
}
.popScience>div{
    margin-bottom: 30px;
}
.popScience h6{
    font-size: 16px;
    line-height: 40px;
}
.careUnit{
    padding-bottom: 50px;
}
.careUnit .fiList{
    margin-top: 0;
}
.careUnit .noIndent{
    text-indent: 0;
}
.marR-30{
    margin-right: 30px;
}
.marb-15{
    margin-bottom: 15px;
}
.marT-15{
    margin-top: 15px;
}
.marL-30{
    margin-left: 30px;
}
.Eye-disease .proIntroduce{
    border: 0;
}
/*眼角疾病*/
/*糖尿病*/
.yd-proIntroduce p{
    line-height: 36px;
}
.yd-proIntroduce>div{
    margin-top: 30px;
}
.diabetesData{
    width: 60%;
    margin: 20px 100px;
}
.diabetesData td,.diabetesData th{
    padding: 15px;
}
.diabetesData td,.diabetesData th{
    border: 1px solid #333;
}
.diabetesType{
    width: 100px;
}

.show{
    display: block;
}
.popScience .diabetesTeach{
    margin-bottom: 0;
}
.diabetesTeach>div{
    margin-bottom: 20px;
}
.diabetesTeach>div.bottom-0{
    margin-bottom: 0;
}
/*糖尿病*/
/*视光中心*/
.marT-30{
    margin-top: 30px;
}
/*视光中心*/
/*中医修改*/
.indent{
    text-indent: 2rem;
    line-height: 30px;
}
.teamMemberName{
    margin-bottom: 30px;
    padding-top: 10px;
}
.teamMemberName p{
    color: #752e1a;
    font-size: 16px;
    text-indent: 0;
}
.teamMemberName h5{
    line-height: 34px;
    font-size: 18px;
    color: #752e1a;
}
.divider{
    height: 8px;
    margin: 24px 0;
    background-position: 0;
}
.centerImg>div{
    text-align: center;
}
.wordPad .noIndent,.ChineseMed .noIndent{
    text-indent: 0;
}
/*中医修改*/
/*小儿眼病*/
.titleImg{
    margin-left: 120px;
}
.titleImg_find{
    margin-left: 60px;
}
.trouble{
    padding: 0 0 50px;
}
.remark{
    text-align: center;
}
.trouble .newsImgMar{
    margin: 10px 0;
}
/*小儿眼病*/
/*科普页面*/
.popularTitle{
    padding: 10px 0 16px;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
}
.popularTitle h5{
    line-height: 70px;
}
.popularTitle p{
    color: #999;
    line-height: 30px;
}
.popularTitle span{
    margin-left: 18px;
}
.eyePu{
    padding-bottom: 0;
}
.eyePu .surgeryImg{
    margin: 20px 0;
}
.eyeKp .careUnit{
    padding-bottom: 20px;
}
.kp_container{
    padding: 0 20px 50px;
    background: #fff;
    border: 1px solid #d9d9d9;
    line-height: 30px;
}
.kp_word{
    padding-top: 12px;
}
.kp_word p{
    text-indent: 2rem;
}
.kp_container h5{
    line-height: 100px;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}
.kp_container .surgeryImg{
    margin: 20px 0;
}
.signContainer img,.banner img{
    width: 100%;
    height: 100%;
}
/*科普页面*/
