// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.introduced a{
  width: 100%;
  height: 100%;
  display: block;
}