/*走进银海*/
.aboutHos li{
    width: 576px;
    height: 380px;
    line-height: 380px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.aboutHos>li>div>a{
    width: 540px;
    height: 340px;
    margin: 0 18px;
    display: block;
}

.aboutHos>li>div>a img{
    display: inline-block;
    /*transition: all 1s;*/
    width: 0;
    height: 0;
}
/*.aboutHos>li>div>a .imgActive{*/
    /*width: 540px;*/
    /*height: 340px;*/
/*}*/
.aboutHos .fr{
    float: right;
}
.introduced{
    position: absolute;
    bottom: -10px;
    left: 240px;
    box-sizing: border-box;
    width: 98px;
    height: 45px;
    line-height: 40px;
    border: 2px solid #fff;
    background: #aacf52;
}
.introduced a{
    color: #fff;
}
/*走进银海*/
/*就医服务*/
.scheduling{
    text-align: center;
}
.schTable{
    width: 98%;
    margin-left: 1%;
    background: #fff;
}
.schTable th{
    font-size: 16px;
    line-height: 36px;
    background: #eaf9ff;
}

.schTable th,.schTable td{
    border: 1px solid #b7e1ef;
    padding: 10px;
}
.noTabBorder{
    border: 1px solid #b7e1ef;
}
.schTable .noTabBorder td{
    border: 0;
}
.schTable td{
    text-align: left;
    text-align: center;
}
.width-100{
    width: 100px;
}
.tableType td{
    text-align: center;
    padding: 10px;
    line-height: 28px;
}
.code{
    text-align: center;
}
.guide{
    padding-top: 25px;
}
.guide li{
    width: 378px;
    height: 248px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    text-align: center;
    padding: 10px 10px 0;
    background: #fff;
    margin: 0 0 20px 20px;
}
.guide li a img{
    width: 358px;
    height: 192px;
    display: block;
}
.guide p{
    line-height: 44px;
    font-size: 16px;
}
/*就医服务*/
/*六大中心*/
.center{
    width: 1056px;
    height: 150px;
    margin: 0 auto;
}
.center li{
    width: 176px;
    height: 150px;
    text-align: center;
    background: url("zx-1.png") 0 44px no-repeat;
}
.center .lastCenter{
    background: url("zx-2.png") 0 44px repeat-x;
}
.center li img{
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;	/* Firefox 4 */
    -webkit-transition: all 0.5s;	/* Safari 和 Chrome */
    -o-transition: all 0.5s;
}
.center li img:hover{
    transform: translate(0,-15px);
    -ms-transform: translate(0,-15px);		/* IE 9 */
    -webkit-transform: translate(0,-15px);	/* Safari and Chrome */
    -o-transform: translate(0,-15px);		/* Opera */
    -moz-transform: translate(0,-15px);		/* Firefox */
}
.center li p{
    line-height: 45px;
}
.centerContainer .guide{
    padding: 0;
}
.guide div{
    overflow: hidden;
}
.guide div img{
    width: 358px;
    height: 192px;
    transition: all 0.5s;
}
.guide div:hover img{
    transform: scale(1.2);
}
/*六大中心*/
/*名医专家*/
.proContainer{
    background: #fff;
    border: 1px solid #9bbdf7;
}
.proTitle{
    line-height: 46px;
    border-bottom: 1px solid #eee;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    margin: 0 20px;
}
proIntroduce{
    color: #666;
    font-size: 12px;
}
.proDetails{
    line-height: 24px;
    color: #666;
    font-size: 12px;
}
.proInWord{
    color: #3ebb2b;
    line-height: 30px;
}
.professorName{
    text-align: center;
}
.professorName span{
    padding: 8px;
    color: #fff;
    border-radius: 5px;
    background: #3ebb2b;
    margin-top: 10px;
    display: inline-block;
}
.proImg{
    width: 144px;
    padding-top: 30px;
    margin-left: 20px;
}
.proList li{
    margin-left: 54px;
}
.proList li:first-child{
    margin-left: 20px;
}
.proContainer{
    padding-bottom: 30px;
    margin-top: 20px;
}
.proIntroduce>div{
    float: left;
}
.proMiddle{
    margin-left: 25px;
    width: 360px;
    padding-top: 16px;
}
.proTime{
    width: 578px;
    padding-top: 47px;
    margin-left: 35px;
}
.proTime p{
    line-height: 30px;
}
.proContent{
    width: 1158px;
    box-sizing: border-box;
    background: #e4f8fe;
    padding: 30px 6px 60px 37px;
    position: relative;
    border: 1px solid #b4dfec;
    margin: 20px 7px 0;
    border-radius: 2px;
    font-size: 12px;
    color: #666;
    line-height: 24px;
}
.proContent>div>div{
    float: left;
}
.proContent:before,.proContent:after{
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #b4dfec;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.proContent:after{
    top: -19px;
    border-bottom-color: #e4f8fe;
}
.proContent.fi{
    display: block;
}
.fi:before,.fi:after{
    left: 73px;
}
.proInformation{
    width: 495px;
}
.proContent{
    display: none;
}
.proInformation h5{
    color: #3ebb2b;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.goodIn{
    color: #3ebb2b;
}
.proWorkTime{
    width: 576px;
    margin-left: 40px;
}
.se:before,.se:after{
    left: 275px;
}
.th:before,.th:after{
    left: 472px;
}
.fo:before,.fo:after{
    left: 667px;
}
.fif:before,.fif:after{
    left: 865px;
}
.si:before,.si:after{
    left: 1064px;
}
.proContainer.proPad{
    /*padding-bottom: 20px;*/ //专家间距
    padding-bottom: 0;
}
.parMarB{
    margin-bottom: 20px;
}
/*名医专家*/
/*科学教研*/
.ophthalmology{
    padding-bottom: 20px;
}
.ophthalmology>li{
    width: 556px;
    padding: 10px 10px 28px;
    border: 1px solid #9bbdf7;
    background: #fff;
}
.ophthalmology>li>a{
    margin: 12px 0 17px;
    display: block;
}
.ophthalmology a:hover{
    color: #0284cf;
}
.titImg div{
    width: 555px;
    height: 380px;
}
.titImg div img{
    width: 100%;
    height: 100%;
}
.ophthalmology h5{
    line-height: 44px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    font-weight: 400;
}
.ophthalmology ul li{
    line-height: 30px;
    float: none;
}
.ophthalmology ul li span{
    float: right;
    font-size: 12px;
}

.mdlPad{
    padding-bottom: 20px;
}
/*科学教研*/
/*新闻中心*/
.slide-left{
    /*width:650px;*/
    /*height: 364px;*/
    width: 720px;
    height: 418px;
    position: relative;
}
a.ctrl-slide{
    position:absolute;
    width: 46px;
    height: 48px;
    z-index: 10;
    top: 145px;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.inner{
    height: 58px;
    line-height: 58px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    left: 0;
}

.slide-left ul.slide-wrapper{
    height: 100%;
}
.slide-left ul li em {
    width:10px;
    height:10px;
    cursor:pointer;
    background:#fff;
    border-radius:100%;
    text-indent:-9999px;
    display:block;
}
.slide-left .slidebox{
    right: 15px;
    margin-left: 0;
    left: auto;
}
/*新闻中心*/
/*眼健康科普*/
.middle .eyeHealth>li{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.eyeHealth>li{
    overflow: hidden;
    padding-bottom: 20px;
}
.eyeHealth>li>h5{
    margin-bottom: 15px;
}
.signMask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.signMask p{
    line-height: 330px;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
.signMask a{
    display: block;
    width: 100%;
    height: 100%;
}
.eyeHealth>li>div{
    width: 530px;
    height: 330px;
    position: relative;
}
.eyeHealth>li>div.fl{
    width: 584px;
}
.eyeHealth>li>div .signMask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    text-align: center;
    line-height: 330px;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 24px;
}
.signMask a{
    color: #fff;
}
/*轮播*/
.banner {
    width: 584px;
    height: 330px;
    overflow: hidden;
    position: relative;
}

.banner > ul {
    display: none;
    /*width: 999999999px;*/
    height: 330px;
    position: absolute;
    top:0;
    left: 0;
}

.banner > ul > li  {
    float: left;
    height: 330px;
    position: relative;
}

.banner > ul > li > a {
    display: block;
    font-size: 200px;

    font-weight: bold;
}
.banner > ul > li > a img{
    width: 584px;
    height: 330px;
}

.left-btn,.right-btn {
    width: 46px;
    height: 48px;
    position: absolute;
    top: 45%;
    right: 10px;
    background: url("btn_right.png");
    cursor: pointer;
}

.left-btn {
    left: 10px;
    background: url("btn_left.png");
}

.img-btn-list {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
}

.img-btn-list > span  {
    display: inline-block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 0 5px;
    border: 2px solid #b8b8b8;
    cursor: pointer;
}

.img-btn-list > span.current {
    border: 2px solid #048ddb;
}
.imgTitle{
    height: 58px;
    line-height: 38px;
    background: rgba(0,0,0,.5);
    color: #ff730c;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}
/*轮播*/
/*眼健康科普*/
/*医院介绍*/
.hosIntroduce{
    margin: 0 auto 30px;
    padding-bottom: 60px;
    background: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.hosIntroduce>p>img{
    width: 100%;
}
.hosIntroduce h5{
    line-height: 70px;
    margin-top: 25px;
    text-align: center;
    font-size: 24px;
    color: #0284cf;
    font-weight: normal;
}
.mainWord p{
    line-height: 36px;
    text-indent: 2rem;
}

.mainWord{
    padding: 0 30px;
    margin-bottom: 30px;
}
.wordPad{
    padding-top: 12px;
}
.sayContainer{
    padding-top: 30px;
}
/*医院介绍*/
/*设备介绍*/
.equipment>div>h6{
    font-size: 16px;
    line-height: 66px;
}
.equipment h5{
    line-height: 90px;
    margin: 0;
}
.equipment>div{
    margin-bottom: 20px;
}
.equipment>div>div{
    text-align: center;
}
.equipment .synopsis{
    text-indent: 0;
}
.eqContainer{
    padding :0 10px 20px;
    margin-bottom: 30px;
}
/*设备介绍*/
/*预约挂号*/
.regContainer{
    padding: 58px 0 40px;
    margin-bottom: 30px;
    border: 1px solid #d9d9d9;
    background: #ffffff;
}
.regContainer p{
    line-height: 30px;
}
.regContainer>ul>li{
    width: 33.3%;
    box-sizing: border-box;
}
.regOneImg{
    height: 218px;
    text-align: center;
    padding: 0 60px;
}
.regOneImg img{
    margin-bottom: 10px;
}
.regOneImg p{
    font-size: 18px;
}
.regOneImg p.regOneImg{
    font-size: 16px;
}
.regContent>div{
    text-align: center;
}
.regContent{
    padding: 0 60px;
    height: 180px;
    border-right: 1px solid #e4e4e4;
    box-sizing: border-box;
}
.regContent.lastReg{
    border: 0;
}
/*预约挂号*/
/*来院指引*/
.toHospital{
    padding: 0 30px;
    margin-bottom: 30px;
}
.toHospital h5,.healthCare h5{
    text-align: left;
    font-size: 24px;
    line-height: 96px;
    color: #0284cf;
    font-weight: normal;
}
.toHospital p{
    line-height: 36px;
}
.toHospital>div{
    text-align: center;
    margin :55px 0;
}
.toHospital h5{
    text-align: center;
}
/*来院指引*/
/*就医流程*/
.hosProcess{
    text-align: center;
    margin-bottom: 30px;
}
/*就医流程*/
/*医保政策*/
.healthCare{
    padding: 0 30px 60px;
    line-height: 36px;
    margin-bottom: 30px;
}
.healthCare h5{
    text-align: center;
}
.healthCare>ul>li{
    width: 100%;
}
.healthCare ul,.healthCare p{
    text-indent: 2rem;
}
.middleWord{
    margin: 20px 0;
}
/*医保政策*/
/*专家详情*/
.expertsTitle{
    line-height: 90px;
    font-size: 30px;
    text-align: center;
}
.expDetails{
    padding: 0 20px;
    background: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.BasicInformation{
    padding: 20px 0 40px;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
}
.expertsLeftImg{
    width: 562px;
    border-right: 2px solid #aacf52;
    position: relative;
}
.expertsLeftImg img{
    margin-right: 30px;
}
.expertsRightWord{
    width: 520px;
    padding: 24px 0 0 50px;
}
.expertsRightWord h6{
    color: #0284cf;
    font-size: 14px;
}
.expertsRightWord p,.expertsRightWord h6{
    line-height: 30px;
}
.seniority{
    color: #0284cf;
}
.seniority h5{
    font-size: 24px;
    line-height: 74px;
    margin: 10px 0;
    font-weight: normal;
}
.seniority p{
    line-height: 30px;
    font-size: 18px;
}
.expertsHref{
    position: absolute;
    bottom: 0;
}
.expertsHref input{
    width: 74px;
    height:32px;
    margin-right: 20px;
    border-radius: 5px;
    color: #fff;
    border: 0;
}
.online-appointment{
    background: #f5cd15;
}
.look-scheduling{
    background: #aacf52;
}
.expertsAllMessage{
    padding: 30px 0 50px;
    min-height: 300px;
}
.expertsAllMessage h6{
    color: #0284cf;
    font-size: 14px;
}
.expertsAllMessage{
    line-height: 36px;
}

/*专家详情*/
/*教学科研*/
.allWidthImg img{
    width: 100%;
}
/*教学科研*/
/*新闻*/
.newsMain{
    padding: 0 20px 50px;
    background: #fff;
    border: 1px solid #d9d9d9;
    line-height: 36px;
    margin-bottom: 20px;
}
.newsMain p{
    text-indent: 2rem;
}
.newsMain .noIndent{
    text-indent: 0;
}
.rightWord{
    text-align: right;
    font-size: 12px;
    line-height: 22px;
}
.newsTitle h5{
    line-height: 68px;
    margin-top: 16px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}
.newsTitle{
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 24px;
}
.newsImgMar{
    margin: 10px 0 20px;
    text-align: center;
}
.newsImgMar img{
    max-width: 100%;
}
.newsImgMar.width-90 img{
    width: 90%;
}
.newsImgMar p{
    text-indent: 0;
}
.newsImgMar ul{
    overflow: hidden;
}
.newsImgMar ul li{
    float: left;
    width: 50%;
    line-height: 30px;
}
.hosInstitution{
    text-align: center;
    margin: 30px 20px 0;
}
.hosInstitution img{
    width: 100%;
}
.wordContainer{
    padding: 0 10px;
}
.wordBorder{
    border: 1px solid rgb(249, 110, 87);
    position: relative;
    text-align: center;
}
.wordBorder>div{
    position: absolute;
}
.borderTop{
    width: 10px;
    height: 10px;
    border-top: 1px solid rgb(249, 110, 87);
    border-left: 1px solid rgb(249, 110, 87);
    left: -5px;
    top: -5px;
}
.wordBorder:before,.wordBorder:after{
    content: " ";
    position: absolute;
    width: 50px;
    height: 20px;

}
.wordBorder p{
    line-height: 50px;
}
.wordBorder:before{
    border-bottom: 1px solid rgb(249, 110, 87);
    bottom: -8px;
    right: -12px;
}
.wordBorder:after{
    border-right: 1px solid rgb(249, 110, 87);
    right: -6px;
    bottom: -14px;
}
/*新闻*/
/*仪器设备*/
.equipment  li h6{
    font-size: 16px;
}
.equipment p{
    text-indent: 0;
}
.advantage{
    margin-top: 36px;
}
.equRight{
    padding-left: 100px;
}
.fiEquipment{
    padding-top: 55px;
}
.equipment ul{
    margin-bottom: 30px;
}
.equipmen ul.seEquipmentCon{
    margin-bottom: 0;
}
.thEquipmentCon{
    padding-top: 60px;
}
.thEquipment{
    padding-top: 20px;
}
.fourEquipment{
    width: 560px;
}
.fivEquipment{
    width: 650px;
    padding-top: 20px;
}
.sixEquipmentCon{
    width: 690px;
}
/*仪器设备*/
/*新闻轮播*/
.slide-left li img{
    width: 100%;
}
.slide-left li a{
    width: 100%;
    height:100%;
    display: block;
}
/*新闻轮播*/
/*视频区域*/
.videoScope{
    width: 436px;
    //height: 662px;
}
.videoList>div{
    position: relative;
    height: 321px;
    margin-bottom: 20px;
    background: #fff;
}

.flVideo{
    margin-bottom: 20px;
}
.videoWordList{
    background: #fff;
}
.videoWordList>div{
    line-height: 57px;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 10px;
}
.videoWordList>div:last-child{
    border-bottom: 0;
}
.videoList a p{
    line-height: 42px;
    text-indent: 1rem;
}
.videoList a div{
    height: 280px;
    overflow: hidden;
    position: relative;
}
.videoWordList a:hover{
    color: #0284cf;
}
.videoList a div img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.playBtn{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 107px;
    margin-left: -25px;
    display: none;
}
.videoList>div:hover .playBtn{
    display: block;
}
.newsContainer{
    margin-top: 20px;
    background: #fff;
    min-height: 224px;
    box-sizing: border-box;
}
.newsContainer h4{
    line-height: 50px;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 10px;
}
.newsContainer h4 span{
    line-height: 50px;
    display: inline-block;
    border-bottom: 2px solid #0284cf;
    font-size: 18px;
}
.newsContainer h4 em a{
    color: #818181;
    display: inline-block;
    float: right;
}
.newsContainer>div{
    height: 100px;
    padding: 18px 30px 0 10px;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
}
.newsContainer>div:last-child{
    border-bottom: 0;
}
.hrefTitWord{
    line-height: 35px;
    font-weight: normal;
    font-size: 18px;
}
.hrefTitWord:hover{
    color: #0284cf;
}
.newsContainer p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 22px;
    line-height: 22px;
    color: #818181;
}
.newOuter{
    width: 720px;
}
/*视频区域*/
/*视光中心*/
.gameScope{
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    height: 300px;
    overflow: hidden;
}
.gameScope img{
    display: block;
    margin-top: -25px;
}
/*视光中心*/
/*眼科学院*/
.teachReview .newsImgMar img{
    width: 80%;
}
/*眼科学院*/
/*楼层指引*/
.floorImg>div{
    margin-bottom: 20px;
}
.floorImg img{
    width: 100%;
}
.floorImg{
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    padding-top: 20px;
    background: #fff;
}
/*楼层指引*/
/*游戏btn*/
.eyeGame{
    border: 1px solid #00b7d6;
    width: auto;
    padding: 0 8px;
}
.eyeGame a{
    color: #00b7d6;
}
/*游戏btn*/
.relativeDiv{
    position: relative;
}
.playBtnT{
    top: 50%;
    margin-top: -25px;
}
.relativeDiv:hover .playBtnT{
    display: block;
}
.hosServer{
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: normal;
    color: #0284cf;
    margin-bottom: 35px;
}
.hosServerCon{
    padding-top: 20px;
}
.eyeResearchNews{
    margin-bottom: 20px;
    background: #fff;
    font-size: 16px;
    border: 1px solid #d9d9d9;
}
.eyeResearchNews .eyeNewsTitle{
    line-height: 52px;
    color: #0284cf;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 15px;
}
.eyeResearchNews span{
    padding: 0 5px;
    line-height: 52px;
    border-bottom: 2px solid #0284cf;
    display: inline-block;
}
.eyeResearchNews div{
    line-height: 80px;
}
.eyeResearchNews>div{
    padding-left: 20px;
}
.eyeResearchNews>div .hrefTitWord{
    font-size: 16px;
}
/*录取人员*/
.admitTable{
    width: 100%;
    margin: 0;
}
.admitTable th{
    line-height: 50px;
}
.admitTable td{
    padding: 0 5px;
    line-height: 50px;
}
.admitTable .tableType{
    font-weight: bold;
    line-height: 60px;
}
.admitTableContainer{
    min-height: 500px;
    background: #fff;
    padding: 50px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/*录取人员*/
/*预约报名*/
.bmContainer{
    background: url("bm_bg.png") 0 100% no-repeat #007cc2;
    margin-bottom: 20px;
}
.bm_outer{
    background: url("bm_1.png") 0 0 no-repeat;
    color: #fff;
    font-size: 18px;
    padding-bottom: 400px;
}
.bm_titleImg{
    text-align: center;
    padding-top: 118px;
    margin-bottom: 65px;
}
.activityMain{
    padding-left: 285px;
}
.activityTitle{
    width: 143px;
    height: 64px;
    margin-top: 30px;
    line-height: 47px;
    font-size: 20px;
    text-align: center;
    color: #007cc2;
    background: url("bm_3.png");
}
.activityWord{
    padding-top: 20px;
    line-height: 36px;
}
.activityRight{
    margin-left: 115px;
}
.activityCode{
    text-align: right;
    padding-right: 130px;
}
/*预约报名*/
/*新闻列表*/
.newsAll{
    background: #fff;
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
    padding: 0 30px;
}
.newsAllList li{
    line-height: 64px;
    border-bottom: 1px solid #f1f1ef;
}
.newsAllList li:last-child{
    border-bottom: 0;
}
.newsAllList a{
    font-size: 16px;
    line-height: 64px;
}
.newsAllList a:hover{
    color: #007cc2;
}
.titBg{
    overflow: hidden;
    margin: 10px 0;
}
.titBg span{
    background: rgb(96, 156, 239);
    padding: 0 10px;
    line-height: 25px;
    display: inline-block;
    position: relative;
    color: #fff;
}
.titBg span:before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 10px;
    background: rgb(96, 156, 239);
    top: -5px;
    left: -5px;
}
.div_90{
    width: 90%;
    margin: 10px auto;
}
.div_90 li img{
    width: 98%;
    margin-bottom: 10px;
}

/*新闻列表*/
