/*走进银海*/
.aboutHos li{
    width: 576px;
    height: 380px;
    line-height: 380px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.aboutHos>li>div>a{
    width: 540px;
    height: 340px;
    margin: 0 18px;
    display: block;
}

.aboutHos>li>div>a img{
    display: inline-block;
    /*transition: all 1s;*/
    width: 0;
    height: 0;
}
/*.aboutHos>li>div>a .imgActive{*/
    /*width: 540px;*/
    /*height: 340px;*/
/*}*/
.aboutHos .fr{
    float: right;
}
.introduced{
    position: absolute;
    bottom: -10px;
    left: 240px;
    box-sizing: border-box;
    width: 98px;
    height: 45px;
    line-height: 40px;
    border: 2px solid #fff;
    background: #aacf52;
}
.introduced a{
    color: #fff;
}
/*走进银海*/
/*就医服务*/
.scheduling{
    text-align: center;
}
.schTable{
    width: 98%;
    margin-left: 1%;
    background: #fff;
}
.schTable th{
    font-size: 16px;
    line-height: 36px;
    background: #eaf9ff;
}

.schTable th,.schTable td{
    border: 1px solid #b7e1ef;
    padding: 10px;
}
.noTabBorder{
    border: 1px solid #b7e1ef;
}
.schTable .noTabBorder td{
    border: 0;
}
.schTable td{
    text-align: left;
    text-align: center;
}
.width-100{
    width: 130px;
}
.tableType td{
    text-align: center;
    padding: 10px;
    line-height: 28px;
}
.code{
    text-align: center;
}
.guide{
    padding-top: 25px;
}
.guide li{
    width: 378px;
    height: 248px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    text-align: center;
    padding: 10px 10px 0;
    background: #fff;
    margin: 0 0 20px 20px;
}
.guide li a img{
    width: 358px;
    height: 192px;
    display: block;
}
.guide p{
    line-height: 44px;
    font-size: 16px;
}
/*就医服务*/
/*六大中心*/
.center{
    width: 1056px;
    height: 150px;
    margin: 0 auto;
}
.center li{
    width: 176px;
    height: 150px;
    text-align: center;
    background: url("zx-1.png") 0 44px no-repeat;
}
.center .lastCenter{
    background: url("zx-2.png") 0 44px repeat-x;
}
.center li img{
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;	/* Firefox 4 */
    -webkit-transition: all 0.5s;	/* Safari 和 Chrome */
    -o-transition: all 0.5s;
}
.center li img:hover{
    transform: translate(0,-15px);
    -ms-transform: translate(0,-15px);		/* IE 9 */
    -webkit-transform: translate(0,-15px);	/* Safari and Chrome */
    -o-transform: translate(0,-15px);		/* Opera */
    -moz-transform: translate(0,-15px);		/* Firefox */
}
.center li p{
    line-height: 45px;
}
.centerContainer .guide{
    padding: 0;
}
.guide div{
    overflow: hidden;
}
.guide div img{
    width: 358px;
    height: 192px;
    transition: all 0.5s;
}
.guide div:hover img{
    transform: scale(1.2);
}
/*六大中心*/
/*名医专家*/
.proContainer{
    background: #fff;
    border: 1px solid #9bbdf7;
}
.proTitle{
    line-height: 46px;
    border-bottom: 1px solid #eee;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    margin: 0 20px;
}
proIntroduce{
    color: #666;
    font-size: 12px;
}
.proDetails{
    line-height: 24px;
    color: #666;
    font-size: 12px;
}
.proInWord{
    color: #3ebb2b;
    line-height: 30px;
}
.professorName{
    text-align: center;
}
.professorName span{
    padding: 8px;
    color: #fff;
    border-radius: 5px;
    background: #3ebb2b;
    margin-top: 10px;
    display: inline-block;
}
.proImg{
    width: 144px;
    padding-top: 30px;
    margin-left: 20px;
}
.proList li{
    margin-left: 54px;
}
.proList li:first-child{
    margin-left: 20px;
}
.proContainer{
    padding-bottom: 30px;
    margin-top: 20px;
}
.proIntroduce>div{
    float: left;
}
.proMiddle{
    margin-left: 25px;
    width: 940px;
    //width: 360px;
    padding-top: 16px;
}
.proTime{
    width: 578px;
    padding-top: 47px;
    margin-left: 35px;
}
.proTime p{
    line-height: 30px;
}
.proContent{
    width: 1158px;
    box-sizing: border-box;
    background: #e4f8fe;
    //padding: 30px 6px 60px 37px;
    padding: 30px 37px 60px 37px;
    position: relative;
    border: 1px solid #b4dfec;
    margin: 20px 7px 0;
    border-radius: 2px;
    font-size: 12px;
    color: #666;
    line-height: 24px;
}
.proContent>div>div{
    float: left;
}
.proContent:before,.proContent:after{
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #b4dfec;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.proContent:after{
    top: -19px;
    border-bottom-color: #e4f8fe;
}
.proContent.fi{
    display: block;
}
.fi:before,.fi:after{
    left: 73px;
}
.proInformation{
    //width: 495px;
}
.proContent{
    display: none;
}
.proInformation h5{
    color: #3ebb2b;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.goodIn{
    color: #3ebb2b;
}
.proWorkTime{
    width: 576px;
    margin-left: 40px;
}
.se:before,.se:after{
    left: 275px;
}
.th:before,.th:after{
    left: 472px;
}
.fo:before,.fo:after{
    left: 667px;
}
.fif:before,.fif:after{
    left: 865px;
}
.si:before,.si:after{
    left: 1064px;
}
.proContainer.proPad{
    /*padding-bottom: 20px;*/ //专家间距
    padding-bottom: 0;
}
.parMarB{
    margin-bottom: 20px;
}
/*名医专家*/
/*科学教研*/
.ophthalmology{
    padding-bottom: 20px;
}
.ophthalmology>li{
    width: 556px;
    padding: 10px 10px 28px;
    border: 1px solid #9bbdf7;
    background: #fff;
}
.ophthalmology>li>a{
    margin: 12px 0 17px;
    display: block;
}
.ophthalmology a:hover{
    color: #0284cf;
}
.titImg div{
    width: 555px;
    height: 380px;
}
.titImg div img{
    width: 100%;
    height: 100%;
}
.ophthalmology h5{
    line-height: 44px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    font-weight: 400;
}
.ophthalmology ul li{
    line-height: 30px;
    float: none;
}
.ophthalmology ul li span{
    float: right;
    font-size: 12px;
}

.mdlPad{
    padding-bottom: 20px;
}
/*科学教研*/
/*新闻中心*/
.slide-left{
    width: 720px;
    height: 418px;
    position: relative;
}
a.ctrl-slide{
    position:absolute;
    width: 46px;
    height: 48px;
    z-index: 10;
    top: 145px;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.inner{
    height: 58px;
    line-height: 58px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    left: 0;
}

.slide-left ul.slide-wrapper{
    height: 100%;
}
.slide-left ul li em {
    width:10px;
    height:10px;
    cursor:pointer;
    background:#fff;
    border-radius:100%;
    text-indent:-9999px;
    display:block;
}
.slide-left .slidebox{
    right: 15px;
    margin-left: 0;
    left: auto;
}
/*新闻中心*/
/*眼健康科普*/
.middle .eyeHealth>li{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.eyeHealth>li{
    overflow: hidden;
    padding-bottom: 20px;
}
.eyeHealth>li>h5{
    margin-bottom: 15px;
}
.signMask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.signMask p{
    line-height: 330px;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
.signMask a{
    display: block;
    width: 100%;
    height: 100%;
}
.eyeHealth>li>>div>div{
    width: 530px;
    //height: 330px;
    position: relative;
}

.eyeHealth>li>div.fl{
    width: 584px;
}
.eyeHealth>li>div .signMask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    text-align: center;
    line-height: 330px;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 24px;
}
.signMask a{
    color: #fff;
}
/*轮播*/
.banner {
    width: 584px;
    height: 330px;
    overflow: hidden;
    position: relative;
}

.banner > ul {
    display: none;
    /*width: 999999999px;*/
    height: 330px;
    position: absolute;
    top:0;
    left: 0;
}

.banner > ul > li  {
    float: left;
    height: 330px;
    position: relative;
}

.banner > ul > li > a {
    display: block;
    font-size: 200px;

    font-weight: bold;
}
.banner > ul > li > a img{
    width: 584px;
    height: 330px;
}

.left-btn,.right-btn {
    width: 46px;
    height: 48px;
    position: absolute;
    top: 45%;
    right: 10px;
    background: url("btn_right.png");
    cursor: pointer;
}

.left-btn {
    left: 10px;
    background: url("btn_left.png");
}

.img-btn-list {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
}

.img-btn-list > span  {
    display: inline-block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 0 5px;
    border: 2px solid #b8b8b8;
    cursor: pointer;
}

.img-btn-list > span.current {
    border: 2px solid #048ddb;
}
.imgTitle{
    height: 58px;
    line-height: 38px;
    background: rgba(0,0,0,.5);
    color: #ff730c;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}
/*轮播*/
/*眼健康科普*/
/*医院介绍*/
.hosIntroduce{
    margin: 0 auto 30px;
    padding-bottom: 60px;
    background: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.hosIntroduce>p>img{
    width: 100%;
}
.hosIntroduce h5{
    line-height: 70px;
    margin-top: 25px;
    text-align: center;
    font-size: 24px;
    color: #0284cf;
    font-weight: normal;
}
.mainWord p{
    line-height: 36px;
    text-indent: 2rem;
}

.mainWord{
    padding: 0 30px;
    margin-bottom: 30px;
}
.wordPad{
    padding-top: 12px;
}
.sayContainer{
    padding-top: 30px;
}
/*医院介绍*/
/*设备介绍*/
.equipment>div>h6{
    font-size: 16px;
    line-height: 66px;
}
.equipment h5{
    line-height: 90px;
    margin: 0;
}
.equipment>div{
    margin-bottom: 20px;
}
.equipment>div>div{
    text-align: center;
}
.equipment .synopsis{
    text-indent: 0;
}
.eqContainer{
    padding :0 10px 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}
/*设备介绍*/
/*预约挂号*/
.regContainer{
    padding: 58px 0 40px;
    margin-bottom: 30px;
    border: 1px solid #d9d9d9;
    background: #ffffff;
}
.regContainer p{
    line-height: 30px;
}
.regContainer>ul>li{
    width: 33.3%;
    box-sizing: border-box;
}
.regOneImg{
    height: 218px;
    text-align: center;
    padding: 0 60px;
}
.regOneImg img{
    margin-bottom: 10px;
}
.regOneImg p{
    font-size: 18px;
}
.regOneImg p.regOneImg{
    font-size: 16px;
}
.regContent>div{
    text-align: center;
}
.regContent{
    padding: 0 60px;
    height: 180px;
    border-right: 1px solid #e4e4e4;
    box-sizing: border-box;
}
.regContent.lastReg{
    border: 0;
}
/*预约挂号*/
/*来院指引*/
.toHospital{
    padding: 0 30px;
    margin-bottom: 30px;
}
.toHospital h5,.healthCare h5{
    text-align: left;
    font-size: 24px;
    line-height: 96px;
    color: #0284cf;
    font-weight: normal;
}
.toHospital p{
    line-height: 36px;
}
.toHospital>div{
    text-align: center;
    margin :55px 0;
}
.toHospital h5{
    text-align: center;
}
/*来院指引*/
/*就医流程*/
.hosProcess{
    text-align: center;
    margin-bottom: 30px;
}
/*就医流程*/
/*医保政策*/
.healthCare{
    padding: 0 30px 60px;
    line-height: 36px;
    margin-bottom: 30px;
}
.healthCare h5{
    text-align: center;
}
.healthCare>ul>li{
    width: 100%;
}
.healthCare ul,.healthCare p{
    text-indent: 2rem;
}
.middleWord{
    margin: 20px 0;
}
/*医保政策*/
/*专家详情*/
.expertsTitle{
    line-height: 90px;
    font-size: 30px;
    text-align: center;
}
.expDetails{
    padding: 0 20px;
    background: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.BasicInformation{
    padding: 20px 0 40px;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
}
.expertsLeftImg{
    width: 562px;
    border-right: 2px solid #aacf52;
    position: relative;
}
.expertsLeftImg img{
    margin-right: 30px;
}
.expertsRightWord{
    width: 520px;
    padding: 24px 0 0 50px;
}
.expertsRightWord h6{
    color: #0284cf;
    font-size: 14px;
}
.expertsRightWord p,.expertsRightWord h6{
    line-height: 30px;
}
.seniority{
    color: #0284cf;
}
.seniority h5{
    font-size: 24px;
    line-height: 74px;
    margin: 10px 0;
    font-weight: normal;
}
.seniority p{
    line-height: 30px;
    font-size: 18px;
}
.expertsHref{
    position: absolute;
    bottom: 0;
}
.expertsHref input{
    width: 74px;
    height:32px;
    margin-right: 20px;
    border-radius: 5px;
    color: #fff;
    border: 0;
}
.online-appointment{
    background: #f5cd15;
}
.look-scheduling{
    background: #aacf52;
}
.expertsAllMessage{
    padding: 30px 0 50px;
    min-height: 300px;
}
.expertsAllMessage h6{
    color: #0284cf;
    font-size: 14px;
}
.expertsAllMessage{
    line-height: 36px;
}

/*专家详情*/
/*教学科研*/
.allWidthImg img{
    width: 100%;
}
/*教学科研*/
/*新闻*/
.newsMain{
    padding: 0 20px 50px;
    background: #fff;
    border: 1px solid #d9d9d9;
    line-height: 36px;
    margin-bottom: 20px;
}
.newsMain p{
    text-indent: 2rem;
}
.newsMain .noIndent{
    text-indent: 0;
}
.rightWord{
    text-align: right;
    font-size: 12px;
    line-height: 22px;
}
.newsTitle h5{
    line-height: 68px;
    margin-top: 16px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}
.newsTitle{
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 24px;
}
.newsImgMar{
    margin: 10px 0 20px;
    text-align: center;
}
.newsImgMar img{
    max-width: 100%;
}
.newsImgMar.width-90 img{
    width: 90%;
}
.newsImgMar p{
    text-indent: 0;
}
.newsImgMar ul{
    overflow: hidden;
}
.newsImgMar ul li{
    float: left;
    width: 50%;
    line-height: 30px;
}
.hosInstitution{
    text-align: center;
    margin: 30px 20px 0;
}
.hosInstitution img{
    width: 100%;
}
.wordContainer{
    padding: 0 10px;
}
.wordBorder{
    border: 1px solid rgb(249, 110, 87);
    position: relative;
    text-align: center;
}
.wordBorder>div{
    position: absolute;
}
.borderTop{
    width: 10px;
    height: 10px;
    border-top: 1px solid rgb(249, 110, 87);
    border-left: 1px solid rgb(249, 110, 87);
    left: -5px;
    top: -5px;
}
.wordBorder:before,.wordBorder:after{
    content: " ";
    position: absolute;
    width: 50px;
    height: 20px;

}
.wordBorder p{
    line-height: 50px;
}
.wordBorder:before{
    border-bottom: 1px solid rgb(249, 110, 87);
    bottom: -8px;
    right: -12px;
}
.wordBorder:after{
    border-right: 1px solid rgb(249, 110, 87);
    right: -6px;
    bottom: -14px;
}
/*新闻*/
/*仪器设备*/

.equipment  li h6{
    font-size: 16px;
}
.equipment p{
    text-indent: 0;
}
.advantage{
    margin-top: 36px;
}
.equRight{
    padding-left: 100px;
}
.fiEquipment{
    padding-top: 55px;
}
.equipment ul{
    margin-bottom: 30px;
}
.equipmen ul.seEquipmentCon{
    margin-bottom: 0;
}
.thEquipmentCon{
    padding-top: 60px;
}
.thEquipment{
    padding-top: 20px;
}
.fourEquipment{
    width: 560px;
}
.fivEquipment{
    width: 650px;
    padding-top: 20px;
}
.sixEquipmentCon{
    width: 690px;
}
/*仪器设备*/
/*新闻轮播*/
.slide-left li img{
    width: 100%;
}
.slide-left li a{
    width: 100%;
    height:100%;
    display: block;
}
/*新闻轮播*/
/*视频区域*/
.videoScope{
    width: 436px;
    //height: 662px;
}
.videoList>div{
    position: relative;
    height: 321px;
    margin-bottom: 20px;
    background: #fff;
}

.flVideo{
    margin-bottom: 20px;
}
.videoWordList{
    background: #fff;
}
.videoWordList>div{
    line-height: 57px;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 10px;
}
.videoWordList>div:last-child{
    border-bottom: 0;
}
.videoList a p{
    line-height: 42px;
    text-indent: 1rem;
}
.videoList a div{
    height: 280px;
    overflow: hidden;
    position: relative;
}
.videoWordList a:hover{
    color: #0284cf;
}
.videoList a div img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.playBtn{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 107px;
    margin-left: -25px;
    display: none;
}
.videoList>div:hover .playBtn{
    display: block;
}
.newsContainer{
    margin-top: 20px;
    background: #fff;
    min-height: 224px;
    box-sizing: border-box;
}
.newsContainer h4{
    line-height: 50px;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 10px;
}
.newsContainer h4 span{
    line-height: 50px;
    display: inline-block;
    border-bottom: 2px solid #0284cf;
    font-size: 18px;
}
.newsContainer h4 em a{
    color: #818181;
    display: inline-block;
    float: right;
    line-height:50px;
    font-size: 16px;
}
.newsContainer>div{
    padding: 18px 30px 15px 10px;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
}
.newsContainer>div:last-child{
    border-bottom: 0;
}
.hrefTitWord{
    line-height: 35px;
    font-weight: normal;
    font-size: 18px;
}
.hrefTitWord:hover{
    color: #0284cf;
}
.newsContainer p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 22px;
    line-height: 22px;
    color: #818181;
}
.newOuter{
    width: 720px;
}
/*视频区域*/
/*视光中心*/
.gameScope{
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    height: 300px;
    overflow: hidden;
}
.gameScope img{
    display: block;
    margin-top: -25px;
}
/*视光中心*/
/*眼科学科*/
.teachReview .newsImgMar img{
    width: 80%;
}
/*眼科学科*/
/*楼层指引*/
.floorImg>div{
    margin-bottom: 20px;
}
.floorImg img{
    width: 100%;
}
.floorImg{
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    padding-top: 20px;
    background: #fff;
}
/*楼层指引*/
/*游戏btn*/
.eyeGame{
    border: 1px solid #00b7d6;
    width: auto;
    padding: 0 8px;
}
.eyeGame a{
    color: #00b7d6;
}
/*游戏btn*/
.relativeDiv{
    position: relative;
}
.playBtnT{
    top: 50%;
    margin-top: -25px;
}
.relativeDiv:hover .playBtnT{
    display: block;
}
.hosServer{
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: normal;
    color: #0284cf;
    margin-bottom: 35px;
}
.hosServerCon{
    padding-top: 20px;
}
.eyeResearchNews{
    margin-bottom: 20px;
    background: #fff;
    font-size: 16px;
    border: 1px solid #d9d9d9;
}
.eyeResearchNews .eyeNewsTitle{
    line-height: 52px;
    color: #0284cf;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 15px;
}
.eyeResearchNews div{
    border-bottom: 1px solid #f0f0f0;
}
.eyeResearchNews div:last-child{
  border-bottom: 0;
}
.eyeResearchNews span{
    padding: 0 5px;
    line-height: 52px;
    border-bottom: 2px solid #0284cf;
    display: inline-block;
}
.eyeResearchNews div{
    line-height: 80px;
}
.eyeResearchNews>div{
    padding-left: 20px;
}
.eyeResearchNews>div .hrefTitWord{
    font-size: 16px;
}
/*录取人员*/
.admitTable{
    width: 100%;
    margin: 0;
}
.admitTable th{
    line-height: 50px;
}
.admitTable td{
    padding: 0 5px;
    line-height: 50px;
}
.admitTable .tableType{
    font-weight: bold;
    line-height: 60px;
}
.admitTableContainer{
    min-height: 500px;
    background: #fff;
    padding: 50px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/*录取人员*/
/*预约报名*/
.bmContainer{
    background: url("bm_bg.png") 0 100% no-repeat #007cc2;
    margin-bottom: 20px;
}
.bm_outer{
    background: url("bm_1.png") 0 0 no-repeat;
    color: #fff;
    font-size: 18px;
    padding-bottom: 400px;
}
.bm_titleImg{
    text-align: center;
    padding-top: 118px;
    margin-bottom: 65px;
}
.activityMain{
    padding-left: 285px;
}
.activityTitle{
    width: 143px;
    height: 64px;
    margin-top: 30px;
    line-height: 47px;
    font-size: 20px;
    text-align: center;
    color: #007cc2;
    background: url("bm_3.png");
}
.activityWord{
    padding-top: 20px;
    line-height: 36px;
}
.activityRight{
    margin-left: 115px;
}
.activityCode{
    text-align: right;
    padding-right: 130px;
}
/*预约报名*/
/*新闻列表*/
.newsAll{
    background: #fff;
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
    padding: 0 30px;
}
.newsAllList li{
    line-height: 64px;
    border-bottom: 1px solid #f1f1ef;
}
.newsAllList a{
    font-size: 16px;
    line-height: 64px;
}
.newsAllList a:hover{
    color: #007cc2;
}
.titBg{
    overflow: hidden;
    margin: 10px 0;
}
.titBg span{
    background: rgb(96, 156, 239);
    padding: 0 10px;
    line-height: 25px;
    display: inline-block;
    position: relative;
    color: #fff;
}
.titBg span:before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 10px;
    background: rgb(96, 156, 239);
    top: -5px;
    left: -5px;
}
.div_90{
    width: 90%;
    margin: 10px auto;
}
.div_90 li img{
    width: 98%;
    margin-bottom: 10px;
}
fieldset{
    border: 1px solid #0284cf;
    width: 90%;
    margin: 20px auto 10px;
    padding: 0 2rem 20px;
    box-sizing: border-box;
}
fieldset.fessActions p{
    text-indent: 0;
}
.threeD fieldset{
    box-sizing: inherit;
  }
legend{
    color: #0284cf;
    font-size: 18px;
    line-height: 38px;
    padding: 0 10px;
}
.actionsTle{
    line-height: 60px;
    color: #0284cf;
    font-size: 18px;
}

.actionsPoint{
    font-size: 16px;
    color: #0284cf;
    line-height: 45px;
}
.actionsCost{
    margin: 30px auto 10px;
}
.actionsCost table{
    margin: 0 auto;
    width: 90%;
}
.actionsNotes p{
    font-size: 12px;
    color: #666;
}
.actionsCost td{
    text-align: left;
}
.erCodes{
    padding-right: 5%;
}
.erCodes li{
    margin-left: 10px;
    text-align: center;
}
.erCodes li p{
    text-indent: 0;
}
.erCodes li img{
    width: 150px;
}
.newsCaption{
    line-height: 48px;
    font-size: 18px;
}
.newsMain p{
    margin-bottom: 15px;
}
.pagesContainer{
    margin:30px 0;
}
.pages span{
    padding: 0 5px;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
}
.pages span:hover{
    color: #0284cf;
}
.newsAllList{
    min-height: 450px;
}
/*新闻列表*/
.copyRight{
    text-align: center;
    margin-left: -41px;
    margin-top: -15px;
}
.twoNewsTitle h5{
    line-height: 35px;
}
.recruitNotice{
    line-height: 35px;
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 0 30px 30px;
    margin-bottom: 20px;
}
.recruitNotice h5{
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
}
.indentWord p{
    text-indent: 2rem;
}
p>b{
    padding: 5px 0;
}
.indentWord table{
    margin: 20px 0 20px 2rem;
    width: 70%;
}
.indentWord table p{
    text-indent: 0;
}
.recruitNoticeTle{
    padding: 10px 0;
    border-bottom: 1px solid #d4d4d4;
}
.recruitNotice table tr th{
    background: transparent;
}
.downLoad{
    display: block;
}
.downLoad:hover{
    color: #00b7d6;
    text-decoration: underline;
}
.downLoad span{
    float: right;
}
.centerWordCon>p{
    text-indent: 0;
    text-align: center;
}
.centerContainer{
    text-align: center;
}
//专家介绍index页面
.largeInformation{
    padding: 30px 37px 60px;
}
.largeInformation .proInformation{
    width: 100%;
}
//专家介绍index页面
//改版新增
.header{
    background: #fff;
}
.blueBg{
    background: #055499;
    height: 5px;
}
.aboutUs{
    height: 67px;
    line-height: 67px;
}
.telePhone{
    color: #999;
    font-size: 14px;
    line-height: 52px;
    margin-top: 6px;
}
.telePhone span{
    margin-left: 10px;
    font-size: 18px;
    color: #fac03d;
}
.commits{
    width: 532px;
    font-size: 16px;
    margin-left: 42px;
}
.commits a{
    margin: 0 16px;
    color: #008cd3;
}
.commits a:nth-child(4){
    margin-right: 0;
}
.commits a:nth-child(5){
    margin-left: 0;
}
.logos{
    line-height: 88px;
}
.logos a{
    margin-right: 40px;
}
.logos a.lastLogo{
    margin-right: 0;
}
.logos .ineyeLogo{
    margin-right: 52px;
}
.search{
    width: 290px;
    height: 40px;
    margin-top: 14px;
    line-height: 1;
    position: relative;
}
.search input{
    width: 236px;
    height: 38px;
    border: 1px solid #72af2d;
    font-family: "Microsoft YaHei","Arial Narrow";
}
.searchBtn{
    width: 54px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #72af2d;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
}
.topNavContainer{
    background: #008cd3;
}
.topNav{
    height: 50px;
    background: #008cd3;
}
.topNav li.active{
    //background: #055499;
}
.topNav a{
    line-height: 50px;
    text-align: center;
    padding: 0 30px;
    color: #fff;
}
/*轮播*/
.banner-box{width: 1200px;height:450px;position:relative;text-align:center;overflow: hidden;}
.banner-box .img{width:10000px;position:absolute;top:0;left:0;}
.banner-box .img li{float:left;}
.banner-box img{  width: 1200px;  height: 450px}
.banner-box .li{width:100%;position:absolute;left:0;bottom:10px;}
.banner-box .li li{width:10px;height:10px;background:#fff;border-radius:50%;display:inline-block;margin:0 3px;cursor:pointer;}
.banner-box .but{position: absolute;top:50%;margin-top:-30px;width:38px;height:60px;line-height:60px;text-align:center;font-size: 30px;background:rgba(0,0,0,0.5);color:#fff;font-family: '宋体';cursor:pointer;display: none;}
.banner-box:hover .but{display:block;}
.banner-box .but-left{left:0;}
.banner-box .but-right{right:0;}
.banner-box .li .index{background:#0284cf;border-radius:10px;}
.banner-box .bar{ position: absolute; left: 0; bottom: 0; height: 5px; background-color: rgba(2,132,207,0.6); }
/*轮播*/
.diseaseList{
    font-size: 18px;
}
.diseaseList>div{
    width: 120px;
    height: 202px;
    background: #72af2d;
    color: #fff;
    text-align: center;
}
.diseaseList ul{
    width: 1080px;
}
.diseaseList li{
    width: 118px;
    height: 100px;
    text-align: center;
    border-right: 2px solid #f5f5f5;
    position: relative;
}
.diseaseList li p{
    color: #666;
}
.diseaseList li:nth-child(1),.diseaseList li:nth-child(2),.diseaseList li:nth-child(3),.diseaseList li:nth-child(4),
.diseaseList li:nth-child(5),.diseaseList li:nth-child(6),.diseaseList li:nth-child(7),.diseaseList li:nth-child(8),
.diseaseList li:nth-child(9){
    border-bottom: 2px solid #f5f5f5;
}
/*新闻轮播css*/
/*轮播css*/
.newsSlide {
    overflow:hidden;
    position:relative;
    width:295px;
    height:225px;
}
.newsSlide ul.slide-wrapper {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width: 295px;
    height:225px;
}
.newsSlide ul.slide-wrapper li {
    height: 100%;
    position:absolute
}
.slideLink img{
    width:100%;
}
.newsSlide .slidebox {
    position:absolute;
    right: 10px;
    left: auto;
    z-index:30;
    bottom:30px;
}
.newsSlide .slidebox ul li {
    float:left;
    height:12px;
    margin:4px 4px;
}
.newsSlide .slidebox ul li em {
    width:10px;
    height:10px;
    cursor:pointer;
    background:#fff;
    text-indent:-9999px;
    border-radius: 0;
    display:block;
}
.newsSlide .slidebox ul li.current em{
    background: #72af2d;
}
/*轮播css*/
/*新闻轮播css*/
.plate{
    margin-bottom: 20px;
    background: #fff;
}
.marB10{
    margin-bottom: 10px;
}
.topNews{
    padding: 0 10px 0 5px;
}
.leftNew{
    width: 870px;
}
.topList{
    width: 540px;
    padding-top: 10px;
}
.topList li{
    line-height: 25px;
    margin-bottom: 8px;
}
.topList.newsIndexList a{
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.newTitle{
    font-size: 18px;
    line-height: 38px;
}
.listNew{
    padding: 5px 10px 10px 5px;
    height: 285px;
}
.listNew li{
    line-height: 34px;
}
.listNew li span{
    float: right;
}
.newsVideo{
    height: 290px;
    width: 328px;
    box-sizing: border-box;
    border-left: 1px solid #e5e8e9;
}
.newsVideo .newTitle{
    padding: 0 10px;
    border-bottom: 1px solid #e5e8e9;
}
.noticeList{
    padding: 10px 10px 0;
}
.noticeList.topList{
    width: 100%;
    box-sizing: border-box;
}
.noticeList li{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.topNav li.active {
    background: #005faa;
}
.topNav li a{
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}
.topList li a:hover{
    color: #008cd3;
}
.topNews .newTitle a{
    color: #008cd3;
    margin-left: 10px;
    font-size: 14px;
}
.newTitle span{
    float: right;
    font-size: 12px;
    color: #999;
}
.icon_tb{
    background: url("icon_sy.png");
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
}
.icon_my{
    background-position: 0 0;
}
.syTitle{
    height: 46px;
    line-height: 46px;
    padding: 0 12px;
    border-bottom: 1px solid #e5e8e9;
}
.syTitle .icon_tb{
    margin-right: 5px;
}
.syTitleName{
    font-size: 20px;
    color: #333;
}
.syTitle a{
    color: #008cd3;
    margin-left: 20px;
}
.little{
    background: url("icon_lettle.png");
    display: inline-block;
}
.icon_lettle{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.icon_diseaseList{
    background-position: -18px 0;
    width: 42px;
    height: 52px;
    margin: 58px 0 12px;
}
.doctorList{
    padding: 5px 5px;
    width: 1050px;
}
.doctorList li{
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 284px;
    display: none;
}
.doctorList li .IntroduceMask{
    position: absolute;
    left: 0;
    bottom: -43px;
    width: 100%;
    height: 134px;
    background: rgba(255,255,255,.75);
    text-align: center;
    transition: all  .5s;
    transition: all  .5s;
    -moz-transition: all  .5s; /* Firefox 4 */
    -webkit-transition: all  .5s; /* Safari and Chrome */
    -o-transition: all  .5s; /* Opera */
    cursor: pointer;
}
.IntroduceMask:hover{
    /*bottom: 0;*/
    transform: translate(0,-43px);
    -ms-transform: translate(0,-43px);		/* IE 9 */
    -webkit-transform: translate(0,-43px);	/* Safari and Chrome */
    -o-transform: translate(0,-43px);		/* Opera */
    -moz-transform: translate(0,-43px);		/* Firefox */
}
.doctorList li .IntroduceMask h5{
    color: #333;
    font-size: 20px;
    line-height: 34px;
    margin-top: 7px;
    font-weight: normal;
}
.doctorList li .IntroduceMask p{
    line-height: 25px;
}
.doctorBtn{
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
}
.doctorBtn a{
    width: 50%;
    height: 38px;
    line-height: 38px;
    color: #fff;
    text-align: center;
    display: inline-block;
}
.doctorBtn a:first-child{
    background: #008cd3;
}
.doctorBtn a:last-child{
    background: #72af2d;
}
.consults{
    width: 135px;
    border-left: 1px solid #e5e8e9;
    text-align: center;
}
.consults i{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 27px 0 5px;
    background: url("icon_commit.png");
}
.consults li{
    border-bottom: 1px solid #f5f5f5;
    height: 118px;
}
.consults li:nth-child(2) i{
    background-position: 0 -48px;
}
.consults li:nth-child(3) i{
    background-position: 0 -96px;
}
.consults li:nth-child(4) i{
    background-position: 0 -144px;
}
.consults li:nth-child(5) i{
    background-position: 0 -192px;
}
.syTitle .attentions{
    float: none;
    color: #999999;
    margin-left: 5px;
}
.icon_attention{
    background-position: 0 -38px;
}
.askBtn{
    text-align: center;
    padding-bottom: 10px;
}
.askBtn a{
    width: 240px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    background: #008cd3;
    color: #fff;
}
.illnessCheck{
    padding: 11px 30px;
    line-height: 45px;
}
.illnessCheck input[type=checkbox]{
    vertical-align: sub;
    margin-right: 3px;
}
.illnessCheck span{
    width: 12%;
    display: inline-block;
}
.icon_department{
    background-position: 0 -76px;
}
.sexCenters{
    padding: 4px 10px 20px;
}
.sexCenters>li{
    width: 562px;
}
.sexCenters>li>p{
    line-height: 43px;
    border-bottom: 1px solid #e5e8e9;
}
.sexCenters>li>p em{
    line-height: 43px;
    font-size: 18px;
    display: inline-block;
    border-bottom: 2px solid #008cd3;
}
.sexCenters>li>p span{
    text-align: right;
}
.centerOne{
    height: 224px;
    padding: 14px 0;
}
.marR16{
    margin-right: 16px;
}
.centerOneHref{
    margin-top: 4px;
    overflow: hidden;
}
.centerOneHref li{
    width: 72px;
    line-height: 50px;
    text-align: center;
    height: 50px;
    background: #008cd3;
    margin-right: 4px;
}
.sexCenters>li:nth-child(2n){
    float: right;
}
.centerOneHref li a{
    color: #fff;
}
.centerOneHref li:last-child{
    margin-right: 0;
}
.centerOneSituation{
    width: 225px;
    padding-right: 20px;
}
.centerOneSituation p{
    position:relative;
    overflow:hidden;
}
.icon_equipment{
    background-position: 0 -114px;
}
.departmentsImg{
    padding: 20px 14px 0;
}
.departmentsImg li{
    margin: 0 5px;
}
.departmentsImg li div{
    width: 378px;
    height: 298px;
    line-height: 298px;
    text-align: center;
    border: 1px solid #ccc;
}
.departmentsImg li p{
    line-height: 46px;
    margin-bottom: 6px;
    text-align: center;
}
.honorTitle{
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.honorTitle li{
    height: 45px;
    line-height: 45px;
    width: 50%;
    background: #72af2d;
}
.honorTitle li:last-child{
    background: #008cd3;
}
.honorImgs{
    padding: 6px;
}
.honorImgs li{
    margin: 4px;
}
.icon_environment{
    background-position: 0 -152px;
}
.blackBg{
    background: #000;
    color: #999;
}
.footContent{
    background: #000;
    padding: 16px 0 20px;
}
.footContent li{
    padding: 0 30px;
}
.footContent li h5{

}
.footContent li p{
    line-height: 36px;
}
.footContent h5{
    color: #fff;
}
.tel p:first-child{
    margin-top: 10px;
}
.tel p:last-child{
    text-indent: 4rem;
}
.toContact em{
    font-size: 24px;
    color: #008cd3;
    font-style: italic;
    line-height: 1;
}
.footContent>ul>li:nth-child(2){
    padding-top: 28px;
}
.links{
    padding-top: 10px;
}
.links a{
    color: #999;
}
.links{
    width: 330px;
}
.links p{
    width: 140px;
    float: left;
    margin-right: 20px;
}
.footContent li:nth-child(2){
    padding: 0 30px 0 0;
}

.footContent li:nth-child(3){
    padding: 0 0 0 10px;
}
.footContent li:nth-child(4){
    padding-left: 20px;
}
.footContent li:nth-child(4) li{
    padding: 0 20px;
    color: #fff;
    text-align: center;
}
.diseaseList li p{
    line-height: 1;
}
.icon_eye{
    width: 58px;
    height: 56px;
    margin-top: 10px;
    display: inline-block;
    background: url("eye_tb.png") 0 -11px;
}
.icon_eye2{
    background-position: -78px -11px;
}
.icon_eye3{
    background-position: -156px -11px;
}
.icon_eye4{
    background-position: -235px -11px;
}
.icon_eye5{
    margin: 0 0 10px;
    background-position: -313px 0px;
}
.icon_eye6{
    background-position: -391px -10px;
}
.icon_eye7{
    background-position: -469px -11px;
}
.icon_eye8{
    background-position: -547px -11px;
}
.icon_eye9{
    background-position: -625px -11px;
}
.icon_eye10{
    background-position: 0 -78px;
}
.icon_eye11{
    background-position: -78px -78px;
}
.icon_eye12{
    background-position: -156px -78px;
}
.icon_eye13{
    background-position: -235px -78px;
}
.icon_eye14{
    background-position: -313px -78px;
}
.icon_eye15{
    background-position: -391px -78px;
}
.icon_eye16{
    background-position: -469px -78px;
}
.icon_eye17{
    background-position: -547px -70px;
    height: 62px;
    margin-top: 2px;
}
.icon_eye18{
    background-position: -625px -78px;
}
/*新闻中心*/

.newsSlide .inner{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    background: #008cd3;
    color: #fff;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    left: 0;
}
.newsSlide .inner p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*新闻中心*/
.depRight li *{
    position: relative;
}
/*css3动画开始*/
.depRight li b{
    position:absolute;
    width:100%;
    height:100%;
    background-color:#72af2d;
    background-color:#fff \9;
    opacity:0;
    left: 0;
    top:0;
    -webkit-animation:orangeOut 0.4s ease;
    animation:orangeOut 0.4s ease;
    z-index: 0;
}
.depRight li:hover b{
    width:100%;
    height:100%;
    opacity:1;
    -webkit-animation:orangeIn 0.2s ease;
    animation:orangeIn 0.2s ease;
    background-color:#72af2d \9;
}

@-webkit-keyframes orangeIn {
    0% {
        -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
        opacity:0
    }
    100% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
@-moz-keyframes orangeIn {
    0% {
        -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
        opacity:0
    }
    100% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
@-ms-keyframes orangeIn {
    0% {
        -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
        opacity:0
    }
    100% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
@keyframes orangeIn {
    0% {
        -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
        opacity:0
    }
    100% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}

@-webkit-keyframes orangeOut {
    0% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    100% {
        -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
        opacity:0
    }
}
@-moz-keyframes orangeOut {
    0% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    100% {
        -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
        opacity:0
    }
}
@-ms-keyframes orangeOut {
    0% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    100% {
        -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
        opacity:0
    }
}
@keyframes orangeOut {
    0% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    100% {
        -webkit-transform:scale(0.8);
        -ms-transform:scale(0.8);
        transform:scale(0.8);
        opacity:0
    }}
/*css3动画结束*/
.plate .honorplate{
    display: none;
}
.plate div.honorContainer{
    display: block;
    padding: 28px 0;
}
.commitAllImgs img{
    height: 181px;
}
.commitAllImgs{
    padding: 6px 7px;
}
.hosEnvironment li{
    text-align: center;
    line-height: 224px;
}
.commitAllImgs li,.hosEnvironment li{
    position: relative;
}
.photoMask{
    opacity:0;
    filter:alpha(opacity=0);
    position:absolute;
    bottom:0;
    display:table;
    width:100%;
    height:100%;
    background-color:#000000;
    background-color:rgba(0,0,0,0.4);
    color:#FFFFFF;
    display:table-cell;
    vertical-align:middle;
    overflow:hidden;
}
.photoMask:before,.photoMask:after{
    position:absolute;
    top:30px;
    right:30px;
    bottom:30px;
    left:30px;
    content:'';
    opacity:0;
    pointer-events:none;
    -webkit-transition:opacity 0.85s,
    -webkit-transform 0.85s;
    transition:opacity 0.85s,
    transform 0.85s;
}
.photoMask:before{
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    -webkit-transform:scale(0,1);
    transform:scale(0,1);
    border-color:rgba(255,255,255,0.4);
}
.photoMask span{
    display:inline-block;
    font-size:14px;
    margin: 20% 16%;
    height:100%;
}
.hosEnvironment li span{
    margin: 0 16px;
}
.photoMask:after{
    border-right:1px solid #fff;
    border-left:1px solid #fff;
    -webkit-transform:scale(1,0);
    transform:scale(1,0);
    border-color:rgba(255,255,255,0.4);}
.commitAllImgs li:hover .photoMask:before,.commitAllImgs li:hover .photoMask:after,
.hosEnvironment li:hover .photoMask:before,.hosEnvironment li:hover .photoMask:after{
    opacity:1;
    -webkit-transform:scale(1);
    transform:scale(1);
}
.commitAllImgs li:hover .photoMask{
    opacity:1;
}
.hosEnvironment li:hover .photoMask{
    opacity:1;
}
//改版新增