// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.dIntroduction p{
  line-height: 30px;
  margin-bottom: 0;
  text-align: center;
}
.mechineImg{
  width: 300px;
}
.hrefTo{
  background: url("news_jszb_5.png") no-repeat;
  padding:0 10px 50px;
  background-position: 0 bottom;
}
.hrefTo p{
  margin-bottom: 0;
}
.hrefTo a{
  margin-left: 2rem;
}
.liveDetail{
  width: 670px;
}
.borderGray{
  border: 1px solid rgba(204,204,204,.2);
}
.borderGray img{
  width: 260px;
}
.marB_30{
  margin-bottom: 30px;
}
.hrefTitWord em{
  font-style: normal;
  color: #ff4f4f;
}