// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.dIntroduction p{
  line-height: 30px;
  margin-bottom: 0;
  text-align: center;
}
.mechineImg{
  width: 300px;
}
.hrefTo{
  background: url("news_jszb_5.png") no-repeat;
  padding:0 10px 50px;
  background-position: 0 bottom;
}
.hrefTo p{
  margin-bottom: 0;
}
.hrefTo a{
  margin-left: 2rem;
}
.liveDetail{
  width: 670px;
}
.borderGray{
  border: 1px solid rgba(204,204,204,.2);
}
.borderGray img{
  width: 260px;
}
.marB_30{
  margin-bottom: 30px;
}
.hrefTitWord em{
  font-style: normal;
  color: #ff4f4f;
}
.pictureShadow{
  box-shadow: 1px 1px 10px #ccc;
}
.activeCodeImg{
  width: 200px;
}
.redWord{
  color: #ff4f4f;
}
.bottomLineHeight p{
  line-height: 28px;
  margin-bottom: 5px;
}
.bmNewsContainer{
  width: 560px;
  margin: 0 auto;
}
.newsMain .bmNewsContainer p{
  text-indent: 0;
}
.padT20{
  padding-top: 20px;
}
.width200{
  width: 200px;
}
.expertHonors p{
  margin-bottom: 8px;
}
.tableTwoTle{
  padding: 5px 0;
}
.tableTwoTle p{
  line-height: 36px;
  margin-bottom: 0;
}
.downContainer a{
  font-size: 16px;
  color: #008cd3;
}
.downContainer a:hover{
  color: #72af2d;
}
.newsMain .jobTable td  p{
  text-align: center;
  text-indent:0;
}
.bordertab{
  width:70%;
}
.bordertab td,.bordertab th{
  border:1px solid #ccc;
  text-align:center;
}
