<!--科学教研-->
<div class="middle">
  <ul class="column flow flParent ophthalmology">
    <li>
      <h5>眼科学院</h5>
      <div class="allWidthImg">
        <%= link_to image_tag("ykxy.jpg"),science_path(:'2017年博士生研究生录取办法') %>
      </div>

    </li>
    <li class="fr">
      <h5>眼科研究院</h5>
      <div class="allWidthImg">
        <%= link_to image_tag("ykyjy.jpg"),science_path(:召开本科教学审核评估工作动员会) %>
      </div>
    </li>
  </ul>
  <div class="eyeResearchNews">
    <p class="eyeNewsTitle"><span>最新资讯</span></p>
    <div>
      <%= link_to :'成都中医药大学眼科学院2017年攻读博士学位研究生拟录取名单',science_path(:成都中医药大学眼科学院2017年攻读博士学位研究生拟录取名单), class:"hrefTitWord" %>
    </div>
    <div>
      <%= link_to :'眼科学院关于开展2017年岗位晋升及聘任工作的通知',science_path(:眼科学院关于开展2017年岗位晋升及聘任工作的通知), class:"hrefTitWord" %>
    </div>
  </div>
</div>
  <!--科学教研-->
