<%= render "sciences/top_banner" %>
<div class="main flow marT10">
    <%= render "sciences/science_left" %>
    <div class="developHistoryCon whiteBg fr">
        <div class="developHistory line24">
            <div class="borderBTle lineBBorder">
                <span class="font24">人才培养</span>Talents Education
            </div>
            <p class="marT20"><b>拥有从本科博士后的完整人才培养体系</b></p>
            <%= image_tag("talent-training.jpg") %>
        </div>
    </div>
</div>