<div class="middle flow recruitNoticeCon">
    <div class="recruitNotice">
        <div class="recruitNoticeTle">
            <h5>关于开展2017年岗位晋升及聘任工作的通知</h5>
            <p class="rightWord">2017-06-23</p>
        </div>

        <p>各系/中心、教研室：</p>
        <div class="indentWord">
            <p>根据学校《关于开展2017年岗位晋升及聘任工作的通知》（成中医人事〔2017〕28号）精神，经学院研究，结合学院实际，制定了《眼科学院2017年岗位晋升及聘用工作实施方案》，现将有关事项通知如下。 </p>
            <p><b>一、岗位晋升与聘用的岗位类别及人员范围</b></p>
            <p><b>（一）岗位类别：</b></p>
            <p>专业技术岗位。</p>
            <p><b>（二）人员范围：</b></p>
            <p>1、专业技术岗位：专业技术岗位晋升及聘任范围为学校在编在岗专业技术人员。同级专业技术职务内岗位等级逐级递晋，不可越级晋升，即正高四级可申报晋升三级，副高七级可申报晋升六级、六级可申报晋升五级，中级十级可申报晋升九级、九级可申报晋升八级，初级十二级可申报晋升十一级。</p>
            <p><b>二、岗位晋升与聘用原则 </b></p>
            <p><b>（一）坚持公开、公平、公正。</b></p>
            <p><b>（二）坚持严格标准、规范程序、择优晋升/推荐。</b></p>
            <p><b>三、岗位等级晋升及聘用条件</b></p>
            <p><b>（一）专业技术岗位</b></p>
            <p>1、专业技术三级岗位：专业技术三级岗位属于学校统一管理的专业技术岗位，其岗位等级晋升及聘任条件严格按照学校文件执行（见附件1、2）。</p>
            <p>2、五级及以下专业技术岗位：学院根据学校文件精神，以及学校下达给学院2017年各岗位等级晋升及聘任指标数，结合学院实际情况制定了《眼科学院2017年五级及以下专业技术岗位晋升参评业绩条件》（见附件3）。</p>
            <p><b>四、竞聘程序</b></p>
            <p>1、个人申请。专业技术岗位晋升人员填写《成都中医药大学2017年专业技术岗位聘任申请表》（附件4）</p>
            <p>2、所在单位初审。申请人所在教研室/科室审核后在“申请人所在单位初审意见”根据要求填写意见。</p>
            <p>3、材料上报。申请人将个人申报材料（申报表、申报附件材料原件及复印件）上报学院。</p>
            <p>4、材料复核。由学院岗位晋升及聘任工作领导小组办公室对申请人材料进行复核。</p>
            <p>5、评议与评审。召开专业技术/职员聘任工作小组会议，对申报专业技术三级岗位人员材料进行推荐评议；对专业技术五级及以下岗位人员材料进行评审。</p>
            <p>6、审核。</p>
            <p>7、公示。</p>
            <p>8、上报材料。</p>
            <p><b>五、岗位指标</b></p>
            <p><b>（一）专业技术岗位指标</b></p>
            <p>1、专业技术三级岗位。学校2017年三级专业技术岗位晋升总数不超过10名。</p>
            <p>2、学校下达眼科学院2017年专业技术岗位晋升及聘用指标如下表。</p>
            <table class="schTable">
                <tr>
                    <th rowspan="3" class="noBg">类别</th>
                    <th colspan="3">副高</th>
                    <th colspan="3">中级</th>
                    <th colspan="2">初级</th>
                </tr>
                <tr>
                    <td>五级</td>
                    <td>六级</td>
                    <td>七级</td>
                    <td>八级</td>
                    <td>九级</td>
                    <td>十级</td>
                    <td>十一级</td>
                    <td>十二级</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </table>
            <p><b>六、时间安排</b></p>
            <table class="schTable">
                <tr>
                    <td>日期</td>
                    <td>工作内容</td>
                </tr>
                <tr>
                    <td>6月23日-6月26日</td>
                    <td class="textLeft">发布本轮岗位晋升与聘用公告，应聘者填写《成都中医药大学大学专业技术岗位聘用申请表》，准备申报材料</td>
                </tr>
                <tr>
                    <td>6月27日</td>
                    <td class="textLeft">
                        <p>1、受理申报，申报材料（申请表和业绩证明材料）提交学院办公室</p>
                        <p>2、申报人员业绩公示</p>
                    </td>
                </tr>
                <tr>
                    <td>6月28日</td>
                    <td class="textLeft">审查材料，评审</td>
                </tr>
                <tr>
                    <td>6月29日</td>
                    <td class="textLeft">评聘结果公示</td>
                </tr>
                <tr>
                    <td>6月30日</td>
                    <td class="textLeft">上报人事处</td>
                </tr>
            </table>
            <p>七、本实施方案由学院岗位晋升与聘任领导小组办公室负责解释，未尽事宜按照学校相关规定研究决定。</p>
            <p><b>八、附件下载</b></p>
            <p><a href="./assets/附件资料.zip" download class="downLoad">附件资料 <span>点击下载</span></a></p>
            <p>联系人：赵瑛 联系电话：13980751843</p>
            <p>特此通知</p>
            <div class="rightWord">
                <p>眼科学院</p>
                <p>2017年6月23日</p>
            </div>
        </div>
    </div>
</div>





