<%= render "sciences/top_banner" %>
<div class="main flow marT10">
    <%= render "sciences/science_left" %>
    <div class="developHistoryCon whiteBg fr">
        <div class="centerH5 ">
            <p>发展历程</p>
            <p class="blueSmaTle"><span>Development History</span></p>
        </div>
        <div class="developHistory line24">
            <ul class="fl">
                <li>
                    <p class="time"><span>1956</span>年</p>
                    <p>全国著名中医眼科专家陈达夫教授创建成都中医学院中医眼科学科</p>
                </li>
                <li>
                    <p class="time"><span>1975</span>年</p>
                    <p>举办首届卫生部“全国中医院校眼科师资班”</p>
                </li>
                <li>
                    <p class="time"><span>1977</span>年</p>
                    <p>成立中医眼科学教研组</p>
                </li>
                <li>
                    <p class="time"><span>1978</span>年</p>
                    <p>招收首届中医眼科硕士研究生</p>
                </li>
                <li>
                    <p class="time"><span>1978</span>年</p>
                    <p>陈达夫教授所著《中医眼科六经法要》获全国科技大会奖</p>
                </li>
                <li>
                    <p class="time"><span>1979</span>年</p>
                    <p>成立中医眼科学教研室</p>
                </li>
                <li>
                    <p class="time"><span>1986</span>年</p>
                    <p>主编全国高等医药院校《中医眼科学》教材，主编历版统编（规划）教材</p>
                </li>
                <li>
                    <p class="time"><span>1988</span>年</p>
                    <p>开办全国第一批中医五官专业本科教育</p>
                </li>
                <li>
                    <p class="time"><span>1990</span>年</p>
                    <p>招收全国首届中医眼科博士研究生</p>
                </li>
                <li>
                    <p class="time"><span>1996</span>年</p>
                    <p>四川省重点学科</p>
                </li>
                <li>
                    <p class="time"><span>1999</span>年</p>
                    <p>国家中医药管理局三级科研实验室</p>
                </li>
                <li>
                    <p class="time"><span>2001</span>年</p>
                    <p>国家中医药管理局重点学科</p>
                </li>
                <li>
                    <p class="time"><span>2002</span>年</p>
                    <p>中医五官国家重点学科</p>
                </li>
                <li>
                    <p class="time"><span>2005</span>年</p>
                    <p>中央与地方共建高校基础实验室</p>
                </li>
            </ul>
            <ul class="fr">
                <li>
                    <p class="time"><span>2007</span>年</p>
                    <p>中央与地方共建高校特色优势实验室</p>
                </li>
                <li>
                    <p class="time"><span>2008</span>年</p>
                    <p>四川省重点实验室、国家中医药管理局重点研究室</p>
                </li>
                <li>
                    <p class="time"><span>2009</span>年</p>
                    <p>四川省视力保护科普基地（国内首家省级视力保护科普馆）</p>
                </li>
                <li>
                    <p class="time"><span>2010</span>年</p>
                    <p>国家级精品课程-《中医眼科学》</p>
                </li>
                <li>
                    <p class="time"><span>2011</span>年</p>
                    <p>《中医眼耳鼻喉杂志》出刊，面向国内外公开发行</p>
                </li>
                <li>
                    <p class="time"><span>2011</span>年</p>
                    <p>国家临床重点专科</p>
                </li>
                <li>
                    <p class="time"><span>2013</span>年</p>
                    <p>首届中医眼科博士后进站</p>
                </li>
                <li>
                    <p class="time"><span>2014</span>年</p>
                    <p>四川省政府科技进步特等奖</p>
                </li>
                <li>
                    <p class="time"><span>2015</span>年</p>
                    <p>成都中医药大学眼科学院成立，同时开办眼视光本科专业</p>
                </li>
                <li>
                    <p class="time"><span>2015</span>年</p>
                    <p>四川省视网膜图像技术与慢性血管性疾病防治协同创新中心</p>
                </li>
                <li>
                    <p class="time"><span>2015</span>年10月30日</p>
                    <p>国家中医药管理局人事教育司司长卢国慧为成都中医药大学眼科学院授牌。</p>
                </li>
                <li>
                    <p class="time"><span>2017</span>年</p>
                    <p>四川省眼与视觉健康产业技术研究院</p>
                </li>
                <li>
                    <p class="time"><span>2017</span>年</p>
                    <p>全国率先开办八年制中医学专业“陈达夫班”</p>
                </li>
            </ul>
        </div>
    </div>
</div>