<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>右眼裂孔性视网膜脱离1例</h5>
        </div>

        <div>
            <p class="newsCaption"><b>视网膜脱离系列一</b></p>
            <p>患者男性，48岁。因“右眼下方黑影遮挡伴视力下降3天”入院。既往双眼近视约-2.0DS。查右眼视力：裸眼0.25，戴镜0.15，矫正：+2.50DS/-2.00DC×85°=0.1，眼压10mmHg，晶体C1N1P0混浊，余前节（-）。玻璃体混浊（++），视网膜9:30-3:00泡状脱离，累及黄斑区，12:30钟点位见一马蹄形裂孔，大小约1×1/3DD，距角膜缘约16mm。余视网膜平伏（如图1）。左眼视力：裸眼0.2，戴镜0.4，矫正：-0.75DS/-2.50DC×100°=1.2：眼球前段及眼底未见明显异常。</p>
            <div class="newsImgMar">
                <%= image_tag("bl-img1.jpg") %>
                <p>图1 右眼广域眼底照相，上方视网膜泡状脱离，箭头指视网膜裂孔</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("bl-img2.jpg") %>
                <p>图2  OCT显示右眼黄斑视网膜脱离</p>
            </div>
            <p>入院诊断：1.右眼裂孔性视网膜脱离（PVR B级）；2. 右眼年龄相关性白内障；3.双眼近视</p>

        </div>
    </div>
</div>




