<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--<link rel="stylesheet" href="../../assets/stylesheets/commom.css">-->
    <!--<link rel="stylesheet" href="../../assets/stylesheets/index.css">-->
    <!--<link rel="stylesheet" href="../../assets/stylesheets/centers.css">-->
<!--</head>-->
<!--<style>-->

<!--</style>-->
<!--<body>-->
<!--<div class="main">-->
    <div class="middle admitTableContainer">
        <table class="schTable admitTable">
            <tr>
                <th colspan="15">成都中医药大学眼科学院2017年攻读博士学位研究生拟录取名单</th>
            </tr>
            <tr class="tableType">
                <td>考生编号</td>
                <td>姓名</td>
                <td>性别</td>
                <td>外国语</td>
                <td>成绩</td>
                <td>业务课一</td>
                <td>成绩</td>
                <td>业务课二</td>
                <td>成绩</td>
                <td>总分</td>
                <td>录取类别</td>
                <td>录取专业名称</td>
                <td>录取研究方向</td>
                <td>复试成绩</td>
                <td>导师</td>
            </tr>
            <tr>
                <td>10633711005000201</td>
                <td>赵颖</td>
                <td>女</td>
                <td>英语</td>
                <td>53</td>
                <td>中医诊断学</td>
                <td>61</td>
                <td>中医眼科学</td>
                <td>84</td>
                <td>198</td>
                <td>统招</td>
                <td>中医五官科学</td>
                <td>中医药防治眼病及视功能保护的研究</td>
                <td>96</td>
                <td>路雪婧</td>
            </tr>
            <tr>
                <td>10633711005000202</td>
                <td>袁晨</td>
                <td>女</td>
                <td>英语</td>
                <td>41</td>
                <td>中医诊断学</td>
                <td>62</td>
                <td>中医眼科学</td>
                <td>84</td>
                <td>187</td>
                <td>统招</td>
                <td>中医五官科学</td>
                <td>中医药防治眼病及视功能保护的研究</td>
                <td>97</td>
                <td>谢学军</td>
            </tr>
            <tr>
                <td>10633711057000072</td>
                <td>王芳</td>
                <td>女</td>
                <td>英语</td>
                <td>43</td>
                <td>中医诊断学</td>
                <td>66</td>
                <td>中医眼科学</td>
                <td>82</td>
                <td>191</td>
                <td>统招</td>
                <td>中医五官科学</td>
                <td>中医治疗眼底病的临床研究</td>
                <td>95</td>
                <td>郑燕林</td>
            </tr>
            <tr>
                <td>10633711057000075</td>
                <td>李园媛</td>
                <td>女</td>
                <td>英语</td>
                <td>44</td>
                <td>中医诊断学</td>
                <td>70</td>
                <td>中医眼科学</td>
                <td>74</td>
                <td>188</td>
                <td>统招</td>
                <td>中医五官科学</td>
                <td>中医治疗眼底病的临床研究</td>
                <td>93</td>
                <td>郑燕林</td>
            </tr>
        </table>
    </div>
<!--</div>-->
<!--</body>-->
<!--</html>-->