<div class="middle flow">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>眼科研究院</h5>
            <P class="rightWord">2017-04-28</P>
        </div>
        <div class="teachReview">
            <p>为贯彻落实学校本科教学审核评估工作精神，眼科学科于2017年4月28日上午8点30分，在十二桥校区一教三楼会议室召开了本科教学审核评估工作动员会。学科院长/党委书记段俊国、科教学生部主任路雪婧、学科办公室主任陶铮、各教研室主任、教学秘书及学科所有教师参加了本次会议，会议由路雪婧主任主持。</p>
            <div class="newsImgMar">
                <%= image_tag("jxsh_1.jpg") %>
            </div>
            <p>院长段俊国首先做动员讲话，从思想认识、学科管理及医教研协调发展等方面进行了动员部署。段院长指出：第一，深化认识，统一思想。要求全院员工认真学习学校相关文件和会议精神，进一步认识本科教学评估的重要性；第二，切实做好“以评促建、以评促改”。面对此次教育部的审核评估工作，全体干部职工不应该仅仅抱着应付检查的态度，而应该借着此次检查规范学科内部的日常教学工作，推进教学改革工作。特别是要抓住评审契机，切实做好“以评促建、以评促改、评建结合、重在建设”的评估要求，做好眼视光学这一新增专业人才培养体系构建，教研室发动，学科支持，把评估过程变成规范、提高的过程；第三，加强管理，完善制度。眼科学科作为新学科，尤其应加强制度建设，强化教学管理，学科将完善各教研室教学秘书队伍，督促全员参与，落实制度；第四，处理好医教研协调发展关系。眼科学科坚持“三院一体”发展，全体员工应该深刻认识，处理好医教研关系，均衡发展，统筹兼顾，做好各项工作。</p>
            <div class="newsImgMar">
                <%= image_tag("jxsh_2.jpg") %>
            </div>
            <p>科教学生部主任路雪婧传达了学校召开的本科教学审核评估大会的主要内容和精神，也交流了学科间互查试卷的经验和体会。特别强调有教学经验的教师要摒弃过去不合规范的做法，改变惯性思维，年轻教师更应该凡事按规范行事；希望每位教师都认真学习学校下发的文件资料，不要把规范一味归结为“形式主义”，只有建立和落实这些规范，才有利于学科发展。</p>
            <div class="newsImgMar">
                <%= image_tag("jxsh_3.jpg") %>
            </div>
            <p>此次眼科学科教学审核评估动员大会，段院长、路主任以教学改革工作为出发点，向全院教职工强调了教学审核评估工作的重要性，聚全院之力，为共同迎接审核评估做足准备。在接下来的工作中，我院将秉承本次会议精神，将规范落到日常，切实推进本院教学改革，为全校教改工作添砖加瓦。</p>
        </div>
    </div>
</div>


