<%= render "sciences/top_banner" %>
<div class="main flow marT10">
    <%= render "sciences/science_left" %>
    <div class="developHistoryCon whiteBg fr">
        <div class="developHistory line24">
            <p class="fontB18 marT20 marB20">教材专著及课程建设</p>
            <div class="thisIndent2">
                <p>主编了自1986年以来全国高等中医院校统编教材及规划教材《中医眼科学》、《中西医结合眼科学》，研究生规划教材《中医眼科临床研究》，中医眼科学是国家级精品课程。主编国家级专业著作《中华医学百科全书》中医眼科分卷和《实用中医五官辞典》、副主编、编委编写《中华大典·医学分典》、《中医大辞典》、《中西医结合糖尿病学》等著作。</p>
                <p>《中医眼科学》（课程）为国家级和省级精品课程，省级精品在线开放课程。</p>
            </div>
            <div class="centerImgCon">
                <%= image_tag("bookList.jpg") %>
            </div>
            <p class="fontB18 marT20 marB20">科研及成果</p>
            <p class="thisIndent2">历年来承担并完成国家重大科技专项、国家重大科学仪器专项、国家863计划、“九五”及“十五”国家科技攻关、“十一五”“十二五”“十三五”国家科技支撑计划、国家国际科技合作专项、国家公益科技专项、国家自然科学基金等课题90余项，获得包括省科技进步特等奖、一等奖在内的重大科技进步奖30余项，获得国家新药证书及临床研究批件4项，科技成果转化约6千万元，研发上市眼科创新中药新药2个，2017年双双被纳入国家医保目录。</p>
            <table class="projectList">
                <tr>
                    <th>项目来源</th>
                    <th class="width150">数目</th>
                    <th>经费</th>
                    <th>承担角色</th>
                </tr>
                <tr>
                    <td>国家重大仪器设备专项</td>
                    <td>1</td>
                    <td>6256万</td>
                    <td>项目负责人</td>
                </tr>
                <tr>
                    <td>国家重大科技专项</td>
                    <td>3</td>
                    <td>1572万</td>
                    <td>项目负责人</td>
                </tr>
                <tr>
                    <td>国家863计划重大项目</td>
                    <td>2</td>
                    <td>430万</td>
                    <td>项目负责人</td>
                </tr>
                <tr>
                    <td>国家科技攻关与支撑计划</td>
                    <td>9</td>
                    <td>700万</td>
                    <td>项目负责人</td>
                </tr>
                <tr>
                    <td>国家国际合作专项</td>
                    <td>1</td>
                    <td>351万</td>
                    <td>项目负责人</td>
                </tr>
                <tr>
                    <td>国家中医专项建设</td>
                    <td>1</td>
                    <td>8300万</td>
                    <td>项目负责人</td>
                </tr>
                <tr>
                    <td>国家公益行业科技专项</td>
                    <td>3</td>
                    <td>973万</td>
                    <td>项目负责人</td>
                </tr>
                <tr>
                    <td>国家自然科学基金</td>
                    <td>18</td>
                    <td>254万</td>
                    <td>项目负责人</td>
                </tr>
            </table>
        </div>
    </div>
</div>