<!--底部-->
<div class="blackBg">
  <div class="main footContent">
    <ul class="flParent flow">
      <li class="toContact">
        <h5>联系我们</h5>
        <div class="tel">
          <p>咨询电话：<em>400 9900 766</em></p>
          <p><em>028-68398866</em></p>
        </div>
      </li>

      <li>
        <p>医院地址：成都市金牛区星辉西路8号</p>
        <p>医院邮箱：  ineyehospital@126.com</p>
        <!-- <p>©2017蜀ICP备16014830号-1</p> -->
      </li>

      <li>
        <h5>友情链接&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
        <div class="links">
          <p><a href="http://www.sctcm.gov.cn/" target="_blank">四川省中医药管理局</a></p>
          <p><a href="http://www.cdwjw.gov.cn/" target="_blank">成都卫计委</a></p>
          <p><a href="http://www.scwst.gov.cn/" target="_blank">四川省卫计委</a></p>
          <p><a href="http://www.jinniu.gov.cn/" target="_blank">成都市金牛区政府</a></p>
          <p><a href="http://www.pcdiabetes.org/" target="_blank">四川省糖尿病防治协会</a></p>
          <p><a href="http://www.cdutcm.edu.cn/" target="_blank">成都中医药大学</a></p>
        </div>
      </li>

      <li class="codeContainer">
        <ul>
          <li>
            <%= image_tag("wexin.jpg") %>
            <p class="addBold">医院服务号</p>
            <p>预约挂号</p>
          </li>
          <li>
            <%= image_tag("qrcode.jpg") %>
            <p class="addBold">医院订阅号</p>
            <p>新闻资讯</p>
          </li>
          <li>
            <%= image_tag("weibo.jpg") %>
            <p class="addBold">医院微博</p>
            <p>互动交流</p>
          </li>
        </ul>
      </li>

    </ul>
    <p style="margin-top: -30px">版权所有：成都中医大银海眼科医院 ©2017蜀ICP备16014830号-1</p>
  </div>
</div>
<!--底部-->
