<!--底部-->
<div class="blackBg">
  <div class="main footContent">
    <ul class="flParent flow">
      <li class="toContact">
        <h5>联系我们</h5>
        <div class="tel">
          <p>咨询电话：<em>400 9900 766</em></p>
          <p><em>028-68398866</em></p>
        </div>
      </li>
      <li>
        <p>医院地址：成都市金牛区星辉西路8号</p>
        <p>医院邮箱：  ineyehospital@126.com</p>
        <p>©2017蜀ICP备16014830号-1</p>
      </li>
      <li>
        <h5>友情链接</h5>
        <div class="links">
          <p><a href="http://www.sctcm.gov.cn/" target="_blank">四川省中医药管理局</a></p>
          <p><a href="http://www.cdwjw.gov.cn/" target="_blank">成都卫计委</a></p>
          <p><a href="http://www.scwst.gov.cn/" target="_blank">四川省卫计委</a></p>
          <p><a href="http://www.jinniu.gov.cn/" target="_blank">成都市金牛区政府</a></p>
          <p><a href="http://www.pcdiabetes.org/" target="_blank">四川省糖尿病防治协会</a></p>
          <p><a href="http://www.cdutcm.edu.cn/" target="_blank">成都中医药大学</a></p>
        </div>
      </li>
      <li>
        <ul>
          <li>
            <%= image_tag("wexin.jpg") %>
            <p>官方微信</p>
          </li>
          <li>
            <%= image_tag("weibo.jpg") %>
            <p>官方微博</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!--底部-->