<!--底部-->
<div class="blackBg">
  <div class="main footContent">
    <ul class="flParent flow">
      <li class="toContact">
        <h5>联系我们</h5>
        <div class="tel">
          <p>咨询电话：<em>400 9900 766</em></p>
          <p><em>028-68398866</em></p>
        </div>
      </li>
      <li>
        <p>医院地址：成都市金牛区星辉西路8号</p>
        <p>医院邮箱:  ineyehospital@126.com</p>
      </li>
      <li>
        <h5>友情链接</h5>
        <div class="links">
          <p><a href="">成都中医药大学</a></p>
          <p><a href="">市卫计局</a></p>
        </div>
      </li>
      <li>
        <ul>
          <li>
            <%= image_tag("wexin.jpg") %>
            <p>微信公众号</p>
          </li>
          <li>
            <%= image_tag("weibo.jpg") %>
            <p>微博二维码</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!--底部-->