<!--底部-->
<div class="blackBg">
  <div class="main footContent">
    <ul class="flParent flow">
      <li class="toContact">
        <h5>联系我们</h5>
        <div class="tel">
          <p>咨询电话：<em>028-60102011</em></p>
          <p><em>028-60102012</em></p>
        </div>
      </li>

      <li>
        <p>医院地址：成都市金牛区星辉西路8号</p>
        <p>医院邮箱：  ineyehospital@126.com</p>
        <!-- <p>©2017蜀ICP备16014830号-1</p> -->
      </li>


       <li>
        <!-- <h5>友情链接</h5> -->

      <li>
        <div class="links">
          <!-- <p><a href="http://www.sctcm.gov.cn/" target="_blank">四川省中医药管理局</a></p>
          <p><a href="http://www.cdwjw.gov.cn/" target="_blank">成都卫计委</a></p>
          <p><a href="http://www.scwst.gov.cn/" target="_blank">四川省卫计委</a></p>
          <p><a href="http://www.jinniu.gov.cn/" target="_blank">成都市金牛区政府</a></p>
          <p><a href="http://www.pcdiabetes.org/" target="_blank">四川省糖尿病防治协会</a></p>
          <p><a href="http://www.cdutcm.edu.cn/" target="_blank">成都中医药大学</a></p>
          <p><a href="http://www.sctcm.gov.cn/" target="_blank">四川省中医药管理局</a></p>
          <p><a href="http://www.cdwjw.gov.cn/" target="_blank">成都卫计委</a></p>
          <p><a href="http://www.scwst.gov.cn/" target="_blank">四川省卫计委</a></p>
          <p><a href="http://www.jinniu.gov.cn/" target="_blank">成都市金牛区政府</a></p>
          <p><a href="http://www.pcdiabetes.org/" target="_blank">四川省糖尿病防治协会</a></p>
          <p><a href="http://www.cdutcm.edu.cn/" target="_blank">成都中医药大学</a></p> -->
        </div>
      </li>

      <li class="codeContainer">
        <ul>
          <li>
            <%= image_tag("wexin.jpg",alt: '医院服务号') %>
            <p class="addBold">医院服务号</p>
            <p>预约挂号</p>
          </li>
          <li>
            <%= image_tag("qrcode.jpg",alt: '医院订阅号') %>
            <p class="addBold">医院订阅号</p>
            <p>新闻资讯</p>
          </li>
          <li>
            <%= image_tag("weibo.jpg",alt: '医院微博') %>
            <p class="addBold">医院微博</p>
            <p>互动交流</p>
          </li>
        </ul>
      </li>

    </ul>
    <p style="margin-top: -30px">版权所有：成都中医大银海眼科医院 ©2017蜀ICP备16014830号-1</p>
  </div>


  <div class="main footContent">
    <div class="blackBg_links">
        <hr></hr>
        <h5>友情链接</h5>
        <div class=blackBg_links_box>
              <p><a href="http://www.cdutcm.edu.cn/" target="_blank">成都中医药大学</a></p>
              <p class="mart0"><%= image_tag("logo2.png", alt: '成都中医药大学眼科学院') %></p>
              <!-- <p class="blackBg_links_box_left"><a href="http://www.cma.org.cn/" target="_blank">中华医学会</a></p>
              <p class="blackBg_links_box_two"><a href="http://www.cacm.org.cn/" target="_blank">中华中医药学会</a></p>
              <p><a href="http://www.cmda.net/" target="_blank">中国医师协会</a></p>
              <p><a href="http://www.scwst.gov.cn/" target="_blank">四川省卫计委</a></p>
              <p><a href="http://www.sctcm.gov.cn/" target="_blank">四川省中医药管理局</a></p>
              <p><a href="http://www.scst.gov.cn/" target="_blank">四川省科技厅</a></p>
              <p class="blackBg_links_box_left"><a href="http://www.cdwjw.gov.cn/" target="_blank">成都市卫计委</a></p>
              <p class="blackBg_links_box_two"><a href="http://www.pcdiabetes.org/" target="_blank">四川省糖尿病防治协会</a></p>
              <p><a href="http://hongguang.chengdu.gov.cn/" target="_blank">成都市金牛区政府</a></p>
              <p><a href="http://www.jinniu.gov.cn/jinniu/c111143/jy.shtml" target="_blank">金牛区教育局</a></p>
              <p><a href="http://www.cdutcm.edu.cn/" target="_blank">成都中医药大学</a></p>
              <p><a href="http://www.cd120.com/" target="_blank">四川大学华西医院</a></p>
              <p class="blackBg_links_box_left"><a href="http://www.trhos.com/" target="_blank">北京同仁医院</a></p>
              <p class="blackBg_links_box_two"><a href="http://www.gzzoc.com/" target="_blank">中山大学中山眼科中心</a></p>
              <p><a href="http://www.people.com.cn/" target="_blank">人民网</a></p>
              <p><a href="http://www.sctv.com/" target="_blank">四川电视台</a></p>
              <p><a href="http://www.cditv.cn/" target="_blank">成都电视台</a></p>
              <p><a href="http://www.huaxi100.com/" target="_blank">华西都市报</a></p>
              <p class="blackBg_links_box_left"><a href="http://e.chengdu.cn" target="_blank">成都商报</a></p>
              <p class="blackBg_links_box_two"><a href="http://www.cdxckb.com/" target="_blank">新城快报</a></p>
              <p><a href="http://www.qq.com/" target="_blank">腾讯网</a></p>
              <p><a href="https://news.163.com/" target="_blank">网易新闻网</a></p>
              <p><a href="http://cd.qq.com/" target="_blank">大成网</a></p>
              <p><a href="http://www.scgh114.com/" target="_blank">114挂号平台</a></p> -->
        </div>
    </div>
  </div>

  <!-- <div class="main footContent">
   <div class="blackBg_img">
    <%#= link_to image_tag("logo2.png", alt: '成都中医药大学眼科学院'), home_path(:学院简介) %>
    <%#= link_to image_tag("logo3.png", alt: '四川省眼与视觉健康产业技术研究院'), home_path(:研究院简介) %>
   </div>
  </div> -->
</div>

<!--底部友链-->

<script type="text/javascript" src="/assets/ineye/add.js"></script>
