<div class="right_fk">
  <p><span>关闭 <i class="fkIcon_close fkIcon_close"></i></span></p>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<style type="text/css">

</style>
