<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
<meta name="format-detection" content="telephone=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<title>银海眼科暑期高考近视手术征集活动正式启动_成都中医大银海眼科医院</title>
<meta name="keywords" content="银海眼科医院_银海眼科暑期高考近视手术_成都银海眼科医院">
<meta name="description" content="成都中医大银海眼科医院为成都中医药大学附属眼科医院，是集医、教、研三位于一体的研究型大型专科医院.医院治疗项目包括白内障、糖尿病视网膜病变、斜弱视矫正、干眼治疗、玻璃体疾病、屈光手术、近视防控等。">
    <%=stylesheet_link_tag "zt" %>
</head>

<style type="text/css">
</style>
  <body>
    <div>456</div>
    <div class="main">
      <%= yield %>
    </div>

  </body>
</html>
