<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">著名专家</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("experts_lw.png") %>
                </div>
                <div class="fl seniority">
                    <h5>刘文</h5>
                    <p>主任医师</p>
                    <p>教授 硕士研究生导师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>主要从事玻璃体视网膜疾病研究，擅长各种眼底疾病和复杂性视网膜脱离的手术治疗。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>刘文，教授，硕士研究生导师，获得国家和省级科研成果奖三项，从事眼科临床医疗工作35年。主要从事玻璃体视网膜疾病发病机制和诊断治疗的研究。特别擅长各种眼底疾病、复杂性视网膜脱离和外伤性视网膜脱离、以及糖尿病性眼底疾病的手术和激光治疗。</p>
            <p>在国内外最早用超声生物显微镜对前段增生性玻璃体视网膜病变进行系统分类，使这一复杂性玻璃体视网膜疾病的诊治有了客观的诊断标准。在国内外首创视网膜脱离外路显微手术技术和理论，将该手术方式提高到了显微手术时代，显著地提高了视网膜脱离外路手术的成功率。该手术技术和理论在国内外处于领先地位。</p>
            <p>在多年研究前段增生性玻璃体视网膜病变的基础上，总结出了一整套全玻璃体切除的技术和理论，并应用到微创玻璃体手术中，对减少我国玻璃体手术并发症和提高手术成功率做出了卓有成效的贡献。</p>
            <p>在科研方面申请到省重点攻关课题2项，省卫生厅科研课题2项，协助申请各级课题8项。在国内外发表眼科学研究论文50余篇。出版115万字的个人专著《视网膜脱离显微手术学》和主编364万字《临床眼底病-内外科卷》，还参与主编眼科专著《活体超声显微镜眼科学》和《临床眼科护理学》二部，参与编写眼科专著十三部。获得国家和省级科研成果奖三项。连续二年被评为2015年度和2016年度广东省“岭南名医”。</p>
        </div>
    </div>
</div>
