<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">副主任医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("experts_zcy.png") %>
                </div>
                <div class="fl seniority">
                    <h5>周春阳</h5>
                    <p>主任医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>1、角膜激光屈光手术。</p>
                <p>2、青少年近视中医药综合防控。</p>
                <p>3、斜视弱视、视疲劳、干眼症的中西医综合防治。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>周春阳，医学博士/副教授，成都中医药大学眼科学院眼视光教研室主任，成都中医药大学附属眼科医院/成都中医大银海眼科医院眼视光中心主任。</p>
            <p>中国民族医药学会眼科分会理事，四川省中医药学会眼科专业委员会委员，四川省预防医学会眼视觉保健分会常务委员，四川省青年中医药研究会委员，成都市视力保护协会监事。《中医眼耳鼻喉杂志》通讯编委，《中华医学百科全书》中医眼科卷编委。</p>
            <p>从事中医眼科、中西医结合眼科临床、科研、教学工作15年。负责或主研国家“十一五”攻关、国家自然科学基金、四川省中医药管理局课题等各级课题7项，正式学术期刊发表论文近20篇，参编教材、专著5部。从事角膜激光屈光手术10余年，手术经验丰富，患者术后视觉质量优异；并擅长于青少年近视中医药综合防控，斜视弱视、视疲劳、干眼症的中西医综合防治。</p>
        </div>
    </div>
</div>

