<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">国医大师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("experts_lpz.png") %>
                </div>
                <div class="fl seniority">
                    <h5>廖品正</h5>
                    <p>教授、博士生导师</p>
                    <p>享受国务院政府特殊津贴专家</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>善于运用中医理论指导辨证，治疗眼内外各种疾病。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>成都中医药大学教授、博士生导师、享受国务院政府特殊津贴专家。1964年于成都中医药大学(原成都中医学院)中医专业本科毕业,留校从事中医眼科医疗、教学、科研工作40余年。曾被评为全国教育系统劳动模范并获“人民教师”奖章。先后担任国务院学位委员会第五届学科评议组成员、中华中医药学会科学技术奖评审专家、中华中医药学会眼科专业委员会委员、中华中医药学会糖尿病专业委员会特聘顾问、世界中医药学会内科糖尿病专业委员会学术顾问、四川省学术技术带头人、四川省首届十大名中医、四川省教学名师、四川省中医药学会常务理事暨中医眼科专业委员会副主任委员,成都中医药大学国家级重点学科《中医五官科学》与国家中医药局级重点学科《中医眼科学》的学术带头人。</p>
            <p>先后主编《中医眼科学》、《中医五官科学》等全国中医院校统编教材、国家中医成人教育与自学考试指定教材6部、教学参考书7部，担任《中华大典·医药卫生典·医学分典》副主编，参编《中医大辞典》等参考书、工具书6部。近10年先后主持和参加国家‘九五’‘十五’‘十一五’攻关项目、‘863’重大计划、国家新药开发、国家自然科学基金等数项国家重大项目的研究。主持的“九五”攻关项目获四川省科技进步一等奖与国家科技部先进个人奖,研发的‘芪明颗粒’已获国家食品药品监管局颁发新药证书。发表论文30余篇。</p>
        </div>
    </div>
</div>
