<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">主治医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("zzys3.jpg") %>
                </div>
                <div class="fl seniority">
                    <h5>廖加坤</h5>
                    <p>主治医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>擅长眼底病、泪器、角膜、外伤及眼科其他疾病的中西医结合治疗。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>毕业于湖南中医药大学医学系，本科学历，先后在中山大学中山眼科中心，四川大学华西医院眼科进修学习，从事眼科临床工作10余年，计完成手术4000余台。年参加国家级、省级学术会议及学习班5次以上。在黄斑病变、出血性眼底疾病、视神经病变、高度近视眼底病变、糖尿病视网膜病变、角膜病、葡萄膜病变、结膜病、视疲劳、干眼症等眼病的中西医结合诊疗方面拥有丰富的临床经验；擅长开展抗青光眼手术、义眼胎植入术、翼装胬肉切除加干细胞移植、泪囊鼻腔吻合术、睑内翻矫正术等多种眼科手术；在晚期青光眼术后中西医结合治疗方面有着独到经验。</p>
        </div>
    </div>
</div>
