<div class="doctorDetails flow whiteBg">
    <div class="fl doctorPortrait flow">
        <%= image_tag("zj4.jpg") %>
        <div class="doctorBtns">
            <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
            <%= link_to '查看排班表',medical_path(:index,:anchor=>"experts_4"),:class=>"fr" %>
        </div>
    </div>
    <div class="fl doctorContent flow">
        <h5>朱思泉</h5>
        <p class="doctorTitle"><span>主任医师/教授/博士生导师</span></p>
        <div class="doctorHonor">
            <p>成都中医大银海眼科医院副院长、白内障屈光中心主任</p>
            <p>四川省千人计划特聘专家</p>
            <p>中国医疗保健国际交流促进会世界眼科联盟主席</p>
            <p>中华博爱基金会同仁博爱光明工程负责人</p>
            <p>中华医学会眼科分会白内障学组委员</p>
            <p>中国光明行首席手术专家</p>
            <p>北京市高层次卫生技术人才</p>
        </div>
        <div class="doctorGoodAt flow">
            <span>擅长领域：</span>
            <p>主要从事先天性白内障、葡萄膜炎并发白内障、伴有红斑狼疮的白内障、肾移植术后白内障患者等各类疑难、复杂性白内障的手术治疗游刃有余，技术精湛。迄今已完成逾35万台白内障手术，手术量居全国第一，亚洲乃至世界领先。</p>
        </div>
        <p class="seePatientTime"><span>坐诊时间:</span>周四下午,具体请以专家门诊时间表为准</p>
    </div>
</div>
<div class="doctorIntroduce whiteBg">
    <p>其独创的朱氏辅助拉钩，改良双板层角膜切口，拉网式皮质抽吸术，定向对冲挤压快速碎核法等一系列手术技术，使常规白内障的手术时间缩短到3-5分钟，角膜水肿及后囊破裂等并发症大大减少，为患者带来了良好的视觉质量。</p>
    <p>临床之余，长期专注于智能化微创白内障治疗系统的研制及先天性白内障遗传学等方面的研究和科研成果的转化。主持和承担了“十一五”国家科技支撑计划重大项目“微创智能化白内障超声乳化系统”，中国人不同民族先天性白内障致病基因定位等5项国家自然科学基金重点项目，以及部省级科研项目3项。二十年来发表具有影响力的学术论文150余篇，其中SCI收录63篇。主编《白内障与屈光手术学》（国家科学技术学术著作出版基金重点项目）、《超声乳化白内障手术集锦》；参与编写《活体超声显微镜眼科学》、《同仁眼科学术讲座》等专著，拥有5项白内障技术相关专利。</p>
</div>
<ul class="registered flow flParent">
    <li>预约挂号</li>
    <li>姓名：<input type="text"></li>
    <li>联系电话：<input type="text"></li>
    <li>预约时间：<input type="text"></li>
    <li>预约科室：<input type="text"></li>
    <li><a href="" class="registeredBtn">提交</a></li>
</ul>
<div class="membersList whiteBg flow">
    <div class="fl teamMemberWords">团 队 成 员</div>
    <div class="teamContainer" >
        <ul class="teamMembers fr flParent flow" style="">
            <!--潘学会-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj14.jpg"),expert_path(:潘学会) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>潘学会</h4>
                    <p>副主任医师/医学硕士</p>
                    <p>四川省医学会眼科专委会委员</p>
                </div>
            </li>
            <!--潘学会-->
            <!--陈小凤-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj16.jpg"),expert_path(:陈小凤) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>陈小凤</h4>
                    <p>主治医师/医学博士</p>
                    <p>师从名师</p>
                    <p>擅长多种眼科手术</p>
                </div>
            </li>
            <!--陈小凤-->
        </ul>
        <div class="leftBtn">
            <i class="icon_arrow icon_left"></i>
        </div>
        <div class="rightBtn">
            <i class="icon_arrow icon_right"></i>
        </div>
    </div>
</div>
<script>
    var members = $(".teamMembers li").length;
    if(members>4){
        $(".leftBtn").addClass("active");
        $(".rightBtn").addClass("active");
    }
    var rightMoveNum = members-4;
    var leftMoveNum = 0;
    function move() {
        if(rightMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos-displacement
            })
            rightMoveNum--;
            leftMoveNum++;
        }
        console.log(rightMoveNum);
    }
    function move2() {
        if(leftMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos+displacement
            })
            rightMoveNum++;
            leftMoveNum--;
        }
        console.log(leftMoveNum);
    }
    $(".rightBtn").click(function() {
        if(rightMoveNum>0){
            move();
        }
    })
    $(".leftBtn").click(function() {
        if(leftMoveNum>0){
            move2();
        }
    })

</script>