<% render 'doctors/doctor_tkd' %>
<div class="doctorDetails flow whiteBg">
    <div class="fl doctorPortrait flow">
        <%= image_tag("zj23.jpg") %>
        <div class="doctorBtns">
            <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
            <%= link_to '查看排班表',medical_path(:专家排班,:anchor=>"experts_15"),:class=>"fr" %>
        </div>
    </div>
    <div class="fl doctorContent flow">
        <h5>朱玉芳</h5>
        <p class="doctorTitle"><span>副主任医师</span></p>
        <div class="doctorHonor">
          <p>中华医学会心血管学会会员</p>
        </div>
        <div class="doctorGoodAt flow">
            <span>擅长领域：</span>
            <p>心血管内科各种疾病的诊断与治疗。</p>
        </div>
        <p class="seePatientTime"><span>坐诊时间:</span>周二至周六全天,具体请以专家门诊时间表为准</p>
    </div>
</div>
<div class="doctorIntroduce whiteBg">
    <p>医学本科毕业后长期从事内科临床工作36年。在高血压、各种心脏病、心律失常、血脂异常的诊断与治疗中积累了丰富的临床经验。工作中不断充实自己,先后在山西医科大学附属二院、第四军医大学附属西京医院进修学习,江苏大学临床研究生班、南京中医药大学研究生班学习深造，在不断地学习实践中完善自我,精益求精,力争为每一位患者的康复尽最大的努力。</p>
</div>
<ul class="registered flow flParent marB20">
    <li>预约挂号</li>
    <li>姓名：<input type="text"></li>
    <li>联系电话：<input type="text"></li>
    <li>预约时间：<input type="text"></li>
    <li>预约科室：<input type="text"></li>
    <li><a href="" class="registeredBtn">提交</a></li>
</ul>


