<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">主治医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("zzys2.jpg") %>
                </div>
                <div class="fl seniority">
                    <h5>李强</h5>
                    <p>主任医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>擅长糖尿病视网膜病变、视网膜静脉阻塞、视网膜静脉周围炎、结膜病、角膜病、干眼症等的中西医综合防治。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>2007年毕业于成都中医药大学，获医学硕士学位；2011年毕业于成都中医药大学，获医学博士学位。毕业后留校在眼科从事临床、教学、科研工作。在视觉电生理及细胞电生理方面有较深入的研究。于2010年1月至2011年2月作为联合培养生在复旦大学脑科学研究院完成了博士论文的相关研究。</p>
            <p>现任世界中医药联合会眼科专业委员会会员、世界中医药联合会伦理审查专业委员会会员、四川省中医药学会眼科专业委员会委员、成都中医药大学科技青年联合会委员。国家卫计委“十三五”规划教材《中医眼科学》编写秘书、《中医眼科学学习指导与习题集》编写秘书。获校级教学成果奖二等奖1项。主要研究方向：糖尿病视网膜病变等难治性眼底病中医药防治及视功能保护研究。作为负责人主持国家教育部高等学校博士学科点专项科研基金1项、四川省科技厅科技支撑计划2项。主研了“国家自然科学基金”、“十一五重大新药创制”、“国家重大仪器专项”等国家课题8项、部省级课题4项；发表学术论文20篇。</p>
        </div>
    </div>
</div>

