<div class="doctorDetails flow whiteBg">
    <div class="fl doctorPortrait flow">
        <%= image_tag("zj21.jpg") %>
        <div class="doctorBtns">
            <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
            <a href="javascript:;" class="fr">查看排班表</a>
        </div>
    </div>
    <div class="fl doctorContent flow">
        <h5>李红惠</h5>
        <p class="doctorTitle"><span>主治医师/医学博士</span></p>
        <div class="doctorHonor">

        </div>
        <div class="doctorGoodAt flow">
            <span>擅长领域：</span>
            <p>擅长常见眼病的诊断及治疗，包括眼视光、白内障、眼底病等。</p>
        </div>
        <p class="seePatientTime"><span>坐诊时间:</span>周二下午、周五下午、周六下午,具体请以专家门诊时间表为准</p>
    </div>
</div>
<div class="doctorIntroduce whiteBg">
    <p>主要从事西医眼科疾病临床、科研及教学工作。中山大学中山眼科中心博士毕业并完成住院医师规范化培训，对眼科常见病及多发病有丰富的临床经验。</p>
</div>
<ul class="registered flow flParent">
    <li>预约挂号</li>
    <li>姓名：<input type="text"></li>
    <li>联系电话：<input type="text"></li>
    <li>预约时间：<input type="text"></li>
    <li>预约科室：<input type="text"></li>
    <li><a href="" class="registeredBtn">提交</a></li>
</ul>
<div class="membersList whiteBg flow">
    <div class="fl teamMemberWords">团 队 成 员</div>
    <div class="teamContainer" >
        <ul class="teamMembers fr flParent flow" style="">
            <!--段俊国-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj2.jpg"),expert_path(:段俊国教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>段俊国</h4>
                    <p>主任医师教授/博士生导师</p>
                    <p>享受国务院政府津贴专家</p>
                </div>
            </li>
            <!--段俊国-->
            <!--刘文-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj5.jpg"),expert_path(:刘文教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>刘文</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>获得国家和省级科研成果奖三项</p>
                </div>
            </li>
            <!--刘文-->
            <!--王国平-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj15.jpg"),expert_path(:王国平) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>王国平</h4>
                    <p>副主任医师/医学硕士</p>
                    <p>从事眼科临床工作20年</p>
                </div>
            </li>
            <!--王国平-->

        </ul>
        <div class="leftBtn">
            <i class="icon_arrow icon_left"></i>
        </div>
        <div class="rightBtn">
            <i class="icon_arrow icon_right"></i>
        </div>
    </div>
</div>
<script>
    var members = $(".teamMembers li").length;
    if(members>4){
        $(".leftBtn").addClass("active");
        $(".rightBtn").addClass("active");
    }
    var rightMoveNum = members-4+((parseInt($(".teamMembers").css("left"))/$(".teamMembers li").width()));
    var leftMoveNum = 0;
    function move() {
        if(rightMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            console.log(nowPos+" "+displacement);
            $(".teamMembers").animate({
                left:nowPos-displacement
            })
            rightMoveNum--;
            leftMoveNum++;
        }
        console.log(rightMoveNum);
    }
    function move2() {
        if(leftMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos+displacement
            })
            rightMoveNum++;
            leftMoveNum--;
        }
        console.log(leftMoveNum);
    }
    $(".rightBtn").click(function() {
        if(rightMoveNum>0){
            move();
        }
    })
    $(".leftBtn").click(function() {
        if(leftMoveNum>0){
            move2();
        }
    })

</script>
