<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">副主任医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("experts_pxh.png") %>
                </div>
                <div class="fl seniority">
                    <h5>潘学会</h5>
                    <p>副主任医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>擅长于各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病的中西医结合治疗。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>潘学会，医务部主任、眼科副主任医师、医学硕士，现任四川省医学会眼科专委会委员、四川省中医药学会眼科专业委员会委员，曾任解放军第四五二医院眼耳鼻喉科副主任、眼科中心主任；爱尔眼科成都康桥眼科医院医务部主任、门诊部及青光眼科主任；空军医学会眼科专业委员会委员，军区空军学科技术带头人、成都军区医学会眼科专业委员会委员、成都军区科学技术委员会委员、四川省康复医学会眼康复专委会委员、四川省中医药学会青年中医委员会委员、成都市医学会眼科专业委员会委员、四川省防盲办及四川省残疾人联合会防盲指导专家组成员、成都市劳动局伤残鉴定中心伤残鉴定专家组成员、成都市卫生局医疗事故鉴定中心专家组成员。</p>
            <p>长期在三甲医院眼科及眼专科医院从事青光眼、白内障和眼底病等临床工作，在青光眼的早期诊断和治疗上有丰富的临床经验，擅长于各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病的中西医结合治疗。</p>
            <p>曾七次参加“视觉第一、中国行动”——四川省及国家组织的白内障复明手术专家医疗队（曾担任国家医疗队队长），以及国际狮子会组织的白内障防盲手术专家医疗队，到十多个地、市、县及少数民族地区基层巡回开展白内障人工晶体植入手术，免费让白内障患者重见光明。多次受到省政府及残联的表彰。曾荣获全国残疾人康复工作先进个人称号。曾参加赴黎巴嫩国际维和医疗队，在联合国驻黎巴嫩中国二级医院及联合国驻黎维和司令部医院眼科工作。获联合国颁发的国际维和勋章。 </p>
            <p>曾获医学科研奖4项。在《中华眼底病杂志》、《西南国防医药》、《中国实用眼科杂志》、《中国中医眼科杂志》、《国外医学》眼科学分册等刊物上发表学术论文40余篇。</p>
        </div>
    </div>
</div>

