<% render 'doctors/doctor_tkd' %>
<div class="doctorDetails flow whiteBg">
    <div class="fl doctorPortrait flow">
        <%= image_tag("zj15.jpg") %>
        <div class="doctorBtns">
            <a href="http://com.zoosnet.net/LR/Chatpre.aspx?id=COM30439638&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
            <%= link_to '查看排班表',medical_path(:专家排班,:anchor=>"experts_15"),:class=>"fr" %>
        </div>
    </div>
    <div class="fl doctorContent flow">
        <h5>王国平</h5>
        <p class="doctorTitle"><span>副主任医师/医学硕士</span></p>
        <div class="doctorHonor"></div>
        <div class="doctorGoodAt flow">
            <span>擅长领域：</span>
            <p>擅长眼底疾病的诊治、外路视网膜脱离复位手术、玻璃体切割手术、白内障超声乳化术、眼外伤救治以及眼底激光治疗。</p>
        </div>
        <p class="seePatientTime"><span>坐诊时间:</span>周一下午、周三上午、周四上午、周五下午,具体请以专家门诊时间表为准</p>
    </div>
</div>
<div class="doctorIntroduce whiteBg">
    <p>第四军医大学眼科学硕士。从事眼科临床工作20年。曾进修于第三军医大学西南医院及四川大学华西医院。先后撰写学术论文12篇。曾获武警部队科技进步三等奖1项，四川省科技进步三等奖1项和乐山市科技进步二等奖1项。</p>
</div>
<ul class="registered flow flParent">
    <li>预约挂号</li>
    <li>姓名：<input type="text"></li>
    <li>联系电话：<input type="text"></li>
    <li>预约时间：<input type="text"></li>
    <li>预约科室：<input type="text"></li>
    <li><a href="" class="registeredBtn">提交</a></li>
</ul>
<div class="membersList whiteBg flow">
    <div class="fl teamMemberWords">团 队 成 员</div>
    <div class="teamContainer" >
        <ul class="teamMembers fr flParent flow" style="">
            <!--刘文-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj5.jpg"),expert_path(:刘文教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>刘文</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>获得国家和省级科研成果奖三项</p>
                </div>
            </li>
            <!--刘文-->
            <!--黄霄-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj11.jpg"),expert_path(:黄霄主任医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>黄霄</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>中国眼免疫学会会员</p>
                </div>
            </li>
            <!--黄霄-->


        </ul>
        <div class="leftBtn">
            <i class="icon_arrow icon_left"></i>
        </div>
        <div class="rightBtn">
            <i class="icon_arrow icon_right"></i>
        </div>
    </div>
</div>
<script>
    var members = $(".teamMembers li").length;
    if(members>4){
        $(".leftBtn").addClass("active");
        $(".rightBtn").addClass("active");
    }
    var rightMoveNum = members-4+((parseInt($(".teamMembers").css("left"))/$(".teamMembers li").width()));
    var leftMoveNum = 0;
    function move() {
        if(rightMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            console.log(nowPos+" "+displacement);
            $(".teamMembers").animate({
                left:nowPos-displacement
            })
            rightMoveNum--;
            leftMoveNum++;
        }
        console.log(rightMoveNum);
    }
    function move2() {
        if(leftMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos+displacement
            })
            rightMoveNum++;
            leftMoveNum--;
        }
        console.log(leftMoveNum);
    }
    $(".rightBtn").click(function() {
        if(rightMoveNum>0){
            move();
        }
    })
    $(".leftBtn").click(function() {
        if(leftMoveNum>0){
            move2();
        }
    })

</script>
