<div class="doctorDetails flow whiteBg">
    <div class="fl doctorPortrait flow">
        <%= image_tag("zj12.jpg") %>
        <div class="doctorBtns">
            <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
            <%= link_to '查看排班表',medical_path(:专家排班,:anchor=>"experts_12"),:class=>"fr" %>
        </div>
    </div>
    <div class="fl doctorContent flow">
        <h5>王智慧</h5>
        <p class="doctorTitle"><span>主任医师</span></p>
        <div class="doctorHonor">
            <p>成都市內分泌及糖尿病专委会委员</p>
            <p>四川省糖尿病防治协会专科委员会委员</p>
            <p>成都中医大银海眼科医院内科主任</p>
        </div>
        <div class="doctorGoodAt flow">
            <span>擅长领域：</span>
            <p>先后在第三軍医大学心血管专科、华西医科大学内分泌专科进修学习。西南师范大学心理学系研究生。三级综合医院大内科主任 内分泌专科主任。从事西医内科临床工作35年 。对重症疑难糖尿病及并发症、内分泌代谢性疾病、高血压病、冠心病、脑血管疾病等内科疑难重症有着丰富的临床经验。深受广大患者信赖和好评！</p>
            <p>国内外医学期刊发表医学论文二十多篇。 获市区县科技进步一二等奖励三项。参与国家“九五”公关项目“糖尿病肾病的早期预防和诊治”（中西医结合）等科研课题研究多项。</p>
        </div>
        <p class="seePatientTime"><span>坐诊时间:</span>周二上午（专家门诊）、周三上午（普通门诊）、周四上午（专家门诊）、周五上午（普通门诊）、周六上午（普通门诊）,具体请以专家门诊时间表为准</p>
    </div>
</div>
<div class="doctorIntroduce whiteBg">
    <p>王智慧 主任医师 成都市內分泌及糖尿病专委会委员， 四川省糖尿病防治协会专科委员会委员，成都中医大银海眼科医院内科主任。先后在第三軍医大学心血管专科、华西医科大学内分泌专科进修学习。西南师范大学心理学系研究生。三级综合医院大内科主任 内分泌专科主任。从事西医内科临床工作35年 。对重症疑难糖尿病及并发症、内分泌代谢性疾病、高血压病、冠心病、脑血管疾病等内科疑难重症有着丰富的临床经验。深受广大患者信赖和好评！</p>
    <p>国内外医学期刊发表医学论文二十多篇。 获市区县科技进步一二等奖励三项。参与国家“九五”公关项目“糖尿病肾病的早期预防和诊治”（中西医结合）等课题研究多项。</p>
</div>
<ul class="registered flow flParent narB-20">
    <li>预约挂号</li>
    <li>姓名：<input type="text"></li>
    <li>联系电话：<input type="text"></li>
    <li>预约时间：<input type="text"></li>
    <li>预约科室：<input type="text"></li>
    <li><a href="" class="registeredBtn">提交</a></li>
</ul>

