<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">主治医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("experts_wzh.png") %>
                </div>
                <div class="fl seniority">
                    <h5>王智慧</h5>
                    <p>主任医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>从事内科临床工作35年，对重症疑难糖尿病及并发症、内分泌代谢性疾病、高血压病、冠心病、脑血管疾病等内科疑难重症有着丰富的临床经验。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>先后在第三军医大学心血管专家何国祥、杨惠标教授，华西医科大学内分泌专家梁荩忠等教授带教下进修学习。西南师范大学心理学系黄希庭、张新立教授研究生。三级医院大内科主任内分泌专科主任。发表医学论文数十篇， 获区县科技进步一二等奖三项。</p>
        </div>
    </div>
</div>

