<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">主治医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("zzys4.jpg") %>
                </div>
                <div class="fl seniority">
                    <h5>缪馨</h5>
                    <p>主治医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>从事眼科临床、科研多年，具有丰富的实际工作经验，擅长运用中西医结合方法治疗眼底疾病及眼表疾病，特别是在外眼疾病、出血性眼病、葡萄膜疾病等方面进行了较深入的探索，在治疗干眼症、角膜溃疡等疾病方面取得显著疗效。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>从事眼科临床、科研多年，具有丰富的工作经验，临床工作中，运用中西医结合方法治疗玻璃体积血、糖尿病视网膜病变、视网膜静脉阻塞、黄斑病变、视网膜色素变性等眼底疾病，视神经萎缩、前部缺血性视神经病变等视神经疾病，急慢性葡萄膜炎，干眼症、角膜炎、过敏性结膜炎等眼表疾病，并获得良好疗效。参研多项四川省中医药管理局科研项目，期刊公开发表学术论文5篇。</p>
        </div>
    </div>
</div>
