<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">主任医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("experts_yxh.png") %>
                </div>
                <div class="fl seniority">
                    <h5>袁晓辉</h5>
                    <p>主任医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>青少年近视的综合防控，小儿弱视矫治，各类斜视的诊治与手术治疗，医学验光及渐变多焦镜、OK镜、RGP镜的验配，眼科常见病如白内障、青光眼、葡萄膜炎、眼底病的诊治。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>袁晓辉，成都中医药大学眼视光教研室学术带头人，全国名老中医药专家学术经验继承人、中国民族医药学会眼科分会常务理事、四川省中西医结合学会眼科专业委员会委员、四川省医学会眼视光专业委员会委员。1985年毕业于成都t中医药大学，在成都中医药大学附属医院眼科、眼视光中心从事中西医眼科、眼视光工作30余年，曾在温州医科大学眼视光医院和北京医科大学第一附属医院小儿眼科学习进修，从事小儿斜弱视临床、科研、教学工作至今。</p>
            <p>袁晓辉主任医师在繁忙的临床诊疗的工作之余，还定期到基层医院坐诊，帮助基层医疗人员提升斜弱视诊疗水平，使更广泛的斜弱视病人受益；同时她负责或主研国家科技攻关、国家新药基金等各级课题7项，正式学术期刊发表论文20余篇，参加多部眼科专著的编写。</p>
        </div>
    </div>
</div>

