<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">主任医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("experts_lxq.png") %>
                </div>
                <div class="fl seniority">
                    <h5>路雪婧</h5>
                    <p>主任医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>擅长中医药防治糖尿病视网膜病变、干眼症、葡萄膜炎、视网膜血管疾病，青光眼及视网膜色素变性等的中医药视功能保护治疗。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>路雪婧，博士，成都中医药大学研究员，博士生导师。全国首批中医药传承博士后，四川省首届十大名中医学术继承人。中国民族医药学会眼科分会副会长、中华中医药学会眼科专业委员会委员、青年副主任委员，中华中医药促进会糖尿病分会常务委员，四川省青年中医药学会副主任委员，四川省中医药学会眼科专委会副主任委员，中华中医药学会糖尿病分会青年委员。第五批四川省中医药管理局学术和技术带头人、第十批四川省学术技术带头人后备人选、第三届四川省卫生计生委有突出贡献中青年专家。</p>
            <p>先后主持国家“十一五重大新药创制”、“十一五支撑计划重点项目”、十二五国家中医药行业科研专项子课题、国家重大仪器专项课题等国家级课题4项，部省级、厅局级课题10余项，主研国家级、部省级等各级课题10余项。获四川省科技进步特等奖1项、成都市科技进步特等奖及教育部科技进步二等奖各1项。为国家卫生部十二五规划教材《中医眼科学》、《中华医学百科全书》“中医眼科学卷”、《中华大典•医药卫生典•医学分典•眼科总部》、“实用中医工具书系列”《中医眼科学辞典》、《中药药效学》、《中医眼科名医录》等教材专著编委，公开发表论文30余篇。《中医眼耳鼻喉杂志》编委兼编辑部主任。</p>
            <p>擅长中医药防治糖尿病视网膜病变、干眼症、葡萄膜炎、视网膜血管疾病，青光眼及视网膜色素变性等的中医药视功能保护治疗。</p>
        </div>
    </div>
</div>

