<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">主治医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("experts_dwy_tx.png") %>
                </div>
                <div class="fl seniority">
                    <h5>蹇文渊</h5>
                    <p>主任医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>擅长干眼、中心性浆液性视网膜病变、视网膜色素变性、糖尿病视网膜病变、视神经萎缩等眼病的诊治。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>擅长中医药治疗反复发作的结膜炎、角膜炎，干眼，玻璃体混浊，眼底出血性疾病（视网膜静脉阻塞、糖尿病视网膜病变等），黄斑病变（中心性浆液性脉络膜视网膜病、年龄相关性黄斑病变等），视网膜色素变性，包括青光眼在内的各种原因引起的视神经萎缩，亚健康及全身疾病中医诊治等。</p>
        </div>
    </div>
</div>

