<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">主治医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("experts_cxf.png") %>
                </div>
                <div class="fl seniority">
                    <h5>陈小凤</h5>
                    <p>主治医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>擅长白内障超声乳化+人工晶体植入术、各种抗青光眼手术、青光眼白内障联合手术、白内障、青光眼、眼整形及眼底疾病的诊治。</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>天津医科大学临床医学院博士研究生，硕士研究生期间师从四川省眼科学术带头人樊映川教授，博士研究生师从亚太眼外伤协会副主席颜华教授。</p>
            <p>曾在中山眼科中心接受白内障超声乳化发展培训，兼任爱尔康公司超乳发展项目带教教师。长期承担白内障防盲项目任务，多次参与贫困白内障患者复明工程。已主刀完成白内障防盲手术及超声乳化手术5000余例，具有丰富的白内障手术经验；且擅长各种抗青光眼手术，尤其对青光眼白内障联合手术经验丰富。期刊公开发表学术论文8篇。</p>
        </div>
    </div>
</div>

