<div class="middle flow">
    <div class="flow expDetails bottom-Mar30">
        <p class="expertsTitle">主任医师</p>
        <ul class="flParent BasicInformation flow">
            <li class="expertsLeftImg">
                <div class="fl">
                    <%= image_tag("experts_hx.png") %>
                </div>
                <div class="fl seniority">
                    <h5>黄霄</h5>
                    <p>主任医师</p>
                    <div class="expertsHref">
                        <input type="button" value="在线预约" class="online-appointment">
                        <input type="button" value="查看排班" class="look-scheduling">
                    </div>
                </div>
            </li>
            <li class="expertsRightWord">
                <h6>擅长领域：</h6>
                <p>1.老年性黄斑变性</p>
                <p>2.视网膜静脉阻塞</p>
                <p>3.糖尿病性视网膜病变</p>
                <p>4.葡萄膜炎等眼免疫性疾病</p>
                <p>5.视神经疾病</p>
                <p>6.泪道疾病</p>
            </li>
        </ul>
        <div class="expertsAllMessage">
            <h6>专家简介：</h6>
            <p>黄霄，教授，主任医师，医学博士，硕士研究生导师。中国医师协会中西医结合眼科专业委员会委员、四川中西医结合学会及四川省中医药学会会员。</p>
            <p>从事眼科医教研工作30余年。曾在华西医大眼科、中山眼科中心、北京协和医院眼科、北京同仁医院眼科和天津眼科医院进修学习，擅长于疑难眼底病和眼免疫性疾病的中西医临床诊断和治疗。此外，在泪道疾病的诊疗方面有着丰富的临床经验。</p>
            <p>黄霄教授在眼底病诊治方面有独到的见解，擅长老年性黄斑变性、糖尿病性视网膜病变、视网膜静脉阻塞、近视性黄斑病变等出血性眼底病变的治疗，采用中西医结合方案，分期序贯治疗，疗效优于单纯西医效果，临床上出血吸收快，复发率低，治愈率高。</p>
            <p>黄霄教授长期专注于眼免疫性疾病的临床及科研工作。在难治性葡萄膜炎治疗中，引入中医疮疡理论，对早期病变疗效明显，复发率低。对慢性难治性患者采用中西医结合方案，中药和免疫抑制剂的合理运用，在提高疗效的同时降低了长期使用免疫抑制剂的副作用，延长病变复发间期，在患者中有良好口碑，在行业内有较好声誉。</p>
            <p>黄霄教授在视神经疾病的诊治中有独到之处。依托高诊断率和果断的治疗措施，并配合中医针刺和穴位注射等，临床治疗效果好，使不少患者重见光明，其病员来自全国各地。</p>
            <p>此外，黄霄教授热心公益事业，心系基层群众，长期关注老少边贫地区患者的视觉健康问题，先后10余次参加四川省卫生厅医疗下乡活动并成为优秀团体成员，相关事迹曾经中央电视台和四川电视台报道。</p>
            <p>黄霄教授长期指导研究生、住院医师，进修医师的临床教学工作。作为主研人员，先后承担国家自然科学基金、国家中医药管理局、四川省教育厅等各级研究课题10余项，公开发表学术论文30余篇。</p>
        </div>
    </div>
</div>

